[2014-07-30 16:27] kleiderman opened #2 "support for irregular Eulerian domains"
If one wanted to run a simulation with IBAMR on a T-shaped domain, but without using IB points to make that non-rectangular domain, would that be easy to do? I’m interested in using the ADR with AMR aspects of IBAMR but I don’t want the time step restrictions associated with the IB wall points.

[2014-09-02 17:57] boyceg opened #3 "Better error checking for BC objects"

[2014-11-12 19:55] boyceg opened #4 "Some operations on VecMultiVec should emit error messages for empty MultiVec's"

[2015-06-01 20:24] fbusabiaga opened #14 "dependencies branch reduce-memory-use"
The branch boyceg/reduce-memory-use needd the version 3.3 or 3.4 of PETSc and the version 0.9.3
of libMesh while the master branch is already using newer versions. If it is possible, it may be convenient to have the same dependencies in all the branches to avoid the worry of having different versions of the same library.

[2015-06-01 20:34] boyceg commented on #14
I agree in principle, but I cannot guarantee that all development branches will be kept up-to-date with master at all time.

If you are using a branch that needs to be updated to incorporate changes from master, you can do this in a local copy via, e.g.

   % git pull
   % git checkout boyceg/reduce-memory-use
   % git merge master

If the merge is clean, you (as a developer :-) can also push the

[2015-06-01 20:44] amneetb commented on #14
SHA b0da59939e8d1cd5c2220b307a0d3a5a94f59725 gives the files changed in master for updating it to use  libMesh 0.9.4
https://github.com/IBAMR/IBAMR/commit/b0da59939e8d1cd5c2220b307a0d3a5a94f59725

SHA cce95f2259d2775e0fa961ef9f607629a62df733 gives files changed  gives the files changed in master for updating it to use  PETSc 3.5
https://github.com/IBAMR/IBAMR/commit/cce95f2259d2775e0fa961ef9f60762

[2015-06-01 21:13] fbusabiaga commented on #14
Nothing urgent but I tried to merge and I found a few differences in IBAMR/ibtk/src/math/HierarchyMathOps.cpp which I cannot follow. For example in the constructor two lines change

-      d_hier_fc_data_ops(), d_hier_sc_data_ops(), d_patch_math_ops(), d_using_wgt_cc(false), d_using_wgt_fc(false),
-      d_using_wgt_sc(false), d_context(), d_wgt_cc_var(new CellVariable<NDIM, double>(d_object_name

[2015-06-02 21:09] amneetb opened #15 "LNode::getNodeDataVector()"
Line 173 in LNode-inl.h looks buggy..
it_val = d_node_data_type_arr[k];
It should be
it_val = d_node_data[k];

 d_node_data_type_arr contains unique elements and that would always result in a vector of length 1.

[2015-06-03 00:01] boyceg commented on #15
Looks that way.

[2015-06-15 18:09] amneetb opened #16 "IMPInitializer::registerMesh()"
a) Ref: https://github.com/IBAMR/IBAMR/blob/f03aed6d0e1fa56d2e03478b1d6346883002db6f/src/IB/IMPInitializer.cpp#L172-L173
[code]
It looks like `d_vertex_offset` is just storing the number of vertices of previous mesh registered with this routine, instead of sum of all the number of previously registered mesh vertices.

b) This info is getting used in IMPInitializer::getCanonicalLagrangianIndex() ro

[2015-06-15 18:24] amneetb opened #17 "IMPInitializer::tagCellsForInitialRefinement()"
Ref: https://github.com/IBAMR/IBAMR/blob/f03aed6d0e1fa56d2e03478b1d6346883002db6f/src/IB/IMPInitializer.cpp#L433

[code]
Shouldn't this be:
[code]
P.S: This info is not getting used in the code as of now.

[2015-06-22 18:54] boyceg commented on #16
Please add in a link to the code in question (see details [here](http://andrew.yurisich.com/work/2014/07/16/dont-link-that-line-number) on how to do this the "right" way).

[2015-06-22 18:55] boyceg commented on #17
Please add in a link to the code in question (see details [here](http://andrew.yurisich.com/work/2014/07/16/dont-link-that-line-number) on how to do this the "right" way).

[2015-06-22 19:51] amneetb commented on #16
Does this look ok?

[2015-06-22 19:51] amneetb commented on #17
Does this look ok?

[2015-06-22 20:06] boyceg commented on #16
Not quite; please try to follow the directions from the linked article (and let me know if this doesn't work):

First, highlight the code that you want to link to, just like in the examples above. Then, tap the "y" key to jump to the last commit found for that region.

[2015-06-22 20:07] boyceg commented on #17
Not quite; please try to follow the directions from the linked article (and let me know if this doesn't work):

First, highlight the code that you want to link to, just like in the examples above. Then, tap the "y" key to jump to the last commit found for that region.

[2015-06-22 20:10] amneetb commented on #17
Yes, I did that. The link that I posted seems to be doing the right thing in my browser (I can see the highlighted line of the code and the latest commit for IMPInitializer.cpp)

[2015-06-22 20:20] boyceg commented on #17
Note that `max_levels` is the maximum number of levels in the hierarchy, and that levels are numbered starting from `0`. `max_levels == 2` means that the level number for the finest possible level is `1`.

Cells on a level can be refined if the next finer level has a level number that is no greater than `max_levels - 1`. So:
[code]
which is the same thing as:
[code]
Does this make sense?

[2015-06-22 20:24] boyceg commented on #17
@amneetb Please add a helper function (e.g. in IBTK utilities) to perform this operation, which should appear in a few different places.

[2015-06-22 20:27] amneetb commented on #17
Sure, I will add a helper function.

Just to be clear you approve of "<=" instead of "<" in the code?

[2015-06-22 20:27] boyceg commented on #16
I think that you are correct --- it looks like there should be an accumulation that is being omitted here.

[2015-06-22 20:28] boyceg commented on #17
I think so, but please double-check my logic.

[2015-06-25 00:46] amneetb opened #19 "StaggeredStokesPETScMatUtilities::constructPatchLevelMACStokesOp()"
Ref
https://github.com/IBAMR/IBAMR/blob/f03aed6d0e1fa56d2e03478b1d6346883002db6f/src/navier_stokes/StaggeredStokesPETScMatUtilities.cpp#L147

This should be
[code]
Otherwise there would be bug in 3d.

[2015-06-25 16:02] #19 closed

[2015-06-25 16:27] #17 closed

[2015-06-25 16:34] #15 closed

[2015-06-25 20:48] amneetb opened #20 "IBMethod::setLinearizedPosition()"
Ref
https://github.com/IBAMR/IBAMR/blob/f03aed6d0e1fa56d2e03478b1d6346883002db6f/src/IB/IBMethod.cpp#L545-#L560

The matrix d_force_jac should be constructed at each timestep to account for updated position of structure.

[code]
should be removed and replaced by
[code]
followed by other existing statements.

[2015-06-25 23:45] #20 closed

[2015-06-25 23:48] amneetb commented on #20
Please review the changes. This seemed to have fixed the PETSc error I was getting.

[2015-06-26 13:35] boyceg commented on #20
@amneetb I think that you are on the right track here. However, I think that we want to put the logic into constructLagrangianForceJacobian:

https://github.com/IBAMR/IBAMR/blob/f03aed6d0e1fa56d2e03478b1d6346883002db6f/src/IB/IBMethod.cpp#L780 <https://github.com/IBAMR/IBAMR/blob/f03aed6d0e1fa56d2e03478b1d6346883002db6f/src/IB/IBMethod.cpp#L780>

The Jacobian operator needs to be reset whenever th

[2015-06-26 16:00] #16 closed

[2015-06-26 17:16] amneetb commented on #20
Yeah, makes more sense to put in there.

[2015-07-13 18:44] amneetb opened #21 "Unscalable ASM?"
Ref:

https://github.com/IBAMR/IBAMR/blob/68a0c2d5217c918a0c3f59d81310466105dcff91/ibtk/src/solvers/impls/PETScLevelSolver.cpp#L309

This seems like an unscalable approach. All processors must own atleast one patch on a particular level.
This is not guaranteed in SAMRAI(?).

@knepley Is there a workaround in PETSc?

[2015-07-13 18:55] knepley commented on #21
On Mon, Jul 13, 2015 at 1:44 PM, Amneet Bhalla <notifications@github.com>
wrote:

When would you have processors with no work? I could see if you are talking
about some level of multigrid
where we want to neck down the process set.

  Thanks,

     Matt

--
What most experimenters take for granted before they begin their
experiments is infinitely more interesting than any results to which their
ex

[2015-07-13 19:08] amneetb commented on #21
Yes, this is for MG preconditioning. Basically we are forming level solvers as MG-smoothers. Some processors can be devoid of patches on some levels in SAMRAI, which will trigger an error.

[2015-07-13 20:01] boyceg commented on #21
To be clear: this only happens in coarser levels.

Matt, can we add in "dummy" subdomains that do not have empty index sets in this case? Or do we need to make sub-communicators that include only MPI ranks with active DOFs?

[2015-07-13 20:02] knepley commented on #21
On Mon, Jul 13, 2015 at 3:01 PM, Boyce Griffith <notifications@github.com>
wrote:

make work. Thus I think empty index sets are the best.
I assume PETSc is choking on empties? I can fix that. It should not.

  Thanks,

    Matt

--
What most experimenters take for granted before they begin their
experiments is infinitely more interesting than any results to which their
experiments lead.
-- Norbert

[2015-07-13 20:06] boyceg commented on #21
I don't think that Amneet has sent in empty IS'es, just noticed that PETSc chokes if there are no subdomains.

@amneetb, can you setup code to pass "dummy" empty IS'es for cases in which there are no local DOFs?

[2015-07-13 20:07] amneetb commented on #21
Sure.

[2015-07-13 22:41] amneetb commented on #21
Adding code like:

[code]

Gives PETSc error:

[code]

[2015-07-13 23:03] knepley commented on #21
On Mon, Jul 13, 2015 at 5:41 PM, Amneet Bhalla <notifications@github.com>
wrote:

you give it one block with an empty
IS to see if that works?

  Thanks,

    Matt

--
What most experimenters take for granted before they begin their
experiments is infinitely more interesting than any results to which their
experiments lead.
-- Norbert Wiener

[2015-07-14 03:53] amneetb commented on #21
Runs but gives a seg fault...

Program received signal EXC_BAD_ACCESS, Could not access memory.
Reason: KERN_INVALID_ADDRESS at address: 0x0000000000000000
0x0000000000000000 in ?? ()
(gdb) where
#0  0x0000000000000000 in ?? ()
#1  0x000000010d83cc9a in ISSort (is=0x7f8fca203660) at index.c:831
#2  0x000000010e5cf3a8 in PCSetUp_ASM (pc=0x7f8fca931a60) at asm.c:257
#3  0x000000010e65e1d5 in PCSetUp

[2015-07-14 13:56] knepley commented on #21
Okay, I will fix it.

  Thanks,

     Matt

On Mon, Jul 13, 2015 at 10:53 PM, Amneet Bhalla <notifications@github.com>
wrote:

--
What most experimenters take for granted before they begin their
experiments is infinitely more interesting than any results to which their
experiments lead.
-- Norbert Wiener

[2015-07-21 17:03] boyceg opened #22 "Convective outflow boundary conditions"
Support for convective outflow boundary conditions of the form dU/dt + U_INF*dU/dx.

[2015-07-23 17:55] boyceg opened #23 "Silo writer continues to draw links that are "broken" within a simulation"
The Silo writer should try to respect transient links within a simulation.

[2015-07-26 23:07] knepley commented on #21
I do not see the same error. I am not sure what is different here. Can you take a look at https://bitbucket.org/petsc/petsc/branch/knepley/test-asm-empty-subdomain ? This is my branch which has KSP ex6. It uses both the default and by-hand versions of ASM with an empty subdomain and does not crash.

[2015-07-29 05:29] amneetb opened #24 "Implicit IB doesn't honor error_on_dt_change flag"

[2015-07-29 18:18] amneetb commented on #21
@knepley OK; the example helps. So we changed the way the empty IS is created. Before it was

[code]
Now following your example it is changed to
    IS is_empty;
    ISCreateGeneral(PETSC_COMM_SELF, 0, NULL, PETSC_OWN_POINTER, &is_empty);

This made the code in IBAMR to work. Probably you want to make even the first call work to succeed in the ASM code for the case of empty subdomain (?).

[2015-07-29 18:26] amneetb opened #25 "Error with IB point on a patch corner with IndexUtilities::getCellIndex()"
Try for example tests/Stokes-IB/ex2 with 4 processors.

[2015-07-30 14:20] knepley commented on #21
On Wed, Jul 29, 2015 at 1:18 PM, Amneet Bhalla <notifications@github.com>
wrote:

This case is slightly different. *Create() creates a PETSc object
container, but until the type is set, it
has no virtual table, so calls to any member function fail. I think we
should require an actual object
here.

  Thanks,

     Matt

--
What most experimenters take for granted before they begin their
experiments

[2015-08-01 00:37] #21 closed

[2015-08-04 21:55] amneetb opened #26 "d_split_forces boolean"
Ref

https://github.com/IBAMR/IBAMR/blob/d097180162281c0980d266ae43ac2e5259dbad82/src/IB/IBFEMethod.cpp#L1309
https://github.com/IBAMR/IBAMR/blob/d097180162281c0980d266ae43ac2e5259dbad82/src/IB/IBFEMethod.cpp#L1351

The above two lines look suspicious. If d_split_forces is true on line 1309, it won't reach the statements of block L 1351.

Also, what is weak form for external surface forces. Are yo

[2015-08-05 03:25] amneetb opened #27 "sign issue?"
Ref

https://github.com/IBAMR/IBAMR/blob/d097180162281c0980d266ae43ac2e5259dbad82/src/IB/IBFEMethod.cpp#L1333

This should be F += ....

The reason being fluid should experience an opposite reaction. Force on the surface of solid is
[code]
f_pressure_fluid should be spread on the Eulerian grid

[2015-08-05 03:30] boyceg commented on #27
This is a loading pressure on the solid. I think the sign is correct. It is easy enough to test.

[2015-08-05 03:31] #27 closed

[2015-08-05 03:48] boyceg commented on #26
I think that this is a bug. It at least could be made more clear.

You compute the surface traction forces when evaluating the weak form of the Lagrangian body force density when you **do** **not* want to account for those forces in the body force density. The way to remember this is that if you start out with a force that includes both the interior (div PP) and transmission (e.g., PP N) forces an

[2015-08-05 16:50] boyceg opened #28 "Document sign convention for surface pressure-like forces in IBFEMethod"

[2015-08-05 18:29] amneetb commented on #28
https://github.com/IBAMR/IBAMR/blob/d097180162281c0980d266ae43ac2e5259dbad82/src/IB/IBFEMethod.cpp#L1341-#L1344

This should be F -= F_s (according to the convention defined for pressure), i.e., whatever F_s is on surface, fluid should experience a negative of it.

[2015-08-05 19:14] boyceg commented on #28
I do not agree.

For pressure, we are saying: "this is a distribution of loads along the surface oriented in the normal direction to the surface". My mental picture here is that you are using these loads to "push" on the solid, and the convention in the code is that positive pressures indicate "pushing on the solid" and negative pressures indicate "pulling". I think this is a reasonable convention

[2016-01-21 14:24] #25 closed

[2016-01-22 15:30] boyceg commented on #2
@abarret: please try to set up a new example (or a new input file for an existing example) using only the incompressible Navier-Stokes solver for a [backward facing step flow](https://www.google.com/search?q=backward+facing+step+flow).

This will require setting up a domain geometry that consists of two boxes instead of just a single box. There are a few places in the code where the code assumes t

[2016-01-24 02:58] boyceg opened #46 "duplicated code in Stokes+IB FAC operator implementations"
Currently the Box and Level smoothers for the Stokes + IB equations are virtually identical. The code needs to be refactored. It looks like the Box smoother could be supported by the Level smoother.

[2016-01-24 03:01] boyceg opened #47 "make choice of Stokes+IB preconditioner more flexible"
The present implementation of IBImplicitStaggeredHierarchyIntegrator effectively requires using a StaggeredStokesFACPreconditioner with a StaggeredStokesIBLevelRelaxationFACOperator. The code should be made a bit more general (e.g. using a simple base class for Stokes+IB solvers derived from the StaggeredStokesSolver base class and a new factory class for Stokes+IB solvers).

[2016-01-24 03:03] boyceg commented on #24
Fixed by PR #43.

[2016-01-24 03:03] #24 closed

[2016-01-24 07:12] amneetb commented on #46
I would wait and see how this class pans out for some of the options that we are trying, e.g., cuSPARSE solvers. If it doesn't do any good we would probably wipe out this class from the library as it doesn't do a good job in practice, e.g., in parallel runs.

[2016-01-25 01:34] boyceg commented on #14
boyceg/reduce-memory-use is replaced by the newer branch boyceg/local-allocations.

This new branch should be merged into master by PR #50.

[2016-01-25 01:44] #14 closed

[2016-04-12 03:22] berkyigit opened #73 "Please update the installation documentation for using latest PETSc version 3.6.3"

[2016-04-25 19:04] boyceg opened #74 "Warn users if solvers converge in 0 iterations"

[2016-05-05 01:53] boyceg opened #75 "Check standard IB input parser to make sure it does not silently ignore duplicated connections in input files"

[2016-06-30 20:07] boyceg opened #81 "configure needs to check if IBAMR is using bundled Boost when libMesh is enabled"

[2016-07-15 19:43] boyceg opened #85 "switch L1 and L2 norms over to weighted norms in SAMRAI-PETSc interface"

[2016-07-21 18:39] boyceg opened #87 "add in configure support for google test"

[2016-07-24 22:43] boyceg opened #89 "Add displacement norm data for penalty IB method"

[2016-07-25 03:34] boyceg opened #91 "solvers used in IB models need to be able to figure out ghost cell widths automatically at runtime"
Users should not have to set ghost cell width stuff in input files (as done in PR #90), but currently there is not a good mechanism for communicating ghost cell width requirements to dynamically constructed linear solvers.

[2016-08-04 14:23] boyceg commented on #73
This has been fixed.

[2016-08-04 14:23] #73 closed

[2016-08-05 18:19] amneetb opened #98 "clang-format messes up Matlab scripts"
@boyceg: Can .m files be excluded in .clang-format?

[2016-08-08 17:45] boyceg commented on #98
@amneetb this is not a bug --- .m files are the extension for Objective C, which clang-format knows how to format. I updated the default pre-commit hook in #100 only to check files with the extensions C, c, cpp, and h. The message printed when clang-formatting is needed also now reports the command to use that updates only those files (which is "git clang-format --extensions=C,c,cpp,h").

[2016-08-08 17:45] #98 closed

[2016-08-10 16:13] deleeke opened #111 "Nightly Build"
@boyceg

I am going to enable nightly builds of master on Jenkins. There two options about how the build status is displayed on GitHub:

1) Set build status with a checkmark, red "x", or yellow "unstable/pending" ball on [the branches page](https://github.com/IBAMR/IBAMR/branches) next to branch name

2) [Put build status badge in README](https://wiki.jenkins-ci.org/display/JENKINS/Embeddable+Buil

[2016-08-10 17:57] boyceg commented on #111
I think that I would prefer not to receive additional emails.

I think that putting nightly build status in a README or generated webpage would be best. Otherwise wouldn't it always be "pending" --- every night there is a new build?

[2016-08-10 18:05] deleeke commented on #111
Ok I'll work on that.

[2016-08-10 18:05] #111 closed

[2016-08-12 13:48] deleeke commented on #111
@boyceg
Well I spoke too soon about being able to use the embedded image showing the build status -- because, again, in order to be able to see the image the viewer must have access to the VM because it is essentially just a URL that links to the VM.

The LLVM and GCC jobs ran last night with no problems and set their build results on the [branches page with a green checkmark.](https://github.com/

[2016-09-12 01:23] #89 closed

[2016-09-29 17:47] amneetb opened #122 "Extending IBStandardInitializer to include clones of bodies"
To be able to do many-many bodies with CIBMethod this needs to be done programmatically instead of reading vertex files. Folks need this feature to study hydrodynamic suspensions.

[2016-11-18 23:14] deleeke opened #139 "Error in IMP example"
I get a runtime error when I try and run the IMP example

[code]

Let me know if you need any more details!

[2016-11-18 23:17] deleeke opened #140 "Runtime error in navier_stokes example 6"
examples/navier_stokes/ex6 compiles, but I get this runtime error when I try and run main2d

[code]

[2016-11-18 23:43] deleeke opened #141 "IBFE example 4 runtime problems"
This example's main3d compiles and never throws an error, but in never proceeds past this point:

[code]

[2016-11-19 22:52] deleeke opened #143 "Jenkins key phrases"
@boyceg

So, at the moment, all jobs test every PR when it is made and when new commits are pushed.

Additionally, I have set up some new key phrases for the Jenkins PR jobs to watch out for -- these can be in comments or in commit messages I believe.

**retest this please** _builtin to GHPRB, runs all jobs watching this PR_
**opt test**    _runs opt job only_
**skip opt** _skips opt job, put this

[2016-11-23 00:28] deleeke opened #144 "Runtime error in example/IB/explicit/ex5"
I'm getting this run-time error in IB/explicit/ex5
This error message is from the main2d, but main3d produces an almost identical error.

This MAY be some issue with my SAMRAI...

[code]

[2017-01-05 20:34] deleeke opened #146 "IB/implicit examples -- problem with input files"
All the IB/implicit examples compile fine, but the examples fail with the message that  they lack any definition of `stokes_ib_precond_db` required by  `src/IB/IBImplicitStaggeredHierarchyIntegrator.cpp`

The reference I find to that is in line 175 in `IBImplicitStaggeredHierarchyIntegrator`:
[code]
What are valid entries for `stokes_ib_precond_db` in the input file?
What would be a sane default i

[2017-03-30 01:58] deleeke opened #150 "Runtime error in examples/IBFE/explicit/ex2/main3d"
On recent clean build of master, I get a run-time error with the 3d version example (2d runs fine).

[code]

[2017-06-05 14:18] jxgxx opened #157 "example/ConstraintIB/falling_sphere"
I noticed that GNU library was not used in example/ConstraintIB/falling_sphere case. However, we can't make examples/run it without installing GNU library.
Is it possible to fix this issue?

Tks.

[2017-06-05 14:27] amneetb commented on #157
@deleeke This conditional should not be there.
https://github.com/IBAMR/IBAMR/blob/master/examples/ConstraintIB/falling_sphere/Makefile.am#L4

Also, is there a way to pick user installed GSL than system GSL? Some users are stuck with system GSL that is not properly liked to libraries like CBLAS. Can we do something about it?

[2017-06-05 16:02] boyceg commented on #157
If the system library is broken, it is hard to do anything about it. As you know, it is hard to convince the linker to avoid system installed libraries.

[2017-06-05 16:16] amneetb commented on #157
@jxgxx

In IBAMR source dir, go to examples/ConstraintIB/falling_sphere. Modify Makefile.am

1) Remove line:
 https://github.com/IBAMR/IBAMR/blob/master/examples/ConstraintIB/falling_sphere/Makefile.am#L4

2) Remove lines
https://github.com/IBAMR/IBAMR/blob/master/examples/ConstraintIB/falling_sphere/Makefile.am#L49-L55

3) Run bootstrap in IBAMR source directory (top source dir)

4) rebuild IBAMR

[2017-06-05 20:28] boyceg commented on #157
I am fixing this now.

[2017-06-05 20:41] jxgxx commented on #157
Hi Prof. Griffith and Amneet,

I followed Amneet's steps, and it is working now. Thanks so much.

[2017-06-05 22:25] boyceg commented on #157
Fixed by #158.

[2017-06-05 22:25] #157 closed

[2017-09-06 16:02] nishantnangia opened #160 "HierarchyMathOps::grad CC->SC,FC not behaving as expected"
If I want to store
U <- alpha * grad Phi + beta * U

for constant alpha and beta, SC U and CC Phi, one can use HierarchyMathOps::grad() as seen here:
https://github.com/IBAMR/IBAMR/blob/master/src/navier_stokes/StaggeredStokesProjectionPreconditioner.cpp#L322

which works fine because the underlying Fortran code takes into account the grad Phi and beta * U together:
https://github.com/IBAMR/IBAMR/

[2017-09-07 14:22] boyceg commented on #160
This is certainly how the code is meant to work. It sounds like there is a missing code branch for that case --- or is the existing code branch just buggy?

[2017-09-07 14:59] nishantnangia commented on #160
The existing code branch is just buggy due to the axpy occurring after the gradient computation. Computing the gradient and adding beta U concurrently as is done for the constant alpha case should fix it (as is done here https://github.com/IBAMR/IBAMR/blob/master/ibtk/src/math/fortran/grad2d.f.m4#L430).

[2017-09-09 19:33] boyceg commented on #160
Is it clear how to fixe the bug? Or do you need for me to investigate?

[2017-09-11 02:42] nishantnangia commented on #160
No need to investigate -- I'll submit a PR with the fix tomorrow.

[2017-11-03 15:40] boyceg commented on #160
Nishant, did you get a PR in for this issue?

[2017-11-03 15:46] boyceg commented on #150
This appears to be fixed by PR #168.

[2017-11-03 16:15] nishantnangia commented on #160
Oops I forgot to fix this, thanks for reminding me :)

I'll try to do it soon.

[2017-11-03 18:35] #150 closed

[2017-11-03 18:39] boyceg commented on #146
I am going to remove those implicit examples for now. We do have implicit tests (which are more experimental) elsewhere in the repo.

In principle, we should be able to use the same examples for both explicit and implicit solvers.

[2017-11-03 18:41] boyceg commented on #146
"Fixed" by #169

[2017-11-03 18:41] #146 closed

[2017-11-03 18:54] boyceg commented on #141
This is simply a big 3D model. Fixed in #170.

[2017-11-03 18:54] #141 closed

[2017-11-03 18:55] boyceg commented on #4
We no longer use VecMultiVec, so this is a wontfix.

[2017-11-03 18:55] #4 closed

[2017-11-03 18:56] boyceg commented on #28
Sign conventions are better documented in #168.

[2017-11-03 18:56] #28 closed

[2017-11-03 18:57] boyceg commented on #26
This is fixed in #168.

[2017-11-03 18:57] #26 closed

[2017-11-04 01:50] boyceg commented on #87
Done in #148.

[2017-11-04 01:50] #87 closed

[2017-11-04 02:50] boyceg commented on #140
Fixed in #171.

[2017-11-04 02:50] #140 closed

[2017-11-04 02:58] boyceg commented on #144
Really fixed by #171.

[2017-11-04 02:58] #144 closed

[2017-11-04 03:13] boyceg commented on #139
Fixed by #172.

[2017-11-04 03:13] #139 closed

[2017-11-04 15:42] kdelee commented on #139
@boyceg FYI I don't know if you have noticed this but you can have issues automatically closed if you included "closes #(issue#)" in the commit message

https://help.github.com/articles/closing-issues-using-keywords/

[2017-11-04 19:08] boyceg commented on #143
@deleeke This all sounds good. Can you point me to where to set this up in Jenkins?

[2017-11-05 03:21] #81 closed

[2017-11-05 14:19] deleeke commented on #143
These settings successfully migrated to the new jenkins (so it is allready set up for GCC, clang, and opt builds).

There are two levels of configuration. You can globally configure under `Main Page > Manage Jenkins > Configure System` or an individual job at `Main Page > (click on job) > Configure`.

There is a section called "GitHub Pull Request Builder". You have to expand all the menus by clic

[2017-11-05 18:22] #75 closed

[2017-11-08 14:48] boyceg commented on #160
Closed by #177.

[2017-11-08 14:48] #160 closed

[2017-11-15 23:32] cpuelz opened #178 "changing solvers for linear systems"
Would like to be able to do this for the pressure-like field Phi, computed when stress Normalization is active in IBFE.

[2017-12-05 18:10] boyceg opened #179 "check GSL m4"
It appears that libgslcblas is not being linked to in some cases when checking for libgsl (e.g. using clang on the VM).

[2017-12-11 19:24] deleeke opened #181 "examples/IBFE/explicit/ex7 broken"
### Issue type
Bug

### Affected branches/commits
Branch: master
Commit: fdd3bd149cebbbd0d32681b31f217c99acafb585

### Description of problem
Looks like there is a compilation error in this example when compiling with GCC

I have not looked into it any further, but this looks like an undefined variable problem.

### Compilation error output:
[code]

### Steps to reproduce:
Configure IBAMR to build

[2017-12-11 19:26] deleeke commented on #181
@raveenak96

The Jenkins build of master is failing because of this. I filed this as an example of how you can let others know when the automated jobs catch errors like this.

[2017-12-11 19:31] boyceg commented on #181
I think that there is a PR pending that fixes this. Will try to review it tonight...

[2017-12-12 20:51] boyceg commented on #181
Fixed by #180.

[2017-12-12 20:51] #181 closed

[2017-12-13 20:21] cpuelz commented on #178
is there a way for me to do something like -Phi_ksp_converged_reason?

[2017-12-14 16:39] boyceg commented on #178
If you look at linear_implicit_system.C in libMesh, there is a linear solver that is built automatically (using LinearSolver::build()) in the class constructor, but that call to build does not include the object name, so no options prefix is set up.

However, it looks like in some cases, the solver is re-built using the system name as the options prefix --- but only if you run with "--solver_syste

[2017-12-27 18:42] amneetb commented on #122
Done in #123

[2017-12-27 18:42] #122 closed

[2018-01-16 20:24] rossisimone opened #191 "Updating to the current libMesh version"
With the current version of libMesh C++11 is required and UniquePtr<T> is simply an alias for std::unique_ptr<T>. So calling UniquePtr<T> p(NULL) is not allowed anymore.
For backward compatibility, I believe it could be enough to use the default constructors
UniquePtr<T> p(NULL); ->  UniquePtr<T> p;
Any thought?

[2018-01-16 21:41] boyceg commented on #191
One thing to be careful about is that C++11 flags are used for all libraries using C++. I don't see a way for IBAMR itself to check that, but it can be a problem when it comes to linking. We are going to try to get a Jenkins build setup to verify that the code works with C++11 flags, and to start to use C++11 constructs to simplify some things.

[2018-01-16 23:14] rossisimone commented on #191
I configured IBAMR using std=c++11 in the CPPFLAGS.
The only compilation error I got was about the UniquePtr.
Fixing that, everything else compiled and linked with no problems.
The changes I introduced should (hopefully) also be compatible with pre c++11 codes.

I did not run all the tests though.

[2018-02-02 21:20] sach1 opened #194 "Support for using rate of deformation gradient (F_dot) for PK1 calculation"
Currently, retrieving F_dot to calculate PK1 stress is a non-trivial activity. Passing F_dot to calculate PK1 stress could be useful to model solids that exhibit rate dependent behavior.

[2018-02-07 22:30] abarret opened #195 "Semi Implicit Advection Diffusion solver does not tag cells for refinement"
The semi implicit advection diffusion solver does not supply an implementation of applyGradientDetectorSpecialized()

[2018-02-07 22:37] amneetb commented on #195
Yep. We are doing that locally in the src.

[2018-02-08 01:06] amneetb commented on #195
The stop gap is to register a user-defined function that tags cell. This is more flexible anyways :-)

[2018-02-08 04:49] boyceg commented on #191
This is fixed by #192.

[2018-02-08 04:49] #191 closed

[2018-02-23 17:15] nishantnangia opened #199 "Restarts broken for non-IB examples"
If you try restarting a simulation from an example that does not contain an immersed structure (i.e. navier_stokes/ex3), you will get the following error message:

_In the future, it will be necessary to include "Silo" in the list of data writer in order to output Silo data.
.
P=00000:Program abort called in file ``../../../IBAMR/ibtk/lib/../src/lagrangian/LSiloDataWriter.cpp'' at line 2404
P=0000

[2018-02-23 17:58] boyceg commented on #199
I think that is fine. It has been several years now since that functionality has been deprecated.

Can you make a PR that strips out the deprecated functionality and fixes restart for these cases? It may be necessary to add in "Silo" for the input files for the IB examples.

[2018-03-20 14:28] boyceg opened #205 "IBFE needs a way to set initial velocities"

[2018-03-23 21:50] sharpgao opened #206 "Q_rhs_vec is not set up properly in IBFEMethod::computeLagrangianFluidSource"
https://github.com/IBAMR/IBAMR/blob/ac4614e9b5b669dcfc992904339c6b4361265463/src/IB/IBFEMethod.cpp#L888

In IBFEMethod::computeLagrangianFluidSource(double data_time), the following two lines 888-889 need to move out of the for loop on qp,
                `// Apply constraints (e.g., enforce periodic boundary conditions)
                // and add the elemental contributions to the global vector.

[2018-03-27 02:04] #206 closed

[2018-03-28 02:42] #205 closed

[2018-05-23 17:03] YafuR opened #223 "Fast sweeping method on adaptive mesh refinement"
Hi, I am doing a project and wondering how to get the distance field if we apply FSM on a mesh that has diffrent refinement level. I saw there are methods about FSM but it's empty.

[2018-05-23 17:49] amneetb commented on #223
@YafuR There are two examples in the level-set example directory, one using fast sweeping method and the other using relaxation method. The relaxation method provides several discretization schemes like EN03, WENO3, WENO5 with subcell and mass constraints. They should both work on AMR hierarchies. We are in the process of merging multiphase branch in master and we will put some examples showing th

[2018-05-23 17:53] nishantnangia commented on #223
Take a look at the 2D example level_set/ex0 (https://github.com/IBAMR/IBAMR/tree/master/examples/level_set/ex0). By default, it is using the fast sweeping method to find the distance from a circular interface on a partially refined grid.

[2018-05-27 18:03] boyceg opened #230 "CIBFEMethod"
@amneetb, does this class work? If not, should we remove it from the library for now?

[2018-05-28 17:56] #230 closed

[2018-05-30 15:19] amneetb opened #236 "Add README's in the example directories"

[2018-05-30 17:30] boyceg commented on #236
Should we go beyond simple READMEs and use something like [Jupyter](http://jupyter.org/) to document the core examples?

[2018-05-30 17:32] amneetb commented on #236
Sure. We can follow your lead. I am always excited to learn new tools!

[2018-05-30 18:50] cpuelz opened #239 "Bug in constraining overlapping parts"
https://github.com/IBAMR/IBAMR/blob/aa32c9a1f7ee84a657d8922602db686a06eedd00/src/IB/IBFEMethod.cpp#L515
@boyceg should this be X_system_name?

[2018-05-30 18:51] boyceg commented on #239
Uhh.

[2018-05-30 18:55] boyceg commented on #239
Although this is mostly harmless — the code is not actually using force DOFs where it should be using displacement DOFs.

[2018-05-31 14:55] #239 closed

[2018-06-28 17:00] boyceg opened #249 "nodal FE coupling does not respect periodic boundaries of FE meshes"
The specialized FE coupling implementation loops over all of the nodes in the FE mesh to spread forces / interpolate velocities. This is what we want for FE meshes without periodic boundaries, but can result in "double counting" for FE meshes with periodic boundaries.

[2018-06-28 17:00] boyceg commented on #223
@YafuR does this address your question?

[2018-06-28 17:01] boyceg commented on #199
@nishantnangia are you still running into issues?

[2018-06-28 17:07] nishantnangia commented on #199
@boyceg  Nope, this issue was resolved by the PR that got merged (referenced above).

[2018-06-28 17:12] #199 closed

[2018-06-30 00:07] nishantnangia opened #250 "INS integrators never call regridHierarchy() in IB simulations"
During regridding, IBHierarchyIntegrator::regridHierarchy() calls HierarchyIntegrator::regridHierarchy():

https://github.com/IBAMR/IBAMR/blob/master/src/IB/IBHierarchyIntegrator.cpp#L480

I think this means that regridHierarchy routines implemented by derived INS integrators will *never* be called during regridding (i.e. the ones implemented by INSStaggeredHierarchyIntegrator, etc.). Is this done

[2018-06-30 00:16] amneetb commented on #250
Perhaps these calls need to be moved to the derived integrators' regridHierarchy() routines?

@nishantnangia : not moved but derived classes should also make a call to these routines if they override HierarchyIntegrator::regridHierarchy().

[2018-06-30 00:21] nishantnangia commented on #250
@amneetb Right, that seems sensible.

[2018-06-30 00:37] boyceg commented on #250
I am not sure about the intention, but I do know that we don't want to call both HierarchyIntegrator::regridHierarchy() and also INSHierarchyIntegrator::regridHierarchy(), because both call GriddingAlgorithm::regridAllFinerLevels().

The right thing to do might be to call INSHierarchyIntegrator::regridHierarchy() instead of HierarchyIntegrator::regridHierarchy().

Maybe a better design would be so

[2018-06-30 00:50] amneetb commented on #250
Yeah, INSHierarchyIntegrator::regridHierarchy() should be called instead of HierarchyIntegrator::regridHierarchy() for an easy fix.

[2018-07-20 13:07] drwells opened #259 "Use the technique from #257 on the google tests"
As far as I can tell, the `gtest`, `gtest-long`, and `gtest-all` targets are structured in the same way as the examples were prior to #257. We should use the same technique to parallelize them.

[2018-07-20 13:23] boyceg commented on #259
I am not sure if we can run these tests in parallel or not, but I guess that it doesn't hurt to make it possible to do it.

[2018-07-24 14:29] drwells opened #263 "SAMRAI 3 conversion"
I have discussed this with @abarret and @boyceg both in person and over email; we should summarize everything here.

I talked to @abarret about this yesterday: since ~~SAMRAI 3.x~~ SAMRAI 3.12 requires C++11 (e.g., `Pointer` is replaced by `std::shared_ptr`) we should merge #261 before switching over.

One major change in the new SAMRAI releases is that most classes were de-templatized for a varie

[2018-07-24 14:33] boyceg commented on #263
I believe that this performance issue is still present in SAMRAI 3. I reported it when we discovered it earlier in the AY.

You are very optimistic! :-)

I agree. Once we get an initial version working, then we can work on removing this specialization in IBAMR.

[2018-07-24 17:24] boyceg commented on #263
Although if it is possible to automate the required changes, we should do it both for us and also for users, who also will face pretty substantial code modifications to update to SAMRAI 3.

[2018-07-24 19:51] amneetb commented on #263
Yes, please keep us in mind when changing to SAMRAI 3 and C++11. We would really love automation for our existing codes and branches.

[2018-07-25 15:07] drwells commented on #223
@YafuR I believe the other posters answered your question, so I am going to close this issue.

Let us know if you have more questions or need help running something :)

[2018-07-25 15:07] #223 closed

[2018-07-26 15:57] drwells commented on #259
I have done some more investigation on the test suite. I don't know a lot about googletest but I figure it might help to record some of my research here.

Here is a typical test file (a truncated version of `examples/IB/explicit/ex0/test_main.cpp`):

[code]

i.e., each `test_main.cpp` is compiled as a standalone executable. Running `make gtest` runs each executable in sequence. Put another way: gt

[2018-07-31 18:56] drwells opened #266 "IBAMR 0.3 release"
As noted by @boyceg in #261: it would be better to tag a release before we really force everyone to upgrade their compilers. I propose that we take this opportunity to clearly document what versions of everything people are using (e.g., we are only compatible with certain versions of libmesh) and fix other stray bits of documentation.

[2018-07-31 19:00] drwells commented on #266
Here are a few things that I know need to be addressed:
- [ ] add a `VERSION` file
- [ ] fix the libmesh build directions (IIRC we are no longer compatible with libmesh 1.0; I do not believe it would be difficult to fix this, though, if people are interested)
- [ ] fix some input files to work with a newer version of muparser (I have a patch for this)
- [ ] run the test suite

There are probably l

[2018-07-31 19:41] boyceg commented on #266
Following deal.II's lead on this kind of stuff sounds like a good idea to me!

[2018-07-31 20:31] drwells commented on #266
I'll take a look at libmesh compatibility.

[2018-07-31 20:33] boyceg commented on #266
Known to work with PETSc versions >= 3.7.0, including current PETSc master. I have the configure script set up to work for PETSc version >= 3.7.0 and < 3.10.0, although this may be too restrictive, since the PETSc API that IBAMR currently uses appears to be quite stable.

[2018-07-31 20:34] boyceg commented on #266
SAMRAI needs to be 2.4.4, which requires patches to work on recent compilers (and even not-so-recent compilers).

[2018-07-31 20:41] drwells commented on #266
I was telling Ben about the problems with ADL and insufficiently strict compilers at lunch :) I'll put together a bigger SAMRAI patch (I did this relatively recently).

[2018-07-31 20:42] boyceg commented on #266
Here are the current values for other hard-coded version checks:

Boost >= 1.57.0
Eigen >= 3.1.0
HDF5 >= 1.8.7
Silo >= 4.9.1

Probably we could move the versions of Boost, Eigen, HDF5, and maybe Silo earlier than those listed above, but I am not sure whether it is time well spent to figure out the oldest compatible version.

The other important external library is hypre. In practice, hypre probabl

[2018-07-31 20:52] drwells commented on #266
I also chatted with @abarret at lunch about this goal. Let me open a separate issue for that topic.

[2018-07-31 21:10] drwells opened #268 "Automating installation of dependencies"
Split from the discussion in #266.

I talked with @abarret about this at lunch: a major benefit of #188 is that we can download and compile everything with one script. This is a problem that needs to be solved and `easy_install.py` does it.

I do have some reservations, however, about whether or not this is the best way forward: [AFAICT](https://www.mcs.anl.gov/petsc/miscellaneous/external.html) P

[2018-07-31 21:42] drwells commented on #266
well, GitHub won't let me upload `.patch` files, so I emailed my SAMRAI 2.4 patch to @boyceg. If anyone else wants it let me know.

[2018-07-31 22:00] drwells commented on #266
I am not too worried about figuring out if we are compatible with older versions of those libraries: I mentioned libmesh just because the website currently says that we can compile with 1.0.0.

[2018-07-31 22:09] boyceg commented on #268
Can spack installation itself be automated? If so, then it seems reasonable to use that to automate autoconf-based configure, and also possibly BuildSystem-based configure.

[2018-08-01 13:12] drwells commented on #268
I do not think so, but there is not much to install: Margaret Anne and I used spack to install petsc on her laptop and all we had to do was write a configuration file on her machine describing where to find `openssl` (unfortunately, this part was machine dependent), which was approximately

[code]

at that point we essentially just ran `spack install petsc` and things worked correctly. I don't ful

[2018-08-01 19:05] drwells opened #269 "Failing tests on master"
I have most of the fix for #259 done and can now run nearly all tests concurrently. The following tests currently fail:

- [x] `examples/level_set/ex0/`: fails to link with `undefined reference to run_example`
- [x] `examples/CIB/ex0/`: aborts with the message
[code]
  (see #278 for a fix)
- [x] `examples/VCViscousSolver/`: aborts with the message `Could not open input file input2d.test`
- [x] `ex

[2018-08-01 19:12] drwells commented on #269
They don't fail, but the tests
[code]

take over an hour each: we should either move these into the `gtest-long` category or shorten them.

[2018-08-01 19:43] boyceg commented on #269
@amneetb, can you please take a look?

@amneetb, can you take a look?

@amneetb, can you please take a look?

I will investigate. I am not sure these are meaningful differences.

@amneetb, can you please take a look?

[2018-08-02 00:31] drwells commented on #269
The long test in IBFE/explicit/ex0 also failed: the other long tests are okay (they are also not that long).

[2018-08-02 14:04] drwells commented on #269
I am not convinced that I managed to run all of the tests yesterday: while reviewing #271 I noticed that `ConstraintIB/flow_past_cylinder_HF` consumes all of the memory on my workstation before finishing the first time step. I must not have run that yesterday. I'll look into this.

[2018-08-02 14:07] nishantnangia commented on #269
Ah I see. I didn't run all the tests either, I just modified and ran the ones mentioned above. If there are any more ConstraintIB, level_set, multiphase, or vc_navier_stokes that fail, make a note of it here and I can fix them!

[2018-08-02 14:58] boyceg commented on #269
Currently, Jenkins PR tests just verify that the library and examples compile. There are a few reasons for this; one of them has been that Jenkins was running on a pretty low-powered VM. We obtained a physical build-and-test server in July, and I hope to get it running tests sometime in the not-too-distant future. Then we could think about including some of the actual tests in the Jenkins PR jobs.

[2018-08-02 21:42] abarret commented on #269
It looks like `ConstraintIB/flow_past_cylinder_HF` is using a 7200 by 4800 grid. Probably not too surprising that you ran out of memory. I believe this is also causing Jenkins to run out of disk space.

[2018-08-02 21:52] abarret commented on #269
We should probably make the writing of visualization files very infrequent for these tests.

[2018-08-02 22:32] boyceg commented on #269
Should we turn them off for the actual tests?

[2018-08-02 22:38] drwells commented on #269
I see no reason why we would want to save the output: the tests pass or fail based on computing norms, so we should turn it off.

[2018-08-02 22:41] abarret commented on #269
Maybe we could write a single visualization file so we ensure nothing is broken with the actual writing of visualization files?

[2018-08-03 14:13] drwells commented on #269
We need tests that do that, but the google testing framework is not really set up to handle that now: it can only do in-code assertions and does not know how to run `diff` (or `numdiff`) on a, e.g., VTK file. To accomplish this now we would have to use something fragile like `int ierr = std::system(NUMDIFF_BINARY + " out1 out2"); assert(ierr == 0);`: it should be the test runner's responsibility t

[2018-08-06 16:24] drwells opened #272 "Check for Exodus support in libmesh during configuration"
The IBFE examples (and other things) assume that this is available, but we do not check that libmesh is compiled with this feature. We should add a check to `configure_libmesh.m4` to verify that it is turned on.

[2018-08-06 18:09] drwells commented on #272
Actually, we only require Exodus in one place (IBFEInstrumentPanel). I'll just conditionally disable that code instead.

[2018-08-06 23:01] drwells commented on #269
I got some more tests to run: the `adv_diff` test has large errors relative to the ones recorded in the original file.

[2018-08-07 12:37] boyceg commented on #272
I suspect that code is not essential. It might be better to remove the dependency on ExodusII from the main library code.

[2018-08-07 12:38] boyceg commented on #272
I should be more precise: I suspect that the ExodusII code is not essential in IBFEInstrumentPanel.

[2018-08-07 13:56] drwells commented on #272
I should have put my message in #274 here too: while that is the only place in the library where we generate exodus output, lots of examples try and write it too.

Since we only call Exodus in two places in IBFEInstrumentPanel its easy enough to just abort if libmesh doesn't have Exodus support. That is the approach I used in #274 (which is slightly inconsistent with the examples; those just print

[2018-08-07 14:37] cpuelz commented on #272
hmm, I think this class expects ExodusII_IO objects in order to build the
IBFEInstrumentPanel objects, so it is essential, but the actual exodus
output for these meter meshes is not necessarily essential.  It is just
useful to see if the meshes are made correctly.  It could be generalized to
take some other type of mesh format where you can explicitly specify sets
of nodes and corresponding IDs.

[2018-08-07 14:55] boyceg commented on #272
But this is just for output, right? If so, I think it could be better to expose the mesh and any related system data structures, so that users can decide how to do output.

[2018-08-08 14:28] boyceg commented on #272
Yes, I think so — I think it would be better to provide functions that give access to the mesh data, and then to setup the IO in model code.

[2018-08-08 14:53] drwells commented on #272
This sounds reasonable. I will let @cpuelz handle IBFEInstrumentPanel and I will remove that part of #274.

[2018-08-08 21:20] drwells opened #275 "Jenkins has trouble with parallel example compilation"
From #274: apparently #257 makes Jenkins unhappy from time to time.

I only see the cryptic
[code]

in the log: its not clear to me where things have gone wrong.

[2018-08-09 18:46] #272 closed

[2018-08-09 23:11] drwells commented on #275
I am not completely convinced that this is not an issue resulting from running out of disk space. I will keep checking Jenkins; if it is happy with the build system then we can close this.

[2018-08-11 02:40] drwells opened #280 "Support for shared objects"
This has come up in a few different places recently: in particular, some of our recent Travis woes are due to running out of disk space.

If I compile the library with `-Os` and no debugging information then I need about 4 G for the libraries (2d and 3d versions of IBTK and IBAMR) and about 13 GB for the examples. The size of the libraries alone is way too high: for comparison, the release version

[2018-08-11 02:49] drwells commented on #263
See https://github.com/IBAMR/IBAMR/tree/abarret/samrai3-migration for the present status.

[2018-08-13 14:57] drwells opened #282 "(small) memory leaks in IBFE tests"
Several of the IBFE tests leak small amounts of memory:

[code]

Since we only leak eleven objects this isn't a big deal, but its still worth cleaning up eventually.

[2018-08-13 15:47] drwells opened #283 "IBFE/explicit/ex10 is too long"
This test currently passes on master, but requires 24,000 time steps. We should replace it with something shorter.

[2018-08-13 16:49] boyceg commented on #283
Yes indeed...

[2018-08-13 18:27] amneetb commented on #283
@drwells

https://github.com/IBAMR/IBAMR/blob/master/examples/IBFE/explicit/ex10/example.cpp#L449

The right thing to check for this example is that around steady state  0.45 < 2*w[2] < 0.5, in which w[2] is angular velocity in the z-direction and `2` comes from the non-dimensionalization .

The case is described in section 7.2.3 [here](https://www.sciencedirect.com/science/article/pii/S0021999113

[2018-08-13 18:32] drwells commented on #269
@boyceg its `explicit/ex10` that takes too long; `explicit/ex0` still fails (albeit only nominally).

I have to admit that I checked that statement about five times since its really easy to misread `ex10` vs `ex0`.

[2018-08-13 18:33] boyceg commented on #269
Whoops!

[2018-08-13 18:51] drwells commented on #283
Thanks for the citation.

I added this to the 1.0 milestone: we should redo the test to check exactly what is in the paper.

[2018-08-13 19:04] cpuelz commented on #269
what was the problem with this example??

On Mon, Aug 13, 2018 at 2:22 PM Boyce Griffith <notifications@github.com>
wrote:

--
Charles Puelz
Courant Institute, NYU
cpuelz.github.io

[2018-08-13 19:05] cpuelz commented on #269
examples/IBFE/explicit/ex0 that is...

On Mon, Aug 13, 2018 at 3:04 PM Charles Puelz <charles.puelz@gmail.com>
wrote:

--
Charles Puelz
Courant Institute, NYU
cpuelz.github.io

[2018-08-13 19:09] drwells commented on #269
@cpuelz The norms of output vectors are off by a bit from the values recorded in the tests; i.e., an error should be 1e-13 and is now 1e-10.

[2018-08-13 19:44] drwells opened #284 "IBFE/explicit/ex11 is too long"
Like #283:  this test needs 65000 time steps (and generates about 70 GB worth of output). We should replace it with something that takes less time to run.

[2018-08-13 19:45] drwells commented on #283
This test also generates about 70 GB worth of output.

[2018-08-13 20:07] amneetb commented on #283
The end time could be 400.0 here

https://github.com/IBAMR/IBAMR/blob/master/examples/IBFE/explicit/ex10/input2d#L35

Since that gives a non-dimensional time of 200, which is good enough for steady state (fig 9a)

We can also suppress heir dump and visit dump files for this example
https://github.com/IBAMR/IBAMR/blob/master/examples/IBFE/explicit/ex10/input2d#L152

[2018-08-13 20:14] amneetb commented on #284
https://github.com/IBAMR/IBAMR/blob/master/examples/IBFE/explicit/ex11/example.cpp#L538
C_d = -F_integral[0] / (0.5 * rho * U_max * U_max * D)

The right thing to check here is the range of coefficient of drag  1.37 < C_d < 1.401

See table 1 of the same paper. The steady state is reached around time 40, so that we can set the end time to 40.

https://github.com/IBAMR/IBAMR/blob/master/examples/IB

[2018-08-14 02:05] boyceg commented on #284
I think it is a great idea to have examples that reproduce results from publications. However, in my view, the purpose of the test suite is primarily to spot regressions in the code base, which does not require running examples to steady state — if we believe that the implementation is correct, then we can also use results captured in the transient to gauge correctness.

[2018-08-14 14:28] boyceg opened #285 "A_scale"
We should clarify in the VC class documentation that `A_scale` is set on a per-level basis.

Incidentally, it looks like the scale factor is set to be uniform in the tests. Is it sufficient to have only one scale factor for all levels?

[2018-08-14 14:41] amneetb commented on #285
I can document that.

For air/water system A_scale does not do much. It for extreme ratios like 10^6 where you begin to see the effect. Most/All examples are air/water system, so even A_scale = 1 works.

[2018-08-14 18:50] amneetb commented on #285
@boyceg : I have documented it. You can close this issue after reviewing it.

[2018-08-14 19:01] boyceg commented on #285
Looks good.

[2018-08-14 19:01] #285 closed

[2018-08-15 18:17] drwells opened #288 "multiphase_flow/ex2 is too long"
I let this run for a few days. Even though the final time for the test is 10 (not unreasonable), the test has only gotten to about `t = 0.8` over the last three days (i.e., this test would need about a month to finish). We should shorten this by as much as possible.

This is also an issue with the example input file `input2d.cyl` (its identical to `input2d.test`).

[2018-08-15 18:40] amneetb commented on #288
For multiphase_flows/ex1 and multiphase_flows/ex2 the end time should be around 0.7 in input2d.cyl/input2d.test files. The cylinder reaches the bottom domain by then. Any more runtime forces it to impinge on the wall with prescribed velocity, then leads to reduction of time step size.

<img width="562" alt="screen shot 2018-08-15 at 11 37 04 am" src="https://user-images.githubusercontent.com/73781

[2018-08-15 18:47] drwells commented on #288
It looks like the time step stays at 5e-05 until about t = 0.74, at which point it starts decreasing a lot.

We still need 14000 time steps to get that far.

[2018-08-15 20:04] amneetb commented on #288
I am wondering if we should split tests into two categories: one that require eyeballing or steady state solutions (long runs) and one that are quick to run and do quantitative number checking? This test is supposed to be long to check for interface evolution and stability.

[2018-08-15 22:06] drwells commented on #288
I think that's reasonable. In principle we do have `gtest-long` but the tests are really not that different from `gtest` (and this one, in particular, is in `gtest`).

[2018-08-16 02:38] boyceg commented on #288
I think that it is worth emphasizing that the gtest tests are software tests, which are different from method verification/validation tests (although they can also be method verification/validation tests if those tests are relatively fast, or they could be short sections of those kinds of tests). The purpose of the gtest tests is to identify regressions in the implementation.

Imagine that someone

[2018-08-16 16:47] drwells opened #290 "Some tests fail with abort"
I previously located failing tests by searching for gtest output. However, gtest doesn't print anything if we `abort` from inside IBAMR itself, so I did not catch these before.

- [x] `adv_diff/ex1/test2d` (`DT` is not defined in the database)
- [x] `adv_diff/ex1/test3d` (`DT` is not defined in the database)
- [x] `IBFE/explicit/ex5/test2d` (`C1_S` is not defined in the database)
- [x] `IBFE/expli

[2018-08-16 16:47] drwells opened #291 "navier_stokes/ex1/test3d is too long"
The 3D test takes about 8 hours to finish. The 2D version finishes in about a minute.

[2018-08-17 16:19] #275 closed, assigned to nobody

[2018-08-21 18:54] drwells opened #295 "Better defaults in IBFE/explicit/ex5 and IBFE/explicit/ex6"
The values hard-coded into the source file now are not very good: they cause the solver to abort due to a change in the time step. Te maximum time step falls very quickly (roughly exponentially over the first ten steps) so increasing the Courant number is not a good fix. We should come up with better parameters for these examples.

[2018-08-21 19:47] drwells commented on #295
Related to #294.

[2018-08-22 18:45] drwells commented on #269
Well, that was easier to figure out than I thought it would be. #226 very reasonably added a call `d_F_half_vecs[part]->zero()` inside `computeLagrangianForce`: this line of code caused the minor change in the output. This change looks completely reasonable to me: @amneetb this was just a bug in the older version of this function, right?

[2018-08-22 18:50] boyceg commented on #269
This was not a bug per se — it was done for safety, so that implementations do not have to remember to zero out this vector. However, I guess that a side effect is that the L2 projection solve in the standard implementation is now always using a zero initial guess, which will change the result (and possibly make the projection less efficient).

[2018-08-22 19:25] boyceg commented on #269
I would rather handle this stuff using PETSc command line options — which also can go into (separate) input files. Maybe there is some way to extract this information from a uniform input file.

[2018-08-22 19:34] drwells commented on #269
Do you mean that we could set PETSc command line options by reading the input database? I think that is possible.

[2018-08-22 19:48] boyceg commented on #269
One challenge is that I am not sure how to set the PETSc options prefix in libMesh objects.

[2018-08-22 20:18] drwells commented on #269
The linear solver class (`libMesh::PetscLinearSolver`) does take a string argument which it then passes along to `KSPSetOptionsPrefix` (with the wrapped `KSP` object).

A few other PETSc based classes (`PetscMatrix`, `PetscNonlinearSolver`, and `PetscDiffSolver`) all use a similar technique.

[2018-08-22 21:04] drwells opened #297 "Uniform handling of options"
From the discussion in #269: we need to find a way to integrate PETSc's command line options, the input database file, and all other parameters.

I think it would be nice to be able to put everything in a single input file (this would make writing tests a lot easier). However, there are good reasons to use a separate petsc file or experimenting by putting options on the command line, so we need a

[2018-08-24 17:32] cpuelz opened #298 "consistent distribution of libMesh meshes and SAMRAI patches"
currently, libMesh mesh elements and SAMRAI patches are distributed independently, without incorporating knowledge of locations in physical space.  having some way of using this information could be helpful in calibrating the four chamber heart model by speeding up Lagrangian Eulerian interaction.

[2018-08-24 18:08] drwells commented on #298
This is something I will start working on once we have SAMRAI 3 up and running.

@cpuelz You surely know the scaling limitations better than I do. Is there a particular example program that currently demonstrates the issue?

[2018-08-24 18:15] cpuelz commented on #298
Hi David,
Feel free to look at the four-chamber-heart repo.  We should be able to
scale this to many processors, but
I am running with a small number, like 16 or 24, since this seems to be
faster.  I haven't done any systematic
profiling, but Boyce has looked a bit at this and it seems like the rate
limiting step is the LE interaction.

On Fri, Aug 24, 2018 at 2:08 PM David Wells <notifications@gi

[2018-08-24 18:29] drwells commented on #298
There it is!

[2018-08-29 21:30] drwells commented on #266
Once #296 is in we can go ahead and create a release branch. At that point we can just disable tests, make sure things compile, and then we should be ready to release.

@boyceg We are getting close. Would it be possible for you to look over and perhaps merge that patch this week? I talked about this with @abarret and we agree it would be a good psychological victory to get this release out this su

[2018-08-29 21:58] boyceg commented on #266
I will aim to review and merge tonight.

[2018-08-29 22:11] boyceg commented on #266
Let’s see if @amneetb or @nishantnangia wants to merge in #302 before setting up a release branch. Otherwise, looks ready to roll.

@drwells, @abarret, can you guys close out any issues that are now resolved with the fixes to the examples?

[2018-08-29 22:34] #290 closed

[2018-08-29 22:35] drwells opened #303 "Add prefixes to the libMesh KSP objects"
From #296: we should add prefixes to the KSP objects inside libmesh to make it easier to experiment with different settings on different solvers.

[2018-08-29 22:47] drwells opened #304 "ConstraintIB/flow_past_cylinder_HF gtest takes up too much memory"
Noted in #269: the memory consumption in this test grows to consume all the memory in my workstation.

[2018-08-29 22:49] drwells commented on #269
We have addressed all tests that explicitly fail, though we still need to deal with a few that don't run (e.g., #304) so I believe this can be closed in favor of the separate issues now that most of the issues are fixed.

[2018-08-29 22:49] #269 closed

[2018-08-29 22:55] drwells commented on #266
I think all relevant issues have now been closed. We still have some tests that take unreasonably long to finish that I think we should just disable on the release branch (I will admit that the line between 'fix this bug' and 'disable on release branch' is subjective); those are listed above in my second comment.

[2018-08-30 04:05] boyceg commented on #266
OK, let's go ahead with this.

Also, it might be worthwhile to document somewhere the release process itself. :-)

[2018-08-30 13:59] drwells commented on #266
I'll go ahead and put up a release candidate today. We should ask everyone to download and install it to see if there are any remaining major bugs or incompatibilities.

[2018-08-30 16:08] drwells commented on #266
The release candidate is up. @IBAMR/ibamr-read-team @IBAMR/ibamr-write-team if possible, please download the release candidate (available on the IBAMR-0.3.0 branch and also [here](https://github.com/IBAMR/IBAMR/releases)), recompile SAMRAI with the provided patch, and make sure things compile and your stuff still works.

[2018-08-30 19:11] amneetb commented on #266
@drwells : Can you also mention the version of libraries to use for this release. Note that we have been using SAMRAI 2.4.4 and not 2.4.2. CASC@LLNL does not have 2.4.2 on their website.

[2018-08-30 19:25] drwells commented on #266
You're right; that and a few other mistakes need to be fixed (this is what the release candidates are for).

[2018-08-30 21:54] drwells commented on #268
Another advantage to this is that we can get rid of all of our bundled dependencies and let spack handle the versioning problems for us. For example: the bundled boost is not sufficient since it does not have `unordered_map.hpp`.

[2018-08-30 22:00] knepley commented on #268
I automated the download and install of all the dependencies that you listed above today. Its in knepley/feature-configure-ibamr-packages. I am submitting the PR now.

[2018-08-30 22:04] drwells commented on #266
I owe @masmath a big thank you for being my guinea pig for installing everything from scratch on a mac: that process uncovered a lot of stuff we need to fix. I'll try to get through this list tonight and tomorrow, but it would help a lot if other people are willing to knock out a few items too.
- [ ] Redo the SAMRAI installation instructions to include the latest patch (also find a better name for

[2018-08-31 16:04] drwells commented on #268
I looked for this branch but I don't see it here or in your fork. Where is it? I'd like to give it a spin :)

[2018-08-31 17:02] knepley commented on #268
https://bitbucket.org/petsc/petsc/branch/knepley/feature-configure-ibamr-packages

I was testing with

./configure --PETSC_ARCH=arch-master-ibamr-debug --download-muparser --download-silo --download-samrai --download-mpich --download-hdf5 --download-boost --boost-headers-only --download-libmesh --download-eigen

Thanks,

    Matt

[2018-08-31 17:49] boyceg commented on #268
(Matt is saying this implicitly, but notice that he is talking about a PETSc branch that is able to handle all of the third-party libraries.)

[2018-08-31 18:11] drwells commented on #268
I am surprised that the PETSc guys (well, that does include @knepley) are willing to bundle our dependencies for us.

How soon will this version of PETSc be released?

[2018-08-31 18:11] drwells commented on #268
Bundle is the wrong word; 'include build instructions' is more accurate.

[2018-08-31 18:41] drwells commented on #268
For the sake of record: during my installation run with @masmath yesterday I used spack to intall everything but SAMRAI (it does not support 2.4.4) and things went fairly smoothly.

[2018-09-04 17:38] drwells opened #308 "Handling of the bundled dependencies"
We presently include several dependencies in our own tree (boost, eigen, muparser). These do make installation easier, but they won't be necessary once we have `easy_build.py` up and running which can download and install everything for us.

I think we could lessen our own maintenance burden (i.e., #267, #307, etc) by completely removing these since we will have a good alternative for easily insta

[2018-09-04 17:42] boyceg commented on #308
I think we would be crazy not to remove this stuff once we have a working alternative.

[2018-09-04 18:41] drwells commented on #308
Unless someone objects strongly, then, lets not port #307 to `master` since we will just get rid of the set of directories in the near future anyway.

[2018-09-05 19:11] drwells commented on #266
I am going to try and put out another release candidate tomorrow once #310 and some additional libmesh checks are merged in.

[2018-09-06 22:00] drwells commented on #266
The second release candidate is now out. This should fix some minor issues on macs. I will continue testing.

We still need to make sure that all build instructions are up to date; I will start working on that next.

[2018-09-11 12:57] boyceg commented on #266
A new PETSc release is imminent --- should we hold off on 0.3 until PETSc 3.10 is out?

[2018-09-11 14:30] drwells commented on #266
I will download and install whatever is presently on PETSc's master branch and see how it behaves with libMesh and IBAMR. If everything works then I suggest we should just go ahead.

@knepley's opinion is more valuable here; what do you recommend?

[2018-09-11 15:16] knepley commented on #266
On Tue, Sep 11, 2018 at 10:30 AM David Wells <notifications@github.com>
wrote:

Master is complete as far as IBAMR is
concerned. They are only doing last minute GPU stuff right now.

  Thanks,

    Matt

--
What most experimenters take for granted before they begin their
experiments is infinitely more interesting than any results to which their
experiments lead.
-- Norbert Wiener

https://www.cse.

[2018-09-11 16:13] drwells commented on #266
Of course the latest version of GCC found even more ADL lookup errors in SAMRAI. I'll post a corrected patch soon.

I am looking forward to this new version of SAMRAI more every day.

[2018-09-12 14:34] boyceg opened #319 "This is a test."

[2018-09-12 14:34] #319 closed

[2018-09-12 17:26] boyceg opened #320 "configure.new crashes without an error message if it cannot find a working PETSc"
`configure.new` crashes without a clear error message if it cannot find a working PETSc BuildSystem. Let's update it to print out a more informative message.

[2018-09-12 17:28] boyceg opened #321 "IBAMR_DIR/IBAMR_ARCH/PETSC_DIR/PETSC_ARCH detection"
`configure.new` should print error or warning messages if `IBAMR_DIR`/`IBAMR_ARCH`/`PETSC_DIR`/`PETSC_ARCH` are not set.

[2018-09-12 17:29] boyceg opened #322 "external application support in configure.new"
The Makefile include file generated by `configure.new` should be made to be "drop-in compatible" with the comparable file generated by `configure`.

[2018-09-12 17:31] boyceg opened #323 "fix conditional compilation in BuildSystem builds"

[2018-09-12 17:33] boyceg opened #324 "BuildSystem support for setting the dimension at compile time"
`configure.new` needs either to take in a spatial dimension to compile (2 or 3), or a set of dimensions (e.g. to support both 2D and 3D builds). If we can support both dimensions in the same configuration, then that should be the default.

This choice also affects the SAMRAI libraries that we need to link to (at least in SAMRAI 2.4.4), and the particular FORTRAN kernels that IBAMR builds.

[2018-09-12 17:35] boyceg opened #325 "visibility in BuildSystem builds"
PETSc's visibility settings do not currently play nicely with IBAMR.

`configure.new` needs to be able to determine whether PETSc is configured `--with-visibility=0`, and emit an error if not.

`configure.new` also should default to using `--with-visibility=0`. Further, perhaps `--with-visibility` should not be something that users can set until it works `--with-visibility=1`.

[2018-09-12 17:36] boyceg opened #326 "update documentation to describe BuildSystem-based builds"

[2018-09-12 19:10] drwells commented on #266
Update: I accidentally typed `-enable-implicit-template-instantiations` (which is a no-op) when compiling SAMRAI instead of `-enable-implicit-template-instantiation`: our current patch does not handle the case without instantiations, but it does handle the case we need (i.e., with instantiations), so I am going to keep the SAMRAI patch as-is.

[2018-09-12 21:07] drwells commented on #266
All right, we are nearly done! Here is a new checklist, which should be all we need to do:
- [ ] ensure that the online doxygen is up to date (i.e., run `generateDocumentationAndDeploy.sh`)
- [ ] merge #188
- [ ] update online documentation to describe how to use `BuildSystem`
- [ ] review the online documentation one last time
- [ ] put the release on GitHub
- [ ] celebrate!

[2018-09-12 22:06] boyceg commented on #266
This should be run automatically by Travis whenever a PR is merged into master. Looks like it is still working — currently, the most recent doc build shows "Generated on Tue Sep 11 2018 13:01:56 for IBAMR by doxygen  <http://www.doxygen.org/index.html>1.8.6.”

This does raise a question about whether we should maintain docs for 0.3.0 as well as master, or just up-to-date docs for master.

— Boyce

[2018-09-12 22:11] drwells commented on #266
I would vote for maintaining older sets of documentation. I anticipate that anyone who is halfway through an IBAMR-based project right now will probably not want to switch to the new SAMRAI 3 version any time soon. This will require substantially modifying the website; I think we should work on that next after the release is out.

The easiest solution (and what we do in deal.II) is to just select

[2018-09-12 22:14] boyceg commented on #266
Sounds good. As long as things are laid out in a reasonable way, presumably we can host both up-to-date docs for master as well as stable docs for releases at the same time...

[2018-09-13 01:05] boyceg opened #329 "configure.new should only configure external packages not provided by PETSc"
Determine which packages are provided by PETSc `configure` dynamically, so that `configure.new` presents only those that PETSc does not.

MGK: I think we should. You can try and import the module and catch the failure if you want to do it dynamically.

[2018-09-14 01:45] boyceg opened #332 "configure.new should work on systems where python = python3"

[2018-09-14 03:05] boyceg commented on #332
Closed by #331.

[2018-09-14 03:05] #332 closed

[2018-09-14 12:40] boyceg commented on #323
Resolved by #330.

[2018-09-14 12:40] #323 closed

[2018-09-14 21:34] boyceg commented on #321
Closed by #334.

[2018-09-14 21:34] #321 closed

[2018-09-17 04:03] boyceg commented on #320
Closed by #334.

[2018-09-17 04:03] #320 closed

[2018-09-17 17:16] drwells opened #337 "Use clang-format"
Lets summarize some of the topics from the email discussion here so that things don't get lost.

It would be nice to run `clang-format` on IBAMR instead of us worrying about doing manual indentation. Here is a brief list of things that need to happen
- [x] agree on a `.clang-format` list of style rules
- [x] Teach Jenkins how to check PRs for style compliance
- [x] Possibly set up Jenkins to appen

[2018-09-17 17:50] boyceg commented on #322
Here is an example Makefile that works with the current build system:
[code]

Ideally, the user would only need to change the directory locations to get it to work with the new BuildSystem build system, e.g.
[code]

[2018-09-18 15:27] sharpgao opened #338 "about the spread function in FEDataManager class?"
Line 578:
for (unsigned d = 0; d < NDIM; ++d)
    {
        TBOX_ASSERT(X_dof_map.variable_type(d) == X_fe_type);
        TBOX_ASSERT(F_dof_map.variable_order(d) == X_order);
    }
Is F_dof_map.variable_order(d) == X_order right?

[2018-09-21 13:09] boyceg commented on #338
Yes this is a bug. I will fix it.

[2018-09-21 13:10] #338 closed

[2018-09-22 22:39] drwells commented on #266
Upgrading the website to display multiple doxygen versions is, I think, past the scope of the release (though it is presently a high priority item). Since things pass and we have converged on only minor fixes lets go ahead and release!

[2018-09-22 22:49] drwells commented on #266
Done.

If anything breaks we can always put out a 0.3.1 release.

[2018-09-22 22:49] #266 closed

[2018-09-23 18:47] boyceg commented on #266
Hooray!

[2018-09-24 19:54] drwells opened #341 "Keep track of major changes"
One thing that we do in deal.II that is quite handy is associating all non-trivial (e.g., things larger than a typo fix) changes with a changelog entry, see, e.g.,

https://github.com/dealii/dealii/tree/master/doc/news/changes

We should adopt this format, or something similar, so that we can write release summaries that say things like "we fixed major bug X, added feature Y, and added new tutoria

[2018-09-24 22:09] drwells commented on #304
The default settings for this example program also take up all available memory on the machine.

[2018-09-26 14:50] boyceg commented on #250
Can one of you make a PR for this?

[2018-09-26 15:33] nishantnangia commented on #250
https://github.com/IBAMR/IBAMR/pull/343

[2018-09-27 18:21] #341 closed

[2018-10-02 02:09] drwells opened #348 "Clean up boost checks"
From #347: I realized here that we never actually use `m4/boost.m4` (we use `m4/boost_configure.m4`), i.e., modifying this file has no effect on `configure`. We should move the header checks into the proper `m4` file and delete `boost.m4` once we are done.

[2018-10-02 02:13] boyceg commented on #348
[code]

[2018-10-02 02:15] boyceg commented on #348
`BOOST_REQUIRE` is called from `configure.ac` and provided by `boost.m4`.

[2018-10-02 03:20] drwells commented on #348
Also from #347: it looks like we just don't use the header checks, which is why regenerating `configure` after deleting one of them from `boost.m4` had no effect. We should make sure that the rest of the header checks are used.

[2018-10-02 16:46] drwells opened #350 "Split up #258's first commit"
@abarret and I corresponded by email about this and we agreed (as long as I do some of the work) that we should apply the modernization changes in separate PRs. I believe this will be faster than working through the merge conflicts present in #258 (though, of course, we should still use all commits on that branch besides the first once these are through).

- [x] modernize-deprecated-headers (@drwe

[2018-10-02 17:51] drwells commented on #350
The `nullptr` modernization patch is done but conflicts on one line with #349, so I won't post it until that is merged.

[2018-10-04 18:00] drwells opened #353 "Remove GSL"
AFAICT we do not actually use GSL anywhere in IBAMR, so there is no need to treat it as a ~bundled~ optional package.

Edit: reword sentence ('bundled' is the wrong word)

[2018-10-04 18:02] boyceg commented on #353
I believe that it is used in some of the examples.

[2018-10-04 18:04] drwells commented on #353
You're right; its in the `eel` examples. My mistake!

[2018-10-04 18:04] #353 closed

[2018-10-08 12:59] drwells opened #358 "post #356: get rid of `new double`"
We should grep through the source and remove any manual allocations of `double` arrays. In all cases
[code]
is just a less convenient version of
[code]

[2018-10-10 17:29] drwells opened #359 "static_cast<unsigned> instead of (unsigned)"
We should use `static_cast<T>` instead of `(T)` so that the casting semantics are clear. In particular, we do this with `(unsigned)`; see the discussion in #356.

[2018-10-10 17:31] drwells commented on #359
We should do the same thing for the fundamental type conversion operators, e.g., write `static_cast<float>(x)` instead of `float(x)`.

[2018-10-14 18:41] AmirTalaei opened #362 "Automatically stopping a simulation based on K_Penalty"
Dear Professor Griffith,

I have asked a question in IBAMR Users forum on the topic of "Time-Step and Convergence" concerning the IBAMR may automatically stop a simulation when the condition 'K_Penalty should be large enough (The maximum displacement ||X-Y|| > 0.1*h)' does not meet. You mentioned this has not been implemented in IBAMR yet and suggested to me to make a request and create an issue a

[2018-10-15 01:55] boyceg commented on #362
Here is the issue tracker: https://github.com/IBAMR/IBAMR/issues <https://github.com/IBAMR/IBAMR/issues>. Can you create an issue about this requested enhancement?

— Boyce

[2018-10-15 01:56] boyceg commented on #362
This would be a good feature. I will try to get it in.

[2018-10-18 22:39] drwells opened #364 "Trouble with CCLaplaceOperator"
I have spent the last few days learning how to use SAMRAI, mostly by working through the manual and some of the IBTK tutorials.

I have been trying to debug something and have been stuck: the `CCLaplace::apply` function does not seem to correctly fill in boundary data when we have more than two levels in the hierarchy. Here is the grid I generated:

![visit0000](https://user-images.githubuserconte

[2018-10-19 00:40] boyceg commented on #364
Is this using the CCLaplace example/tester?

Are you using physical boundary conditions or periodic boundary conditions? If this is with periodic boundary conditions, notice that this grid hierarchy is not properly nested, and so bad things will likely happen somewhere.

Does this only happen when the refined region goes all the way up to the boundary?

The thing that fills in ghost cells is Hiera

[2018-10-19 00:55] boyceg commented on #364
The proper nesting condition just means that fine level L is completely contained within the next coarser level L-1, so that grid cells on level L never directly abut grid cells on levels <= L-2. The condition is relaxed at physical boundaries but not at periodic boundaries (which are not really boundaries at all). I would expect that there are places in SAMRAI and/or IBAMR where something bad wil

[2018-10-19 02:00] drwells commented on #364
This is with the CCLaplace example. I added a lot of explanatory documentation while I was figuring things out; I'll put up a PR when I am done.

I bet its the periodic boundary since the grids are not properly nested there. I'll check in the morning.

[2018-10-19 17:08] #364 closed

[2018-10-19 18:49] drwells commented on #364
To answer the other question: I don't know of any modernization tools for FORTRAN 77: I don't know of anything we should change besides writing `IMPLICIT NONE` everywhere.

[2018-10-24 13:04] boyceg opened #371 "Check that sources/sinks are handled properly in VC solvers"
Hao reports that he needs to update code in `INSVCStaggeredNonConservativeHierarchyIntegrator::setupSolverVectors()` to get it to work with sources/sinks:
[code]

[2018-10-24 13:58] amneetb commented on #371
@boyceg : Is this chunk of code suppose to go in here?

https://github.com/IBAMR/IBAMR/blob/master/src/navier_stokes/INSVCStaggeredNonConservativeHierarchyIntegrator.cpp#L1651

I assume the source/sink formulation remains the same for conservative form of momentum equation. I can add it there as well.

[2018-10-24 17:46] drwells opened #372 "Overhaul the test suite"
I had a nice chat with @knepley earlier today and this is something we discussed. We presently have a couple dozen (roughly) tests that check norms to verify that the code works. These tests rely on the gtest framework. I personally run the test suite frequently and use it to check my own work; even this small test suite is extremely valuable. However, this framework has several shortcomings:
1. W

[2018-10-24 21:34] abarret opened #373 "File deleted in in-source builds"
When I do `make clean` in an in-source build, the file `src/navier_stokes/fortran/navier_stokes_surface_tension_forcing3d.f.m4` gets deleted.

[2018-10-25 00:33] #373 closed

[2018-10-25 15:01] boyceg commented on #372
Sounds good to me.

@knepley, is it possible to leverage PETSc's new test harness? We started using the Google test framework before PETSc's testing framework was finished.

[2018-10-25 17:04] knepley commented on #372
It may be possible. All the SLEPc tests have moved over to it. It a fairly open system (see chapter in the PETSc manual) and produces output in an open standard, so you can use a variety of free tools to look at the report. Its really just a collection of scripts which setup each test, run it, tear it down, and report the result. The advantage is that it is designed to run parallel tests, to run w

[2018-10-26 07:14] amneetb opened #375 "Turbulence models"
Anybody willing to put dedicated efforts in this front? Nothing fancy--- humble beginning like standard k-eps or k-omega.

[2018-10-26 11:52] knepley commented on #372
Luckily, I think supporting both is possible. Autotools uses #defines, just like PETSc, to indicate most of the conditions.

[2018-10-26 12:04] boyceg commented on #372
I think I am about 85% of the way towards getting both autotools and BuildSystem coexisting. In the BuildSystem branch, both will compile the library. The main thing that remains is to make it easy for external apps to use either type of build.

I also think that it is OK for the testing framework to be specialized to one.

[2018-11-02 16:21] drwells opened #382 "Replace raw pointers with smart pointers."
From #380: there is no need to have private member variables be raw pointers in 99.9% of cases: using `std::unique_ptr` should suffice.

[2018-11-07 15:04] drwells opened #384 "Mass rewrite documentation for deleted methods"
Every single deleted copy constructor has the same documentation:

[code]

The same is true for copy operators. It should be relatively easy to write a multi-line regex to match this and replace it with a comment stating that the method is deleted.

[2018-11-07 15:08] boyceg commented on #384
In fact, I do not think that there needs to be any comment. My idea here is that the new C++11-isms `= delete` and `= default` are self-documenting, and so we can just remove ALL of those comments.

I do *not* think that we need to rewrite these old comments with new comments.

[2018-11-07 15:12] drwells commented on #384
I'll double check to make sure they show up in doxygen as deleted if we don't have comments.

[2018-11-07 15:15] boyceg commented on #384
FWIW: http://doxygen.10944.n7.nabble.com/C-11-14-etc-support-td7717.html

[2018-11-07 16:14] drwells opened #385 "d_master_idx in IBBeamForceSpec"
AFAICT we never read this: we just pack and unpack it. We might want to just delete this member variable.

I noticed this while reading #380.

[2018-11-07 16:15] drwells commented on #384
I am slightly in favor of leaving them in; they are, of course, redundant but the `= delete;` syntax is usually unfamiliar to C++ novices. Leaving some hints can't hurt.

[2018-11-07 16:21] boyceg commented on #384
Sounds good.

If you think that the current comments work with the new syntax, then let's just leave them as-is and close this issue.

[2018-11-07 16:23] boyceg commented on #385
Even though it is not currently used, let's leave it as-is. If we ever make support for these kinds of forces more flexible, it may be useful to be able to look up the master index from the specification object.

[2018-11-07 17:48] drwells commented on #384
The current comment doesn't make sense: of course a deleted method is not implemented. We should at a bare minimum delete those sentences.

[2018-11-08 02:55] boyceg commented on #350
I think we are all done?

[2018-11-08 02:57] boyceg commented on #350
Oh, wait, have we run modernize-use-equals-default? I only see one `= default` in the codebase; is that the only one modernize found?

[2018-11-08 03:15] abarret commented on #350
I don't know how that one got in there. I'm working on the ` = default` now.

[2018-11-08 19:55] boyceg commented on #350
OK, so now this really is all done. 👍

[2018-11-08 19:55] #350 closed

[2018-11-08 20:05] drwells commented on #382
@boyceg what would you think of sticking some of the newer graduate students with some of these refactoring jobs? It would help them get their feet wet, particularly if they are going to work with IBAMR in the future.

[2018-11-08 20:10] boyceg commented on #382
I think that would be a good idea. However let's coordinate via email rather than nominate folks on GitHub. :-)

[2018-11-08 20:56] drwells commented on #179
In case someone else wants to look into this: be aware that libgsl is underlinked: one must link executables that use GSL routines with a cblas library even if the executable itself does not use any cblas functions since libgsl igself requires a cblas.

[2018-11-08 21:29] drwells commented on #85
See the ibtk/CCLaplace example to see how one can use norms weighted by cell size.

[2018-11-08 21:55] boyceg commented on #85
This one is probably one that I should do, because it has the potential to change linear solver convergence properties, since it will change the definition of the norm. At a minimum, it will change the actual results (although hopefully not by a lot).

[2018-11-08 21:56] boyceg commented on #362
This would be good for a lot of projects! :-D

[2018-11-09 08:12] knepley commented on #85
Just so I understand, shouldn't it be l_1 and l_2? It sounds like you are taking the discrete norm \sum_i |v_i| which I would call l_1. The L_1 and L_2 norms would be proper integrals so weighting by cell size would not make sense.

[2018-11-09 17:29] boyceg commented on #382
@drwells is there a decent way to hunt for these in source code? Doing a grep on `*` will be less than ideal in this case.

[2018-11-09 17:37] drwells commented on #382
I think the best idea would be to look for explicit uses of `new` and `delete`.

[2018-11-09 17:38] abarret commented on #382
I look for these kinds of things doing a regex grep search. Private members begin with `d_` so searching for something in the header files that looks like
`.*\* d_`
should match member variables that are raw pointers except for a few false positives, which you could get rid of by doing a better typename search than `.*`

[2018-11-09 17:40] drwells commented on #382
Another possibility with this PR would be to replace things with values.

[2018-11-09 18:13] drwells opened #388 "Replace std::ostringstream with std::to_string"
This is another easy task to fix that I have seen a lot: there are lots of places where we write, e.g.,

[code]
when, with C++11, we could simply write
[code]

[2018-11-09 18:44] boyceg commented on #388
@roberthunt4 this could be a good one for you.

[2018-11-10 05:01] boyceg opened #390 "use std::vector<T>::data() where possible"
We get a pointer to the data in `std::vector<T> x` using the idiom `&x[0]` all over the place. In C++11, this can be replaced by the much better `x.data()`.

Let's use `std::vector<T>::data()` where possible.

[2018-11-10 05:04] boyceg commented on #390
This also allows use to remove a bunch of checks that `x.size() > 0`. E.g. it is common to see horrible code like `x.empty() ? nullptr : &x[0]` or the like. We can get rid of this too, since `x.data()` works even if `x` is empty.

[2018-11-10 05:05] boyceg commented on #390
The only thing to be on the lookout for is that `x.data()` is not guaranteed to be `nullptr` if `x` is empty --- so anywhere that we rely on the pointer being null if `x` is empty, we still need to be careful.

[2018-11-12 16:23] boyceg commented on #359
I think this is closed by #391.

[2018-11-13 03:17] fuhuifang commented on #358
That makes sense. I'll make those changes.

[2018-11-13 20:04] boyceg commented on #359
Now we can close this I think.

[2018-11-13 20:04] #359 closed

[2018-11-14 03:58] fuhuifang commented on #382
What's the best way to rewrite this line?
`std::vector<void (*)(const double, const double, const int, void *)> d_prefluidsolve_callback_fns,
        d_postfluidsolve_callback_fns;`

[2018-11-14 04:01] boyceg commented on #382
This is a list of function pointers --- in C++11 you can use `std::function` --- see: https://en.cppreference.com/w/cpp/utility/functional/function.

[2018-11-14 04:04] boyceg commented on #382
I haven't used `std::function` yet, but I think that you would write:

[code]

I don't know if there is a C++11 replacement for `void*`, which is used to pass a pointer to "any" type.

[2018-11-14 04:05] boyceg commented on #382
While we are at it, there is no need to put `const double` or `const int` in the function specification -- so this should be
[code]

[2018-11-14 14:44] drwells commented on #382
`std::function` is preferable to function pointers (if, for no other reason, than to avoid the bizarre function pointer syntax) but its outside the scope of this issue. I'll open a new one :)

[2018-11-14 14:46] drwells opened #394 "Use std::function instead of function pointers"
From #382: we should replace, e.g.,

[code]
with
[code]

As usual, lets not modify any public interfaces.

[2018-11-14 19:05] drwells opened #395 "Replace update_and_sync with System::update?"
I was reading through some documentation for `libMesh::System` when I noticed the function `virtual void libMesh::System::update()`, which is described as 'Update the local values to reflect the solution on neighboring processors.' It might make life easier to rely on libMesh (i.e., this function in particular) to update ghost data.

[2018-11-15 03:09] boyceg commented on #358
Addressed by #393.

[2018-11-15 03:09] #358 closed

[2018-11-26 18:33] drwells opened #400 "Add some parallel tests"
From #393: we managed to break some stuff in #380 that was not obvious when running serial tests. We should execute some tests in parallel.

We presently execute tests in the following way:

[code]

It would be relatively straightforward to execute tests via `mpirun -np 2`, where we will have to determine the correct MPI launcher with `configure`.

This exposes another flaw in the test suite: we h

[2018-12-05 16:23] drwells opened #407 "add definitions for common MPI types"
I have, while working on #396, used the wrong MPI types more than once since I have hacky methods of figuring out the MPI type corresponding to a libMesh type, e.g.,

[code]

We should add a header that figures this stuff out for us to prevent these bugs.

[2018-12-05 19:49] drwells opened #408 "document some basic git workflows"
From #396: we should add some notes describing, for people who want to use IBAMR, how to do some basic things with Git:
- clone repositories
- pull feature branches
- submit PRs
- rebase

[2018-12-06 18:09] drwells opened #410 "Add support for documentation modules"
From emails this week: we should support higher level documentation that covers multiple library features (e.g., extracting Lagrangian data). It should be possible to add this type of page to the generated Doxygen by putting the text in a header and instructing doxygen how to handle it.

[2018-12-11 20:32] drwells opened #411 "Improve C++11/C++14 detection"
I just ran into an issue with selecting the correct version flag and libMesh: since newer versions of g++ default to `-std=gnu++14` it is possible, without user intervention, that libMesh gets compiled with C++14 support. The problem with this is we strictly enforce, at the moment, the flag `-std=c++11`.

We should try to detect if libMesh was compiled with C++14 support: if so, and if the compile

[2018-12-11 20:43] boyceg commented on #411
Hmmmmmmmmm — this will also affect SAMRAI configuration.

[2018-12-11 20:44] drwells commented on #411
I don't think SAMRAI 3.12.0 tries to use anything newer than C++11; does it?

[2018-12-11 21:09] boyceg commented on #411
Does it cause any problems if SAMRAI is configured to use C++11 and libMesh/IBAMR are configured to use GNU's C++14 extensions, as long as everything is using the same compiler?

[2018-12-13 20:14] abarret opened #413 "IBStandardInitializer should fail when file exists but not readable"
`IBStandardInitializer` quietly ignores files that can't be opened. It should either quit or at least emit a helpful warning message.

C++ seems to be ill equipped to deal with this. As @drwells pointed out, we can either use C++17's file system library (which requires C++17), boost's version of the file system library (which requires a compiled boost build), or stat (which is non-standard). None

[2018-12-13 20:58] boyceg commented on #413
How about we do the error checking if configure can find a working stat? This would be a good feature to put into a macro that is only active if stat works.

[2018-12-13 20:59] boyceg commented on #413
Or it could default to C++17 if available...?

[2018-12-13 21:31] drwells commented on #413
We are already tied to UNIX; I don't think any platform we can use does not have `stat` :wink:

I think we should just do a feature check in `configure` for stat and define `IBAMR_HAVE_STAT` if it works. Then we can write

[code]

[2019-01-09 13:52] #411 closed

[2019-01-09 14:31] drwells opened #424 "The 0.4 Release"
The current situation with C++ version support causes confusing compilation in 0.3.0 that were just fixed for 1.0 (see #423). I believe that we can solve this with the same approach by making C++11 support optional, but the default: i.e., let libMesh detect C++11 support if it is available (and do not instruct users to provide any flags like `--disable-cxx11` or `--disable-unique-ptr`). This shoul

[2019-01-14 08:29] Vidhumkl opened #427 "Configuring error in IBAMR"
I am trying to install IBAMR on ubuntu 18.04 with following third party libraries
1. boost 1.60.0
2. Eigen 3.3
3.HDF51.8.16
4. silo 4.10.
5. muParser, MPI & Hypre -installed by Petsc
6. PetSc 3.10.3
7.Samrai 2.4.4
8.Libmesh 1.2.1
And while configuring IBAMR with code
"
cd $HOME/sfw
mkdir ibamr
cd ibamr
git clone https://github.com/IBAMR/IBAMR.git
cd $HOME/sfw/ibamr
mkdir ibamr-objs-dbg
cd ibamr-ob

[2019-01-14 13:54] boyceg commented on #427
It looks like you may need to use “--with-libmesh-method=dbg” instead of “--with-libmesh-method=db”. Make sure that you have build libMesh with the “dbg” method enabled.

[2019-01-15 02:06] Vidhumkl commented on #427
yes. I have used "dbg " only. it is a typographical error on composing
message..

On Mon, 14 Jan 2019 19:24 Boyce Griffith <notifications@github.com wrote:

[2019-01-15 02:47] drwells commented on #427
Would you please attach the complete `config.log`? That would help determine what is going on.

[2019-01-15 06:44] Vidhumkl commented on #427
[config.log](https://github.com/IBAMR/IBAMR/files/2758299/config.log)
Pls find the attached file...

[2019-01-15 14:07] drwells commented on #427
It looks like configuration is failing here:

[code]

The best way to fix this is to use the provided MPI compiler wrappers: e.g., before running configure, use
[code]
(your version of MPI may give things slightly different names; those are the openmpi compiler wrapper names)

or, alternatively, provide `CC`, `CXX`, `FC`, and `F77` as arguments to configure.

[2019-01-16 18:11] drwells opened #429 "Closing vectors in FEDataManager::computeL2Projection"
We are spending a surprising (about 20% on some processors) amount of time in `libMesh::PetcVector::close` inside the L2 projection. We should look into getting rid of these calls to `close` if possible.

[2019-01-16 19:25] boyceg commented on #429
Is this real time spent, or is it load imbalance at synchronization points?

[2019-01-16 19:39] drwells commented on #429
I think both: all processes spend between 10-20% of their overall run time in that function. The processors with better workloads (that spend a relatively small amount of time, overall, polling) still spend 10% of their time calling close. The other 10% seems to be from a load imbalance (those processors spend a lot more time polling in other places too).

[2019-01-16 19:45] drwells commented on #429
(these numbers are from profiling afterload test 10 with 16 processors, by the way)

[2019-01-16 20:13] drwells commented on #429
Yup.

[2019-01-16 20:13] boyceg commented on #429
Take a look at #430.

[2019-01-19 04:33] drwells opened #432 "Move computeInteriorForceDensity to FEDataManager"
This is another bottleneck that shows up when we have multiple parts: since the part number is an argument to `computeInteriorForceDensity` we cannot use the trick from #431 to handle the case where a processor has lots of quadrature points on one part and few on another part. Since this function really just deals with libMesh data it makes sense for it to be in `FEDataManager` anyway.

[2019-01-19 04:34] drwells commented on #432
From profiling: we spend about 30% of our time in the heart model calling this function. We spend roughly half of that calling `PetscVector::close` (which is time mostly spent with our friend `VecAssemblyBegin`).

[2019-01-19 11:39] boyceg commented on #432
Do not move this out of IBFEMethod. This function is specific to volumetric elastic structure models, which is not the only case supported by FEDataManager. This function would be different for shell models, for instance. The point of the design is to separate these model-specific implementation details from the coupling algorithms.

Keep it in IBFEMethod but refactor to reorganize the synchroniza

[2019-01-20 09:56] Vidhumkl commented on #427
thank you for help. I was down with fever for few days. I am able to build and make ibamr. but while making examples following error came:
collect2: error: ld returned 1 exit status
Makefile:558: recipe for target 'main2d' failed
make: *** [main2d] Error 1

Please help me on this..

[2019-01-22 02:35] boyceg commented on #427
Can you send the full error message?

[2019-01-22 04:57] Vidhumkl commented on #427
Pls find the attached file
[build error_examples.txt](https://github.com/IBAMR/IBAMR/files/2781327/build.error_examples.txt)

[2019-01-22 13:38] boyceg commented on #427
These errors suggest that you compiled SAMRAI and IBAMR with different MPI compiler wrappers.

All libraries that use MPI (PETSc, SAMRAI, libMesh, and IBAMR) need to use the same version of MPI. The easiest way to ensure this is to use the same MPI compiler wrappers (mpicc/mpicxx/mpifort) when building each of these libraries. There is no harm in specifying these as the C, C++, and Fortran compile

[2019-01-22 20:35] drwells commented on #432
This is a lot less significant with one part so lets shelve this for now: we have two good approaches for getting rid of multiple parts.

[2019-01-23 21:39] drwells opened #434 "More Eigen fixes"
While writing #428 I missed adding fixes for the Eigen aliases defined in `ibtk_utilities.h`: e.g., `IBTK::Point`, `IBTK::Vector`, etc.

I thought about this some more and I think trying to constantly fix these is a losing battle: any time we add these as member variables we are asking for trouble, since allocating such an object on the heap may cause segmentation faults on reads. Furthermore: ena

[2019-01-23 21:45] boyceg commented on #434
It's OK with me.

Could/should we just re-use the libMesh objects and make libMesh a non-optional dependency?

[2019-01-23 21:45] drwells commented on #434
I would prefer to roll our own so that we can implement conversion constructors/operators to and from Eigen objects and libMesh objects, or anything else we need.

[2019-01-23 21:46] boyceg commented on #434
OK with me.

[2019-01-24 19:52] drwells opened #435 "Error out earlier if libMesh was compiled without PETSc"
@xxjaehoxx hit this earlier and, while `configure` does eventually fail, the error message we get is not great. We should quit `configure` earlier if `libMesh` is compiled without PETSc.

[2019-01-26 00:53] drwells opened #436 "Avoid calling FE::reinit when possible."
The heart solver (with the afterload 10 benchmark) spends about 20% of its time calling `libMesh::FE::reinit`: unfortunately, specifying exactly what needs to be recomputed to libMesh is a bit tricky so we end up doing a lot of work there. In other benchmarks that have thicker structures (e.g., IBFE/explicit/ex4) we spend nearly half of our time calling this function. I'll have to do some more pro

[2019-01-26 05:42] Vidhumkl commented on #427
thank you will try to complie

[2019-01-26 18:52] Vidhumkl commented on #427
I re- built PETSc, SAMRAI and Libmesh with same complier wrappers
export CC=mpicc
export CXX=mpicxx
export FC=mpifort
export F77=mpifort
But the error resulted the same. Help me on this. Attaching entire make example log.....
[build error_examples.txt](https://github.com/IBAMR/IBAMR/files/2799382/build.error_examples.txt)

[2019-01-26 21:55] boyceg commented on #436
`FEMap` _does_ use the element geometry for evaluating any quantities in "physical" coordinates. It does not depend on only the FE order / FE family. In particular, for `JxW` and derivatives of shape functions, it needs to know the mapping from the reference element to the physical configuration of the element.

[2019-01-26 22:04] drwells commented on #436
@boyceg I think you're right but we need to be careful: `FEMap::init_reference_to_physical_map` does something with the FE order and type, and we do call it: however, I am pretty sure the data it computes is not read again.

[2019-01-28 20:59] drwells opened #438 "Running bootstrap updates configuration on master"
Running the updated `bootstrap` script (see #426) still changes things on master. Should we rerun this script on `master` and push the result? Is this deliberate?

@abarret *ping*

[2019-01-29 01:52] drwells opened #439 "Vector caching makes some examples fail"
IBFE/explicit/ex10 and IBFE/explicit/ex11 now crash due to incorrectly set up `libMesh::PETScVector`s. I used bisect and found that this happened after d94e1e0dcd5a106.

This is one of the problems with #372: we don't print out failing tests: the failures are hidden in make messages in a giant log instead of being easy to find.

[2019-01-29 16:52] drwells opened #441 "Roll our own replacement for NINT"
Surprisingly, gfortran uses `lround` to compute the value of `NINT` and this is relatively expensive: about 1.6% of our total run time is spent calling this function. Even more surprising: this is apparently more expensive than `SQRT` since gfortran manages to inline the later but not the former.

Since this is called when we already know that the resulting integer is positive (I think) we could j

[2019-01-29 17:01] drwells commented on #441
`-finline-functions` might be enough to make this happen; I am investigating.

[2019-01-29 17:03] abarret commented on #438
Hmmm... It looks like most of the changes are in `ibtk/contrib/muparser` or `ibtk/config` and they seem to be mostly benign (or at least to my untrained eye they do). My guess is that whenever we initially started switching to the newer version of automake we never included these updated config files. I'll create a pull request.

[2019-01-29 17:52] drwells commented on #441
Nope: turning on more optimizations doesn't seem to help at all (the number of cycles is identical).

[2019-01-30 03:01] boyceg commented on #441
Intel docs ([see here](https://software.intel.com/en-us/fortran-compiler-developer-guide-and-reference-nint)) suggest implementing `NINT(a)` as `INT(a+0.5)` for `a .gt. 0` and as `INT(a-0.5)` for `a .le. 0`.

[2019-01-30 04:05] drwells commented on #441
I am a bit annoyed that gfortran, with maximum optimizations, cannot inline this function :(

[2019-01-30 04:12] boyceg commented on #441
I just started down the rabbit hole of compiling the FORTRAN kernels with `-fopt-info-all`... Some inner loops are getting vectorized.

[2019-01-30 04:15] boyceg commented on #441
One annoying thing here is that, because I haven't managed to escape FORTRAN 77 yet, changing `NINT` to a new function with a longer name requires re-wrapping a bunch (too many!) lines.

[2019-01-30 04:41] boyceg commented on #441
Apparently there is a link-time optimization flag, `-flto`, that may result in more aggressive inlining with gfortran.

[2019-01-30 05:06] boyceg commented on #441
You could try `flang` (LLVM Fortran compiler). Apparently you can get it through Spack.

[2019-01-30 05:07] boyceg commented on #441
(If you mix-and-match LLVM and GCC compilers like I do on MacOS, this probably will not be effective unless you can use the GCC compilers for linking.)

[2019-01-30 15:15] drwells commented on #441
I have no idea if `-flto` can be used with multiple compilers; IIRC GCC actually outputs some GIMPL and other intermediate data structures that it uses to do more code generation at the end.

[2019-01-30 18:02] drwells opened #444 "Improve performance of JxW calculations"
libMesh implements this (for isoparametric elements) in a very general way that is lacking some optimizations that might help us. We spend about 7% of our overall run time just computing `JxW` (that is, Jacobian times quadrature weight) because loops are in different functions, branches are in the wrong order (e.g., at each quadrature point we check what computations we need to do, instead of chec

[2019-01-30 18:13] drwells opened #445 "Cut down on calls to VecGetOwnershipRange"
This shows up surprisingly often in callgrind profiling: it is about 5% of our total run time. We call it a lot, apparently, in  `IBTK::get_values_for_interpolation` and `IBTK::FEDataInterpolation::collectDataForInterpolation`. We should find a way to cut down on these calls: we call it roughly one million times per time step which is silly.

This function is dead simple: it just [reads two intege

[2019-01-30 18:46] knepley commented on #445
That sounds very suspicious. Are you sure callgrind is not screwing up? That function should be inlined in optimized mode anyway.

[2019-01-30 18:52] knepley commented on #445
Crap. The linked code is misleading because Barry has stripped out the checking code. If you call any function that often, the checking code can become onerous. Can you try two things for me:
1) Change the first line to "PetscFunctionBeginHot" and rebuild. This will turn off stack building here, which is unnecessary anyway.
2) Run using -check_pointer_intensity 0, which turns off those pointer che

[2019-01-30 18:56] drwells commented on #445
"Its not paranoia if they are actually out to get you"

More seriously: unless I am mistaken this function is not marked as inline: I see
[code]
in `petscvec.h` (PETSc 3.10.0) so I don't see how it could possibly be inlined.

[2019-01-30 19:03] drwells commented on #445
I did all the profiling with my 'system' copy of PETSc on a personal machine: I'll have to recompile a lot of stuff to try that patch so I cannot test this immediately. I'll try to get to it later this week.

[2019-01-30 19:04] knepley commented on #445
Very short functions, if the only thing that happened was setting the values, will be automatically inlined by an optimizing compiler without the PETSC_INLINE directive.

[2019-01-30 19:05] drwells commented on #445
I don't see how this can happen without requesting link time optimization, in the current case; the implementation is not in a header (its in `src/vec/vec/interface/vector.c`).

[2019-01-30 19:13] knepley commented on #445
Ah, yes. Only in the same compilation unit. Okay, we could move it inside the header if those optimizations I sent do not work.

[2019-01-30 23:33] drwells commented on #444
@boyceg what would you think of assigning this as a project for a graduate student? I can handle the code review process. It would be a nice introduction to 'how to write fast unstructured grid FE codes).

[2019-01-31 14:12] drwells commented on #444
I have a few more thoughts on this. I am pretty sure I know how to do this in an efficient way.

We should come up with an abstract base class `JacobianBase` that has a single virtual method `const std::vector<double>* JacobianBase::get_jacobians(const Elem *elem)`. We then inherit from `JacobianBase` with classes that have fixed (via template parameters) dimension, space dimension, and element sh

[2019-01-31 19:55] drwells commented on #388
Lets give this to @jabrown893 to give him some practice for #444.

[2019-01-31 21:44] drwells commented on #445
I think I figured this out from inside IBAMR. We are calling this function at every single quadrature point, which is really unnecessary, but we can avoid it. I'll have a patch later today or tomorrow.

[2019-01-31 21:58] boyceg commented on #445
`get_values_for_interpolation` is ripe for optimization. We should be able to cache & reuse the mapping from DOFs to local indices.

[2019-01-31 23:11] drwells commented on #445
For non-ghost indices the mapping is really simple: just subtract an offset.

[2019-01-31 23:33] boyceg commented on #445
Sure, but you have to check if you are in the local range or not — and isn’t that the function that is showing up prominently in callgrind?

[2019-01-31 23:46] drwells commented on #445
Yes, but if we poke `libMesh` in just the right way it will write down those values and stop calling `VecGetOwnershipRange` every time we need to do a range check.

[2019-02-01 06:15] boyceg commented on #424
Perhaps all of the performance fixes that we are currently throwing into master? :-D

[2019-02-01 06:16] boyceg commented on #395
I think for now we should continue to do this ourselves --- and, in particular, directly use `VecGhostUpdateBegin`/`VecGhostUpdateEnd` where appropriate.

[2019-02-01 06:16] #395 closed

[2019-02-01 06:19] boyceg commented on #337
I think it would be useful to get Jenkins or Travis set up to suggest reformatting for folks who are not running the `clang-format` git precommit hook.

[2019-02-01 07:13] abarret commented on #337
I started a Jenkins job to do this, but then I went back to working on other things before finishing it. I'll see where it's at and try to finish it tomorrow.

[2019-02-01 16:15] drwells commented on #424
Honestly, I think thats the right thing to do: we aren't close to pulling the trigger on the SAMRAI 3 transition and we have made a lot of progress on improving IBAMR since the 0.3 release. It would make sense to do another major release that requires C++11 with what we have (and the rest of #436) and any other imminent fixes. We should aim to get that out in February.

[2019-02-01 19:16] abarret commented on #337
I added a Jenkins PR job if someone wants to take a look at it before I enable it.

It's designed to run `clang-format` on all the changed files and then emails a patch to all the users in the PR.

[2019-02-01 19:59] drwells commented on #337
We should probably run clang-format ourselves on `master` before turning this on. I will take a look.

[2019-02-01 20:11] drwells commented on #337
@abarret What version of clang format did you set up to run on Jenkins?

[2019-02-01 20:18] drwells commented on #427
Most of the errors look like
[code]
I am not sure how to fix this, but this is not a problem with IBAMR: it looks like the final program is not linked with the same MPI library as SAMRAI expects. My best guess is that you have compiled SAMRAI with one MPI version and IBAMR with a different IBAMR version, but I don't know for sure what has happened.

[2019-02-01 20:19] abarret commented on #337
I just used whatever was already on the server. Looks like it is version 3.8. I can build a newer one though.

[2019-02-03 03:09] xxjaehoxx opened #452 "Vectors not ghosted after restart -- restart not working"
Opening an issue to track this. Restart is not working anymore using the most up-to-date master branch. Vectors are not ghosted after restart. Below is the actual error message.

[0]PETSC ERROR: --------------------- Error Message ------------------------------------------------------------
--
[0]PETSC ERROR: Invalid argument
[0]PETSC ERROR: Vector is not ghosted
[0]PETSC ERROR: See http://www.mcs

[2019-02-03 03:15] drwells opened #453 "Add a macro for deprecation"
We should implement `IBAMR_DEPRECATED` as, if possible, `[[deprecated]]` or `__attribute__((deprecated))`.

[2019-02-03 03:16] drwells commented on #453
We should deprecate the parts of `FEDataManager` related to quadrature rules once this is in.

[2019-02-03 03:17] boyceg commented on #453
There are some `IBTK_DEPRECATED_XXX` macros in `ibtk_utilities.h`.

[2019-02-03 03:18] boyceg commented on #453
And some `IBAMR_DEPRECATED_XXX` macros in `ibamr_utilities.h`.

[2019-02-04 19:55] drwells opened #455 "Unify all restart code via SAMRAI"
From a comment @boyceg made in #454:

Our libMesh restart code is pretty ad-hoc: it would be great if we could get a unified restart interface that lumps all the IBFE restart stuff into the same box as the SAMRAI stuff.

[2019-02-06 15:57] drwells commented on #452
I believe that this was closed by #456.

[2019-02-06 15:57] #452 closed

[2019-02-06 16:03] drwells commented on #445
Fixed by #457.

[2019-02-06 16:03] #445 closed

[2019-02-06 18:39] drwells commented on #436
FEDataInterpolation takes up only a small amount of the total run time (it totals at 5%, while something like `interpWeighted` is closer to 50%) and is not a massive source of bottlenecks like `spread` is, so I think we should close this for now: the 'high priority' part of easy to implement performance improvements is done. I'll open a separate issue for it like the `JxW` calculations.

We lowere

[2019-02-06 18:39] #436 closed

[2019-02-06 18:40] drwells opened #460 "Improve performance in FEDataInterpolation with caches"
We should use the new FECache, FEMapCache, and QuadratureCache objects in the FEDataInterpolation class. This won't buy us as much as the optimizations in `FEDataManager::interpWeighted` but it will improve performance by roughly 2-3%.

[2019-02-06 19:18] boyceg commented on #429
I think this is addressed by #430.

[2019-02-06 19:18] #429 closed

[2019-02-06 19:40] drwells commented on #460
Another possible improvement comes from localizing the vector, but this requires some care as if we get the pointer to the localized buffer and then restore it we may invalidate other copies of said pointer: the safe thing to do is to just copy the vector sin FEDataInterpolation itself does not own any data.

[2019-02-06 19:44] drwells commented on #429
Yup. We also have to wait for all processors to finish interpolating velocity, which is the main reason we get stuck here a lot.

[2019-02-06 22:11] Vidhumkl commented on #427
Thank you for the help.
I tried using open mpi and it worked. There is a new error came while making optimised build.
posting the error and the entire log.

Makefile:4684: recipe for target '../src/lagrangian/libIBTK2d_a-FEDataInterpolation.o' failed
make[2]: *** [../src/lagrangian/libIBTK2d_a-FEDataInterpolation.o] Error 1
make[2]: Leaving directory '/home/vidhu/sfw/ibamr/ibamr-objs-opt/ibtk/lib'

[2019-02-07 03:43] drwells opened #464 "Use emplace in maps instead of std::unique_ptr"
We currently use `std::map<unsigned int, std::unique_ptr<SystemDofCache>>` in `FEDataManager` since `SystemDofCache` objects are not default constructible. Since the objects are not default constructible the usual `map[key]` call doesn't work. However, since these maps are all protected or private (and we want to avoid `operator[]` anyway) we can get rid of pointers and insert new items via `empla

[2019-02-07 17:46] drwells opened #466 "Pick file modes once"
We have a lot of code that looks like
[code]
where we have the same `if` statement repeated a dozen times in a row. We should clean this up by just doing
[code]
instead.

[2019-02-07 22:18] drwells commented on #436
Quick update, for anyone following this thread: @cpuelz just reported that the heart model is running about 2x faster now that these are in :tada: :tada: :tada:

We should keep using callgrind to improve performance. I will open more issues if I come across more bottlenecks that are straightforward to fix.

[2019-02-08 06:45] boyceg opened #469 "the call to setToScalar() in FEDataManager::spread() takes up a surprising fraction of runtime"
The relevant line is [here](https://github.com/IBAMR/IBAMR/blob/3773d45358d6a2f8ae566d0631e800a3e9151d20/ibtk/src/lagrangian/FEDataManager.cpp#L591).

I tried replacing this with code that uses `std::fill(f_data_pointer_begin, f_data_pointer_end, 0.0)`, which on my Mac was turned into an optimized routine to zero out memory, and it made only a small difference in runtime.

I _think_ that what is g

[2019-02-08 21:42] drwells opened #470 "Reset background workload estimates in IBMethod."
This is currently in `IBFEMethod`, but shouldn't be: it would make more sense for `IBHierarchyIntegrator::regridHierarchy()` to reset the Eulerian workload estimates on each cell to 1 and then let `IBFEMethod` add into it via `FEDataManager`. However, its not clear to me how this would work with the current `IBMethod` load balancing implementation: we should sort this out at some point.

[2019-02-08 21:43] drwells commented on #470
This is lower in priority than dealing with the partitioning but we should deal with it at some point.

[2019-02-11 18:36] drwells opened #473 "Fix element ordering in bounding boxes"
From the libMesh mailing list:

Unfortunately we currently rely on `Elem::id()` forming a consecutive range inside `FEDataManager::computeElementBoundingBoxes()` In particular: that function computes, essentially, a `std::vector<BoundingBox>` that is indexed at creation time by element ids.

I think that we can sidestep this issue by making everything about that method `private` and simply definin

[2019-02-11 18:41] drwells commented on #473
Wait, nevermind: this isn't right at all. I completely misread the implementation of `computeElementBoundingBoxes`: it uses the global element ids which should always form a contiguous range.

[2019-02-11 18:41] #473 closed

[2019-02-11 18:46] drwells opened #474 "Refactor PartitioningBox into PartitioningBox and BoundingBox"
We have an ad-hoc bounding box implementation in `FEDataManager` that is the same as `PartitioningBox`, except that `PartitioningBox` uses half-open intervals. We should move most functionality of `PartitioningBox` into a base class and then use a template parameter to specify that we want a half open interval (and a different template parameter to specify an open interval for `BoundingBox`) to cl

[2019-02-11 19:04] boyceg commented on #427
This looks like an error related to libMesh and IBAMR using different C++ flags. @drwells, didn't you push something related to this recently?

[2019-02-11 19:15] drwells commented on #427
Sorry for the slow response; I missed the latest update to this thread.

@Vidhumkl libMesh will compile itself with C++14 support if it detects that it is available: this is a known problem with certain GCC release on the master branch. I believe the best fix is to simply compile IBAMR with
[code]
where `[...]` stands for the rest of the arguments provided to the configuration script.

[2019-02-11 19:40] drwells commented on #424
Given that #427 exists I will try to find time to put out the new release this week once the partitioner code is merged in.

[2019-02-12 04:59] Vidhumkl commented on #427
Thank you for the reply.. When I searched based on error it showed that function is a C++14 version. So I configured with  g14 version and worked fine.

[2019-02-12 05:01] Vidhumkl commented on #427
Thank you for the help. I also got similar input from the search of the error. I configured and made the IBAMR successfully yesterday.... Thank you once again....

[2019-02-12 05:01] #427 closed

[2019-02-12 05:43] boyceg opened #476 "apparent parallel libMesh periodic BC issue"
It seems like there is a longstanding bug in handling periodic boundary conditions with `examples/IBFE/explicit/ex1` in parallel. I can reproduce this on a number of different points in the history by setting
[code]
and running on four processors. There will be a clear aberration in the x-component of the velocity field at the location where the periodic boundaries of the structure meet.

[2019-02-12 05:57] boyceg commented on #476
(This seems likely to be an error in the way that I am setting up the periodic boundary condition specification.)

[2019-02-12 15:44] drwells commented on #427
I'm glad it worked!

[2019-02-12 19:24] drwells opened #477 "Implement registerLoadBalancerSpecialized"
Followup to #415.

The idiomatic approach in IBAMR to the old problem 'this does all the things the inheriting class method does but more' is to implement non-virtual `Foo::doX` and virtual `Foo::doXSpecialized`. We should give `HierarchyIntegrator::registerLoadBalancer` this treatment so it matches the approach used everywhere else where the base class method needs to be called but inheriting cla

[2019-02-12 19:26] drwells commented on #470
I thought about this some more today: we should, as part of the partitioning patch, make the most of this opportunity and clean up the whole 'who adds what into the workload estimates' code while we are there. I am working on this now.

[2019-02-12 19:27] drwells commented on #407
This has come up only once or twice so far, deep in the guts of IBAMR. Its not that important. Lets close it for now.

[2019-02-12 19:28] #407 closed

[2019-02-12 19:31] boyceg commented on #407
I was actually thinking the _opposite_ recently when reviewing some of the partitioning PRs!! ;-)

But, this is OK with me.

[2019-02-17 23:37] drwells opened #482 "Use FECache in FEDataInterpolation"
We seriously need to do this: fixing this should be easy and we still spend a ton of time recomputing shape functions.

[2019-02-17 23:39] drwells commented on #482
Between this, the dof caching, and #444 we should be able to cut off another 15-20% of total run time, which would be nearly as good as the first round of serial performance patches.

[2019-02-18 14:44] drwells commented on #424
Lets get this done this week since people keep having C++14 issues. Here is the checklist:
- [ ] Finish partitioning (i.e., review and merge #479)
- [ ] Use FECache in FEDataInterpolation (see #482)
- [ ] Improve the performance of SystemDofMapCache (i.e., review and merge #481)

[2019-02-19 18:00] drwells commented on #482
Another function to tackle in this class is interpolateCommon. We call this so many times that it may be worthwhile to use some more expensive optimizations:
1. Use denser objects than `std::vector<std::vector<std::vector<std::vector<VectorValue>>>>`. We can probably use `boost::multi_array`.
2. Template the function based on the number of basis functions per cell so that we can unroll some loops.

[2019-02-21 18:21] drwells commented on #482
I want to get to this soon but, given the C++14 issues, I think this should wait until after we push out another release.

The heart model spends about 17% of its time calling this function, most of which is spent recomputing shape function values. However, since the current version of this class handles multiple systems and finite elements its not trivial to put in FECache and initialize things c

[2019-02-21 18:53] drwells commented on #470
This was fixed by #478.

[2019-02-21 18:53] #470 closed

[2019-02-21 18:54] drwells commented on #460
I completely forgot that I already had an issue for this when I opened #482. Lets move the discussion there.

[2019-02-21 18:54] #460 closed

[2019-02-21 18:54] drwells commented on #438
Fixed by #451.

[2019-02-21 18:54] #438 closed

[2019-02-21 19:22] drwells commented on #477
This is not vital functionality (there is not much one could do with a load balancer registration callback) so I am removing this from the 0.4 milestone.

[2019-02-22 01:16] drwells opened #487 "Run clang-format"
I just ran clang-format and it wants to reindent essentially every single file we have (about 450 files). What version of clang-format did we use in the past? I tried both 6 and 8 and got huge change sets.

In the future, we should set up a travis instance to check indentation so that we cannot commit to master unless someone has indented their PR with clang-format. We should also run clang-format

[2019-02-22 01:52] boyceg commented on #487
I currently have:
[code]
There doesn’t seem to be a way to force different versions to interpret the settings consistently, so there can be drift.

I use a pre-commit hook that runs clang-format on the diffs, and I think that we explicitly encourage folks to do this.

There is a script that you can use to reformat the library in IBAMR/scripts/reformat.sh. Here is what it does:
[code]
When I do thi

[2019-02-22 02:19] drwells commented on #487
I saw the same thing (prototypes). I also saw that lines where we added `override` need to be split now.

[2019-02-22 02:25] #435 closed

[2019-02-22 02:56] drwells opened #488 "Add notes on input/restart databases"
We should document how the restart and input databases interact with each-other. I am assigning myself so that I understand this topic.

See the discussion in #483 for information on how this happens.

[2019-02-22 16:31] drwells commented on #424
@jabrown893 Will you be around this afternoon? It would help me out if you could download the release candidate (which is not yet released) and check that it compiles and runs on a mac.

[2019-02-22 16:48] jabrown893 commented on #424
@drwells I will be around kind of intermittently. I have an appt. to give blood at 2:45.

[2019-02-23 07:30] amneetb commented on #179
How about using something like this instead?

https://github.com/ampl/gsl/blob/master/gsl.m4

[2019-02-25 19:17] drwells opened #490 "Get rid of strdup where possible"
It should be possible to get rid of some explicit calls to `free` by redoing control flow: in particular, instead of using `strdup`, we should set up `std::vector<std::string>`, then set up `std::vector<char *>` in the same scope with `string::c_str()`, and then let the usual mechanism clean up memory used by the strings.

[2019-02-27 17:39] drwells opened #492 "Explicitly partition libMesh data into interaction and non-interaction parts"
I have been doing some more profiling with callgrind (I recently learned how to use callgrind with MPI, which gives a complete picture of where the process spends it time). It looks like as we scale up to larger processor counts (e.g., 24 with the heart model) we are spending a lot of time exchanging data when interpolating the velocity. A large contributor to this imbalance is the amount of time

[2019-02-27 17:40] drwells commented on #453
I have been using these macros, but I would still like to make this change so that users notice deprecation at compile time.

[2019-02-27 18:57] drwells commented on #492
A few numbers, from my experiments so far:
1. with 6 processors we spent 29% of our cycles in `interpolateVelocity` and 15% of total cycles in vector assembly.
2. with 12 processors we spent 30% of our cycles in `interpolateVelocity` and 20% of total cycles in vector assembly.
3. with 24 processors we spent 24% of our cycles in `interpolateVelocity`: and 17% of total cycles in vector assembly.

Th

[2019-02-27 19:02] drwells commented on #492
This would be an excellent project for anyone who wants to do a deep dive into parallel computing :)

[2019-02-27 19:07] boyceg commented on #492
I think that the ghosted `Vec`s with the appropriate local entries are already available.

I had a branch, which I apparently have deleted, where I inserted everything into the local form of the ghosted `Vec` and then assembled using `VecGhostUpdateBegin`/`VecGhostUpdateEnd`. If we do that, would it avoid this sorting stuff?

[2019-02-27 19:53] drwells commented on #492
I think we have `X` vectors ghosted in the right way somewhere. I'll take a look.

I think that will work (again, as long as we set up the vectors with the correct ghost regions). Here is what PETSc says:

though since we never need to actually read ghost data on the RHS vectors I think we can skip the second two calls.

[2019-02-27 19:55] boyceg commented on #492
Everything is ghosted in the right way, otherwise things would break in parallel. :-) We just haven't explicitly used the ghosted representation.

[2019-02-27 20:03] drwells commented on #492
The vectors we read from to do the IB stuff are (they have to be, as you said) but I don't think the RHS vectors are, which is the source of our trouble. Is this correct?

[2019-02-27 20:30] drwells commented on #492
I can confirm that the RHS vectors are not ghosted in this way. I think the right way forward is to set up something like `d_U_rhs_IB_ghost_vecs`, assemble into that, and then copy the local part over to `d_U_rhs_vecs`.

[2019-02-27 20:36] boyceg commented on #492
IIRC there are performance differences when using ghosted/unghosted RHS vectors, so this sounds like the right approach.

[2019-02-27 21:20] drwells commented on #492
Sounds good.

[2019-02-27 22:41] drwells commented on #492
I believe the assembly timings above show that, as long as we use `batch_vec_assemble` and friends, the penalty for using multiple parts is acceptably small: the amount of time we spend assembling in `computeLagrangianForce` is very small, and so is the amount of time we spend in the linear solver (the percentages vary, but the L2 solve only takes about 1/10th the number of cycles that setting up

[2019-03-05 16:11] boyceg commented on #179
Is it adequate to follow GSL's own recommendations:

https://www.gnu.org/software/gsl/manual/html_node/Autoconf-Macros.html

[2019-03-06 03:55] ahmednislam commented on #268
I tried the whole process of using spack to install all the libraries as outlined in the "Building on Linux" page, so far everything went smooth,. But question is-->how to set the Debug and the Optimized Build for libraries like Samrai or PETSc. or llibMesh? And when ./configuring up the final IBAMR, where should the export PETSC_ARCH=linux-debug and export PETSC_DIR=<..> should point to?

[2019-03-06 16:06] drwells commented on #268
@ahmednislam If you want to use spack then you should install debug libraries like, e.g.,
[code]
I think SAMRAI, libMesh, and PETSc default to optimized builds.

At the end of installation spack will print out the installation prefix (including the hash). That is the value you need to provide to the IBAMR configuration script.

[2019-03-07 18:49] drwells opened #493 "Refactor IBFEMethod and IBFESurfaceMethod"
I have done a lot of work on IBFEMethod but have not touched IBFESurfaceMethod at all. These two classes are about 75% the same, so instead of duplicating every patch over both classes we should implement `IBFEMethodBase` to contain all of the libMesh logic: both `IBFEMethod` and `IBFESurfaceMethod` can inherit from that and then add their own stuff (e.g., stress normalization for `IBFEMethod`).

[2019-03-07 18:50] drwells commented on #493
An example of this is handling IB data in #492: it would be better to handle all of this in a common base class.

[2019-03-07 18:51] drwells commented on #493
Another example would be that we did a lot of refactoring in #412 for IBFEMethod that was not applied to IBFESurfaceMethod.

[2019-03-07 19:00] boyceg commented on #493
Yes, my "plan" here was eventually to have a common base class.

[2019-03-11 02:42] ahmednislam commented on #268
Ok, I will try that !!! Thank you !!

[2019-03-12 02:48] drwells commented on #492
I have made some progress on this. In case people are interested:
1. Setting up IB-ghosted RHS doesn't seem to help. Oddly (this may be a bug) only the first processor seems to own any ghost cells.
2. Caching IB-ghosted vectors doesn't help either.
3. The code for computing what dofs correspond to local assembly is reasonable.

[2019-03-12 03:18] drwells commented on #492
I am not sure whether there is something wrong with my code that calculates and prints it, or something wrong with how we set this up. I am looking into it.

[2019-03-12 17:29] drwells commented on #424
@xxjaehoxx To the best of my knowledge we were not able to get things working with commits predating 0.3, so I think we should go ahead with the release without this patch. We can always release 0.6 later if we figure it out.

[2019-03-12 23:19] drwells commented on #492
Yup: I moved the vector of IB dofs before creating the ghosted vector.

A few things to note:
1. In the heart model many processors have more IB ghost dofs than actual dofs. This is very surprising to me, since the IB ghost dofs should be, when we use the SAMRAI partitioner, the dofs on elements that intersect the ghost region of the locally owned patches. What is even more surprising is that usin

[2019-03-13 00:31] knepley commented on #492
4) Do you always use the same INSERT_MODE?  Its required for that option. The code is extremely simple for setting options, so I do not think there is a bug there. Are you positive you are calling it collectively? We do not check. For the latter problem, can you get stack traces when you get stuck?

[2019-03-13 03:19] drwells commented on #492
@knepley it gets stuck in the following stack:
PMPI_Iprobe and PMPI_Test
PetscCommBuildTwoSidedFReq_Ibarrier
PetscCommBuildTwoSidedFReq
VecAssemblyBegin_MPI_BTS
VecAssemblyBegin

on the *second* call to `VecAssemblyBegin`: the first one works correctly.

I don't think that we ever do anything but `VecSet(... ADD_VALUES)` so it should not be confused on insert modes. There are no checks for rank wh

[2019-03-13 10:38] knepley commented on #492
That is the scalable consensus algorithm. However, some MPI impls are buggy with this. You can try -vec_assembly_legacy to use Alltoall instead and see if it still hangs.

[2019-03-13 12:59] boyceg commented on #492
Are you sure that you are using the new partitioner?

Also, some of the structures have a relatively small spatial extent. For those, it is easy to believe that you wind up with more ghost DOFs than local DOFs.

What this is meant to do is to associate with every SAMRAI patch p the active libMesh elems that intersect p in their current (deformed) configuration.

There are two phases to the computa

[2019-03-13 16:34] drwells commented on #492
@boyceg thanks a lot for writing all of that; the later algorithm makes sense when we have isoparametric mappings. I am pretty sure that this uses the new partitioning code (I get different answers when I turn it off) but I'll check.

I think the deadlocks might be outside our ability to fix.

@knepley setting `-vec_assembly_legacy` fixes the deadlock (I am grateful that you knew that trick). If y

[2019-03-13 16:37] boyceg commented on #492
I think we are on the same page here, but it is worth emphasizing that even if the elements have straight edges in the reference configuration, they may have curved elements in the current configuration if we are using P2 or Q2 elements.

[2019-03-13 17:29] knepley commented on #492
I don't know of anything else you can tell the Stash to speed it up. It is just recording all the off-process entries, so knowing the size makes it really fast. It does pack them up at the end, which might take some time, but I do not know of an optimization for that. You can do VecAssemblyBegin/End(v, VEC_ASSEMBLY_FLUSH) to empty the stash in the middle. This could be used to overlap assembly of

[2019-03-14 17:01] drwells commented on #492
@knepley I generated another interesting backtrace when using `VEC_SUBSET_OFF_PROC_ENTRIES`:
[code]
This is in `VecAssemblyEnd_MPI_BTS`. The problem goes away when I use `vec_assembly_legacy`. I thought the communication pattern should be independent of the assembly algorithm, but this doesn't seem to be the case.

[2019-03-14 17:21] jedbrown commented on #492
`VEC_SUBSET_OFF_PROC_ENTRIES` is a pledge that the off-process entries in the assembly will always be a subset of those that existed in the first assembly. It allows reuse of some communication patterns. If you're sure this is the case, can you make a minimal test case? (I can build IBAMR to reproduce if needed, but try to make it as small as possible to help me debug.)

[2019-03-14 17:25] drwells commented on #492
We (mostly me) are abusing libMesh pretty badly to do a lot of assembly into entries that are not locally owned so its definitely possible that I am doing something wrong. I will write up a test case if I can convince myself that the problem might be outside IBAMR.

[2019-03-15 03:50] xxjaehoxx commented on #424
This sounds good to me!

[2019-03-15 17:54] drwells commented on #492
@jedbrown I came up with a test case independent of IBAMR that demonstrates what I believe is the same issue: I get a different error message on my workstation and this example hangs on my laptop when we save the communication pattern (things work as expected when we do not).

I left a lot of notes in the comments, but the issue only seems to occur when the current processor owns very few or no ro

[2019-03-15 18:10] drwells commented on #492
Here is the different error message that I can now get on my workstation:
[code]

[2019-03-19 13:49] drwells commented on #474
Some of the new stuff in #418 also could use an IBTK implementation of a box. It might also be helpful (though SAMRAI 3 might provide something similar) to extend our box implementation enough that we can use it with `boost::rtree`, which has a lot of really nice algorithms for querying collections of bounding boxes.

[2019-03-19 18:13] knepley commented on #492
@drwells @jedbrown I finally ran this and did not crash. I created a branch so that we can all run it:

  https://bitbucket.org/petsc/petsc/branch/knepley/feature-sf-test

you use

  make -f ./gmakefile test globsearch="vec_is_sf_tests-ex2*"

[2019-03-19 18:49] drwells commented on #492
@knepley Thanks for adding the test. However, shouldn't the test enable saving the communication pattern? That is what crashed for me (i.e., `saveCommunicationPattern` should be set to `PETSC_TRUE`).

[2019-03-19 18:49] drwells commented on #492
Looking back at my test code I mistakenly disabled the bug by defaulting to zero there...

[2019-03-19 19:44] knepley commented on #492
@drwells Ah, I fixed it now.
@jedbrown If you look at the second test, I get deadlock. 2 guys are in VecNorm, so they made it through Assembly. Two guys are in Assembly. One is in VecAssemblyEnd_BTS() proper, and the other is in that too, but stuck in PetscGetNewTag(). It definitely looks like there is a deadlock bug.

[2019-03-21 23:24] drwells commented on #424
There is still a lot to do with #418, so lets wrap things up as-is.

[2019-03-21 23:36] drwells commented on #424
I created the branch: see https://github.com/IBAMR/IBAMR/tree/IBAMR-0.4

[2019-03-22 14:44] drwells commented on #453
I am currently (in preparation for the 0.4 release) trying to find all calls to deprecated libMesh functions. Since they use a nonstandard (i.e, not `[[deprecated]]` nor `__attribute__ ((deprecated))` there is no way to find these except by digging through the log files of all examples. We really should use the standard deprecation technique so that these messages are possible to find.

[2019-03-22 17:58] drwells opened #499 "Cache results to is_physical_bdry inside IBFEMethod"
We presently spend about 1.25% of total runtime in the heart model calling this function, but we can definitely cache the result instead.

[2019-03-24 18:42] #388 closed

[2019-03-25 13:59] drwells opened #506 "Results vary across identical runs"
Blocks #494: one of the test programs in the new test suite, based on an IBFE example, gives different results on independent runs: some quantities are only identical up to six decimal places.

I believe the results are still second-order accurate in each case but the lack of consistency is bad for reproducibility (particularly with long time integrations).

[2019-03-25 14:15] boyceg commented on #506
Serial or parallel?

[2019-03-25 15:05] drwells commented on #506
Parallel. I also need more than two processors to reproduce this.

[2019-03-25 15:09] drwells commented on #506
FWIW also added `PetscOptionsSetValue(nullptr, "-ksp_rtol", "1e-14");` to the top of the program; it didn't seem to help.

[2019-03-25 15:27] boyceg commented on #506
Make sure you verify that the actual solves are using tight tolerances — run with -ksp_view for the mass matrix solves, which I think are the likely candidates.

There are certain MPI operations involving accumulation of values from multiple processors that can be non-deterministic — eg items are summed in the order they are communicated, which can depend on network traffic. This caused some non-d

[2019-03-25 19:32] drwells commented on #506
One particular line in the output file has a relative error of 10^-3 with the current settings.

Changing all of the residual tolerances to `1e-16` (I did it in the source files) improves this to 10^-9: the CFL number and upper bound on IB displacement have the highest errors.

[2019-03-25 20:08] drwells commented on #506
The number of iterations in the stokes solver also changes when go from 3 MPI processes to 4.

[2019-03-25 20:51] boyceg commented on #506
You need to make sure that the solvers are themselves configured to give consistent results on different numbers of processors. For multigrid, this requires using smoothers like Jacobi, which is not the default. Also, if you are using multiple grid levels, the AMR grid patches are not guaranteed to be consistent on different numbers of processors.

[2019-03-25 21:15] drwells commented on #506
Hm.. I guess Gauss-Seidel does depend on the local partitioning. Good point.

Thats not something I thought would show up.

I think that, at least for the test suite, we need to get the relative error between runs down to 1e-9 or so (lower is better). I think I found where a solver tolerance has a hard-coded value that is rather high. I'll put up a patch to fix it once I confirm.

[2019-03-25 22:31] drwells commented on #424
The first release candidate is out. I'll continue to push minor changes without waiting for review.

@jabrown893 Could you take a look to make sure this compiles and runs on macs?

[2019-03-26 19:42] drwells commented on #506
I figured it out (at least part of it, for now): the default tolerances for the stokes solver are very high. Running with `-stokes_ksp_atol 1e-12` fixes it.

That solves the major issue with the test suite: I can now get results that are consistent up to about 1e-9 (instead of 1e-2).

Thanks for the help @cpuelz :)

[2019-03-26 19:42] #506 closed

[2019-03-26 21:26] boyceg commented on #506
It is worth putting in some unit tests for IB and IBFE interpolation and spreading operations, to make sure that they are consistent in parallel. Because the IBFE interpolation routine involves a mass matrix solve, we may need to be careful that IBFE interpolation is setup to guarantee exact reproducibility in parallel.

[2019-03-26 21:34] drwells opened #509 "Add more tests for interpolation and spreading"
This is for after #494: we should add more tests that cover the spread and interpolation operators in parallel. #494 has some tests for velocity interpolation.

[2019-03-27 22:02] jabrown893 commented on #424
@drwells It's good on my mac!

[2019-03-30 22:00] drwells commented on #492
I thought about this some more over the last week about how we can improve performance in this part of IBAMR. We don't have anything to do immediately, but I want to at least write down the current state of how we can improve this part of IBAMR.
1. Changing the way we handle ghost data is irrelevant to the current performance concerns: when we do `VecSetValues` with entries that are not locally ow

[2019-03-31 15:45] boyceg commented on #492
An alternative is to set values in the ghost region and then use the VecGhost routines to accumulate into the true DOFs? Does that suffer from the same performance issues?

[2019-03-31 18:14] knepley commented on #492
So I was trying to understand why my code does not suffer from this. Now I think I understand the difference in formulation with IBAMR.

Right now, PETSc recognizes two linear spaces, which we call "global" and "local". The local space is a direct sum which is overcomplete, meaning it represents and overlapping mesh in the traditional sense. We use vectors from the local space when assembling, and

[2019-03-31 19:25] boyceg commented on #492
I think there is nothing stopping us from doing everything in the local indexing scheme using ghosted forms of the vectors. You accumulate into the ghosted local form and then accumulate back to the global form.

[2019-04-01 18:31] drwells commented on #492
@boyceg

I didn't think of it before (I did not realize ghost values could be mutable!), but this should work. We could assemble into a ghosted vector and then use
[code]
to get what we want. This would be faster than using the cache since we can skip the sorting step. This is probably the right way to do things but we will have to be careful to avoid the cache.

@knepley

Yes: we use libMesh's gl

[2019-04-01 18:36] boyceg commented on #492
There is a fairly recent branch of mine that does this. Let me see if I can find it...

[2019-04-01 18:38] boyceg commented on #492
Take a look at #419.

[2019-04-01 18:41] knepley commented on #492
@drwells I think you are missing my point.

VecGhost IS a local vector, but it has conditions that are sometimes onerous. All the ghost dofs in VecGhost go at the end, whereas for efficiency reasons we sometimes want a reordering of the local vector (that is what DMDA does). Thus DMGlobalToLocal() is a more flexible way of doing the same thing. VecCache is just insane because it has this sorting p

[2019-04-01 19:05] drwells commented on #492
@boyceg Parts of #419 have been superseded but yes, that is what we should do for assembly. I already have a list of things that should be combined into a per-patch data structure represented by a class in `FEDataManager`: it would be relatively straightforward to cache the indexing (i.e., the local vector indices of ghost entries) together with everything else on my list.

I would still like to i

[2019-04-01 19:23] knepley commented on #492
@drwells Okay, maybe we better talk on the phone. "I suspect that there is no way to do this in general with unstructured grids" NO! I DO THIS ALL THE TIME. I have example after example in PETSc doing this correctly. I am not sure what I am saying that is making this harder.

[2019-04-01 19:27] drwells commented on #492
More seriously: it would be nice to chat but maybe seeing an example would set me straight. Do you have one in mind?

[2019-04-01 19:36] knepley commented on #492
If you imagine 2 triangles sharing an edge, which are owned by 2 procs. For P2, the local vectors are each of size 6, and the global vector is of size 9. I might start numbering with the unshared vertices, and number vertices before edges, so that

  proc 0              proc 1
  ------             -------
  local    global    local   global
  -----------    -----------
    0           0          0

[2019-04-01 19:49] boyceg commented on #492
At some point there was a DM for libMesh; if that code is still viable, it might be worth addressing this kind of stuff in there.

[2019-04-01 20:20] knepley commented on #492
I don't think that exists anymore. Right now, they are using a DMShell, but it might be made to respond to this interface.

[2019-04-02 00:59] drwells commented on #492
@knepley I think I understand the example you posted. I also read through ex13.

I am not sure if we really need to use any additional renumbering objects: libMesh already calculates the local to global mapping via `ISLocalToGlobalMappingGetIndices`. I think the easiest way to proceed would be to just record all of those indices in our own array and use that to index the ghosted vector directly. W

[2019-04-02 01:02] knepley commented on #492
None. I am saying you should replace VecGhost with a regular Vec, and use the l2g map between that local vec and the global solver vec. That means all insertions into the local Vec are local (no communication) and then there is one comunication (l2g) with no searching/sorting.

[2019-04-02 01:08] drwells commented on #492
Would simply indexing into the `VecGhost` via the renumbering be equivalent?

[2019-04-02 01:12] knepley commented on #492
Well, you are destroying the Ghost property of the VecGhost, so it would just be better to make it a regular Vec.

[2019-04-02 03:03] boyceg commented on #492
I am not sure that I understand how this usage is destroying the ghost property of the `VecGhost`. I don't think there is anything in the `VecGhost` interface that says that the ghost DOFs are read-only locations -- and, indeed, the `VecGhostUpdateXXX` interface explicitly supports accumulating from the ghosted DOFs.

A pragmatic reason to stick with `VecGhost` is simply that it is directly suppor

[2019-04-02 05:01] jedbrown commented on #492
Trying to catch up on this thread...  Matt and I would recommend that data structures look like Elem -> Local -> Global where the Local -> Global part can be implemented using VecScatter (and DMLocalToGlobal) or via VecGhost. As I understand it, libMesh's dofmap stores Elem -> Global and then needs to either use `VecSetValues` (which supports dynamic communication).

Consequences of using VecGhost

[2019-04-02 05:16] boyceg commented on #492
I think this is correct -- libMesh does not seem to have a built-in notion of local indexing that can be used, for instance, for local assembly into a `Vec`. I do not think that it would be much work to create local vectors and local-to-global maps.

I *think* that we are careful to use unghosted vectors in Krylov solvers (although this requires explicitly copying between the ghosted and unghosted

[2019-04-02 11:08] drwells commented on #492
@jedbrown thanks for following up. I'll address this in more detail later but I would like to make a small clarification: these problems are only noticeable when setting up a load vector since we assemble on a different set of cells than the ones actually owned by the processor. The linear solver itself uses the saner partitioning and does not seem to be as problematic.

[2019-04-02 12:55] jedbrown commented on #492
Yes, so if you only have Elem->Global, then Global indices need to be interpreted, which takes a little work (irregular memory access). If you have Elem->Local, then all your local/element processing can use direct indexing (don't even need `VecSetValues`), but you need to be able to set up the Local->Global indexing. Using `VecSetValues` works out that communication pattern on the fly, and should

[2019-04-04 21:19] drwells commented on #492
I thought about this some more and I think that our best option is to use `VecGhostUpdateBegin`/`VecGhostUpdateEnd`: we should do almost exactly what is in the PETSc manual (page 55 in the 3.11 release) for accumulating values from ghost entries. I am sure that we could devise a less weird indexing scheme for our case, where half of the vector corresponds to ghost entries (and some entries may not

[2019-04-04 21:26] drwells commented on #492
Roadmap for switching over to direct `VecGhost` indexing (for now just for `interpWeighted`):
- [ ] Set up `d_U_IB_rhs` vectors owned by `IBFEMethod`. `FEDataManager` can build these vectors since it knows the IB ghost data indices. Use these for assembly in `interpWeighted` (but still with `VecCache`).
- [ ] Localize the RHS inside `interpWeighted` and write directly into into it (via pointer ari

[2019-04-10 19:28] drwells commented on #493
In #515 I did not make the relevant changes to IBFESurfaceMethod since these will ultimately be merged together. When we get around to looking at this we should look at #515 to explain some of the differences between these two classes.

[2019-04-12 02:40] drwells commented on #509
#494 just gained a spread test.

[2019-04-12 03:01] drwells opened #516 "Extend support for non-libMesh quadrature rules"
I've been emailing Walter Kou about support for additional quadrature rules and I think I know how to do it.

We currently increase the quadrature order to get more points. This isn't an optimal strategy, since Gauss points accumulate near the ends of each interval. We should instead iterate the lowest order quadrature rule we can get away with until we have the correct point spacing. For example:

[2019-04-12 13:06] drwells opened #517 "Add a test for our MPI type wrappers"
We assume, in `IBTK_MPI`, that we can use `std::pair<float, int>` as `MPI_DATATYPE_FLOAT_INT` (and other such pairs). We should write a test that checks this.

This will be pretty easy to do with the new test infrastructure.

[2019-04-12 19:42] drwells commented on #424
The release is out and the documentation has been updated so lets close. Nice work everyone :tada:

[2019-04-12 19:42] #424 closed

[2019-04-12 19:46] drwells opened #518 "IBAMR 0.5: June 28, 2019"
I went ahead and created a set of milestones for the next release of IBAMR. I think it would be good to merge a bunch of outstanding PRs before we break everything with the switch to SAMRAI 3.

I would like to get all PRs that are not bug fixes merged by May 22, 2019 so that we have some breathing room when doing testing.

[2019-04-15 13:21] boyceg opened #521 "Timer code"
Should we remove all of the `Timer` objects?

Some reasons to do this:

1. We don't use them for timing!
2. They generate a large number of LOC.
3. They are hard to maintain.

The only reason that I can think of not to do it is that they are already in the code, and so if we ever do want or need to do more intrusive timing, they are ready to go.

[2019-04-15 14:45] drwells opened #522 "Post 494: make tests/unfinished tests into examples"
These codes work but were never added as examples before; as noted in #494 they were originally experiments.

[2019-04-15 14:54] drwells commented on #521
I have never used these. I think our time would be better spent writing documentation for how to use things like openspeedshop or other 'real' profiling tools.

[2019-04-15 14:59] boyceg commented on #521
Should we set up a new "starter project" to remove these things and suggest a student to do it?

[2019-04-15 15:03] drwells commented on #521
Sounds reasonable to me. We can just label this issue as such.

[2019-04-16 16:32] drwells opened #526 "Post SAMRAI 3: clean up HierarchyMathOps"
One improvement in SAMRAI 3 is that the library uses `std::shared_ptr` instead of `SAMRAI::tbox::Pointer`. `std::shared_ptr` has a conversion constructor for constructing a `std::shared_ptr<U>` from `std::shared_ptr<T>` when `T` inherits publicly from `U`. This is particularly useful with variables, since `FaceVariable`, `CellVariable`, etc. all inherit from `hier::Variable`.

Hence, once we make

[2019-04-16 18:37] drwells opened #527 "Should INSHierarchyIntegrator::regridProjection be public?"
Followup discussion from #524.

[2019-04-16 18:43] amneetb commented on #527
If regridProjection() is not public, then it should be called just before first time step and not at the place where it is getting called now.

I made it public to have a fine control on the process.

[2019-04-16 18:47] boyceg commented on #527
I don't think it needs to be `public`. It should be fine to keep it `protected`. Time steppers should be able to call it when they need to.

[2019-04-16 18:52] amneetb commented on #527
I am fine with this. But we need to move the location of the initial call in the all the current INS integrators.

[2019-04-16 18:54] boyceg commented on #527
OK, great. @amneetb, can you put in a PR with the needed changes once #524 is merged?

[2019-04-16 18:54] #527 closed

[2019-04-17 21:05] drwells opened #532 "Add notes on valgrind"
This came up in the group meeting: we should add some notes on how to use valgrind (and how to use valgrind with MPI).

[2019-04-18 04:51] boyceg opened #533 "Infrastructure for caching Eulerian data"
We should consider making it easier to cache Eulerian data, to avoid repeatedly allocating/deallocating data on the AMR grid hierarchy, perhaps by having an `AMRDataCache`(?) object that allows callers to "check out" and "return" data with a particular layout/depth/ghost cell width.

[2019-04-18 05:17] boyceg opened #534 "Reduce use of VariableDatabase"
Similar to #533, it might make the code cleaner if we relied less on `VariableDatabase`, and instead treated SAMRAI data more like `Vec`s that are automatically deallocated when their container object is deleted. One way to do this would be to use something based on the `PETScSAMRAIVectorReal` or `SAMRAIVectorReal` class for Eulerian data storage.

[2019-04-18 14:33] boyceg opened #535 "Support parameter specification both programmatically and through input files"
It seems useful to be able to set parameters both in code and in input files. This issue is meant to be a running list of classes that support only one or the other.

[2019-04-18 14:35] boyceg commented on #535
Classes that need additional support for input file-based model setup:
1. `CIBStochasticMethod` (see comments in #523)
2. ...

Classes that need additional support for programatic model setup:
1. ...

[2019-04-23 15:03] drwells commented on #533
Should we do this before #472 ?

[2019-04-23 15:27] boyceg commented on #533
I think we need to think a little bit about whether it is a good idea to have either a global or local data management class that tracks these data. I was originally thinking that it would be a global manager class (like SAMRAI's VariableDatabase), to maximize data reuse, but perhaps it is cleaner to have a local caching class, similar to some of the FE data management classes.

[2019-04-26 18:45] #372 closed

[2019-04-26 19:42] boyceg opened #539 "CIBMethod and friends should use LDataManager to determine the number of structures"

[2019-04-26 19:46] boyceg opened #540 "Use a consistent API for operations that are applied to individual "parts"."

[2019-04-29 02:51] #517 closed

[2019-04-29 17:48] drwells opened #546 "Split up and merge NWT"
This is getting messy: lets collect everything in a GitHub issue so that we can easily link to PRs, branches, and commits.

For those of us joining us now: the NWT branch contains a ton of new examples (and a fair number of new features) but the history is difficult to understand because there are merge commits, application of tools like clang-format, etc. @amneetb, @boyceg, and myself are trying

[2019-04-29 17:59] boyceg commented on #546
Suggest to make the examples a separate commit or PR that follows the additional functionality.

[2019-04-29 18:11] drwells opened #549 "Disable automatic testing of PRs"
There is definitely a way to do this: in deal.II we do not activate testers until the 'ready to test' label is applied. We are going to waste a lot of tester time on PRs that are not yet ready from NWT. @abarret is there a simple way to do this with our setup?

[2019-04-29 18:29] amneetb commented on #546
@drwells : Commit bb6ae33 removed `ConstraintIBMethod::getFullLagrangeMultiplierForce` and `ConstraintIBMethod::getInterpolatedLagrangianDensity` from the library and examples. Can you check this commit to see if it resolves one of issues.

[2019-04-29 18:53] abarret commented on #549
This should be very simple to do. It can be setup to only run when the trigger phrase is used.

[2019-04-30 21:20] drwells opened #554 "Remove deprecated libMesh calls in examples"
I forgot to look for deprecated libMesh functions in the examples in #500. We should go back and get rid of, e.g., calls to `get_node`.

[2019-04-30 21:26] boyceg commented on #554
In fact, I think that the examples do not currently compile with libMesh master unless libMesh is compiled with deprecated functions enabled.

[2019-05-01 02:36] drwells opened #555 "Support compiling a subset of tests"
This is less of an issue now (when we only have half a dozen executables) but it might be handy to support in an informal way (@amneetb mentioned this earlier): we should link `attest` at some point into the build directory at some point that is not 'compile all tests'.

[2019-05-01 16:41] drwells commented on #546
I believe that I have now exhaustively listed all changes in the NWT branch. There are 18 bullet points in the above list: I strongly suggest that we write at least 18 PRs to get all of the functionality in. I believe @amneetb should be in charge of this since he understands the requirements and interdependencies best.

[2019-05-01 17:28] amneetb commented on #546
@drwells : This functionality of implicit damping zone has been removed from the branch. It was not working well.

[2019-05-01 17:38] amneetb commented on #546
@drwells : To be specific the implicit damping zone was removed in this commit 1af1de62d41f3ae9f3b9ff38c2b6d852ad4b379e

(This code however served as a testbed for more general Brinkmann penalization method)

[2019-05-01 17:47] amneetb commented on #546
Me in charge of 18 PRs? I think it is a bad idea. I can work on your comments in these PRs, but I don't have the bandwidth to break and manage them. Sorry.

[2019-05-01 19:00] drwells commented on #546
We will have to find someway of chopping them up: I know very little about the subject material for most of these changes so it will take me some time to figure out what chunks are relevant, what changes go with what examples, etc. I look for some other simple ones once we get the first three dealt with but we really do need to split up the work on this  branch.

[2019-05-01 19:17] amneetb commented on #546
I am not good with Git, but I am happy to work on any PR you create.

(Like I have mentioned before, there is not much to this PR. There are bunch of new files and new examples. What I have in my head is quite simple, but with Git complexity it seems daunting. I leave it unto you to break the PR, rewrite history etc.)

[2019-05-02 15:00] amneetb commented on #546
@drwells : In the interest of time and to make everyone's life easier, I suggest that we follow Boyce's suggestion of creating a diff between NWT and master and making a new branch of it.

[2019-05-02 15:03] amneetb commented on #546
At this point, commit authorship, history etc., is just not worth preserving. Let's get this done and move on.

[2019-05-02 19:18] drwells commented on #546
The comment I wrote here an hour ago seems to have vanished. I will try and recreate what I wrote.

I agree that we shouldn't worry about preserving the history (though, of course, we need to write changelog entries so that @amneetb and @nishantnangia get credit for all this work!)

I talked with @boyceg about our strategy for this branch on Tuesday and we did discuss merging to get that branch up

[2019-05-02 19:23] boyceg commented on #546
I should be able to merge master into the current branch and resolve the conflicts later tonight.

[2019-05-03 02:03] boyceg commented on #546
I just pushed a new branch (`amneetb/numerical_wave_tank-2 ` for now) that merges master into `amneetb/numerical_wave_tank`. If this looks good, we can cherry-pick onto `amneetb/numerical_wave_tank`.

I also can setup the diff branch, but I think we should merge the examples to master first, to minimize the number of changes.

[2019-05-03 12:59] drwells commented on #546
Yes. Lets continue merging examples before proceeding to the `diff` branch.

[2019-05-03 15:13] boyceg opened #560 "Setup scripts to automatically build input data files"
We have a lot of mesh geometry input data that is stored as text files that are generated by (typically) MATLAB scripts. It might be better to generate those files dynamically when building the relevant examples.

One approach would be to convert the MATLAB scripts to Python, to make it easier to run them interactively. [SMOP](https://github.com/victorlei/smop) is one tool that I found that may he

[2019-05-03 16:01] amneetb commented on #560
Awesome! I will give this a shot.

[2019-05-03 16:11] boyceg commented on #560
This seems like a good student project. (@fuhuifang, @jabrown893?)

[2019-05-03 16:13] fuhuifang commented on #560
I can work on this one.

[2019-05-03 16:40] boyceg commented on #560
Also a good one for @roberthunt4.

[2019-05-03 17:28] boyceg commented on #560
I would start with `examples/IB/explicit/ex1`. Once we are happy with the translation for that example, it should be pretty straightforward to apply to the others.

It would be good if we can avoid requiring any special Python packages, like NumPy.

[2019-05-03 19:42] drwells commented on #560
Most of these MATLAB scripts are very straightforward. I would prefer to just translate these to C++ so that they can be integrated into the build system without worrying about whether or not users have things like numpy installed.

[2019-05-03 19:55] fuhuifang commented on #560
For `examples/IB/explicit/ex1`, the only python package required is 'math'. Should we do c++ or python?

[2019-05-03 20:00] boyceg commented on #560
If the dependencies are minimal, I kind of like the idea of using Python for this, with the thought that it makes it easier for users to modify the script. (Maybe that is not true?) @drwells, @amneetb, what do you think?

Users have to have `python` available otherwise they cannot get PETSc to build, so requiring Python does not seem like an onerous requirement.

[2019-05-03 20:06] drwells commented on #560
I don't think (at least for files of this size and type) writing in Python saves much time, so I would prefer C++ just to keep things consistent inside the library. Here is the barge C++ file:
[code]

[2019-05-03 20:42] knepley commented on #325
Okay, I will fix this first. Let me know if this plan is alright:
1) I will make it impossible to use visibility from configure.new
2) I will check if PETSc was configured with visibility and error if so
I will do it by putting code in config/configure.py

[2019-05-03 20:48] boyceg commented on #325
This sounds fine. We are ultimately going to be automatically building PETSc, so we can make sure that PETSc is configured in this way.

It would be good to get the visibility stuff working, but perhaps we can worry about that once BuildSystem is working.

[2019-05-06 21:17] drwells commented on #400
We now have some parallel tests so I am going to close this.

[2019-05-06 21:17] #400 closed

[2019-05-06 21:17] drwells commented on #259
#494 fixes this issue by implementing the test suite in a way independent of the build system.

[2019-05-06 21:17] #259 closed

[2019-05-06 21:26] drwells opened #569 "Convert all gtest tests into new-style tests"
Now that the new test suite is off the ground its time to start working on this: we should convert all tests that run in a minute or less to new-style tests. We can reproduce the assertions by writing the values to `plog`.

A lot of gtest tests simply check that the program completes successfully. We should check that the output for those tests hasn't changed recently and then convert them into ne

[2019-05-06 21:31] drwells commented on #569
Once this is done we should go back and merge `ex_main.cpp` and `example.cpp` back together.

[2019-05-06 21:34] drwells commented on #291
This is covered by the note in #569: we should just skip this test in favor of something shorter.

[2019-05-06 21:34] #291 closed

[2019-05-08 04:07] boyceg commented on #560
One reason that I have a slight preference for doing this using a scripting language is that sometimes these files are generated with different grid sizes, and command line parsing seems cleaner in Python than C++. OTOH, we are not talking about very complicated command line options.

[2019-05-08 14:22] boyceg commented on #533
This is addressed in #538 and #572.

[2019-05-08 17:45] abarret opened #573 "Advection diffusion solver iterates when there is no diffusion."
The advection diffusion solver will iterate even if the diffusion coefficient is set to 0. Since we are using explicit time stepping for advection, we should skip the ksp solve in this case.

[2019-05-08 18:38] boyceg commented on #533
I am going to close this because the infrastructure now exists.

[2019-05-08 18:38] #533 closed

[2019-05-09 01:53] drwells opened #575 "RAII management of Eulerian data"
Followup to #572: we should implement a little RAII class that deals with the following restore call for us in the destructor.

[2019-05-09 13:55] drwells opened #576 "Expand test suite documentation a lot"
The discussions in #571 and #574 were pretty useful in answering questions about how the test suite is set up. We should add this information to the wiki page.

[2019-05-09 13:59] drwells commented on #554
This is pretty easy to do so I will label it as `starter project`.

The easiest way to do this is to compile libMesh without support for deprecated functions. That will turn all of our usages into compile errors. The substitutions are all the same as those in 589f73621caf4fd358906454bff6c165eb74246c.

[2019-05-09 19:12] drwells commented on #575
We figured out a way to do it in #572 so this is no longer an issue.

[2019-05-09 19:12] #575 closed

[2019-05-09 20:56] drwells commented on #576
I extended the wiki entry a lot.

[2019-05-09 20:56] #576 closed

[2019-05-10 18:15] drwells opened #579 "Use std::unique_ptr to express ownership"
From #570: we should use `std::unique_ptr` when moving pointer ownership around in `HierarchyIntegrator`.

I think its okay if we break this interface for the sake of progress.

[2019-05-14 20:52] drwells opened #581 "Permit the structure to live on more than one Eulerian level"
From a conversation in today's meeting: we really want to be able to assign different subdomains to different mesh levels. In particular: we want the valves to talk to something even finer than what we use now.

We should be able to do this by, instead of just looping over the finest level, determining the relevant levels and then looping over those.

There are some other important questions to re

[2019-05-15 13:39] boyceg commented on #581
@drwells, before doing this, could you try to create a unit test for the RT0-like coarsen/refine operators?

[2019-05-15 14:48] drwells commented on #581
I'll take a look.

[2019-05-15 17:49] drwells commented on #532
This has since been added to the wiki.

[2019-05-15 17:49] #532 closed

[2019-05-15 18:11] drwells opened #583 "Better default visit writer settings"
`AppInitializer` is not setting up the visit data writer correctly when no data writer parameters are put in the input file: i.e., with
[code]
we get a crash due to a bug in SAMRAI where it tries to iterate over an empty list.

We should avoid this by making sure that we always set, with default values, whatever parameters are set up by
[code]
(which prevents the crash).

[2019-05-17 03:25] amneetb commented on #546
Let's aim to finish this soon.

[2019-05-17 03:25] #554 closed

[2019-05-17 18:20] drwells opened #588 "Make attest less laconic"
We should add an equivalent of `ctest`'s `V` or `VV` flags to `attest` so that, when we run in verbose mode and a test fails, we can print the error message to the screen. This would be more convenient then digging through the temporary directory `attest` creates.

[2019-05-19 04:26] amneetb opened #591 "Detect opt/debug mismatch between libmesh, SAMRAI, (maybe also PETSc), and IBAMR during configure stage of IBAMR."

[2019-05-22 05:04] amneetb commented on #588
https://github.com/IBAMR/IBAMR/blob/master/tests/multiphase_flow/rotating_barge_cib.cpp#L130

Dumb question: Anything before this line is executed just by processor 0? When does the SIMD part start? With `mpirun -np 4 rotating_barge_cib free_falling_cyl_cib.mpirun=4.input` won't all the 4 processors write out this file?🤔

[2019-05-22 11:43] drwells commented on #588
All four processors attempt to write, but only one gets the file handle and can actually produce output (the other three wait for the file handle from the OS). I think. I'll go back and add barriers so that this is clearer.

[2019-05-22 15:31] amneetb commented on #588
Why barrier? Why not just have processor 0 write this out? Once the file is written, no need to write this again from other processors.

[2019-05-22 17:14] drwells commented on #588
You're right, we don't need barriers. Either way: its now fixed.

[2019-05-24 15:13] drwells commented on #492
It turns out that on the fly index translation is not particularly expensive. Given the complexity of #513 I don't think its worth implementing at this time. Therefore this is done.

[2019-05-24 15:15] #492 closed

[2019-05-24 15:19] drwells commented on #509
Partly addressed by #597: we now have regression tests for the commonly used spreading kernels. We should write equivalents for interpolation.

[2019-05-24 15:22] drwells commented on #518
Since the SAMRAI 3 transition is still in the future lets move this forward: that will give us more time to finish some of the other stuff that is in the 0.5 milestone.

[2019-05-24 15:39] boyceg commented on #518
Let's finish sorting out the numerical wave tank branch before this release. I have very limited time to work on this right now, but will try to see if I can get a clean branch with only the core library changes done early this afternoon.

[2019-05-24 15:44] boyceg commented on #573
@abarret @drwells this should be easy to fix --- can we try to get a fix in before 0.5?

[2019-05-24 15:57] abarret commented on #573
Yes. I already have a fix for this. I just wanted to convert some adv_diff examples to tests before I create a PR.

[2019-05-24 15:58] drwells commented on #573
It sounds like you know what to do. Let me know if you need any help with the tests.

[2019-05-27 15:39] drwells commented on #591
@amneet Is this the same issue you mentioned by email?

Its not clear to me how we should proceed here: in particular, since libMesh is *much* slower in debug mode in parallel I would prefer to permit mismatches. What do you propose we implement?

[2019-05-27 15:53] amneetb commented on #591
If SAMRAI is in debug mode and libMesh is in opt mode, then there is incompatibility between NDEBUG symbol used by both libraries. This leads to linkage error down the road.

We can check that all 3 (SAMRAI, libMesh, and IBAMR) libs are in either opt or dbg mode. I think we already do this with IBAMR and libMesh through the use of —with-methods. We just need to check for SAMRAI (I think)

[2019-05-27 16:30] drwells commented on #591
Got it.

[2019-05-27 16:36] drwells opened #600 "restarts are intermittently broken on master"
I am getting (most of the time) either segmentation faults or SAMRAI errors when writing restart files on master. I need to spend some more time bisecting since the failure seems to be intermittent, but my current best guess is that changes in or near 7c1ed1b broke this. This might be wrong since I might have marked a commit as good when I simply got lucky.

We need to write some tests that verify

[2019-05-27 17:46] drwells commented on #600
This is a fascinating bug: I have now been able to produce the following behavior on master:
1. Sometimes things complete normally.
2. Sometimes HDF5 fails to open a file.
3. Sometimes PETSc catches a segmentation fault.

This is all with the heart model.

[2019-05-27 17:52] cpuelz commented on #600
weird.  what branch of the heart model are you using?  can you point me to the input file you are using?

can you replicated any of this behavior with one of the working IBAMR examples?  maybe an IBFE one?

[2019-05-27 17:53] cpuelz commented on #600
was there a point in time that you are sure restart was working with the heart model?

also, can you tell me how you are restarting, i.e. what command line options are you using?

[2019-05-27 17:54] drwells commented on #600
@cpuelz to be clear, I am pretty sure that this is a bug in IBAMR, not the heart model.

I am using `master` in the heart model. I have a modified version of contraction14 that does very few time steps. I set the restart to something insanely low (every 10 time steps) to get this behavior.

I will try with an IBFE example next.

[2019-05-27 18:03] cpuelz commented on #600
okay cool.  did you have a look at some of the restart scripts in the heart model directory to compare with your command line options?  I am only pestering since I recall having some issues getting restart working.

there are also multiple things in the heart model that need to be restarted, like the circulation model and the fluid sources, in addition to the FE and fluid data, and those implement

[2019-05-27 18:04] cpuelz commented on #600
also, contraction14 on a newer branch of the heart model may not work correctly.  maybe try contraction38 or contraction39.

[2019-05-27 18:20] drwells commented on #600
Why did you break my input files :crying_cat_face:

More relevantly: I am running some IBFE examples now. So far so good.

[2019-05-27 19:57] drwells commented on #600
I cannot reproduce this with any of the IBFE examples so it looks like my out-of-date input file for the heart model is the culprit.

[2019-05-27 19:57] #600 closed

[2019-05-28 12:45] cpuelz commented on #600
@drwells sorry for the pain!

[2019-05-30 03:43] drwells opened #602 "Remove PACKAGE_ subsystem"
To the best of my knowledge the `PACKAGE_*` macros were added with the intention of controlling population of global configuration variables (like `LIBS`) by various libraries. Unfortunately, since some dependencies are themselves dependencies of other libraries, this approach didn't work out in practice: see #601.

#601 resolves the immediate underlinkage problem but it would be preferable to avo

[2019-05-30 03:50] drwells commented on #602
Clarification: my main motivation for this is not so much that the status quo doesn't work, just that it is fragile: e.g., we shouldn't encounter link problems just because we commented out code that writes output (our issue in #601).

[2019-05-30 17:36] drwells opened #604 "Clean up copyright notices"
We mark authorship and years somewhat inconsistently in headers. We should add a script that cleans up the headers and puts in the correct years.

Furthermore, though I am not an expert on the subject, the more common route for attribution is to have the header text simply state 'copyright (C) 2000 - 2019 by the IBAMR authors' and not list individual contributors. I think explicitly assigning ours

[2019-05-30 17:40] boyceg commented on #604
Yes.

Yes.

That is a question that I would rather not delve into. :-D

[2019-05-30 17:42] drwells commented on #604
At other universities I have had to fill out intellectual property forms yearly. I won't tell if you don't :speak_no_evil:

[2019-05-31 19:22] drwells commented on #282
We fixed this at some point with the conversion to `std::unique_ptr`.

[2019-05-31 19:22] #282 closed

[2019-05-31 19:23] drwells commented on #304
I assigned this to 1.0 in the fall, but lets try to fix it in time for 0.5 instead.

[2019-05-31 19:24] drwells commented on #487
Fixed by #599.

[2019-05-31 19:24] #487 closed

[2019-05-31 19:52] amneetb commented on #304
You can remove this test altogether. You can also mark this example as "unsupported"

[2019-05-31 20:25] drwells commented on #304
@amneetb Good point; we are going to get rid of the gtest tests soon anyway.

Do you think its worthwhile trying to fix the excessive memory usage in this example program?

[2019-05-31 21:09] drwells commented on #304
For what its worth: I did a little bit of profiling and the default settings require more than 64 GB even though the number of coarse grid cells is reasonable (its capped at about 34 million). We run out of memory when we try to do the first fluid solve.

[2019-06-01 23:16] drwells commented on #546
I am talking with @amneetb about this now (I have to write this down or else I will forget).

We should try to get the Brinkman code and the INSVCHierarchyIntegrator fixes next so that an incoming student can get going on some projects.

@amneetb also wants to get the different wave tank boundary condition code merged soon too.

[2019-06-04 21:51] drwells opened #608 "Use SAMRAIDataCache in IBHydrodynamicSurfaceForceEvaluator"
Little followup to #607: we can use the new SAMRAIDataCache to both clean things up and improve performance a little.

[2019-06-06 14:11] drwells opened #609 "Windows support"
I talked with @knepley about this briefly. He mentioned that we will need to fix our symbol visibility issues, but I don't think we will need to do this since we cannot use shared object files on Windows.
For those who are not familiar with Windows issues:
[code]

since we have more than 2^16 (65536) symbols we will not be able to, AFAIK, use shared object files on Windows.

Fortunately, since we

[2019-06-06 14:36] drwells opened #610 "Add macros to suppress warnings in external libraries"
I have read enough deprecation warnings about `std::binder1st` inside Eigen. We should add some macros to disable these warnings around all of our third-party library inclusions. This is pretty easy to do: we should simply borrow deal.II's nice macro:
[code]
and put it in our own configuration header (and, of course, `s/DEAL_II/IBAMR/`).

[2019-06-06 16:18] abarret commented on #609
I've helped someone install IBAMR on the Windows Subsystem and we didn't have problems.

[2019-06-06 16:19] boyceg commented on #609
Any tricks that are not already captured on the GitHub Pages instructions?

[2019-06-06 17:48] abarret commented on #609
Not that I can recall. We ran into some issues that I'm pretty sure were compiler related, not Windows related.

[2019-06-12 15:51] lindsayad commented on #436
@drwells We talked at the petsc-users meeting last week. It looks like you've already hit on most of the possible points for reducing calculations done in `FEMap`. We do most of our calculations in `FEMap` dependent on whether you've requested `JxW` or `dphi` and these quantities will obviously change if your element geometry changes (in the physical space). It looks like you've already hit on cac

[2019-06-12 17:00] drwells commented on #436
@lindsayad Thanks for following up on this. Its good to hear from you. One thing that would help here would be if we could avoid recomputing shape function values (i.e., `FEBase::phi`) for translation invariant elements since this value doesn't ever change.

I cannot remember exactly what I told you before so I will describe the problem here too. Setting up the load vector for an L2 projection was

[2019-06-13 18:15] drwells commented on #604
On a related note: we should include a LICENSE file, which we do not currently have. I am *pretty sure* that we stated in a funding source that we should release under the LGPL. Is this correct?

[2019-06-13 18:59] boyceg commented on #604
I think we use the [3-clause BSD license](https://opensource.org/licenses/BSD-3-Clause) --- see the top of any source code file in the library.

[2019-06-13 19:01] drwells commented on #604
I thought that looked familiar. Thanks.

[2019-06-17 23:53] drwells opened #615 "Improve ghost region handling in kernels"
From #598 (there is additional discussion in that thread):

To simplify these implementation (and hopefully obtain better vectorization), we could do the following:

1. Filter out any Lagrangian interaction points that cannot interact with the interior of the patch data. (I think that there is code in LEInteractor that does something like this already.)
2. Allocate a temporary buffer (if needed) t

[2019-06-18 13:22] boyceg commented on #615
This sounds good. I would possibly extend the ghost region to `kernel_size + 1` to avoid having to worry about rounding-related corner cases.

It seems like we should be able to avoid branches in both spreading and interpolation as long as we prune the correct collections of points and make the buffer sizes large enough.

[2019-06-18 13:49] drwells commented on #615
This will take some effort but could make these kernels run 4x faster so we should investigate. I am still going to go ahead with some other simple performance patches in the mean time (i.e., this week, so that they can be in 0.5).

We will also need to teach SAMRAI how to allocate all of our data in an aligned manner (i.e., via `posix_memalign`).

[2019-06-19 14:14] boyceg commented on #615
If we are going to do this anyway, it might make sense to think about automatically generating these kernels. I think that @knepley has some ideas about how to do this.

[2019-06-19 18:28] #610 closed

[2019-06-24 15:21] drwells opened #622 "Improve FEDataManager::buildL2ProjectionSolver"
I think it would be a good exercise for one of the graduate students to go through this function and check that:
1. We are enforcing hanging node/dirichlet boundary/other algebraic constraints on the dofs correctly
2. We end up with an SPD matrix
3. We use, where possible, some of our own caches (like `FECache`) to avoid unnecessary recomputation of things
4. We set up the sparsity of the underlyi

[2019-06-24 15:24] boyceg commented on #622
Perhaps this is something that @benlvr could work on. I’ve asked him to investigate the role of consistent-vs-lumped mass matrices in both computing elastic forces and in velocity restriction.

[2019-06-24 15:41] drwells commented on #622
Sounds good. Its not a very good comparison if we have a nonoptimal solver for the consistent case :)

[2019-06-24 21:16] drwells opened #627 "Add a simple Brinkman test code"
We should add a very basic example that demonstrates how the new Brinkman code works (since it is a very useful tool for a bunch of different applications) and a corresponding test: it doesn't have to be fancy.

[2019-06-24 22:59] drwells opened #628 "Improve inlining in fortran kernels"
A simple followup to the discussion in #620.

We improved inlining with #618 since `lagrangian_floor` is in another translation unit and cannot be inlined. It would be great to try and inline the 1D bspline kernels as well. I can think of three ways to do this:
1. Put the code in the same translation unit. gfortran will automatically try to inline it in this case.
2. Define the function as a macro

[2019-06-24 23:00] #591 closed

[2019-06-24 23:03] drwells commented on #628
Furthermore: there are some newer Fortran function annotations (like `pure` and `elemental`) that might help.

[2019-06-24 23:22] drwells opened #629 "sImplement a rigid body base clas"
There is a bunch of duplicated code between the different rigid body classes. We should come up with a base class that encapsulates things like `setSolveRigidBodyVelocity`.

I am assigning @amneetb since he knows the most about rigid bodies.

[2019-06-24 23:29] drwells commented on #622
@benlvr are you willing to tackle this? We can meet to chat about it.

[2019-06-25 12:25] drwells commented on #628
More from #620: since spreading involves updating one value multiple times we will have to use some sort of graph coloring or synchronization to do it.

[2019-06-25 14:07] drwells opened #630 "IBAMR 0.5"
I am going to open an issue for this to keep track of what we want to get done.

We are only about halfway through the NWT branch. Since it has taken at least a day to address each of the bullet points in #546 I don't think its realistic to get this done (though we did make a good dent in it!) this week.

I would like to put up a release candidate late on Wednesday, which means we need to have all

[2019-06-25 14:21] boyceg opened #631 "add kernel name BSPLINE_2 that is the same as PIECEWISE_LINEAR?"

[2019-06-25 22:02] benlvr commented on #622
@drwells @boyceg Yes, I can work on this and would be happy to meet.

[2019-06-26 14:41] drwells opened #636 "Different RHS vectors in IBFEMethod::interpolateVelocity"
I am getting slightly different RHS vectors in parallel when the only thing I change is the version of PETSc (in this case 3.7.7 vs. 3.11.0). The differences are pretty large: the L2 norm of the RHS vector changes in the fifth significant digit, which is way larger than it should be if the issue were purely from roundoff error accumulation.

This causes the maximum pointwise error to vary in the s

[2019-06-26 14:42] drwells commented on #546
@boyceg let me know if you want me to split off any more parts of this before you go to town on it.

[2019-06-26 14:43] drwells commented on #636
Another interesting problem is that only one component is effected by this: the error in the first component is consistent, but not the error in the second component.

[2019-06-26 14:45] drwells commented on #636
This also means that if we want to actually use the test suite now, it only really works with recent releases of PETSc.

[2019-06-26 14:50] drwells commented on #636
The good (or maybe bad?) news is that this also happens on a single MPI process.

[2019-06-26 15:07] knepley commented on #636
Hmm, I thought this was going to be reordering. If it happens in serial, is it possible that there is some aux solve used in constructing the RHS?

[2019-06-26 15:09] drwells commented on #636
My first post was slightly inaccurate: I also used libMesh 1.3.0 for one set of calculations and libMesh 1.3.1 for another set. Its possible that something relevant changed there too.

[2019-06-26 15:11] drwells commented on #636
There is no auxiliary solve used to set up the RHS: the RHS comes from interpolating the Eulerian data.

[2019-06-26 15:12] knepley commented on #636
Ah, that sounds like it might be interpolators in LibMesh. I can't think of anything serial in PETSc that would do this.

[2019-06-26 15:16] boyceg commented on #636
This is the same IBAMR code but two different versions of libMesh and PETSc?

[2019-06-26 15:17] boyceg commented on #546
If you can split off any more today, feel free to do so. I will not start working on this until some time tomorrow. Today I am trying to finish up revisions to IBFESurfaceMethod.

[2019-06-26 15:18] drwells commented on #636
Yes.

[2019-06-26 17:18] drwells commented on #636
libMesh 1.3.0 and 1.3.1 give the same output. I'll try varying PETSc versions.

[2019-06-26 17:56] drwells commented on #636
OK, I get the same failures with PETSc 3.11 and 3.7.

I am starting to think that the problem comes from muparser.

[2019-06-26 18:59] drwells commented on #602
An interesting consequence of the current setup is that we require muparser to be statically linked.

[2019-06-26 19:21] drwells commented on #636
no, thats not it either.

[2019-06-26 21:03] drwells commented on #636
I spent most of today looking at this and I still don't have an answer. For now, I think we will have to accept that the test suite only works with a very specific combination of libraries. We will have to fix this (we should not have 10% differences in point errors) in the future.

[2019-06-26 21:21] drwells commented on #636
@boyceg it might be due to me using `-march=native`.

[2019-06-26 21:23] boyceg commented on #636
Oooh. You are living dangerously there.

[2019-06-26 21:51] drwells commented on #636
Another thing to do would be to implement `--relax-tolerances` for the test runner to run things in a way that a 25% relative difference is acceptable.

[2019-06-26 21:56] boyceg commented on #636
I am not sure if there are any of these tests where 25% differences are expected. With uniform grids, I would expect very small differences in parallel because of lack of associativity of floating point arithmetic. With AMR grids, the actual grid that is generated can be different with different numbers of processors, and that can lead to relatively large differences. However, those are not the ki

[2019-06-26 21:58] drwells commented on #636
The other thing to keep in mind is that I generated all of the output files with one particular setup that all the other setups I have happen to disagree with. Its possible that, for whatever reason, that setup is just an oddball (perhaps due to `-march=native` or something else).

[2019-06-26 22:00] boyceg commented on #636
Should the results be generated with all compiler optimizations turned off?

[2019-06-26 23:41] drwells commented on #636
That should not matter, but I cannot rule it out yet. `-march=native` shouldn't matter either since its still *supposed* to follow the rules for floating point arithmetic (I did not use `-ffast-math`).

[2019-06-27 18:50] drwells commented on #622
See the branch https://github.com/IBAMR/IBAMR/tree/drwells/improve-l2-solver for some notes on how to set the solver to CG.

[2019-06-27 20:24] drwells commented on #444
@jabrown893 and I sat down to chat about this today. The code is available on

https://github.com/IBAMR/IBAMR/tree/drwells/jacobian-calculator

[2019-06-27 21:56] drwells commented on #636
OK, the problem is with libMesh: keeping everything else constant, the tests pass with 1.2.1 and 1.3.1 but fail with 1.4.1 (again, not by a lot: the error changes by about 10%). This is with my self-compiled versions: for reasons I don't understand things also fail with my spack-installed libMesh 1.3.1.

I might bisect this later.

[2019-06-27 22:15] drwells commented on #636
Problematic tests:
[code]

[2019-06-27 22:16] drwells commented on #636
My new best guess is that libMesh changed something with either partitioning or quadrature rules between 1.3.1 and 1.4.1.

[2019-07-01 15:35] drwells commented on #518
Based on previous discussion it sounds like we want to delay this further. Do we have a time frame for the rest of NWT?

[2019-07-01 16:33] boyceg commented on #518
I would like to figure out the interpolation assembly stuff before making a release, and reassess once that is done. I will try to get NWT done this week. #637 is also almost done. It would be nice to get both of those in for the release.

[2019-07-01 21:11] drwells opened #639 "Missing rpath arguments"
It looks like, when we have external dependencies that are shared object files, we don't always set rpath correctly. This came up on the mailing list recently. I think that we don't usually run into this problem because PETSc and libMesh add rpath to their exported link flags, which we also use: for that reason I can only reproduce this problem with my shared object copy of silo.

For reasons I do

[2019-07-01 21:38] drwells commented on #639
OK, I think I see how to fix this: `AC_LIB_HAVE_LINKFLAGS` will add the correct rpath information to the link variables, but `AC_CHECK_LIB` does not.

[2019-07-01 22:19] boyceg commented on #639
Yes, that is why I use that macro to figure out linker flags! :-D The only alternative that I could find XX years ago when I started using Autotools was to use Libtool, which at that time did not play nicely on many HPC systems.

[2019-07-02 12:48] drwells commented on #639
You're absolutely right. One day, I will be able to fix a build system on the first try, but this has not happened yet.

[2019-07-02 14:14] boyceg commented on #639
Perhaps there is now a better way to do this. The last time that I seriously looked into this was > 10 years ago.

[2019-07-02 14:26] drwells commented on #639
Since we want to support custom makefiles we really need to assemble these linker flags in this way: I don't know a lot about libtool, but since we just export a list of link flags I think that we cannot rely on users calling libtool on their executables to link things correctly.

[2019-07-02 22:23] drwells commented on #444
@jabrown893 I added some more code to the branch to implement a few things we discussed today.

I think that we may as well just skip all usage of `libMesh::FEMap` and just implement our own lookup tables: the only elements that need it are `Tri6`, `Tet10`, and `Hex27` so it shouldn't be a ton of work to compute these gradients ourselves.

[2019-07-03 14:51] drwells opened #640 "Add test that prints out IB ghost dofs"
From #637: we should add a few tests that print out the IB ghost dofs. This information is available from `FEDataManager::buildIBGhostedVector`: all we have to do is set up a problem (like the first velocity interpolation test) and then print the ghost dofs to a log file to verify that we won't break it.

[2019-07-04 20:25] jabrown893 commented on #444
@drwells I added a draft of the QuadrilateralJacobianCalculator, if you have a chance to take a look.

[2019-07-06 12:24] #636 closed

[2019-07-08 15:28] #639 closed

[2019-07-08 15:29] drwells commented on #602
From #641: when we finish this we need to ensure that we set rpath for all dependencies.

[2019-07-08 18:07] drwells commented on #630
@boyceg can overrule me on this, but I don't think we are close to getting NWT or #637 done. I propose we wrap up what we have this week and plan on doing another release at the end of August with those new features.

[2019-07-08 18:17] boyceg commented on #630
Let me try to finish it up this week.

[2019-07-09 19:06] drwells opened #643 "Pair opening istreams with checks"
From our group meeting today: `std::istream` (or, more relevantly, `std::ifstream`) can stream in junk if the file name we gave it does not correspond to a file that actually exists. This is pretty easy to check: we just need to do
[code]
to verify that the stream is good.

[2019-07-11 17:05] drwells commented on #630
@boyceg What is your status on NWT?

[2019-07-11 19:04] drwells opened #645 "Update muParser to use unique_ptr"
With the recent changes (like #644 and #610) we are doing a much better job with external warnings: one of the big remaining ones is muParser's `auto_ptr` usage. We should either upgrade our bundled version of muParser or switch to a newer one that uses `unique_ptr`.