[2021-06-22 22:47] abarret commented on #1257
I can reproduce the issue on Linux Mint 19.3 on two different computers.

[2021-06-24 21:33] #1203 closed

[2021-06-24 21:36] drwells opened #1274 "Either patch SAMRAI or make our index computations consistent"
SAMRAI doesn't consistently compute patch boundaries, which means we need to compute based on `GridGeometry` information instead. We should make sure we have utility functions for these index calculations, for all relevant data types (mostly cell and side centerings).

[2021-06-30 17:18] drwells commented on #1257
Fixed by #1273.

[2021-06-30 17:18] #1257 closed

[2021-06-30 17:27] boyceg commented on #1234
@AminKolah, can you work with @drwells to get the above tasks taken care of?

[2021-06-30 17:31] drwells commented on #1234
The tests mentioned in https://github.com/IBAMR/IBAMR/pull/1244#issuecomment-840764031 would be excellent to have.

[2021-06-30 17:49] #1266 closed

[2021-06-30 17:53] drwells commented on #1234
I would like to get this done by the 0.9 release since a lot of people want to use it. I adjusted the 0.9 milestone back a full month. @AminKolah what can you commit to doing by August 1?

[2021-06-30 17:57] AminKolah commented on #1234
Working on it now...I'll try to finish the tests in the next few days.

[2021-07-01 16:03] drwells commented on #1230
I want to wrap this up in time for the release, but, two things:
1. @kkeonho You may be using Eigen 3.3.7, but that's the version of Eigen bundled with IBAMR - are you sure that's the one with the bug?
2. I cannot reproduce any sort of accuracy problem with any supported version of Eigen. With this test program:

[code]

and this test runner (and every relevant version of eigen in the working dire

[2021-07-01 16:05] drwells commented on #1230
Alternatively, if there is some other inverse function, then we should take a look at that.

[2021-07-01 21:51] drwells opened #1277 "Teach IBHierarchyIntegrator how to use set intervals for visualization purposes"
It's not totally clear how we should do this but it's in the heart model.

[2021-07-02 00:42] drwells commented on #1277
After chatting with @abarret a bit - I think the answer is to do something like
[code]

[2021-07-02 04:19] kkeonho commented on #1230
Yes I'm using Eigen-3.3.7 now.

https://github.com/IBAMR/IBAMR/blob/kkeonho/immersed-peridynamics/src/IB/IBPDForceGen.cpp#L570-L602

This is the only place where I compute an inverse matrix. I just tested using Eigen to compute a 2x2 inverse matrix, but there is an error in inversion.

[code]

[2021-07-02 13:12] drwells commented on #1230
Thanks - I'll take another look.

[2021-07-02 15:14] drwells commented on #1230
This is a bug in Eigen, but not the bug you think it is. The signature of that function is
[code]
i.e., if `inverse == *this` then you are invoking undefined behavior - they should assert that this cannot happen, but they do not. Hence every version of Eigen contains this bug - I'll report it.

@kkeonho would you like to put together a patch that fixes this in IBAMR? The right way to do this is wh

[2021-07-02 15:39] drwells commented on #1230
https://gitlab.com/libeigen/eigen/-/issues/2285

[2021-07-02 15:55] drwells commented on #1230
@kkeonho that code is on your branch, not IBAMR, so we don't need to fix anything in IBAMR itself.

Since this is a (minor) bug in every version of Eigen and there is no code in IBAMR that actually calls this function I am going to close the issue.

[2021-07-02 15:55] #1230 closed

[2021-07-02 15:56] drwells commented on #1230
You should still fix the code on your branch though :)

[2021-07-02 16:15] drwells commented on #1212
I have updates.

I spent about three weeks implementing the deal.II version of IBFE described above with IBFE/explicit/ex4 working here:
https://github.com/drwells/fiddle/blob/master/tests/interaction/ifed_ex4.cc

We'll talk about this more next week, but a major goal of that project was to break down `IBFEMethod` and `FEDataManager` into much simpler parts, so we should be able to implement what

[2021-07-06 16:39] drwells commented on #885
I took this approach when writing the deal.II bindings:
 https://github.com/drwells/fiddle/blob/master/include/fiddle/mechanics/part.h

But, in retrospect - this involves completely rewriting FEMechanicsBase for not a lot of gain. It would improve the code organization but ultimately it would require changing the user-facing API for no great benefit.

[2021-07-06 16:46] drwells commented on #662
Looking at this again I think this may have been fixed by #1029, but without an explicit test case I don't know. @alexkaiser have you noticed this again over the last year?

[2021-07-06 16:50] drwells commented on #516
Ultimately libMesh doesn't really support user-defined quadrature rules and, in order to support this ourselves, we'd have to make very invasive changes to how we select quadrature rules right now.

Fixing this was a priority when I wrote the deal.II bindings:
https://github.com/drwells/fiddle/blob/master/include/fiddle/base/quadrature_family.h

while not currently modifiable by users, it would be

[2021-07-06 16:50] #516 closed

[2021-07-06 16:50] boyceg commented on #885
Can we support both APIs for a release or two?

[2021-07-06 17:05] drwells commented on #885
By 'both APIs', do you mean the new deal.II one and the current libMesh one? If so, absolutely - we should maintain the libMesh API indefinitely, just not massively rewrite it.

[2021-07-06 17:06] boyceg commented on #885
No, I mean add `Part` to the libMesh-based FE API. I would like the deal.II and libMesh-based FE stuff to be as similar as possible.

[2021-07-06 17:08] drwells commented on #885
Ah. Maybe? That's going to be harder to do since libMesh has such a fundamentally different set of features. Lets reopen this for now.

[2021-07-06 17:10] alexkaiser commented on #662
Yes, I have seen the bug more, but let me recompile with the most recent
version. I’m on vacation this week but will try next week. It’s
reproducible but I haven’t yet found a minimal example.

Thanks,
Alex

On Tue, Jul 6, 2021 at 12:46 PM David Wells ***@***.***>
wrote:

[2021-07-06 17:11] boyceg commented on #885
In terms of basic model specification, doesn't the deal.II implementation basically support a subset of the features in the libMesh-based implementation (since we have found that some of the stuff offered in the current `IBFEMethod` is not really useful)?

[2021-07-06 17:24] drwells commented on #885
Yes. Several things are still missing (like body forces and pressures) but we now enforce that the same FE space is used for displacement, velocity, and force. However, the deal.II implementation goes further than that and basically implements the majority of open libMesh issues here, e.g.,:
- a `Part` class (this issue)
- custom quadrature support (almost done) - #516
- avoid setting up multiple

[2021-07-06 17:43] boyceg commented on #885
I am mostly thinking in terms of the APIs for high-level model specification (which are primarily stress and force functions) rather than method/solver specification. I think it is fine (and probably good) for solver stuff and internal organization to be different.

An alternative would be to add in a new API for the libMesh-based implementation that looks like the deal.II implementation, and to d

[2021-07-06 20:10] #996 closed

[2021-07-06 20:19] boyceg commented on #1277
A thing that could be done would be to add in this sort of logic to the `HierarchyIntegrator` base class --- similar to how it keeps track of when to regrid.

[2021-07-12 19:24] drwells opened #1288 "Write a better script to scrape info"
@knepley pointed out that we can use

https://www.gharchive.org

to get the information we need instead of doing it manually. We should add a script that queries this site for what we want to know and do it at release time.

[2021-07-12 20:48] drwells commented on #143
We aren't using Jenkins anymore so lets close.

[2021-07-12 20:48] #143 closed

[2021-07-12 20:50] drwells commented on #1149
This was essentially accomplished in #1285.

[2021-07-12 20:50] #1149 closed

[2021-07-13 13:48] drwells opened #1290 "Add another SecondaryHierarchy::reinit() call that takes a StandardTagAndInit strategy pointer"
Right now `IBTK::SecondaryHierarchy` is simply a repartitioning of the normal hierarchy - the index space is the same. It would be useful, though, to enable an alternative strategy where only certain cells are refined.

The right way to implement this would be to add another internal class named something like `CopyOrCustomTags` which inherits from `StandardTagAndInitStrategy` which lets a caller

[2021-07-13 19:59] drwells opened #1291 "Document the XDR and ExodusII requirements in libMesh"
I think we require ExodusII - we definitely require XDR for restarts.

[2021-07-14 16:40] drwells opened #1295 "Get our own (at UNC) CI server running."
I looked some more into it and this is definitely possible - in fact it's more or less the default for deal.II, see

https://cdash.43-1.org/index.php?project=deal.II

the machine `tester` is ours and it has some real hardware (44 cores, not 2). I'll do some more reading before bugging Matthias about how its set up, but for now I want to at least summarize the discussion in #1285 here.

There are s

[2021-07-14 19:49] drwells commented on #263
Time goes by and this issue remains. @abarret I know we hit another wall w.r.t. `Patch::is_periodic()` or whatever it was. Could you post all your notes and whatnot here so that we have everything in one place?

[2021-07-14 20:37] drwells commented on #588
#1289 implemented verbose mode so this is now fixed.

[2021-07-14 20:37] #588 closed

[2021-07-15 13:01] AminKolah commented on #1234
I have tested this PR against all tests of the first IIM paper and double-checked convergence results / benchmark results. All examples are available on the paper repository at https://github.com/IBAMR/paper-IIM-weak_jumps , related to the publication at https://www.sciencedirect.com/science/article/pii/S0021999119305388 .  Is there anything else that needs to be done as far as verification/valida

[2021-07-15 13:02] boyceg commented on #1234
Next we need short versions of some of these tests added to the main library.

[2021-07-15 13:11] boyceg commented on #1234
Let David know if it is not clear how to add the tests.

[2021-07-15 13:22] AminKolah commented on #1234
Currently, it doesn't seem like David has access to the paper repository.  So I think that's the first thing to do... Generating short versions of these tests/examples should be super straightforward but I can clarify/help with the examples if certain templates need to be generated for the main library.

[2021-07-15 13:46] drwells commented on #1234
I can see the repo, but I am still waiting on the tests we discussed in https://github.com/IBAMR/IBAMR/pull/1244#issuecomment-840764031. Let me know if you have questions on how to do it!

[2021-07-15 14:03] AminKolah commented on #1234
Can you be more specific about the tests? I see that you mentioned they need to take 30 sec or less according to this: https://github.com/IBAMR/IBAMR/pull/1244#issuecomment-840670856

[2021-07-15 14:20] drwells commented on #1234
Sure.

We have about 430 tests in IBAMR - the majority take less than a minute. They don't compute anything physically meaningful (most of the time for IBFE we have about 100 elements and do 50 time steps), but they validate that the output we get stays consistent over time. For example - many of the IBFE tests just validate that we end up with the same parallel DoF distribution and then quit.

A

[2021-07-15 15:35] boyceg commented on #1255
@Raamkrishnan, I cannot remember --- did you get a chance to add a test for this?

[2021-07-15 15:39] drwells opened #1299 "Start using clang-format"
It shouldn't be that hard to add another GitHub action that runs clang format and somehow communicates the result to the PR author. Some options:
- we could rig things up to set up a PR onto the callers PR that fixes indentation
- minimally, we can generate a patch for them to apply

I think the second one is probably okay - we've gotten away with less than that in the deal.II CI. In particular, w

[2021-07-15 18:40] Raamkrishnan commented on #1255
@boyceg  No. I did not add yet. I am working on a revision of one of my articles. I will add this test next week.

[2021-07-15 20:28] amneetb commented on #1255
@Raamkrishnan : what test case are you thinking?

@boyceg : I'd a discussion with Andy Nonaka about this. His argument is specifying div.u = XXX may not guarantee pressure or velocity solution close to manufactured solution. This is because of numerical artifacts. Since div.u = 0 is a simple constraint, manufactured solution strategy works there. This has been our observation too - in some cases u

[2021-07-15 20:59] knepley commented on #1255
@amneetb Do you have a true low Mach test case? I have not been able to find one. Lots of people run the methane burner from Madja and Sethian, but there is no solution. NALU uses the Taylor-Greene vortex, but it has no density variation. It is a little frustrating. I made an MMS case with a solution that looks like pipe flow in a differentially heated pipe.

[2021-07-15 21:05] amneetb commented on #1255
@knepley : Moin's paper has 3-4 cases. They satisfy mass balance equation which is nice.
https://www.sciencedirect.com/science/article/pii/S0021999112000484?casa_token=OZnMDy0GhZwAAAAA:OqH_gLSs1HM_AAgIEd1FvccCAZfFuCN5hze6ZykzCt5IEQ6j0IokkPyxm8GuH1WHAWdsRQ

I was trying a short-cut by avoiding the solution of concentration variables and just setting div.u = XXX. This approach does not work! One act

[2021-07-15 21:08] boyceg commented on #1255
This isn’t a low Mach code, though — I don’t think there are any fundamental stability issues here with at are different if you require that div u = q instead of div u = 0. I think that the basic stability question is if the Schur complement is solvable for the given value of q.

[2021-07-15 21:15] amneetb commented on #1255
Hmm?

"A pressure Poisson equation is formulated by considering the projection step that, when added to Eq. (16), yields a
consistent discretization of the momentum equation:" ---> low Mach approach

[2021-07-15 21:18] amneetb commented on #1255
I.e., there are only two ways to impose a constraint on the density field: compressible flow formulation or low Mach formulation typically done via projection method.

[2021-07-15 21:27] boyceg commented on #1255
Unless I misunderstood what this issue was originally about, I think that density is constant in the solver in question. It is just constant coefficient incompressible Stokes / Navier-Stokes with div u = q instead of div u = 0 — i.e. just internal sources/sinks.

[2021-07-15 21:36] amneetb commented on #1255
Yeah, I believe we took that (ill-constructed) case just to do some sanity checks. When rho = constant, then div u = -1/rho D(rho)/Dt = 0.

In short, we were not constructing the problem correctly. For low Mach solvers one needs to evolve the variable which is physically causing the density to change, and then express div u in terms of that variable evolution. We are doing this with a phase change

[2021-07-15 21:41] amneetb commented on #1255
I'd be interested to read a write-up on that if you have one.

[2021-07-15 22:49] knepley commented on #1255
Thanks @amneetb ! I will send you a writeup of it. I would also be interested in talking about a solver. Right now, I am fighting it out with implicit solvers, but I may give up and try higher order explicit.

[2021-07-16 14:40] drwells opened #1301 "Augment an example to track a few IB point coordinates"
This came up in the group meeting this morning - we should add an example for this that incorporates Aaron's old notes and shows how to do this.

Cole - I don't think you have a GitHub account, but if you want to give this a try let me know!

[2021-07-16 14:42] drwells commented on #1301
See also
[ibamr_lag_data.pdf](https://github.com/IBAMR/IBAMR/files/6831436/ibamr_lag_data.pdf)

[2021-07-16 22:34] abarret opened #1302 "IBAMRConfig.cmake doesn't export location of bundled Boost or Eigen"
When IBAMR is built with the bundled version of Boost or Eigen, the location of the libraries is not propagated to `IBAMRConfig.cmake`. This can cause a conflict when there exists a system installed Boost or Eigen.

[2021-07-16 22:41] abarret commented on #1302
For Boost, we can set `Boost_ROOT` to be the correct directory after we detect that the bundled version is being used. For Eigen, it's a little more complicated because I think we use `Eigen3_ROOT` in some libMesh checks.

[2021-07-20 16:41] #1302 closed

[2021-07-21 17:31] kwryankrattiger opened #1306 "Errors found when running tests"
I was running the tests and I found a few cases that crashed/took longer than 10 minutes.

Attached:
[LastTestsFailed_20210721-1648.log](https://github.com/IBAMR/IBAMR/files/6857705/LastTestsFailed_20210721-1648.log)
[LastTest_20210721-1648.log](https://github.com/IBAMR/IBAMR/files/6857706/LastTest_20210721-1648.log)

[2021-07-21 19:03] drwells opened #1308 "Warn that IBStrategySet doesn't work with ConstraintIBMethod"
From the mailing list.

[2021-07-21 19:47] amneetb commented on #1308
No, it works! I was just saying you don't need to do it if all structures can be modeled by a single IBMethod 😀

[2021-07-26 16:25] drwells commented on #1308
I misread your email! Nevermind!

[2021-07-26 16:25] #1308 closed

[2021-07-26 16:31] drwells opened #1310 "IBAMR 0.9"
We extended the deadline by a month to get a few new things in but the time is now to start putting the release together. In particular - the agreed upon release cadence is twice a year, so anything that doesn't make it into this one can be moved into the one we release some time in December or January.

*Please finish any outstanding patches by August 1. I'll put together the release with what we

[2021-07-26 19:41] drwells commented on #1306
How did you run the tests? If it was on GitHub's CI then I am not too surprised - we are not yet configuring MPI in such a way that we can actually use more than two cores. If you look at the list of failures then only one test (in 3D) failed with two cores. We should add that particular test to the list of tests to avoid on CI but otherwise I believe this is covered by the exclusion regex in that

[2021-07-26 19:48] drwells commented on #1306
In particular, I see a lot of bus errors - that's not IBAMR, that's some problem with how the dependencies were compiled. Did you use the older dependency images that still used `march=native`?

[2021-08-03 16:29] drwells commented on #263
@abarret *ping*

[2021-08-03 16:32] drwells commented on #263
I want to take another look at this soon. We should try to see if we can resolve the periodicity issue and then try to port minimal chunks of IBTK over.

[2021-08-04 18:07] drwells commented on #263
Let me write it out here: we may want to convert this into a checklist.

Updating to SAMRAI main branch:

List of changes:

##### Can be done or detected *mostly* automatically #####

1) SAMRAI is no longer templated on the dimension. Certain classes require the dimension as an input in the constructor if they can not figure out from member variables.
    -- removeTemplateOnDim.pl

2) SAMRAI Array

[2021-08-04 18:17] drwells commented on #263
@abarret could you add a single script (either in shell or perl) that runs all the other scripts?

[2021-08-04 18:19] abarret commented on #263
Yes. There's already one in the branch.

[2021-08-04 18:23] drwells commented on #263
Oh - which one is it?

[2021-08-04 18:40] abarret commented on #263
update_to_samrai_3 or something very similar. I probably should have added an extension. :)

[2021-08-04 20:06] drwells commented on #263
@abarret Could you move that branch into this repo? I want to start working on it and it will be easier to track this way.

[2021-08-04 20:35] abarret commented on #263
The branch is now located at https://github.com/IBAMR/IBAMR/tree/samrai_main

[2021-08-09 23:56] abarret commented on #263
@drwells, how do you want to manage changes to the branch? Should I push changes to my own repository, or this repository?

[2021-08-10 00:29] drwells commented on #263
I'd prefer if we put up PRs here so I can see the progress.

[2021-08-10 00:30] drwells commented on #263
The other advantage of PRs is that we can concurrently write patches without running into problems.

[2021-08-10 01:42] abarret commented on #263
Do you have a suggested commit strategy? My current strategy is to commit whenever I have a subdirectory that builds.

[2021-08-10 01:53] drwells commented on #263
I'd rather not check in changes to the library itself yet - we should just continue updating the scripts.

[2021-08-10 12:46] drwells commented on #263
In particular - if we maintain a branch where the scripts have been executed then that branch will always have difficult to understand conflicts with `master`. We should never check in those changes - instead we should check in everything else (like changes to the build system).

[2021-08-12 21:12] drwells opened #1335 "Add code to log the revision number"
This should be straightforward to do within IBAMR - we can borrow liberally from

https://github.com/dealii/dealii/blob/981214b60b491f465dd8cf04e24989a2d806229c/cmake/macros/macro_deal_ii_query_git_information.cmake

and then add a utility function to print it.

[2021-08-16 21:41] drwells commented on #1310
I fixed a bunch of small bugs - we're ready for the release!

[2021-08-16 21:41] #1310 closed

[2021-08-17 15:47] drwells commented on #1254
Matt mentioned yesterday that we are getting catastrophically bad performance with oversubscription since (at least MPICH) defaults to the highly scalable communication algorithms which are terrible at oversubscription. We should switch to the less-scalable one (we only need 8 processors, it won't make a substantial difference) to get better oversubscription.

We might also be able to fix this by

[2021-08-30 12:50] drwells opened #1346 "Add more timers to HierarchyIntegrator to more accurately capture regrid costs"
From a slack thread with Boyce and our colleagues at redbud.

[2021-08-30 21:00] drwells commented on #1110
Looking back at this almost a year later - a lot of our API expects users to pass in function pointers. I think we shouldn't bother converting only half of the API (i.e., what we store internally). Hence, if we aren't changing it, this should be closed.

[2021-08-30 21:05] drwells commented on #549
@boyceg it would be nice to do this with our current setup on GitHub. Instructions are here:

https://docs.github.com/en/organizations/managing-organization-settings/disabling-or-limiting-github-actions-for-your-organization#configuring-required-approval-for-workflows-from-public-forks

I don't have sufficient permissions to do this with the IBAMR organization so either I need a promotion or this

[2021-08-31 03:15] boyceg commented on #549
What permissions do you need?

[2021-08-31 03:18] boyceg commented on #1110
Does it _really_ change the API to change from C-style function pointers to `std::function`?

[2021-08-31 12:03] drwells commented on #549
I need to be set to `Owner` of the IBAMR organization. I am not sure if there can be multiple owners.

[2021-08-31 12:05] boyceg commented on #549
OK — in that case, which settings need to be changed?

[2021-08-31 12:06] drwells commented on #1110
That was my original intent in this issue - I'm not sure I understand your question.

[2021-08-31 12:06] #1346 closed

[2021-08-31 12:07] #1291 closed

[2021-08-31 12:11] drwells commented on #549
The long version is in the link. The short version is:

Click on your account at the top right
go to "Your Organizations"
next to IBAMR click "Settings"
on the left click "Actions"
change "Fork pull request workflows from outside collaborators" to "Require approval for first-time collaborators"

There are some more changes but we should start there.

[2021-09-01 17:12] boyceg commented on #1110
I guess I didn't understand your comment. Anyway, I think we should do this! I think that the C++11 `std::function` syntax is much clearer than the C-style function pointer syntax.

[2021-09-02 13:44] drwells commented on #1110
My original statement was vague. I'll try to describe it better here.

Right now users write their own callbacks as C functions and pass them to APIs like
[code]
where the first argument to `LagBodyForceFcnData` is a `LagBodyForceFcnPtr` defined (by alias) as
[code]

If we replace this we would instead write

[code]
if a reader wants to figure out the type they now also need to figure out what a `

[2021-09-02 13:58] boyceg commented on #1110
OK; got it.

It sounds like we should actually _prefer_ C-style function pointers to `std::function`.

It looks like we do not actually use `std::function` in the library currently. All I found a comment (in `ConstraintIBMethod.h`) saying that we should update to using it. Should we remove that comment and close this issue?

[2021-09-02 14:00] drwells commented on #970
This was sufficiently addressed when we implemented verbose mode in #1289.

[2021-09-02 14:00] #970 closed

[2021-09-02 14:03] drwells commented on #1110
I think so. Since we always pass `void *ctx` as an argument we don't really utilize the primary benefit of `std::function` (namely that it can store state and it works with member functions), so we should stick with plain function pointers.

[2021-09-02 15:10] #1110 closed

[2021-09-07 15:17] drwells opened #1355 "Put together another docker container that uses all bundled dependencies"
It looks like I broke `master` with the bundled copy of Eigen in #1344 (I am working on a patch). We should prevent this in the future by putting together a second docker container that uses bundled dependencies (and the oldest compiler toolchain we can find).

[2021-09-07 16:22] drwells commented on #1355
Patch is in #1356.

[2021-09-07 21:02] drwells commented on #1335
I'd like to proceed with this in a way that's actually useful to people - I'm not sure that exporting IBAMR's git revision hash is what we need. IIRC one thing people wanted was to print the revision status of their own project, not that of IBAMR.

@jabrown893 what exactly would you like to be able to do with something like this? Just log information about the state of your own code when you run s

[2021-09-07 21:14] jabrown893 commented on #1335
I think @boyceg was thinking of using it to keep track of which version of the project code generated a certain result (but it could probably also be useful to keep track of which version of IBAMR was used)?

[2021-09-07 21:42] drwells commented on #1335
I'll start with the former.

[2021-09-07 21:43] boyceg commented on #1335
I was thinking that it would be good to somehow log the checkout or version that is being used in a simulation to facilitate reproducibility. This could be as simple as a script that is run to report the commit hashes for a list of repos.

[2021-09-13 20:03] drwells commented on #1234
I'd like to move forward with this - we didn't make the last release window and we won't make the next one either unless we start accumulating patches.

I don't see tests (as in input and matching output files) in any branch here or in any of the IIM repos - we need those to move on to fixing the `Node` partitioning bug (and ultimately merging in `IIMethod`). Where are the tests? If they don't yet

[2021-09-13 20:04] boyceg commented on #1234
There are computational tests from the papers (in the paper repos), but there are not "unit tests".

[2021-09-13 20:08] drwells commented on #1234
That's a start. My impression from the conversations over the summer (e.g. https://github.com/IBAMR/IBAMR/pull/1244#issuecomment-840764031) was that @AminKolah would write tests. Is that right? If not, we should explicitly assign the work to someone.

[2021-09-14 13:41] AminKolah commented on #1234
I prepared most of these tests last night. I will add all them to the paper repo this evening when I go home and will make a PR to add them to the library.

[2021-09-16 16:58] drwells opened #1358 "Convert the GSL integrals to use boost"
boost 1.66 was released in 2017 and it includes support for Gauss-Kronrod quadrature (the quadrature we use in eel3d):

https://www.boost.org/users/history/version_1_66_0.html

I'd like to update our minimum and bundled versions of boost so we can use this instead of GSL - this way users don't need one more dependency just to run this example.

AFAICT we only use GSL in this one place and we shoul

[2021-09-16 17:08] amneetb commented on #1358
That would be great! On some systems GSL is installed without header files (non-dev version) and this causes agony in getting configure work with the user-installed version of it.

[2021-09-17 13:26] jabrown893 opened #1359 "Missing #include <memory> in ibtk solver_utilities"
Master fails to compile on Linux systems with `error: 'unique_ptr' is not a member of 'std'`

[2021-09-17 19:02] #1359 closed

[2021-10-13 20:04] drwells opened #1365 "CMake doesn't seem to respect loaded compiler modules"
If you load a module then `which gcc` returns the correct value, but CMake will default to using /usr/bin/cc - that is technically correct but its not what we want. We should add some instructions to make this clearer and specify that CMake really does need us to set an environment variable, `CMAKE_CXX_COMPILER`, or equivalent.

[2021-10-19 13:08] drwells opened #1367 "Does 'make lib' do something weird with autotools?"
There was a really bizarre post on the mailing list that we just resolved where `make lib` may have possibly not compiled IBTK correctly, but still created `libIBTK2d.a` et al. We should investigate to make sure that `make lib` does something sane and that the documentation (on the website) is correct.

[2021-10-19 20:00] drwells commented on #1367
I put up a PR for the website repo. Since there is nothing to do here I will close.

[2021-10-19 20:00] #1367 closed

[2021-11-05 14:20] #1215 closed

[2021-11-05 14:20] #1358 closed

[2021-11-15 20:43] boyceg opened #1378 "Add the ability to disable spreading and interpolation separately for structures"

[2021-11-29 19:17] boyceg opened #1380 "Create an IBFE example showing how to export strains and stresses"

[2021-12-15 20:36] drwells opened #1384 "IBAMR 0.10 Release"
It's time to take what we have and put together another release. If you think something should be in the release then please put it in the milestone.

*Please finish any outstanding patches by January 3. I'll put together the release with what we have at some point that week.*

# IBAMR release tasks

## static analysis

- [x] verify that neither `namespaces.h` nor `app_namespaces.h` are in IBTK or

[2021-12-15 20:37] drwells commented on #1177
@abarret will you get this done by January?

[2021-12-15 22:02] abarret commented on #1177
It is on my to-do list.

I ran into issues before because changing to the `IBTK` versions caused some tests to fail. I will revisit this and see what's going on.

[2021-12-20 21:12] abarret commented on #1177
@drwells, replacing the SAMRAI `equalEps` with the appropriate `IBTK` version causes a change in the test `explicit_ex4_2d.displace.mpirun=4`. The difference is only in one line in calculating the maximum node displacement:
[code]

[2021-12-20 22:21] drwells commented on #1177
That's unexpected. Is that branch publicly available?

[2021-12-20 22:26] abarret commented on #1177
Yes, you can find it here
https://github.com/abarret/ibamr/tree/replace_equal_eps

There's potential that very small values could now be ignored with the patch, but it's surprising that it's only one line of one test.

I have tried to determine the correct intention behind `equalEps` and replace it with the appropriate relative or absolute comparison. Another possibility is to instead switch from

[2021-12-22 17:04] drwells commented on #1177
It looks like that patch includes a bunch of changes, e.g., comparing timesteps to within `0.1*dt` instead of the current condition. How about we pull out all the stuff that should be the same as SAMRAI to start? Those changes shouldn't alter the output.

[2021-12-22 17:08] drwells opened #1387 "Put together some documentation on meshing"
This isn't directly related to IBAMR, but it comes up very frequently (at least among users at UNC), so we should do it.

Some topics to include:
- getting tetwild or ftetwild set up and running
- some of its competitors, like CADFix and NekMesh
- general advice on solidworks, etc.

[2021-12-22 18:39] knepley commented on #1387
Note that PETSc can manage Triangle, TetGen, MMG, and ParMMG meshing as well.

[2021-12-22 18:58] cpuelz commented on #1387
happy to contribute to this discussion as well. we have been working a lot
with MeshMixer, TetWild, GMSH, etc.

On Wed, Dec 22, 2021 at 12:39 PM Matthew Knepley ***@***.***>
wrote:

--
Charles Puelz
Baylor College of Medicine
cpuelz.github.io

[2022-01-03 22:01] drwells commented on #1384
Lets get the following in:
- [ ] #1244
- [ ] #1366
- [ ] #1371
- [ ] #1382
- [ ] #1383
- [ ] #1385
- [ ] #1386
- [ ] #1388

For future-proofing, we also need to update the SAMRAI patch to avoid using `mallinfo` which is now deprecated.

[2022-01-04 16:12] #1177 closed

[2022-01-05 15:02] boyceg opened #1390 "provide clearer error messages for structure initialization errors"
For IBMethod, all of the initial positions need to be inside the computational domain. We should provide a clear error message if any of the points are not in the domain during initialization.

[2022-01-05 18:56] drwells commented on #1390
Was this on the mailing list?

[2022-01-05 19:10] boyceg commented on #1390
I think that it is related to a problem reported on the mailing list.

[2022-01-07 21:11] drwells commented on #1384
In order to proceed with the release (in this case, mass copyright updates) we need to merge the last few PRs listed above - @IBAMR/ibamr-admin-team could someone take a look?

[2022-01-08 02:52] abarret commented on #1384
I can press the button to approve the IIM PR if @boyceg or @AminKolah are not available, but I don't know enough to comment on correctness.

[2022-01-08 05:01] AminKolah commented on #1384
Thanks Aaron for poking on this. I didn't initially get any notification (I'm not in the admin-team)....I just reviewed the files. Everything looks good to me except a couple of minor things in the example input files. Thank you David for adding those new features. I must have totally missed them!

[2022-01-08 15:50] drwells commented on #1384
I had to make some educated guesses for the input files to get them running - if you have better fixes I would be happy to take them!

[2022-01-08 16:34] AminKolah commented on #1384
Sure thing. I already made a 3 small comments but it seems like you might have not received them. It says "pending" on my side whatever that means (probably because some sort of permissions are required for a user to comment here). In any case, I took a snapshop and attached it here. With these, everything is 100% good for the release on my side. Thanks!

<img width="752" alt="Screen Shot 2022-01-

[2022-01-08 16:38] AminKolah commented on #1384
Sorry it seems like I forgot to "submit" my comments at the end last night.

[2022-01-08 16:49] AminKolah commented on #1384
With those changes everything else looks good as for the IIM release. For the next release, I can clean up a few more examples so that we can add them as rigid and flexible demonstrations of full FSI using IIM/ILE.

[2022-01-20 21:27] drwells commented on #1384
We're done!

[2022-01-20 21:27] #1384 closed

[2022-01-24 20:13] drwells commented on #1196
Fixed by #1397. We don't need a macro - users can write two lines of CMake.

[2022-01-24 20:13] #1196 closed

[2022-01-24 20:17] drwells commented on #337
This is a duplicate of #1299 - lets move it there.

[2022-01-24 20:18] #337 closed

[2022-01-24 20:19] drwells commented on #268
This is now done by https://github.com/IBAMR/autoibamr.

[2022-01-24 20:19] #268 closed

[2022-02-07 16:51] boyceg opened #1406 "make it easier to access derived quantities like vorticity"

[2022-02-07 17:31] drwells commented on #1406
As in, directly from the NSE integrators?

[2022-02-07 18:51] abarret commented on #1406
These are only computed as needed (regridding, visualizing, etc.). Do you want to keep the vorticity patch index up to date at each time step? Alternatively, we could have a function that fills the vorticity into a patch index given the INS integrator.

[2022-02-07 19:54] boyceg commented on #1406
One possibility would be to add functions to evaluate derived quantities like vorticity "on demand".

This is probably more trouble than it is worth, but a related thing I was thinking about was whether it could make sense to provide an interface to allow folks to provide pointwise functions (possibly involving a stencil, so with ghost cells) that are evaluated in terms of the primitive variables.

[2022-02-07 20:10] knepley commented on #1406
This sounds very much like something we added in PETSc that has been used all over the place:

  https://petsc.org/main/docs/manualpages/DM/DMProjectFunctionLocal.html
  https://petsc.org/main/docs/manualpages/DM/DMProjectFieldLocal.html

The idea is that you project something, like an analytic function or an FEM field, onto another basis. The twist here is that we allow you to pass in a pointwise

[2022-02-08 16:16] drwells opened #1409 "IBAMR 0.10.1"
We missed an automake file for IIM - there's also a compatibility patch we need for older versions of CMake. I'll go ahead and get a bugfix release out this week.

I'm opening an issue now so that we can tag anything else that we are missing.

[2022-02-11 14:59] #1365 closed, assigned to nobody

[2022-02-15 16:17] drwells commented on #1409
The release is out! Hopefully we won't need a 10.2.

[2022-02-15 16:17] #1409 closed

[2022-02-16 13:50] drwells opened #1423 "Infrastructure Week (end of February)"
I mentioned I would do this in another thread and I need to write down some todos somewhere.

We've run into a couple of silly problems recently due to insufficient CI coverage, including:
- examples don't compile with autotools
- examples don't compile with CMake
- bug with older versions of CMake
- things don't compile with older versions of clang (in particular when the compiler does not defaul

[2022-02-16 17:04] abarret commented on #1423
Our sys admin apparently doesn't have enough to do, so we have installed every clang release since 3.4 and every gcc release since 4.4. If there's something I can do with all these things available, let me know.

[2022-02-16 18:58] drwells commented on #1423
Can they set up stuff that will run at UNC or as GitHub actions?

[2022-02-25 21:37] drwells commented on #1355
This is technically fixed by https://github.com/IBAMR/docker-files/blob/master/dependencies-0.10.1/Dockerfile, which uses all bundled dependencies. I'll consider this closed once we switch over to the new image here:

https://hub.docker.com/r/wellsd2/ibamr/tags

[2022-02-25 21:41] boyceg commented on #1234
@drwells, @AminKolah, can we close this now? 😁

[2022-02-25 21:43] AminKolah commented on #1234
Yes since IIM has been merged inot master already? Maybe we should open a new one for adding some rigid and flexible tests?

[2022-02-25 21:45] boyceg commented on #195
@abarret, did we get around to fixing this?

[2022-02-25 21:50] abarret commented on #195
No. But I don't think there's something to fix. It's unclear what things (if any) should be tagged for refinement. As @amneetb pointed out, you can always register a function that tags cells.

[2022-02-25 21:50] #195 closed

[2022-02-25 23:09] #1234 closed

[2022-02-27 20:06] colegruninger97 commented on #992
Is the best way to locate where static members of classes reside in IBAMR using `grep`? Or, is there a more efficient way. Also, should I be converting the classes into namespaces or moving the static members into already existing namespaces like the `IBAMR` namespace? Thanks.

[2022-02-28 18:09] drwells commented on #992
For starters, most of these classes shouldn't be classes at all and have names like `VectorUtilities` or whatever signifying that they are really collections of functions - I'd look for classes with names ending in Utilities.

[2022-02-28 18:12] drwells commented on #992
The class needs to become a namespace. We don't want to make any breaking changes at this point to the library. For example,

[code]
should work as-is regardless of whether `IndexUtilities` is a class or a namespace.

[2022-03-01 16:32] boyceg commented on #1423
Nice. Can you post some documentation (in the wiki?) on Docker and/or sccache?

[2022-03-02 17:46] drwells commented on #1355
Fixed by #1435.

[2022-03-02 17:46] #1355 closed

[2022-03-08 16:40] #1390 closed

[2022-03-22 13:53] drwells opened #1444 "Let IBFEMethod check which elements are inverted"
We should have a better error message that tries to sort things out as soon as we load the mesh. Right now we error out in

https://github.com/IBAMR/IBAMR/blob/50d5c37d8f2952abc21f05ab224f22003d23d6e7/ibtk/src/lagrangian/FEMapping.cpp#L230-L249

which is pretty far along the pipeline and doesn't print any useful messages.

This was discussed in group meeting and will fix a problem @labdala ran int

[2022-04-08 14:50] drwells opened #1445 "permit using nonstandard boost installations as long as they provide what they need"
I ran into this problem a week ago - we use the normal CMake detection mechanism for boost which is well and good when boost is installed in the 'normal' way. However - sometimes people do weird things and only install the headers (and thus none of the CMake configuration information for dependency tracking). We can easily support this case by expanding our detection logic to try and fall back to

[2022-04-16 20:11] drwells commented on #1254
We have docker containers now, both on dockerhub (under wellsd2) and the scripts to build them here on GitHub. For users we also have autoibamr which is more conventional.

[2022-04-16 20:11] #1254 closed

[2022-04-19 21:18] abarret opened #1447 "Warn users of possible poor choice of options"
From the slack channel, we should warn users if they select options that will usually give poor results.

For example, with IBFE, setting the options `IB_use_nodal_quadrature = true` and `use_consistent_mass_matrix = true` gives poor results. We should throw a warning if both these options are set to `true`.

[2022-04-19 21:19] boyceg commented on #1447
A very big, hard to miss warning printed to `pout`! 😁

[2022-04-19 21:25] abarret commented on #1447
@boyceg, @amneetb, @drwells Are there other choices of options that should throw warnings?

[2022-04-19 21:55] amneetb commented on #1447
Do not use non-conservative INSVC for large density ratio fluids.

On Tue, Apr 19, 2022 at 2:25 PM Aaron Barrett ***@***.***>
wrote:

--
--Amneet

[2022-04-19 21:56] drwells commented on #1447
What is a known density ratio that is too large?

[2022-04-19 21:59] amneetb commented on #1447
100 and more.

On Tue, Apr 19, 2022 at 2:56 PM David Wells ***@***.***>
wrote:

--
--Amneet

[2022-04-19 22:19] drwells commented on #1447
I'll probably think of more later, but I can't remember if we banned quadrature rules with negative weights: if not that should raise a warning.

[2022-04-19 22:20] boyceg commented on #1447
I think we couldn’t come to a conclusion as to whether it was actually bad or not.

[2022-04-19 22:22] drwells commented on #1447
true, but its just a warning.

[2022-04-20 13:56] drwells opened #1448 "make sure that our SAMRAI patch works with C++17/C++20/C++2b"
This was mentioned on the mailing list - I haven't noticed a problem but we should double-check, especially now that libMesh requires C++17.

[2022-04-20 13:59] boyceg commented on #1448
We basically need to remove `register` everywhere.

[2022-04-28 14:29] drwells commented on #1306
Fundamentally, this issue referred to tests failing when run with ctest in the CI. This has long since been fixed.

[2022-04-28 14:29] #1306 closed

[2022-04-28 20:41] #1053 closed

[2022-05-11 14:33] drwells opened #1454 "0.11 Release"
Lets try to get this in by the end of June (I'll be gone a lot in July). I added relevant issues to the milestone. In addition, we should get the new examples @AminKolah used in the ILM paper into the repository.

[2022-05-11 14:33] drwells commented on #1454
# IBAMR release tasks

## Summary

This document describes the process for creating a new release of IBAMR on
GitHub.

## static analysis

- [ ] verify that neither `namespaces.h` nor `app_namespaces.h` are in IBTK or
  IBAMR headers
- [ ] clear basic compilation warnings with GCC and clang on linux
- [ ] compile with the latest libMesh release (which should be configured with
  `--disable-depreca

[2022-05-16 18:56] drwells commented on #1448
I got a copy of GCC 12 this weekend and updated the patch.

[patch-11.tar.gz](https://github.com/IBAMR/IBAMR/files/8702666/patch-11.tar.gz)

[2022-05-18 17:52] #1445 closed

[2022-05-18 20:05] #1444 closed

[2022-05-24 21:56] boyceg opened #1460 "update IB/ex3 comments"
Fix comments for the spring tension function and its derivative.

[2022-06-08 15:56] drwells commented on #1454
@AminKolah are the examples in paper-IIM-weak_jumps ready to be added to IBAMR?

[2022-06-08 17:43] AminKolah commented on #1454
On it now ..btw, is there any preference for which examples to include from these 3 preprints? Aside from the flow past a cylinder (currently included), I think we would want to include a few examples for stationary, rigid, and flexible FSI, all under IIM or IIM-ILE folder.

[2022-06-08 17:49] drwells commented on #1454
My only preference here is to focus more capabilities than applications - e.g., one rigid body example is probably enough, so we should ideally have one of each of the types you listed.

[2022-06-09 19:22] AminKolah commented on #1454
I just started a branch to add the examples. I will create an issue once I'm done adding all of them, later tonight or tomorrow.

[2022-07-04 20:54] drwells opened #1477 "harmonic avg changelog and tests"
Discussed in #1464  - we also need a changelog.

[2022-07-20 15:57] drwells commented on #1454
We're done!

[2022-07-20 15:57] #1454 closed

[2022-07-20 16:10] drwells commented on #1448
This is all fixed in the release.

[2022-07-20 16:10] #1448 closed

[2022-08-01 20:57] SIMAO75 opened #1482 "the source term F = +U min(Q,0) in the momentum conserving method"
I am coding your momentum conserving, I have two questions:

1) what does the quantity Q in the term F = +U min(Q,0) correspond to?

2) What happens if we don't add this term in the source term.

Many thanks to you

[2022-08-01 20:59] amneetb commented on #1482
@SIMAO75 Can you point to the code that you are referring to?

[2022-08-01 21:00] boyceg commented on #1482
I think that this is a question about how the momentum equation is modified to account for internal fluid sources and sinks. If so, it is discussed in Appendix B of my PhD thesis (https://www.proquest.com/pagepdf/305469263).

[2022-08-01 21:46] SIMAO75 commented on #1482
@amneetb I'm talking about this subroutine function navier_stokes_cons_source2d
https://github.com/IBAMR/IBAMR/blob/master/src/navier_stokes/fortran/navier_stokes_divsource2d.f.m4

I turned the case of the dense sphere in translation (mass ratio 10^6), it works well in 2D with the CUI scheme but it diverges in 3D, I think that the stabilization term F = +U min(q,0) is interesting to put because I

[2022-08-01 22:26] amneetb commented on #1482
@SIMAO75 : To be on the same page are you talking about mass-momentum transport consistency for high-density ratio multiphase flows?

[2022-08-01 22:36] SIMAO75 commented on #1482
@amneetb exactly i talek about t mass-momentum transport consistency for high-density ratio multiphase flows !

[2022-08-01 22:47] amneetb commented on #1482
Ok, we do not make use of source and sinks. `F = +U min(q,0)` is something from legacy in the INS class that is not used in INSVC class for multiphase flows.

Recently, we have made some changes to the mass-momentum transport consistency classes. They have not propagated to the main branch. The main idea is that the auxiliary mass equation can be integrated by any integrator of choice and the mome

[2022-08-01 22:49] amneetb commented on #1482
BTW, are you talking about code in IBAMR or your own code for the 3D sphere case?

[2022-08-01 22:52] SIMAO75 commented on #1482
@amneetb Thank you, but im talkin about my own code for the 3D sphere case

[2022-08-01 22:54] amneetb commented on #1482
I see. For us the 3D sphere case works as shown in the paper. But I think I may know what could be going on in your case.

What integrators are you using for integrating density and for treating convective term in the momentum equation?

[2022-08-01 23:02] SIMAO75 commented on #1482
@amneetb For the density transport I use a Range kutta of order 3 SPP-RK3 and the CUI scheme for the spatial derivative, the same scheme is used for the navier-stokes convective term, but it diverges in 3D

On the other hand when I use the WENO or CUbista scheme for the convective navier-stokes term the case works well in 3D

[2022-08-01 23:08] amneetb commented on #1482
Yep. Higher-order (HO) schemes are bit finicky when it comes to maintaining consistency. Can you make both HO integrators exactly the same?  That should fix it.

Having the same integrator is not the ideal solution, because density equation is hyperbolic and momentum equation is parabolic. One would want to use different integrators for these two equations.  We have a way of addressing this proble

[2022-08-01 23:12] SIMAO75 commented on #1482
Thanks for your suggestion, i will try it

[2022-08-01 23:13] amneetb commented on #1482
Hold on. Are you saying:

1) SSPRK3+CUI for density and SSPRK3+CUI INS does not work.
2) SSPRK3+CUI for density and WENO for INS works.
3) SSPRK3+CUI for density and SSPRK3+WENO (or SSPRK3+CUBISTA) for INS works.

[2022-08-01 23:38] SIMAO75 commented on #1482
When i transport density and i deduse convectif term:
    SSPRK3+CUI for density and Euler 1+CUI INS does not work
    SSPRK3+weno for density and Euler 1+weno INS work.
    SSPRK3+Cubista for density and Euler 1+cubista INS work.

When i transport density and inetermediate momentum:
    SSPRK3+CUI for density and SSPRK3 1+CUI INS does not work
    SSPRK3+weno for density and SSPRK3+weno INS work.

[2022-08-02 00:04] amneetb commented on #1482
The first part makes sense because the two integrators are different for density and momentum.

The second part also makes sense (the integrators are the same) except for the difference in CUI vs. CUBISTA. The two limiters are more or less the same, with CUBISTA being a bit more accurate. However, it is possible that these two limiters perform differently for this large density case.

The fix that

[2022-08-02 00:10] amneetb commented on #1482
There could also be some bug in your CUI implementation. Notice that in both cases it is CUI that fails! So the mismatch of the integrators may not be the issue at all.

[2022-08-02 00:17] SIMAO75 commented on #1482
The cubista works for the case of dense sphere, for drop impact, dam break and other problems. I will see if there is a bug in the CUI implementation because I agree cubista and cui are almost the same.
as far as WENO is concerned, it does not respect the CBC criterion, but it works for this case, and not for others

[2022-08-02 00:26] amneetb commented on #1482
Here is our implementation of CUI, CUBISTA, MGAMMA, and FBICS
https://github.com/IBAMR/IBAMR/blob/master/src/navier_stokes/fortran/navier_stokes_staggered_helpers2d.f.m4#L866-L1041

You might want to compare with these ones. Of them CUI is the one that is tested mostly and is the workhorse.

The classical gas dynamics limiters WENO, PPM, etc., do not work for high density ratio flows. The maximum

[2022-08-02 00:30] SIMAO75 commented on #1482
ok I'll inform you, thanks for your help

[2022-08-02 11:26] SIMAO75 commented on #1482
The cubista works for the case of dense sphere, for drop impact, dam break and other problems. I will see if there is a bug in the CUI implementation because I agree cubista and cui are almost the same.
as far as WENO is concerned, it does not respect the CBC criterion, but it works for this case, and not for others

[2022-08-02 12:09] boyceg commented on #1482
It sounds like this is an IBAMR issue and might be better discussed somewhere other than this Issue tracker.

[2022-08-02 12:09] #1482 closed

[2022-08-22 21:17] Raamkrishnan opened #1485 "IBAMR compilation error due to '-fgnu89-inline'"
Hi,

I am compiling IBAMR with Cmake. While compiling, I get the error:

gmake[2]: *** [ibtk/src/CMakeFiles/IBTK3d.dir/build.make:469: ibtk/src/CMakeFiles/IBTK3d.dir/boundary/cf_interface/CartCellDoubleLinearCFInterpolation.cpp.o] Error 1
error: invalid argument '-fgnu89-inline' not allowed with 'C++'

I am using macOS Monterey (Clang version - 13.1.6), GNU Fortran 11.2.0, CMake - 3.21.4. Can anyo

[2022-08-22 21:20] Raamkrishnan commented on #1485
[CMakeError.log](https://github.com/IBAMR/IBAMR/files/9397654/CMakeError.log)
[CMakeOutput.log](https://github.com/IBAMR/IBAMR/files/9397655/CMakeOutput.log)
Attached are the CMakeError.log and CMakeOutput.log files.

[2022-08-23 12:54] drwells commented on #1485
It looks like the C++ compiler somehow got a C flag. Could you also attach CMakeCache.txt from the build directory here?

[2022-08-23 18:23] Raamkrishnan commented on #1485
Attached is the CMakeCache.txt.
[CMakeCache.txt](https://github.com/IBAMR/IBAMR/files/9409637/CMakeCache.txt)

[2022-08-23 19:33] drwells commented on #1485
This might be the same as https://gitlab.kitware.com/cmake/cmake/-/issues/23805 - i.e., its a CMake bug caused by an unusual combination of features.

1. Can you use an older copy of CMake? 3.15 should be fine.
2. Which version of MPI are you using?

[2022-08-23 19:45] Raamkrishnan commented on #1485
I use MPICH 3.4.2. I can try with an older version of CMake. Thank you for your suggestions.

[2022-08-23 19:47] drwells commented on #1485
We might be able to put together a workaround for this though ultimately its really an upstream problem. Thanks for the report either way!

[2022-08-24 20:13] drwells opened #1488 "Backport #1487 to 0.11 (and possibly 0.10)"

[2022-09-22 15:59] drwells commented on #1477
@Raamkrishnan can we get this done in time for the release in December?

[2022-09-23 19:26] Raamkrishnan commented on #1477
@drwells Yes. I will be able to do this before December.

[2022-10-07 18:12] drwells opened #1495 "Consider adding more value synchronization for nodal interpolation"
I should have noticed this earlier, but for this `interp` function, it probably is necessary also to have an option for `dst_cf_bdry_synch`. Currently I don't think that the nodal representation will generally have consistent values at coarse-fine interfaces.

_Originally posted by @boyceg in https://github.com/IBAMR/IBAMR/pull/558#discussion_r990326986_

[2022-10-07 18:38] boyceg commented on #1495
This can be accomplished in part by mimicking the `Outerface`/`Outerside` fine-to-coarse communication that is done for synchronizing face/side-centered quantities. This would get the coarse node data synched with the fine node data.

The second part is to refill coarse-fine interfaces to ensure that hanging nodes are set correctly.

[2022-10-10 19:53] drwells commented on #1495
Yeah, we definitely need to do this to finish the conforming nodal visualization - I'm writing a new refine operator `OuterNodeDoubleMultilinearRefine` now.

[2022-10-10 20:17] boyceg commented on #1495
You don't ned to write a new `RefineOperator`. Just use `LINEAR_REFINE` in the "ghost filling" mode.

[2022-10-10 20:23] drwells commented on #1495
Is that something `HierarchyGhostCellInterpolation` can handle? I don't understand what '"ghost filling" mode' refers to here.

[2022-10-10 20:29] boyceg commented on #1495
Yes, setting up a `RefineAlgorithm` as in `HierarchyGhostCellInterpolation` fills ghost data and data _on_ coarse-fine interfaces that is determined by the overlying coarse data.

[2022-10-10 20:37] drwells commented on #1495
I might need some more direct help with this one. If I don't do anything I get, in my test code output

[code]

I get exactly the same thing if I add

[code]
whereas if I do things incorrectly by using `CONSTANT_COARSEN` instead I get

[code]
(i.e., values match, but data is sent the wrong way)

[2022-10-10 20:48] drwells commented on #1495
let me see if the debugger yields any useful information

[2022-10-10 21:05] boyceg commented on #1495
I think you would want to do it something like the following (I ***have not*** tested any of this or even checked to see where the compiler errors are):
[code]
The idea is to synch from finer to coarser while interpolating and then go back to patch up hanging nodes.

[2022-10-10 21:06] drwells commented on #1495
I'm pretty sure what you suggested should work but I noticed something suspicious in the debugger. For my test code the coarse box is

[code]
which is only valid when interpreted as a nodal box (we need to add 1 to the upper bounds).

The generated Fortran includes
[code]

so one of the two outermost do-loops will never run because either `ifirstc0<ilastc0` or `ifirstc1<ilastc1`.

[2022-10-10 21:14] drwells commented on #1495
Fixing that bug in SAMRAI fixes the plots and the output: I don't know if we can convince everyone to reinstall SAMRAI though. Our best move is to probably just copy and paste the fixed class as a new refinement class inside IBAMR.

[2022-10-10 21:16] boyceg commented on #1495
Should maybe do both…

[2022-10-11 13:06] boyceg commented on #1495
So since this is only impacting plotting and otherwise is not impacting correctness of stuff _in the library_, I wonder if we should just fix SAMRAI and tell everyone to update their SAMRAI patch.

[2022-10-11 13:42] drwells commented on #1495
This mainly impacts @marshallrdavey right now so lets just fix SAMRAI and have him rebuild it with the new patch.

[2022-10-11 14:22] drwells commented on #1495
It looks like this bug is still present in SAMRAI! I'll write them a patch later too.

[2022-10-11 16:29] drwells commented on #1495
I found two more issues with LINEAR_REFINE:

1. It uses the coarse ghost cells to fill the entire fine grid cell - i.e., it sets values both on the coarse-fine interface and overwrites values on the fine grid.
2. There is at least one more nodal values bug in SAMRAI causing it to not copy values correctly to some temporary array.

Here is a picture which demonstrates both issues:

![visit0000](htt

[2022-10-11 17:46] drwells commented on #1495
Here's another case which is easier to see:

![visit0001](https://user-images.githubusercontent.com/3917035/195162399-0718779c-4ccd-4ca8-95c6-76a7c994acfc.png)

SAMRAI seems to be calculating offsets incorrectly - in some cases values don't get filled at all and in others we get wrong values.

[2022-10-11 17:51] boyceg commented on #1495
What exactly is the test aiming to do?

[2022-10-11 17:53] drwells commented on #1495
I want to verify that running

[code]

results in a conforming nodal discretization. If I comment-out that block then everything looks nearly right but values do not match across the coarse-fine interface.

[2022-10-11 17:57] drwells commented on #1495
Yes, that should be the case - I think that's yet another indexing bug present in what SAMRAI is doing here.

[2022-10-11 17:57] boyceg commented on #1495
Are you saying that other values change in a way that depends on whether the coarse-fine interface is on the lower/upper side of a patch?

[2022-10-11 18:02] drwells commented on #1495
Yes.

There's at least one more bug which shows up when SAMRAI computes fill boxes used to populate fine-grid interface values.

[2022-10-12 14:02] drwells commented on #1495
I spent most of yesterday trying to get this to work. Based on those pictures above I'm going to guess that no-one noticed LINEAR_REFINE for nodal values was broken until now (especially due to the bug in the Fortran code - that bug has to be fixed for this problem to show up).

I am somewhat hesitant to proceed down the rabbit hole of trying to determine where SAMRAI forgot to convert a cell-cent

[2022-10-12 14:08] boyceg commented on #1495
That is fine with me.

Another thing that could be done would be to walk the coarse-fine interface on the fine patch to update the coarse-fine interface values --- in this case, you don't actually need to refine from coarse to fine to make the field conformal, since you already have to overlying coarse values on the fine patch in the current construction.

[2022-10-19 17:04] boyceg opened #1496 "patching SAMRAI configure to work with newer Macs"
This seems to make SAMRAI `configure` work on newer Macs. I needed to run `autoreconf` to rebuild `configure`.

A problem that I ran into was that the Apple `sed` does not seem to work as anticipated by the original authors of `configure.in`, and so in a few places I had to replace `sed` with `gsed`. This is not ideal, but `gsed` is only used in generating `configure`, but is not used by `configur

[2022-10-19 17:23] boyceg commented on #1496
This makes things appear to work on my M1 MacBook Pro.

[2022-10-20 11:18] boyceg opened #1497 "require C++17"
It looks like libMesh now requires ~~C++14~~ C++17. Should we increase our compiler requirements (and start using C++17 features) accordingly?

[2022-10-20 11:20] boyceg commented on #1497
Actually, I am running into some compilation errors that suggest that libMesh is now using C++17 features even though I specified C++14 as the standard when running `configure`.

[2022-10-20 14:25] drwells commented on #1497
The present version of libMesh requires C++17. We should automatically detect whichever version they use and set up the correct C++ standard for ourselves. Did something not work on our side?

[2022-10-20 14:29] boyceg commented on #1497
It is necessary to use `-std=c++17` to compile IBAMR with libMesh, since there are now some C++17-isms in the libMesh public interface.

[2022-10-20 14:39] drwells commented on #1497
I suspect that the 'detect which version of C++ is available' m4 macro is out of sync with the one shipped by libMesh these days. We should just copy and paste their new version so that we always set up the same flags. The detection mechanism is somewhat cleaner in CMake.

[2022-10-20 14:40] boyceg commented on #1497
The other part of this is --- if we need to compile with C++17, should we also go ahead and start using C++17 constructs in IBAMR?

[2022-10-20 14:44] drwells commented on #1497
We only need C++17 if people are using the most recent version of libMesh. C++17 support is pretty good now but people running older systems might not have access to compilers supporting it. Hence I think we should stick with C++11 as the minimum unless we have good non-libMesh reasons to move up.

[2022-10-20 14:49] drwells commented on #1497
That should be set: the oldest CI configuration uses CENTOS 7 which uses gcc 4.8 or so and libMesh 1.1.0: definitely C++11.

[2022-10-20 19:25] drwells commented on #1496
Here's an updated patch:

[samrai-2.4.4-patch-ibamr-0.12-pre.txt](https://github.com/IBAMR/IBAMR/files/9833310/samrai-2.4.4-patch-ibamr-0.12-pre.txt)

We can probably bundle this patch with the next release. I'm checking it with autoibamr now.

[2022-10-21 18:09] drwells commented on #303
Four years later... lets get this done by adding an input database option in the right place.

[2022-10-23 13:39] boyceg opened #1501 "try to improve performance of anisotropic kernels"
#1499 implements 'anisotropic' kernels (kernels with different support widths in different coordinate directions) but uses the existing interpolation & spreading helper macros (which are designed for 'isotropic' kernels with the same support width in each coordinate direction).

We may be able to improve the performance of the anisotropic kernels through anisotropic interpolation & spreading helpe

[2022-10-29 20:57] boyceg opened #1507 "multilevel cell-to-cell curl"
It looks like cell-to-cell version of `HierarchyMathOps::curl()` is implemented using `grad` in the multi-level case.

[2022-11-07 15:16] #1497 closed

[2022-11-07 15:19] boyceg commented on #1497
Maybe in 2027. 😆