[2019-07-11 19:14] boyceg commented on #645
If there is a newer version that uses C++11, then we should switch versions.

[2019-07-11 20:31] boyceg commented on #645
The muParser source code is now on GitHub (see [here](https://github.com/beltoforion/muparser)), and it now uses `unique_ptr` instead of `auto_ptr`.

[2019-07-12 15:24] boyceg commented on #630
Ummm.

[2019-07-12 19:49] drwells commented on #615
I had another idea on this (now that I am reading the proposal again): some profiling with callgrind indicates that we spend most of our time evaluating the kernel with symmetric stencils (i.e., points are on the interior). We could partition our IB points into two bins: one for boundary points (where each point can have a different stencil) and one for interior points (where the stencils are iden

[2019-07-12 19:53] boyceg commented on #615
I think that I prefer this approach. We want to have a scratch `PatchHierarchy` for interaction between Lagrangian and Eulerian data for load balancing, and so we should just copy to/from scratch representations with enough ghost cells. Then we only need to prune IB or quadrature points that cannot interact with the patch interior, and we are done.

[2019-07-12 22:40] drwells opened #647 "Refactor FEDataManager to not expose Eulerian data"
This comes from some thoughts I have had while working with FEDataManager and IBFEMethod this week.

We use FEDataManager in two different ways: we use it to access libMesh data and also to do some FSI stuff (i.e., the loop that collects IB points). It would be easier to avoid shooting ourselves in the foot if we separated these a bit better: users should really not be calling `interpWeighted` dir

[2019-07-13 13:41] drwells commented on #630
I think we are at the point where, if we want to keep to my original plan and do another release in late August [1] or early September then we should go ahead with what we have now. I will wrap up #635 and #646 and then put out a release candidate.

[1] I want to do another release coincident with the start of the semester so that some of @amneetb's incoming students have what they need (i.e., mor

[2019-07-13 13:50] boyceg commented on #630
I think this is fine. We should be able to put out 0.6 in early-to-mid August with NWT and IBFESurfaceMethod, possibly along with updated viscoelastic fluid solvers and stress-splitting methods.

[2019-07-19 16:06] drwells commented on #630
Let’s get the quadratic interpolation fixed and then leave the rest for later.  Converting tests is not critical (but it is tedious)

[2019-07-19 22:31] amneetb commented on #630
NWT, ummmmm, umm, um,u...

[2019-07-21 12:10] drwells commented on #630
This release has already been pushed back a ton. Unless we have more patches ready to go it’s going to have to wait.

[2019-07-22 01:00] cpuelz opened #651 "Nitsche's method"
https://github.com/IBAMR/IBAMR/blob/d9cb07928be5209b6c0c0a7f74581b1ad11ebbbe/src/IB/IBFEMethod.cpp#L241

Just to put this here to think about.  This implementation I think is consistent for the equation

\nabla^2 u = 0
u + eps * n * \nabla u = g.

do we instead want to include terms involving the normal derivatives, so this is consistent for the equation

\nabla^2 u = 0
u = g

?

This is related a

[2019-07-22 15:07] boyceg commented on #630
Let's go ahead and prepare to release 0.5. I have a pile of non-coding work that I _must_ do this week. I will try to get it done at the beginning of the week, so that I can do NWT at the end.

[2019-07-22 15:11] drwells commented on #630
@abarret do you think that we can finish the quadratic thing today?

[2019-07-23 13:38] drwells commented on #630
We made it this far without it. Lets pull the trigger!

[2019-07-30 14:37] drwells commented on #630
The release is out and things seem to be in working order, so lets close.

[2019-07-30 14:37] #630 closed

[2019-07-30 14:41] drwells commented on #569
We got close to finishing this, but its ultimately not a high priority item, so this got moved to 0.6.

[2019-07-30 14:44] drwells commented on #546
I have spent a ton of time on this (at least 40-50 hours) over the last few months and we are only about halfway through. This branch still has a ton of new stuff in it that we need to get into IBAMR. I am moving it to 0.6 but I suspect we won't get everything done: its just too much if we want to stick to the tentative plan of finishing things up by the start of the semester.

Lets focus on #580

[2019-07-30 14:45] drwells commented on #304
Unless there is a plan for fixing this example lets delete it for 0.6. I don't understand why the memory usage is blowing up.

[2019-07-30 14:46] drwells commented on #573
@abarret *ping*

[2019-07-30 17:19] amneetb commented on #546
@boyceg : Would you be able to review it this month?

[2019-08-12 14:51] #573 closed

[2019-08-12 17:28] drwells commented on #604
This was partially addressed by #646.

I spent some time this morning reading up on our copyright situation. AFAICT IBAMR is a non-directed work and therefore UNC does not make any claim to copyright: see

https://unc.policystat.com/policy/6197184/latest/
and
https://policy.uncg.edu/university-policies/copyright/
the second one is not UNC-CH, but our policy does not explicitly define some terms. I

[2019-08-12 17:57] drwells commented on #604
AFAICT "The IBAMR authors" will legally refer to anyone who has made fundamental or substantial contributions to the library. See, e.g., the discussion in
https://google.github.io/opencasebook/authorship/
(where I assume IBAMR is a joint work).

[2019-08-12 17:58] boyceg commented on #604
You are going to make me talk to lawyers, aren't you...

[2019-08-12 17:59] drwells commented on #604
Hopefully I can handle this!

[2019-08-12 19:05] cpuelz opened #656 "IB post processor in parallel (with periodic boundary conditions)"
maybe related to issue #476.

I have some issues with the post processor not working correctly in parallel.  I am not sure yet if this is because of periodic boundary conditions, but maybe.

[2019-08-12 19:05] cpuelz commented on #656
I am trying to restrict an Eulerian field to the finite element mesh, and it is nonsense in parallel.  serial seems to work okay.

[2019-08-12 19:26] cpuelz commented on #476
any luck with this?

[2019-08-12 20:05] boyceg commented on #476
Looks like this needs someone to be assigned to fix it! :-) @cpuelz? :-)

[2019-08-14 21:42] drwells commented on #604
I thought about this some more and came to the following conclusion: copyright statements in code are not required for copyright to exist. If NYU wants to claim copyright on older versions of IBAMR they can do so without needing us to mention them in the preamble.

AFAICT neither UNC's or NYU's policies indicate that either one of them have any intent of making such a claim anyway.

Hence, in conc

[2019-08-14 21:48] drwells commented on #604
@boyceg Yes or no: shall we replace the copyright notice with
[code]
We can use the version control information to get the year information.

[2019-08-14 21:52] boyceg commented on #604
Sounds good to me.

[2019-08-14 21:54] boyceg commented on #604
Although shall we make it 2019 instead of 2017? :-)

[2019-08-14 22:39] drwells commented on #604
Well, yes, but we can ask git to print the first and last years that a file was modified.

[2019-08-14 23:00] boyceg commented on #604
Sure, as long as it is easy to automate. Should there be a CD job that keeps this stuff up-to-date?

[2019-08-14 23:05] drwells commented on #604
We have a script in deal.II that we run before each release that fixes the years. I don't think its worth worrying about more often than that.

[2019-08-16 15:23] drwells commented on #645
AFAICT since the new version of muParser switched to CMake we will have to (in order to continue bundling it) essentially write our own build system for muParser (yuck). I have a partial fix based on libtool but it needs some more work.

[2019-08-16 16:04] drwells opened #657 "Excessive memory usage in applications"
@boyceg @marshallrdavey Lets collect what we know in one place. I spent some more time poking around yesterday and I have a few ideas on how to proceed.

For those who are new to the discussion: under some circumstances on some machines the heart model exhibits a (slow) linear growth in the amount of memory (as measured by `getrusage`) over time.

The bad news is that I ran a few tests with a memo

[2019-08-16 16:19] drwells commented on #657
The previous picture is for one MPI process. I'll post more data when I get it.

[2019-08-16 16:23] knepley commented on #657
Note that you can use Massif (part of valgrind) to do the same job. I have liked its interface.

[2019-08-16 16:54] abarret commented on #657
You should consider tracking the number of calls to `PatchLevel::allocatePatchData` and `PatchLevel::deallocatePatchData` where SAMRAI does most of its data allocation. Currently, I think we allocate and deallocate pretty freely. We could probably do a more efficient job of maintaining data storage.

[2019-08-16 16:57] drwells commented on #657
Those show up very prominently in the profile.

[2019-08-16 17:06] boyceg commented on #657
At every time step, SAMRAI data are set up in `preprocessAdvanceHierarchy()` and torn down in `postprocessAdvanceHierarchy()`. (This memory allocation pattern was recommended to me long ago when I first started working with SAMRAI.) It should be fairly easy to change this to use `SAMRAIDataCache`, to "recycle" allocated data. I think that reallocation is unavoidable when level configurations chang

[2019-08-16 17:10] boyceg commented on #657
For "state" variables, there are typically three "realizations" that are available in a given time step, `CURRENT`, `SCRATCH`, and `NEW`. Scratch and new data are allocated in the pre-step routine. The post-step routine swaps the current and new data (so that the new data at step `n` becomes the current data at step `n+1`), and then deallocates the scratch and new data.

I think that this is now a

[2019-08-16 17:22] abarret commented on #657
In particular, the convective operators deallocate and allocate scratch data during each call of `applyConvectiveOperator`. Other places where scratch data are used that are not "state" variables follow this same pattern of "allocate when needed then deallocate when finished."

[2019-08-16 17:25] boyceg commented on #657
Ah yes, I forgot about these. These could also all be replaced by appropriate calls to a `SAMRAIDataCache`.

[2019-08-16 17:41] drwells commented on #657
@marshallrdavey Could you try running the heart model with IBAMR 0.4.1? That release predates the inclusion of SAMRAIDataCache.

[2019-08-16 17:44] marshallrdavey commented on #657
I'm currently running v0.4.1 on longleaf. Is there another build you would like me to try?

[2019-08-16 17:45] drwells commented on #657
Well, that rules of `SAMRAIDataCache`. I can't think of anything else to check at the moment besides using mastif or heaptrack.

[2019-08-16 17:48] boyceg commented on #657
How does 0.4.1 handle temporary libMesh vectors? Is it still using my ugly old code with raw pointers and manual deallocation?

It might be worth making a big dumb 3D model using IBMethod to see if this is specific to IBFEMethod.

Likewise, it should be possible to see if it is related to SAMRAI data management by making a big Navier-Stokes example. Probably you would want something with actual dy

[2019-08-16 18:01] drwells commented on #657
Nope: we use `std::unique_ptr` in IBFEMethod for 0.4.1.

Good idea.

[2019-08-16 18:07] boyceg commented on #657
OK, well, it still might be worth instrumenting the libMesh NumericVector class with a static member variable to track how many are currently allocated.

[2019-08-26 14:59] boyceg commented on #657
Can you easily track down where these things are being allocated? There are a number of Krylov solvers that are used, and these may carry around temporary vectors.

Perhaps you could instrument PETScSAMRAIVectorReal to report the number of allocated vectors.

[2019-08-27 20:30] boyceg commented on #657
In particular, I would recommend matching up MPI libraries (including the same version) and compilers.

[2019-08-29 14:39] drwells opened #662 "Ocassional problems with the flow meter code"
This is from an email back in April from @alexkaiser. We should open an issue to record what we know.

[code]

[code]

The last case (something to the `297` power) makes me think that there is an uninitialized memory bug somewhere in `IBInstrumentPanel`.

[2019-08-29 14:55] cpuelz commented on #662
seems like if the ring deforms a lot then something bad could happen...

On Thu, Aug 29, 2019 at 10:39 AM David Wells <notifications@github.com>
wrote:

--
Charles Puelz
Courant Institute, NYU
cpuelz.github.io

[2019-08-29 15:17] drwells commented on #662
Its hard to know without more testing. Do we have any simple test code for this class lying around? I don't see it in any of the examples.

[2019-08-29 17:19] marshallrdavey commented on #657
Here are some comparisons between longleaf and kardia1 for memory output. For reference:
longleaf:
	-n 36
	-libmesh 1.4.1
	-petsc 3.10.5
	-IBAMR 0.4.0-rc1
	-openmpi 4.0.1
	-gcc 6.3.0
	-branch davey/dashpot
	-full heart model, 9 exodus files
kardia1:
	-n 36
	-libmesh 1.4.0
	-petsc 3.10.0
	-IBAMR 0.4.0-rc1
	-openmpi 3.0.0
	-gcc 5.4.0
	-branch origin/memory
	-afterload model, only pulmonary artery an

[2019-08-29 17:43] drwells commented on #657
The main difference between these runs is the number of exodus files. @marshallrdavey is going to set up some more experiments where the only difference between the runs is the number of exodus files.

[2019-08-29 17:48] boyceg commented on #657
Also the afterload only model should be much smaller?

But a good test could be to turn off all viz output.

[2019-08-29 17:53] marshallrdavey commented on #657
I'm starting kardia1 without viz or restart output right now, afterload model still

[2019-08-29 18:06] drwells commented on #645
Update: we now compile our bundled copy of muParser in the same way as everything else in IBTK which is much simpler than writing our own build system.

[2019-08-29 18:09] boyceg commented on #645
One thought — we have tried to allow users to provide an external muParser. Are they still able to do this?

[2019-08-29 18:12] drwells commented on #645
Yup!

[2019-08-29 19:09] #645 closed

[2019-08-29 21:27] alexkaiser commented on #662
Hi Charles and David,

I've run a few more cases, and this definitely is associated with the ring
deforming a lot. If I pin the ring in place, the fluxes seem reliable.
Please let me know if there's any more information or help I can provide.
I'm happy to discuss further or help out.

Best,
Alex

On Thu, Aug 29, 2019 at 8:17 AM David Wells <notifications@github.com>
wrote:

[2019-08-30 11:00] cpuelz commented on #662
Hi Alex,
Good to know... thanks!

Charles

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Alex Kaiser <notifications@github.com>
Sent: Thursday, August 29, 2019 5:27 PM
To: IBAMR/IBAMR
Cc: Charles Puelz; Comment
Subject: Re: [IBAMR/IBAMR] Ocassional problems with the flow meter code (#662)

Hi Charles and David,

I've run a few more cases, and this definitely is

[2019-09-02 21:20] marshallrdavey commented on #657
The memory growth looks the same for the afterload model with and without writing visualization files during the simulation.

[2019-09-03 17:04] drwells commented on #444
@jabrown893 I would like to wrap this up soon. Do you have time to work on this this week?

[2019-09-03 18:33] drwells opened #668 "Implement max_edge_length for higher order elements"
From our meeting today: we should implement this by linearizing element edges with line segments and calculating the sum of their lengths.

[2019-09-04 18:55] drwells opened #671 "configuration broken when libMesh is compiled without netCDF"
This came up on the mailing list today. I think that we rely on detecting netcdf to set up libMesh's link flags correctly: i.e., we can only configure with libMesh if netcdf is available.

I'm taking a look at this now.

[2019-09-04 19:06] boyceg commented on #671
Oops.

I think that without NetCDF, libMesh also does not have ExodusII. Does that sound right? I think all IBFE examples expect libMesh to have ExodusII.

[2019-09-04 19:10] drwells commented on #671
Yes (I think netCDF is required by exodus). I think we permit compiling without exodus (we just don't save any libMesh output, which is not terribly useful).

[2019-09-04 19:11] knepley commented on #671
Yes, ExodusII requires NetCDF.

[2019-09-04 19:29] drwells commented on #671
My machine includes a copy of this library so disabling it is going to be tricky.

[2019-09-09 14:39] drwells commented on #671
I am not sure if its related, but we currently pick up the system version of netcdf and also libMesh's:
[code]
I am surprised that this even works due to the duplicate symbols. We need to prevent linkage against the system copy of netcdf: I am not sure if this the cause of this issue but we need to prevent it.

[2019-09-09 15:47] drwells commented on #671
I do not know of any way to reproduce this issue: I have not seen it on any other Macintosh. We explicitly add libMesh's link flags by using their own shell script to print them out so if this fails to include the path to libMesh itself then something has gone wrong that is outside of our control. Hence, unless someone can reproduce this, I suggest we close the issue since we have no way to fix it

[2019-09-09 16:21] drwells commented on #647
I thought about this some more in the context of #654's primary issue (dealing with postprocessors). The fundamental issue is that a postprocessor should not need to know about the scratch hierarchy that IBFEMethod needs for performance reasons: in fact, the postprocessor doesn't really need to do any IB calculations at all so it might want to deal with Eulerian data in a completely different way.

[2019-09-09 16:21] drwells commented on #647
This changes would not be backwards compatible but they would make future work with these classes a lot simpler.

[2019-09-09 17:23] boyceg commented on #647
Sounds good to me.

[2019-09-09 17:47] drwells commented on #518
IBAMR 0.5.0 is done so lets close.

[2019-09-09 17:47] #518 closed

[2019-09-09 17:52] drwells commented on #298
After looking at this for, off and on, more than a year, the conclusion is that we need to evenly partition the IB points first and worry about minimizing communication second. Hence, lets close this for now: once we can scale to enough processors that the communication becomes a bottleneck (assuming this happens) we can open this again.

[2019-09-09 17:52] #298 closed

[2019-09-09 17:53] drwells commented on #250
Fixed by #524.

[2019-09-09 17:53] #250 closed

[2019-09-12 20:30] drwells opened #675 "Our FECache code doesn't work with subdivision elements"
@xxjaehoxx This is the issue we talked about today :)

This is not so much a problem with FECache, but the way we use it:
[code]
i.e., we get the (possibly uninitialized) object from the cache and then only initialize it if we have a new quadrature rule. This won't work with subdivision elements since they have, in general, a different number of degrees of freedom per element (i.e., we can keep th

[2019-09-13 17:09] drwells commented on #657
@marshallrdavey I can see the memory usage grow from about 1.92779e+07 KB to 2.23814e+07 KB over 11,000 time steps. I used 8 MPI processes. Is this near what you observed?

[2019-09-13 17:17] marshallrdavey commented on #657
I observed growth from 1.12e07 KB to 1.32e08 KB in the same span using 32 mpi processes.

[2019-09-13 20:53] drwells commented on #657
I set up @marshallrdavey's example and can now get the memory usage to increase at each time step. I am going to leave this running with massif for a few days.

[2019-09-15 03:32] boyceg opened #676 "muParser warnings"
I am now seeing a bunch of muParser warnings:
[code]

[2019-09-16 12:44] drwells commented on #676
I thought this looked familiar: we need to redo

https://github.com/dealii/dealii/commit/9c42acfb6a976436b004bf3ff9c065d6443d4343

here.

[2019-09-16 20:07] drwells commented on #671
I am aware of multiple IBAMR installations on macs that do not have this issue. Since none of us can reproduce it I am pretty sure the original problem was due to something outside of our control. Hence I am going to close this until there is more evidence of a problem.

[2019-09-16 20:07] #671 closed

[2019-09-17 19:28] drwells commented on #444
@jabrown893 *ping*

[2019-09-18 13:13] #676 closed

[2019-09-19 15:01] boyceg opened #682 "Add unit test for inactivating IB structures"

[2019-09-19 15:11] drwells opened #683 "post 681: test for deactivated structures"
We should add a little test to make sure that deactivated structures don't move once #681 is merged. We don't need anything fancy, just an IB example where one structure is deactivated (and we can compute that its velocity is zero and that the forces are correct).

[2019-09-19 15:21] boyceg commented on #682
Duplicate of #683.

[2019-09-19 15:21] #682 closed

[2019-09-19 16:20] jabrown893 commented on #683
Sounds good! I have to grade calc tests this weekend, but I will try to get on this next week.

[2019-09-19 19:52] drwells commented on #482
`FEDataInterpolation` might also be a source of excessive memory usage, as discussed in #684. A few notes:
1. The primary user of this class is `IBFE(Surface)Method::assembleInteriorForce()`: `IBFECentroidPostProcessor` also uses it. I don't think it is ever directly used in applications.
2. This class does two things:
   a. Save some computational effort for vector-valued FE fields (e.g., only co

[2019-09-19 21:44] drwells opened #686 "Weird flags in LDFLAGS"
We are getting flags of the form ` -Wl,-rpath `in `LDFLAGS` inside `make.inc`: this doesn't mean anything and might be a bug. We correctly generate rpath commands in `LIBS`.

[2019-09-19 21:55] drwells commented on #686
I think this might be the result of faulty rpath information generation with HDF5 (and possibly other libraries), but @jabrown893 can only reproduce this problem on Longleaf

[2019-09-19 22:04] drwells commented on #686
I think there is something wrong with #641: as far as I can tell we get correct rpath flags when a dependency uses hdf5, but we do not add these flags ourselves: i.e., things won't work when there is a user installation of HDF5 *and* neither libMesh nor PETSc use it.

[2019-09-20 21:07] #686 closed

[2019-09-23 17:51] drwells opened #690 "0.5.1 release"
Lets put #687 and #689 into a quick bugfix release on the 0.5 branch. I will handle this today or tomorrow.

[2019-09-23 18:04] drwells commented on #690
Lets also add #681 since it was a pretty serious bug (and @jabrown893 needs the fix).

[2019-09-23 18:06] drwells opened #691 "Improve restart version numbers in FEDataManager"
@jabrown893 wants to use some old restart data, but I broke restart data with recent changes to FEDataManager. We should increase the version number in FEDataManager and also teach it to handle old restart data.

[2019-09-23 19:47] #690 closed

[2019-09-24 14:51] drwells opened #697 "Silence warnings from ICC"
@jabrown893 is actively using Intel's compiler stack on longleaf and it prints out a bunch of warnings that neither clang nor GCC generate. Some of them (e.g., #696) should be fixed.

@jabrown893 Would you please recompile IBAMR's master branch with that setup and save the warnings to a log file? Running something like
[code]
should work.

[2019-09-24 19:20] jabrown893 commented on #697
@drwells Here you go!
[intel-log.txt](https://github.com/IBAMR/IBAMR/files/3649020/intel-log.txt)

[2019-09-25 14:40] drwells opened #698 "IBFEMethod handles restart data in a weird way"
I spent way too long trying to figure this out and I suspect others have gotten confused by this too. `IBFEMethod`'s constructor needs the restart read directory and restart restore number as arguments: I haven't looked too closely, but (at least in the heart model) no other major object needs these as arguments.

Additionally, we need to explicitly call `IBFEMethod::writeFEDataToRestartFile` to s

[2019-09-25 18:28] boyceg commented on #698
The difficulty that this attempts to work around is that the libMesh DOF vectors go in their own file(s), but the `Serializable` API just talks about putting things into _databases_, not _files_.

We could make a class that implements `SAMRAI::tbox::Serializable` that stores libMesh data, but I think at best it will be an ongoing maintenance chore and could make it harder to support multiple versi

[2019-09-25 19:47] drwells commented on #698
I suspected that would be the answer. I'll spend a little bit of time poking around in SAMRAI to see what we can get, but I will be satisfied to just update the IBFE examples to make both restart function calls and improve some documentation.

[2019-09-25 19:59] #683 closed

[2019-10-07 18:24] #413 closed

[2019-10-07 20:39] drwells commented on #647
We more-or-less have this done now in a way that doesn't massively break user codes, so I think that now that we have #704 this is done.

[2019-10-07 20:40] #647 closed

[2019-10-07 20:52] drwells opened #715 "Simplify the relationship between IBFEMethod and FEDataManager"
These two classes know too much about each other which makes it difficult to make major changes to either. We should aim to reduce the interpedendencies between these classes.

The end goal of this issue is to move most of the initialization logic done by FEDataManager into free functions: it should be possible for IBFEMethod to set itself up without calling into FEDataManager at all. This makes t

[2019-10-08 19:45] drwells opened #721 "CIBFEMethod doesn't work"
I tried to write a test for CIBFEMethod based on `examples/CIBFE/ex0/example.cpp` but then realized that this class has some serious problems: there will always be a segmentation fault in the constructor since it tries to add a system to the `EquationSystems` object which is not set up until we actually call `initializeFEEquationSystems`.

I suspect that this is already known and is why we did #19

[2019-10-08 19:59] amneetb commented on #721
This class needs a dedicated PhD student to work on. Suggest marking it as a WIP class.

[2019-10-08 23:58] abarret opened #722 "FEDataManager spread error when called with use_nodal_quadrature"
When I modify the example `IBFE/explicit/ex0` to set `spread_use_nodal_quadrature` to `TRUE`, I get a PETSc error about a null pointer. So far, I've only tracked it down to line 885 in FEDataManager.cpp on master:
`F_dX_vec.pointwise_mult(F_vec, dX_vec);`
It appears to be an issue with the `dX_vec` object returned from `buildDiagonalL2MassMatrix()`. This is also a problem with the flag `interp_use

[2019-10-09 16:39] amneetb commented on #721
I agree. We can also do this for codes like CIBStochasticMethod in other branch.

[2019-10-09 17:29] abarret commented on #722
@drwells, this is not a priority for me. I was just playing around with things and noticed this bug.

[2019-10-24 19:01] abarret opened #726 "Forgotten c++11 updates"
This is something that never got changed during the c++11 updates. We discussed at one point changing `> >` to `>>`, but that change never got implemented. Is this something that we still want to change? Also related, the .clang-format file uses the standard `Cpp03` instead of `Cpp11`.

I caught this while running clang-format on the complex fluid code. I have a script somewhere to make this chang

[2019-10-24 19:04] boyceg commented on #726
Let's hold off on changing the clang format settings until we get these lingering PRs handled. I am going to work on NWT over the next week. I also think that @AminKolah is working with @drwells on getting his IIM branch ready to merge. Perhaps we can update the clang format settings once we get all of that stuff done.

[2019-10-25 21:24] cpuelz opened #728 "append IBFE meter data to files"
so that we can view the data mid simulation.

[2019-10-26 21:04] boyceg commented on #675
Can we close this issue?

[2019-10-26 21:05] boyceg commented on #643
Can we close this issue?

[2019-10-26 21:11] boyceg opened #731 "Unify implementations of Stokes waves"
It seems like we might only need one class that knows about the functional forms for the different Stokes waves?

[2019-10-27 02:21] xxjaehoxx commented on #675
Sounds good to me!

[2019-10-27 02:44] drwells commented on #643
Yup.

[2019-10-27 02:44] #643 closed

[2019-10-27 02:45] drwells commented on #675
The fix in #679 should be sufficient; we can always open this again if we want to do more work with subdivision elements.

[2019-10-27 02:45] #675 closed

[2019-10-30 15:51] drwells opened #732 "Use one SAMRAIDataCache amongst common FEDataManagers"
This is something I noticed when reworking `FEDataManager` to share its Lagrangian data: we create a new `SAMRAIDataCache` for each object, which in turn allocates at least one solution vector (for the force). This is a lot of extra memory usage for something like the heart model: that will allocate at least one solution vector for each part. If we have ten parts then we have ten force vectors, wh

[2019-10-31 13:27] drwells opened #734 "Add test with fluid source"
This is the other place where `IBFEMethod` will use the scratch hierarchy (that is, in `IBFEMethod::spreadFluidSource`), but we don't have any tests or examples that actually use this code.

@cpuelz did you have some code that used fluid sources to inflate a ring? If so we should convert that into a test.

[2019-10-31 13:32] cpuelz commented on #734
yes, I do have some code.  by test, do you mean to just add it as an
example?

On Thu, Oct 31, 2019 at 9:27 AM David Wells <notifications@github.com>
wrote:

--
Charles Puelz
Courant Institute, NYU
cpuelz.github.io

[2019-10-31 13:40] drwells commented on #734
I meant that we can add it to the test suite but adding it as an example is also quite helpful!

[2019-10-31 15:12] drwells commented on #728
This is fixed by #730.

[2019-10-31 15:12] #728 closed

[2019-11-02 02:24] #732 closed

[2019-11-04 15:11] drwells commented on #734
@cpuelz The fluid source code is the only part of the changes in #654 that I haven't tested yet. If you could send me the example you have (no matter what shape it is in) it would help me verify that that implementation is correct (or at least no worse than `master`).

[2019-11-04 16:32] drwells opened #737 "Improve spreading in IBFEMethod/FEDataManager"
From #654: during review we pointed out that the way we handle force spreading in IBFEMethod is pretty inefficient (with multiple parts). It would be better to resolve the accumulation of forces spread outside the domain once inside IBFEMethod instead for each part separately in FEDataManager.

[2019-11-04 16:37] cpuelz commented on #734
@drwells check out my-ex7 in the paper repo I just sent you.  Let me know if you'd like to chat about it.

[2019-11-04 16:46] drwells commented on #734
Thanks. I'll take a look.

[2019-11-05 21:36] drwells commented on #734
@cpuelz quick question: I got things to compile and it looks like the errors computed as part of the exact solution are quite high. Is that expected?

[2019-11-05 23:10] cpuelz commented on #734
Glad things compile :-).

The ring has to "inflate" with the fluid source, which takes a certain
amount of time, and then settle down after inflation.  I found that the
"settling down" takes a while.  In other words, there are some transient
times where the error is meaningless since it is only computing the error
in the final steady state, inflated, configuration.

Also... this was really importa

[2019-11-06 16:19] drwells commented on #444
@jabrown893 This is still a big bottleneck (about 10% of total compute time) in the heart model and I really want this to be finished as soon as possible. Lets set up a weekly time to work on this until its done :)

[2019-11-11 20:11] drwells commented on #444
@jabrown893 I finished the implementation of `Quad9` from last week: the code is the 'right' way to implement this since we only have to calculate Jacobians at the underlying 1D quadrature points. I verified that we get a fourth order accurate approximation to the area of a circle.

We should do the same thing for `Hex8` and `Hex27`. It might make sense to move some of the code out of the implemen

[2019-11-11 20:51] drwells commented on #737
Another idea: since we add spread data we do not need to communicate from the primary hierarchy to the scratch hierarchy: right now FEDataManager immediately swaps whatever force data is put in and then swaps back and adds. We could get around this by calculating the new force contribution on the scratch hierarchy, communicating that to a scratch index, and then adding that to the existing force v

[2019-11-11 21:04] boyceg commented on #737
Yes, exactly.

For spreading, just communicate Eulerian force data from the scratch hierarchy to the primary hierarchy.

For interpolation, just communicate Eulerian velocities from the primary hierarchy to the scratch hierarchy.

[2019-11-12 06:47] abarret opened #747 "Hierarchy Integrators do not call setDataOnPatchHierarchy during initial time step"
The hierarchy integrators do not call `setDataOnPatchHierarchy` for any registered forcing terms. The INS integrators do call `setDataOnPatchLevel`. The IB integrators do not call any INS forcing function. This is not surprising since the hierarchy is created level by level.

This is a problem for cases where the forcing function registers and initializes draw variables. In particular, we have to

[2019-11-12 14:46] drwells opened #748 "Post nwt-final: summarize work in changelogs"
We need to write changelog entries for all of the stuff in #744. I think @amneetb is the right choice for describing these changes :)

We can either add these to #744 directly or handle it afterwards in a followup commit.

[2019-11-12 14:49] drwells opened #749 "IBAMR 0.6"
We are close to finishing up a couple of things so I think its time to start thinking about what will go in the next release of IBAMR: we should aim to get this done by the end of the year.

Rough timeline of the release:
- All milestones (with the exception of bug fixes) set by Nov 22
- all patches in by December 10
- release candidates by December 17
- release by December 20
- if necessary, rele

[2019-11-12 14:50] drwells commented on #546
This has been superceded by #744, which collates the remaining changes into a few large commits.

[2019-11-12 14:50] #546 closed

[2019-11-12 14:53] drwells commented on #691
It doesn't matter too much but we should definitely increment this in time for the next release. We should also add 'check restart version numbers' as a release task.

[2019-11-12 14:55] drwells commented on #731
I would very much prefer this to the current interface. @amneetb is this something we can get done in time for the next release?

[2019-11-12 14:59] drwells commented on #749
@boyceg This would be a good time to review our use of GitHub teams: there are a lot of people in the read and write teams who are not affiliated with the project any more. I would really like to be able to `@` all relevant developers at once for threads like this one.

I would also like to add @abarret to the admin team. AFAICT only you can change these settings :)

[2019-11-12 15:04] amneetb commented on #731
I am not sure what is asked: do you mean implement everything in one class and select the form as an input option? I would like to have different classes doing this to make the code more legible and easy to maintain.

[2019-11-12 15:07] drwells commented on #455
I just noticed that this is a duplicate of #698.

[2019-11-12 15:07] #455 closed

[2019-11-12 15:12] drwells commented on #731
Yes.

We can still implement it this way; I think @boyceg's suggestion is that we only have one publicly visible class.

[2019-11-12 15:12] boyceg commented on #749
I've pruned the teams --- but am always happy to re-add folks.

[2019-11-12 15:56] boyceg commented on #747
I think that some or all of this initialization code pre-exists `HierarchyIntegrator::initializeCompositeHierarchyData()`.

[2019-11-12 16:44] boyceg commented on #747
One alternative would be to call `setDataOnPatchHierarchy()` repeatedly in `HierarchyIntegrator::initializeLevelData()` when constructing the initial patch hierarchy, always using the full range of levels that has been constructed.

[2019-11-12 17:01] boyceg commented on #747
See #750.

[2019-11-12 17:25] boyceg commented on #747
The only alternative to #750 that I can think of would be to zero-initialize everything in the initial patch hierarchy construction and then to really initialize the variables in `HierarchyIntegrator::initializeCompositeHierarchyData()` using `CartGridFunction::setDataOnPatchHierarchy()`.

The problem is that this will make it impossible to do initial gradient detection in building the patch hiera

[2019-11-12 17:46] amneetb commented on #747
Yeah, this will not tag cells in the beginning.

@abarret Won’t initializing things in initializeCompositeGridHerarchyData work for you?

[2019-11-12 18:20] abarret commented on #747
The issue isn't so much that `setDataOnPatchLevel` is called. It's that things are inconsistent among different integrators. The INS integrators call `setDataOnPatchLevel` for a registered forcing term. The IB integrator _does not_ call `setDataOnPatchLevel` for forcing functions registered with the INS integrator.

[2019-11-12 19:08] abarret commented on #747
It seems like only the `IBEulerianForceFunction` is being called on level creation, not the entire `CartGridFunctionSet`.

[2019-11-12 19:36] amneetb commented on #747
The IB integrator _does not_ call `setDataOnPatchLevel` for forcing functions registered with the INS integrator.

I had to suffer for three days due to this issue. I had registered gravity forcing with INS integrator rather than IB integrator. The pressure was not coming out to be right as a result of this as the gravity forcing was not getting called.

[2019-11-12 19:37] abarret commented on #747
This is what I'm coming up with now. I have to register the complex fluid forcing with the IB Integrator instead of the INS integrator to ensure that the IB forcing works correctly. This does not make sense to me.

[2019-11-12 19:44] abarret commented on #747
I think I found it. `INSHierarchyIntegrator` does not register multiple body forcing functions correctly. I've got a fix coming.

[2019-11-12 22:01] drwells commented on #444
I also finished a generic implementation, which is the best we can do for `Tet10` and `Tet6`.

[2019-11-13 17:06] drwells opened #752 "Improve scratch hierarchy documentation"
It looks like, with the current recommended settings, we get good load balancing but really small patches: this results in roughly doubling the cost of force spreading since elements are now likely to end up on two patches at once.

I should update the documentation to use better load balancer and minimum patch size values to fix this. I am doing some experiments now to come up with better values.

[2019-11-14 18:51] drwells opened #754 "Install modern copy of Eigen for CI"
New versions of Eigen defined an `Index<>` template, which conflicts (when we include all namespaces with SAMRAI's `hier::Index<>` template. We should set up one of the CI builds to use a new copy of Eigen so that this fails correctly.

[2019-11-14 22:29] drwells commented on #444
@jabrown893 I want to finish this (at least the completely generic implementation) and use it in FEDataManager by the end of next week. Will you have time to work on it?

[2019-11-14 22:57] jabrown893 commented on #444
@drwells I have to grade exams at the beginning of the week, but I may have time to work on it toward the very end of the week. I'm not sure if that will work with your timeline, though.

[2019-11-15 14:10] #752 closed

[2019-11-15 14:13] drwells commented on #444
I'd like you to take a stab at writing a class like `FEMapCache` - it should only take an hour or two. Can you find a block next Thursday or Friday for this?

[2019-11-15 15:40] drwells commented on #737
From an email @boyceg sent me earlier (I don't want this to get lost in my inbox):

[code]

Probably can be simplified to either do one or the other based on whether the scratch hierarchy is used or not.

Specifically, if the scratch hierarchy is not used, then ghost data should be communicated using the provided `u_ghost_fill_sched`.

On the other hand, there is no need to execute the `u_ghost_fi

[2019-11-19 20:27] drwells opened #760 "Put all libMesh utility functions in a header"
We have a couple of places where we enumerate across libMesh ElemTypes or do similar operations to look up information at run time. We should put this code in a header somewhere (and, if possible, mark it as `constexpr`).

[2019-11-20 16:07] drwells opened #763 "IBFEMethod doesn't work with TRAPEZOID_RULE"
IBFEMethod is currently hard-coded to only work with MIDPOINT_RULE:
[code]

We should, at least, improve the error message. We should also try and figure out how to implement other time integrators.

[2019-11-20 16:52] jabrown893 commented on #444
@drwells Okay, I just pushed the commit. I think all that is left to do is to write tests to see if FEDataManager implements it correctly?

[2019-11-20 16:55] drwells commented on #444
I think that we are okay as long as the current tests using FEDataManager pass - if we don't impact the values of spreading or interpolation we should be good. If we want to test `JacobianCalculatorCache` directly then we can just add some more code to the test provided on the branch.

Would you please open a PR for the branch now that its mostly done?

[2019-11-21 15:57] drwells opened #765 "Add a configure check for libMesh with XDR"
We need it for the restart code.

[2019-11-21 17:11] drwells commented on #765
It looks like this is only a problem that effects older versions of libMesh: they fixed the detection logic several years ago (I use ancient versions of libMesh for testing purposes).

[2019-11-21 17:14] drwells commented on #765
Well, this was easy - newer versions of libMesh fix the problem. Since this doesn't seem to impact Ubuntu or macOS and has been fixed in newer versions of libMesh I will close this.

[2019-11-21 17:14] #765 closed

[2019-11-22 15:41] drwells commented on #749
@IBAMR Lets try to start stabilizing the release - if there are any more patches that are outstanding then now is the time to add them as milestones.

[2019-11-22 15:42] cpuelz commented on #749
could add the sharp interface stuff for volumetric IBFE objects?

On Fri, Nov 22, 2019 at 10:41 AM David Wells <notifications@github.com>
wrote:

--
Charles Puelz
Courant Institute, NYU
cpuelz.github.io

[2019-11-22 15:46] drwells commented on #749
I don't know - I'll have time to review the patch but not work on it substantially. I don't know what its current status is - @AminKolah how close is this to done?

[2019-11-22 15:47] drwells commented on #749
Since most of us will be off eating Turkey next week, if we want to get this done by the end of the year we really only have one week (the one after next) to get feature fixes in - after that we will only have time to work on bugs.

[2019-11-22 15:49] cpuelz commented on #749
I mean the sharp interface feature I have been working on, which is
different from Amin's.

On Fri, Nov 22, 2019 at 10:47 AM David Wells <notifications@github.com>
wrote:

--
Charles Puelz
Courant Institute, NYU
cpuelz.github.io

[2019-11-22 15:54] drwells commented on #749
Ah - is this #606 or something else?

[2019-11-22 15:55] cpuelz commented on #749
yeah, this PR!

On Fri, Nov 22, 2019 at 10:54 AM David Wells <notifications@github.com>
wrote:

--
Charles Puelz
Courant Institute, NYU
cpuelz.github.io

[2019-11-22 17:24] drwells commented on #749
Either way - we should decide on whether or not we want to get this in today. Do you think we can get it done?

[2019-11-22 20:57] drwells commented on #444
Fixed by #764.

[2019-11-22 20:57] #444 closed

[2019-11-22 20:58] drwells commented on #477
I don't think that this is actually needed for anything else at the moment (objects can use the load balancer directly) so lets close this.

[2019-11-22 20:58] #477 closed

[2019-11-24 18:31] drwells commented on #749
I believe we have now finalized the items in the 0.6 milestone.

[2019-11-24 18:32] drwells commented on #697
@jabrown893 I tagged this for 0.6. Can I assign it to you?

[2019-11-24 18:33] drwells commented on #698
@marshallrdavey Would you be willing to work on this for the release? There are two parts:
1. Update the documentation of IBFEMethod to describe how to save restart data
2. Update the IBFE examples to actually save restart data

[2019-11-24 18:37] jabrown893 commented on #697
@drwells It depends on what your timeline is. After the Jacobian thing and a lot of teaching stuff lately, I have a big to-do list for my own research right now. I would be glad to do it in the future, but it will probably be the start of Christmas break before I can get to it.

[2019-11-25 15:03] drwells commented on #697
We already have a lot of milestones and this isn't urgent - I'll keep this assigned to you but I'll remove it from the release.

[2019-11-25 15:19] #604 closed

[2019-11-26 17:00] drwells commented on #640
These tests really need to be written at the same time we put in the alternative bounding-box algorithm, which is not going to be in 0.6. Hence I am removing this from the release.

[2019-12-03 18:32] drwells commented on #629
AFAIK there hasn't been any progress on this - its not critical and not likely to get done this week so lets remove the milestone.

@amneetb any news on this? Could a student do it?

[2019-12-03 18:47] drwells commented on #698
I talked about this with @marshallrdavey earlier today. Since this is just a documentation fix I'm okay with adding it late in the release process (i.e., near the 20th). @marshallrdavey can you commit to finishing this by the 20th?

[2019-12-03 18:49] marshallrdavey commented on #698
@drwells I will do my best!

[2019-12-03 18:50] drwells commented on #698
I'll hold you to it!

[2019-12-03 19:41] amneetb commented on #629
@Raamkrishnan @Kaustubh-Khedkar are busy with courses and learning IBAMR and more recently OSX. Let's do this at some other time.

[2019-12-03 21:05] #408 closed

[2019-12-03 21:10] drwells opened #773 "Get the test suite working on my desktop"
Subj.

For whatever reason, I get different results for some tests on my workstation than I do on my personal desktop. Some of the differences (like for linear spreading and interpolation) are quite large. Some are very small: e.g., one processor will have one more quadrature point and another will have one less. I will get this sorted out before the release.

[2019-12-03 22:30] abarret commented on #773
For what it's worth, I noticed the same thing on my laptop yesterday.

[2019-12-04 15:35] #569 closed

[2019-12-04 15:48] drwells commented on #749
I think its time to copy and paste the release tasks document into this PR so we can start checking stuff off.

# IBAMR release tasks

## static analysis

- [ ] clear basic compilation warnings with GCC and clang on linux
- [ ] compile with the latest libMesh release (which should be configured with `--disable-deprecated`) to verify that we do not use any deprecated functionality (this will cause

[2019-12-04 15:58] AminKolah commented on #749
I'm working on this today. Can we try to merge @boyceg 's `implicit` branch into `master`?

[2019-12-04 16:00] boyceg commented on #749
That branch is still WIP. It should not be merged. (It also rips out a lot of implicit code that we may not want to actually rip out.)

[2019-12-04 16:56] drwells commented on #749
I would very much prefer to not add any more items to the milestone at this point: there is still a lot of work that needs to be done. I don't think we can add more patches unless other people volunteer to review them, check documentation and tests, etc.

[2019-12-04 16:59] AminKolah commented on #749
Make sense, I was just wondering ...

[2019-12-04 16:59] AminKolah commented on #749
makes*

[2019-12-04 18:56] abarret commented on #747
This was fixed by #751. `HierarchyIntegrator`s still do not call `setDataOnPatchHierarchy` on level creation, but this is expected behavior since the patch hierarchy is created level by level.

[2019-12-04 18:56] #747 closed

[2019-12-04 20:16] #721 closed

[2019-12-04 22:00] drwells opened #775 "Get the new JacobianCalculator working with surface elements"
It looks like the current code ends up being called by `IBFESurfaceMethod` for codimension 1 surfaces, which are explicitly not implemented (yet). It should be easy to add these (and slightly modify the API of `JacobianCalculatorCache`).

This problem exposes an issue with undertesting: we have zero test code for `IBFESurfaceMethod`. We should also convert `IBFE/explicit/ex5/` into a unit test to

[2019-12-05 17:34] drwells opened #776 "Move InterpolationUtilities into IBTK"
From a comment in #725: we should move `examples/complex_fluids/ex2/InterpolationUtilities.{h,cpp}` into IBTK.

[2019-12-05 19:40] drwells commented on #602
I thought about this some more and, though we haven't settled on a new build system yet, we have settled on replacing autotools with *something*. We shouldn't spend time doing more than bug fixes at this point - its going to get replaced anyway. Hence, I think it is best to leave things a bit messy and focus on more important problems.

[2019-12-05 19:40] #602 closed

[2019-12-05 22:50] drwells commented on #754
This is why bundled dependencies are bad :crying_cat_face:

[2019-12-05 22:51] drwells commented on #754
From #725: we absolutely must fix this due to a bug in how Eigen computes eigenvectors of 2x2 matrices.

[2019-12-05 22:52] drwells commented on #754
There is a good chance that this is also related to some of the other inexplicable test failures on my home machine, where I have inadvertently been using this ancient copy of eigen.

[2019-12-05 22:53] drwells opened #778 "Enable floating point exceptions in tests"
It would be useful to track these via `feenableexcept`: this helped debug #725.

[2019-12-07 19:01] #754 closed

[2019-12-09 18:05] AminKolah commented on #775
We don't have zero test for `IBFESurfaceMethod` though. `IBFE/explicit/ex5/`  is a test for both `IBFEMethod` and `IBFESurfaceMethod` . The way I look at this is that we only use `boundary_mesh`  if we want to run with `IBFESurfaceMethod` and it's turned off otherwise to be used with `IBFEMethod`.

[2019-12-09 18:16] AminKolah commented on #775
There are also a ton of other examples using IIM that I can either add them to `IBFE/explicit/` or  if we decide to create a new `IBFESurface/explicit/` folder I can add them there.

[2019-12-09 20:10] drwells commented on #773
@abarret I think that I found a bug - valgrind reports that `spread_01_3d.discontinuous_linear.input` has a conditional jump that depends on uninitialized input. This is a test that yields consistent but different results for me on different machines. Could you verify that this test is problematic for the same reasons for you?

[2019-12-09 20:27] abarret commented on #773
These are the tests that fail for me on my workstation:

[code]

I have confirmed that valgrind reports a conditional jump that depends on uninitialized input for the test `spread_01_3d.discontinuous_linear.input`

[2019-12-09 20:29] drwells commented on #773
Its super weird that those interpolation tests don't fail for me - I'd bet the same bug is present in those kernels.

[2019-12-09 20:31] drwells commented on #773
Could you manually run `numdiff` on the output of `IBFE/explicit_ex4_2d.postprocessor.scratch_hier.mpirun=4.input` and paste the result here?

[2019-12-09 20:37] drwells commented on #773
If you're not sure how to do that let me know - it should only take a moment.

[2019-12-09 20:40] abarret commented on #773
It's pretty long. It looks like different numbers of quadrature points and resulting finite precision differences.
[numdiff_output.txt](https://github.com/IBAMR/IBAMR/files/3941635/numdiff_output.txt)

[2019-12-09 20:45] drwells commented on #773
It looks like its the same issue as the rest of the `ex4` tests: one quadrature point seems to be within roundoff.

If you do
`numdiff -r 1e-6 -a 1e-10 output explicit_ex4_2d.postprocessor.scratch_hier.mpirun=4.output`

then what do you get?

[2019-12-09 20:46] abarret commented on #773
[code]

[2019-12-09 20:49] drwells commented on #773
Good :)

[2019-12-10 02:32] drwells commented on #773
The following tests fail due to memory corruption problems (i.e., valgrind complains):
- [ ] spread/spread_01_3d.discontinuous_linear.input
- [ ] spread/spread_01_3d.piecewise_constant.input
- [ ] adv_diff/adv_diff_01_2d.input

I think these might also have memory problems, but valgrind does not complain on my desktop:
- [ ] IBFE/interpolate_velocity_01_2d.b.discontinuous-linear.input
- [ ] IBFE/i

[2019-12-10 15:05] drwells commented on #773
I was working on this late last night and realized an interesting trend: the partitioning seems to vary between machines a lot only before the first time step: after we regrid then things agree. I think this issue is independent of the 'off by a quadrature point' issue that ex4 sometimes has.
[desktop-output.tar.gz](https://github.com/IBAMR/IBAMR/files/3945512/desktop-output.tar.gz)

Here are the

[2019-12-10 15:11] boyceg commented on #773
Hmmm. It might make sense to force regridding before doing any tests.

[2019-12-10 16:27] drwells commented on #773
The problem is that we verify a bunch of stuff by checking log files, which are presently printing out partitioning information - in fact, I would like to keep printing this out for checking things like the scratch hierarchy, computation of the number of IB points, etc.

I think the best approach is to add code which conditionally disables this type of logging in `IBFEMethod` before the first real

[2019-12-10 16:34] boyceg commented on #773
Is this just for libMesh-related partitioning? Are we using a partitioner with a random seed?

[2019-12-10 16:40] drwells commented on #773
Nope, its related to SAMRAI partitioning: we get a different number of quadrature points in different patches on different machines. I can check more carefully, but I am pretty sure that this means that the initial patch generation (prior to the first regrid) has machine-dependent partitioning.

[2019-12-10 19:14] drwells commented on #773
I also get some suspicious uninitialized memory warnings for `IBFE/explicit_ex8_2d.postprocessor.scratch_hier.mpirun=4.input` when I run it with valgrind.

[2019-12-10 20:28] drwells commented on #773
@boyceg Here is some confirmation regarding distribution of patches. I added some extra code to call `PatchHierarchy::recursivePrint()` in ex4 and logged the result. I get this, before timestepping begins, on my workstation:
[code]
and on my laptop:
[code]

[2019-12-10 20:35] drwells opened #784 "Fix tests with undefined behavior"
Spinoff from #773.

The following tests fail due to memory corruption problems (i.e., valgrind complains):
- [x] spread/spread_01_3d.discontinuous_linear.input
- [x] ~spread/spread_01_3d.piecewise_constant.input~ interpolate/interpolate_01_3d.piecewise_constant.input (the later test shows the problem on master with valgrind)
- [x] adv_diff/adv_diff_01_2d.input

I think these might also have memory

[2019-12-10 20:35] drwells commented on #773
I am going to move the problems due to uninitialized memory into a new issue - the original intent of this was to just track the partitioning problem.

[2019-12-10 20:37] drwells commented on #784
I don't have time to fix these prior to the release - unless someone volunteers to do it its not going to get done.

[2019-12-10 20:41] drwells commented on #734
#773 took priority over this and this isn't going to get done before I want to draft a release. Unless someone can volunteer to write a test I suggest that we drop this.

[2019-12-10 20:42] drwells commented on #748
@amneetb You understand the changeset that went into this set of patches better than anyone else. Would you please write the accompanying changelog entries? I would like to get this in before the next release (i.e., by the end of this week would be great)

[2019-12-10 20:43] drwells commented on #760
This is done in #783.

[2019-12-10 20:43] #760 closed

[2019-12-10 20:44] amneetb commented on #748
Sure. What do I need to do? Which file should I put this too? Is there an existing example?

[2019-12-10 20:49] drwells commented on #748
The best way to do it is to put one feature in each file. We have three folders for changes: major, minor, and incompatibilties (most of NWT, e.g., FESurfaceDistanceEvaluator, should be in major).

For example, see

https://github.com/IBAMR/IBAMR/blob/master/doc/news/changes/major/20191031DavidWells

They go in separate files to prevent merge conflicts (i.e., the alternative is to have everyone ed

[2019-12-11 01:33] cpuelz commented on #734
sounds good to me.  we can do this in the next release.

On Tue, Dec 10, 2019 at 3:41 PM David Wells <notifications@github.com>
wrote:

--
Charles Puelz
Courant Institute, NYU
cpuelz.github.io

[2019-12-11 15:30] #304 closed

[2019-12-11 15:31] #775 closed

[2019-12-11 15:32] #691 closed

[2019-12-11 15:42] drwells commented on #263
@abarret What is the current state of this?

[2019-12-11 17:12] abarret commented on #263
I stalled when I hit a point where we needed `IBTK_MPI`. Should we switch over all instances of `SAMRAI_MPI` to `IBTK_MPI` now, or put that in the same patch as the conversion to SAMRAI 3? I have a script that can do the switch; I could put in a PR today if we wanted to make the switch in 0.6.

[2019-12-11 17:16] boyceg commented on #263
That seems like a big change. I think it would be good to get it tested out on some real apps before putting it in a release.

[2019-12-11 17:23] abarret commented on #263
I would hope that it's only a namespace change. The `IBTK_MPI` code was basically copied from the `SAMRAI_MPI` version. But I can put up a PR when 0.6 is released.

[2019-12-11 17:24] boyceg commented on #263
@drwells what do you think?

[2019-12-11 18:27] drwells commented on #263
It should definitely not go in 0.6 - now that (almost all!) the patches are in its time to start testing the release.

We can write the patch to do the switch now, but I would prefer to wait on merging it until after we create a release branch (should happen near the end of the week).

[2019-12-13 19:44] #773 closed

[2019-12-16 22:07] drwells commented on #749
Does anyone have IWYU set up?

[2019-12-17 14:38] boyceg commented on #749
It is not too hard to set up on MacOS --- I can run it at some point.

[2019-12-17 16:56] drwells commented on #748
@amneetb I would like to put out a release candidate today or tomorrow (so that we can get the release out by the end of the week). Will this be done in time to put it in the candidate?

[2019-12-17 17:00] drwells commented on #482
Now that most of the pieces have been written (e.g., the JxW stuff) replacing this class is going to be a project for January.

[2019-12-17 17:01] drwells commented on #749
I have a bunch of outstanding patches for the release. Can someone take some time to look them over?

[2019-12-17 17:29] drwells opened #793 "post 0.6: run cppcheck again"
cppcheck found a bunch of nontrivial problems with calling virtual functions in destructors, duplicated member variables, etc. I am only fixing the very obvious things for the release candidate. This issue is a reminder to myself to go back and carefully go through the full list.

[2019-12-17 17:30] drwells opened #794 "IBFEPatchRecoveryPostProcessor"
It looks like this class was never finished: we have the source but it doesn't compile right now (and its not built). Does anyone know what the status of this file is?

[2019-12-17 18:19] drwells opened #795 "Reorganize scripts in src/tools"
From #788: we have a bunch of useful perl scripts buried in the source folder. We should put them with the rest of the scripts.

[2019-12-17 18:19] drwells commented on #795
Since @abarret mentioned it I am volunteering him for the task :)

[2019-12-17 18:21] abarret commented on #795
I was going to suggest labeling this as a starter project since these might need updating, but I suppose I have to start somewhere.

[2019-12-17 18:29] amneetb commented on #748
I will do it today by the end of the day. Finals week here ☹️

[2019-12-17 21:18] drwells commented on #698
We still need to update the examples.

[2019-12-18 15:51] drwells opened #802 "Put all configuration info in a single header"
There are a few places where we conditionally include different libMesh headers based on which version of libMesh we are using. This means that we need to include `libmesh_config.h` before the version check. The best way to do this would be to write a header that contains the configuration headers of all dependencies and put it at the top of each header and source file so that version information

[2019-12-18 16:38] boyceg commented on #802
This could also make it easier to switch build systems. Can we do this ASAP after tagging 0.6?

In the past, I made a concerted effort to avoid including these generated config files in IBAMR header files. What are "best practices" for this kind of thing?

[2019-12-18 16:52] knepley commented on #802
We create these files:

  makefile configure header arch-master-debug/lib/petsc/conf/petscvariables
  makefile configure header arch-master-debug/lib/petsc/conf/petscrules
  configure header arch-master-debug/include/petscconf.h
  C specific configure header arch-master-debug/include/petscfix.h
  configure pkg header arch-master-debug/include/petscpkg_version.h

petscconf.h is included by both C a

[2019-12-18 17:59] drwells commented on #802
I prefer the approach that PETSc uses in `petscpkg_version.h`; we do approximately the same thing in deal.II but put everything in one header (see https://github.com/dealii/dealii/blob/master/include/deal.II/base/config.h.in).

I would prefer to extract version information in the build system (we have it at that point anyway) and then put it with our own `#define`s in `IBTK_config.h`.

[2019-12-18 18:46] drwells commented on #749
Lets skip the cppcheck stuff for now - its not that important.

We now need #803, #698, and #748 to be finished before we can collate documentation and create the release candidate.

[2019-12-18 18:46] drwells commented on #749
(and run IWYU)

[2019-12-18 19:01] drwells commented on #493
@marshallrdavey and I will tackle this in the winter.

[2019-12-18 19:45] drwells commented on #748
Fixed by #804.

[2019-12-18 19:45] #748 closed

[2019-12-18 20:21] drwells opened #806 "restart doesn't work for IBFESurfaceMethod"
It looks like #805 revealed that we need to apply a fix similar to #456 to IBFESurfaceMethod: i.e., restart doesn't work with multiple MPI processes because, AFAICT, the vector type is set to PARALLEL and not GHOSTED. I would like to include this and some relevant tests in the release.

[2019-12-18 20:21] drwells commented on #806
Related to #493.

[2019-12-18 21:52] drwells opened #807 "Post 0.6: run IWYU"
We should run this early in the release cycle so that we can shake out any overly zealous header deletions.

[2019-12-18 21:56] drwells opened #808 "Post 0.6: add an IBMethod restart test"
We can probably add a variant on one of the current IB tests that verifies that we compute the same output when we restart the simulation.

Our test framework can do this: we run the program to completion and then run it to completion (but starting from a restart point) and check the output from the second run against the known output file. I can show whoever volunteers how to do this.

[2019-12-19 14:11] drwells commented on #482
The recent discussion about FESurfaceDistanceEvaluation is also related to this problem: we really need a class that can compute the contravariant efficiently for both the reference and deformed configuration.

[2019-12-19 18:27] drwells commented on #698
Fixed by #805.

[2019-12-19 18:27] #698 closed

[2019-12-19 18:28] #806 closed

[2019-12-19 19:39] drwells opened #811 "Add unit tests for FESurfaceDistanceEvaluator"
@amneetb mentioned that his group already has some tests for this - it would be great if we could add them to IBAMR's test suite. I'm putting this on the next release.

I'll let @amneetb assign this issue to one of his students :)

[2019-12-19 20:15] drwells commented on #811
Most of what we need is in IBLevelSet/ex0.

[2019-12-20 21:16] drwells commented on #749
Its a few days late, but we managed to fix a bunch of important bugs - I'm calling it a win.

@IBAMR/ibamr-write-team if you can, please give the release candidate a spin and check if you encounter any problems with compilation, your own codes, etc. I will aim for putting out the release on Monday.

[2019-12-23 17:06] drwells opened #818 "Get the test suite working without libMesh"
The test suite can be used when libMesh is not available, but its a bit hacky - one must run `make -j tests` repeatedly to compile everything while ignoring the miscompiled tests (since libMesh isn't available). The test suite still runs correctly in this mode - tests without corresponding executables are simply skipped.

[2019-12-23 17:42] rossisimone opened #820 "IBAMR-PETSc configuration"
Hi all,
I'm rebuilding my old version of IBAMR.
It looks that currently the configuration looks for PETSc in $PETSC_DIR/$PETSC_ARCH,
but I think it reads PETSC_ARCH from the PETSc installation.
This is causing a configuration error because I have PETSc installed in a different folder (check the output below)
I can work around this easily, but it would be good if one could just specify any folder.

[2019-12-23 18:33] knepley commented on #820
On Mon, Dec 23, 2019 at 12:42 PM rossisimone <notifications@github.com>
wrote:

If you installed into  /not_backed_up/srossi/TPL/petsc/3.9.3/opt, then set
that as PETSC_DIR and leave
PETSC_ARCH empty. Can you send the output of 'printenv' so we can see that
its not in your environment?

  Thanks,

    Matt

--
What most experimenters take for granted before they begin their
experiments is infinite

[2019-12-23 19:20] rossisimone commented on #820
I tried that but it did not help: it was still adding the linux-opt at the end.

The PETSC_DIR and PETSC_ARCH are local to a bash script:

########################################
IBAMR=/not_backed_up/srossi/dev/IBAMR
TPL=/not_backed_up/srossi/TPL

export PETSC_ARCH=
export PETSC_DIR=$TPL/petsc/3.9.3/opt

echo $PETSC_ARCH
echo $PETSC_DIR

$IBAMR/IBAMR_AMIN_FSI/configure \
   --prefix=$IBAMR/git \

[2019-12-23 19:37] drwells commented on #820
@rossisimone Just setting PETSC_DIR should be enough for IBAMR - that's how I build it on my laptop.

I suspect that your version of libMesh is using a different version of PETSc than the one you are setting here - that is likely where `linux-opt` came from. Could you try not setting PETSC_ARCH and also not setting PETSC_DIR and just letting configure pick it up from libMesh?

[2019-12-23 21:28] drwells commented on #820
I just talked to @rossisimone about this. New versions of IBAMR have better error detection for missing folders. I can also verify that things work correctly now when ‘PETSC_ARCH’ is not set. Hence it’s fine if we close this.

[2019-12-23 21:28] #820 closed

[2019-12-24 04:55] drwells commented on #749
We're done!

I'll go celebrate :)

[2019-12-24 04:55] #749 closed

[2020-01-04 02:22] amneetb opened #821 "Make SpongeLayerFunction class general"
This line of code is limiting the usage for multiphase flow apps.
https://github.com/IBAMR/IBAMR/blob/master/src/navier_stokes/SpongeLayerForceFunction.cpp#L133

We can provide a user input parameter `chi` instead of `rho` and make it more flexible.

[2020-01-04 23:42] drwells commented on #821
@amneetb I'm not sure I understand what you have in mind. Could you go ahead and make these changes if you have some idea how how it will be used?

[2020-01-06 19:21] drwells commented on #807
@boyceg *ping* :)

[2020-01-06 19:25] drwells commented on #280
This is going to be solved by replacing our build system, which is covered somewhere else.

[2020-01-06 19:25] #280 closed

[2020-01-06 19:30] drwells commented on #283
Now that the gtest tests are all converted this isn't really an issue - its fine to have long examples.

[2020-01-06 19:30] #283 closed

[2020-01-06 19:30] drwells commented on #284
Now that the gtest tests are all converted this isn't really an issue - its fine to have long examples.

[2020-01-06 19:30] #284 closed

[2020-01-06 19:30] drwells commented on #288
Now that the gtest tests are all converted this isn't really an issue - its fine to have long examples.

[2020-01-06 19:30] #288 closed

[2020-01-06 19:32] drwells commented on #308
Lets hold off on making a decision here for now - we need to keep the bundled dependencies around as long as we support the autotools based build system (which may be a few more years).

[2020-01-06 19:32] #308 closed

[2020-01-06 19:34] drwells commented on #348
Since the current set up works and we are going to deprecate the current build system this type of improvement is not a good use of time, so lets close this.

[2020-01-06 19:34] #348 closed

[2020-01-06 19:38] drwells commented on #469
If I recall correctly this was fixed by #538.

[2020-01-06 19:38] #469 closed

[2020-01-06 19:59] drwells commented on #579
I think we can preserve compatibility and make the semantics clearer by overloading the remaining functions, i.e., have both
[code]
since we always assume ownership of the `RefinePatchStrategy` object anyway.

[2020-01-06 21:44] drwells opened #824 "IBAMR 0.7"
I closed a number of issues today that are no longer relevant for one reason or another. I also added everything that, to me, appears significant enough that we should try hard to get it in the next release into the 0.7 milestone.

I set a tentative due date of May 31 for the next release: I would prefer to get this done in May since people have more limited availability over the summer.

I assign

[2020-01-07 20:27] #490 closed

[2020-01-09 18:37] #640 closed

[2020-01-16 21:46] drwells opened #830 "Reimplement force spreading accumulation from ghost cells"
Background: when we do force spreading, on a given patch we calculate contributions from points outside the patch that can spread into the patch: i.e., if a point can spread into the patch interior we compute its contribution. A long time ago IBAMR instead had each patch compute its own contributions (including values spread into ghost cells) and then did a parallel reduction to get the correct va

[2020-01-16 21:59] drwells commented on #830
To get good load balancing with this example we need nearly 6x as many IB elements as we have active elements.

[2020-01-16 23:15] knepley commented on #830
Note that instead of Isend/Irecv you can use VecScatter from PETSc. You get Isec/Irecv, but also Alltoallv() and windows. The Alltoall() is considerably faster on some architectures and at the scales I think you are using. Also, VecScatter should be easier to setup.

[2020-01-16 23:46] drwells commented on #830
I actually read through the `VecScatter` implementation to check that this plane is sane (as well as deal.II's own Partitioner class).

Do we need to give every number we transfer an index if we use `VecScatter`? I imagine one advantage of just using Isend/Irecv directly is that I can just send blocks corresponding to slices of SAMRAI boxes and not bother with indices for the most part.

[2020-01-16 23:55] boyceg commented on #830
Note that we do have routines that will assign DOF ids to SAMRAI data and synchronize values on shared locations. Would probably require copying between representations however.

[2020-01-17 02:16] boyceg commented on #830
You might want to take a look at PETScVecUtilities. It will setup DOF indices for different types of data centerings, generate PETSc Vac’s with the right number of DOFs, and copy SAMRAI data to/from PETSc vectors. It is used, e.g., in the PETScLevelSolver implementations.

OTOH, there may be some benefit to doing things on a patch-by-patch basis.

[2020-01-17 02:17] knepley commented on #830
You can have blocks in VecScatter (like Vecs and Mats), but not arbitrary MPI types. You can have those in PetscSF, which is why I use that in Plex.

[2020-01-17 15:13] drwells commented on #579
@marshallrdavey Are you willing to take a look at this?

[2020-01-17 19:17] drwells commented on #509
There are a few more things I would like to add before calling this issue resolved:
- [ ] interpolation tests that just print values on patches instead of computing errors. This will verify that we don't accidentally lower an order of accuracy somewhere.
- [ ] spread tests that work in parallel: we should verify that with a wacky partitioning and geometry we get the correct force values on each pa

[2020-01-20 16:28] drwells commented on #410
One such module we should include would be from @abarret's notes, attached here.
[ibamr_lag_data.pdf](https://github.com/IBAMR/IBAMR/files/4087069/ibamr_lag_data.pdf)

[2020-01-20 18:20] drwells commented on #615
This PR is suffering from massive scope creep - part of the work stated above is equivalent to 'vectorize everything in IBAMR' which will be an incredible undertaking. Changes to the spreading algorithm are already covered in #830.

Instead, lets call this issue 'done' once we have the following:
- [ ] Use the new `SPREAD_3D_SPECIALIZE_FIXED_WIDTH` macro (and its 2D brother) everywhere to speed up

[2020-01-21 01:24] drwells commented on #657
I'm not happy with this conclusion, but ultimately neither @marshallrdavey or myself were able to figure out the cause of this. In particular, no tool I tried could reproduce the behavior we observed on the cluster in a way that we could determine the cause of the memory usage growth.

Hence, since there is nothing we can do, there is no reason to keep this open.

[2020-01-21 01:24] #657 closed

[2020-01-21 01:29] drwells commented on #474
I think that in practice we should just use libMesh's bounding box when dealing with libMesh stuff and SAMRAI's Box when dealing with index space - we don't really need another class.

[2020-01-21 01:29] #474 closed

[2020-01-21 21:25] drwells commented on #830
Good ideas - it looks like `PETScVecUtilities::constructPatchLevelDOFIndices` does what I want.

[2020-01-22 20:19] drwells opened #839 "Improve inlining of minmod and median"
Both of these functions are defined in `advect_predictors2d.f` and `advect_predictors3d.f` but it doesn't look like they get inlined - callgrind measures them independently.

Related: why do these functions use `abs` and `sign` instead of `dabs` and `dsign`? Won't this decrease precision?

[2020-01-24 03:53] boyceg commented on #830
I don't think that the old strategy predates our use of git -- I don't think it is worth hunting around for it.

I think that this is a different approach than what you are planning, but a thing that could be done is to make a scratch hierarchy with overlapping patches that covers the current configuration of the FE mesh in **whatever** partitioning is being used by libMesh.

You could synch the D

[2020-01-24 14:57] drwells commented on #830
That's not what I had in mind and it would resolve the problem where we have to do a lot of duplicated work due to elements in ghost cells.

I think I would prefer to do the original proposal first, though, because
1. Different elements have different numbers of quadrature points based on the deformation so we would need to write a partitioner for libMesh to account for this. I'm not sure how big

[2020-01-24 15:22] boyceg commented on #830
I agree that load balancing would still be a challenge.

IIRC, the `Vec` representation of the SAMRAI data avoids this issue by assigning only a single DOF to each shared location. There is code that then understands how to synchronize values at those shared locations.

I agree, although there is already code to make spreading operators as `Mat`s for `IBMethod`, and so it will be less work than yo

[2020-01-24 15:27] drwells commented on #830
Oh, I think I understand now - if we work with that representation then we can sum ghost values easily. That makes more sense.

[2020-01-24 22:02] drwells commented on #615
@boyceg Several of the IB kernels (IB_4 and up) don't use the delta functions - instead they directly evaluate all points in the stencil inside the loop over all points directly. Do you remember why this was done?

[2020-01-24 22:04] boyceg commented on #615
It is faster.

[2020-01-25 03:34] drwells commented on #615
Hm. I think it might still be faster to undo that change now that we inline the delta functions. I'm taking a look.

[2020-01-25 04:37] boyceg commented on #615
It avoids recomputing sqrt.

[2020-01-27 14:56] drwells commented on #615
I tried removing the manually inlined code in favor of the delta functions and it is indeed slower (not surprising - the compiler doesn't inline it and cannot work out the common square root).

[2020-01-27 16:33] drwells commented on #802
We also need to include `libmesh/libmesh_version.h` to get the `LIBMESH_VERSION_LESS_THAN` macro.

[2020-01-27 16:58] drwells opened #840 "Inconsistent quad/hex partitioning with libMesh"
I get different results with different versions of libMesh for the new surface mesh partitioning tests. The graphical outputs all look fine - I think the issue just comes from libMesh generating slightly different meshes between versions.

This isn't too important but we should fix it by the release.

[2020-01-29 06:39] abarret opened #845 "Build failure using bundled boost"
I'm using IBAMR's bundled boost, and libmesh is configured without boost. I'm getting a build error that looks like

`../../IBAMR/lib/../src/wave_generation/WaveDampingFunctions.cpp:26:10: fatal error: boost/math/tools/roots.hpp: No such file or directory
 #include <boost/math/tools/roots.hpp>`

It appears that our bundled copy of boost isn't complete. We should either remove this dependency from

[2020-01-29 12:36] boyceg commented on #845
We should update the bundled boost.

[2020-01-31 14:48] drwells commented on #482
@marshallrdavey This is the issue we discussed the other day. At this point we have written enough code that deals with changing the quadrature rule from element to element that we should be able to combine the pieces into a replacement class.

The right way to get started is to survey where we use `FECache`, `getQuadratureKey`, etc. - from there we can figure out what we should implement that wou

[2020-01-31 14:49] drwells commented on #482
That's just one example - we should list all the things we could get this class to do before we start writing it.

[2020-01-31 15:23] marshallrdavey commented on #579
@drwells I'm running into issues in IBHierachyInegrator and others that pass a pointer into registerGhostfillRefineAlgorithm instead of unique_ptr. What would you like to do in those cases?

[2020-01-31 16:25] drwells commented on #579
If the class inherits from `HierarchyIntegrator` then the parent class is responsible for calling the destructor. IBHierarchyIntegrator stores a pointer to the object itself.

We can probably do the following:
[code]
we should also update the documentation to clarify that `d_u_phys_bdry_op` is managed by the parent class since it is registered as a ghostfill refine algorithm.

[2020-01-31 16:28] drwells commented on #579
This works only because we create the object (via `new`) in the inheriting class but delete it (by putting it in a `unique_ptr`) in the base class.

[2020-01-31 23:17] drwells commented on #811
Fixed by #827.

[2020-01-31 23:17] #811 closed

[2020-01-31 23:49] drwells opened #850 "NWT test takes too long"
@amneetb @Raamkrishnan Before #827 the `wave_tank/nwt_cylinder.mpirun=8.input` test only took perhaps 30 seconds to run - its now been running on my workstation for 15 minutes and its still going. Would you please take a look to see what has happened?

[2020-02-01 01:09] boyceg commented on #482
Could the `FEValues` class also own the DOF indexing data structures and provide some convenience function(s) to assemble into global data structures?

It seems like this is starting to become the long awaited replacement for `FEDataInterpolation`?

[2020-02-01 02:38] drwells commented on #482
Replacing `FEDataInterpolation` is the plan!

I'm not sure if it needs to store the dof cache - it might be better to store a pointer or to rely on the user to get the dofs since its ultimately a separate job (indeed, in deal.II the `DoFCellAccessor` class extracts degrees of freedom). Putting some global update functions in it is a good idea (the more repeated code that we can move into this clas

[2020-02-01 18:21] drwells commented on #482
Update: since performance elsewhere has improved a lot this class now takes up (including things it calls) 23% of the total runtime of the heart model according to valgrind.

[2020-02-01 23:05] drwells commented on #850
Fixed by #851.

[2020-02-01 23:05] #850 closed

[2020-02-01 23:07] drwells opened #853 "IB-6 kernel disagrees with inlined version"
I noticed this while working on #615 - when I tried to inline the delta function I got different results than the ones I get with `master`. We should investigate and figure out which version is right.

[2020-02-01 23:44] drwells commented on #615
Note to self - write a changelog entry summarizing changes from #854 in addition to whatever necessary future changes to kernels are made.

[2020-02-04 16:26] drwells commented on #579
Fixed by #849.

[2020-02-04 16:26] #579 closed

[2020-02-07 18:25] drwells opened #859 "Get rid of triangle in spread tests"
I spent most of yesterday trying to figure this out. For reasons I don't completely understand, I get different vertex orderings on my desktop computer than on my workstation - this shouldn't be an issue, but since some of our quadrature rules have anisotropy [1] we end up with different quadrature points and therefore different force values.

Fortunately, the numberings used in the `MeshGeneratio

[2020-02-07 18:26] drwells commented on #859
We currently verify the spread functions (mostly to make patches like #852 testable) by just printing out the computed force values. Hence moving quadrature points causes the tests to fail.

[2020-02-07 18:34] drwells commented on #859
This issue is also a good reminder of the fact that we really need to derive a new family of low-order quadrature rules that are more evenly spaced than Gauss rules for IB applications...

[2020-02-07 18:37] drwells commented on #859
Clarification: here 'triangle' refers to the mesh generation program - it generates high-quality meshes from a set of boundary points.

[2020-02-07 18:39] boyceg commented on #859
It would be worth thinking about whether there are alternative constructions that make more sense for these integrands. It would be a surprise to me if vanilla Gauss rules are optimal.

[2020-02-07 18:58] drwells commented on #859
I'm sure there are - libMesh's quadrature rules are optimized for low numbers of points at a given order, which is the opposite of what we want (we want to fix order and then use whatever number of points is necessary for IB considerations).

[2020-02-08 15:00] #818 closed

[2020-02-10 15:02] drwells commented on #845
It is a bit tricky for me to fix this since I have system copies of boost on all of my machines - could someone who uses the bundled copy of boost please take a look?

[2020-02-10 22:32] #845 closed

[2020-02-11 06:23] nishantnangia opened #865 "Bug: Coarsen operator for density in class INSVCStaggeredNonConservativeHierarchyIntegrator"
Hi folks,

The coarsen operator is incorrectly specified in INSVCStaggeredNonConservativeHierarchyIntegrator. Specifically, this line:
https://github.com/IBAMR/IBAMR/blob/master/src/navier_stokes/INSVCStaggeredNonConservativeHierarchyIntegrator.cpp#L989

should use `d_rho_coarsen_type` instead.

Without this fix, all non-conservative VC cases will crash during the initial time step with error mess

[2020-02-11 12:54] drwells commented on #865
Nice catch. Could you post the input file you used? It would be good to reproduce this and add a test.

[2020-02-11 15:15] nishantnangia commented on #865
The input file was input3d from examples/vc_navier_stokes/ex0, but any of
the input files within should exhibit the same behavior — including the 2D
ones.

On Tue, Feb 11, 2020 at 4:54 AM David Wells <notifications@github.com>
wrote:

[2020-02-12 04:31] nishantnangia commented on #865
Are there any instructions on how to create new tests (the last time I wrote a test for IBAMR was back when we were using gtest)? If so, could you point me to them -- I'd be happy to take care of this PR.

[2020-02-12 05:02] Raamkrishnan commented on #865
Hi, I recently followed this link to write a test:

https://github.com/IBAMR/IBAMR/wiki/Tests-for-IBAMR

[2020-02-12 05:08] nishantnangia commented on #865
Ah wonderful, thanks! I'll take a look.

[2020-02-12 05:46] amneetb commented on #865
@nishantnangia

I built `numdiff` on OSX by using:

[code]

and IBAMR using `attest` by

asbhalla@Amneets-MBP-2:~/Softwares/IBAMR-Git/objs-dbg$ head config.log
This file contains any messages produced by compilers while
running configure, to aid debugging if configure makes a mistake.

It was created by IBAMR configure 171104, which was
generated by GNU Autoconf 2.69.  Invocation command line was

[2020-02-12 13:10] drwells commented on #865
Writing a test should be pretty easy for this case - we just need to pare down an example into something that runs in a few seconds and demonstrates the bug (or shows that the bug is fixed). Most of the tests are more-or-less copied and pasted example programs.

Let me know if you have questions about writing a test - its supposed to be easy. If it isn't I would like to know what we can change to

[2020-02-13 17:18] boyceg commented on #853
At some point there definitely was a bug in the `IB_6` kernel.

There is a reference implementation for both 5- and 6-point kernels available [here](https://github.com/stochasticHydroTools/DFIB/blob/master/Kernels_MEX/Kernels.c). They are the "flex" kernels.

[2020-02-13 20:05] drwells opened #868 "Fail to configure if multiple MPI versions are detected"
This showed up on the mailing list and was a problem @amneetb’s student had. We should verify that all dependencies use the same MPI implementation and fail to configure if they do not.

[2020-02-13 21:25] drwells opened #869 "Issue with linear system solver slowdown"
This is the issue we all talked about by email over the last week: Amneet can reproducibly get huge (factors of 50x to 300x) slowdowns in linear solves. We strongly suspect that this is due to allocating and deallocating our solution vectors repeatedly. @amneetb and myself sat down with @tjhei earlier to get some ideas of things to try to figure out what is going on:

1. Before calling the solver,

[2020-02-14 13:40] #808 closed

[2020-02-14 14:37] drwells commented on #869
@knepley we missed you yesterday, but this is the result of our discussion on the slowdown issue.

[2020-02-14 19:40] drwells opened #871 "Add Aaron's notes to muParserRobinBcCoefs"
We should put this document into the class documentation.

[2020-02-14 19:43] knepley commented on #869
I agree with you that a good empirical way to get at this is allocating a bunch of vectors. My thought was that slowdown could happen if memory filled up (due to fragmentation), and the program started swapping.

[2020-02-14 19:45] drwells commented on #871
[boundary_conditions.pdf](https://github.com/IBAMR/IBAMR/files/4206512/boundary_conditions.pdf)

[2020-02-14 21:17] drwells commented on #509
I added another thing to do from a comment @boyceg made in #857.

[2020-02-15 19:56] amneetb commented on #869
I am now running a test in which I reinitialize the Stokes solver after every 5 time steps instead of re-initializing it at every time step. This test can check if the memory fragmentation is mainly due to PETSc matrix based solvers getting allocated/deallocated or due to memory recycling of SAMRAI vectors. Although in this test SAMRAI vectors associated with FGMRES solvers are getting created and

[2020-02-15 19:57] amneetb commented on #869
@drwells: I like the epic label for this issue.

[2020-02-15 20:00] amneetb commented on #869
@knepley : Are you aware of PETSc-based large scale apps in which folks tear down and build PETSc solvers at every time step instead of updating matrix coefficients? Have they reported slowdown if they do the former thing.

[2020-02-15 21:14] knepley commented on #869
I do not know of anyone reporting such as thing. I think many people do this, but I do not have a specific example. I used to do this _forever_ ago in grad school without memory growth, but its too far away to say anything about today I think. An additional diagnostic would be to call https://www.mcs.anl.gov/petsc/petsc-current/docs/manualpages/Sys/PetscMemoryGetCurrentUsage.html periodically to s

[2020-02-17 19:06] drwells commented on #509
I checked the interpolation tests again and they print out max error norms - that means we will know if accuracy is degraded at particular points. Hence we can check off that issue.

[2020-02-17 20:11] amneetb commented on #869
Ok, so the simulation is around ~20K time steps. It has slowed down, but not entirely clogged yet as I used to observe before. So it appears that PETSc repetitive `KSPDestroy` has a  good deal of effect on memory fragmentation. Recall here PETSc matrix based coarse solver is deallocated after every 5 time steps.

@AminKolah @sach1 : I am wondering if you can rerun your simulations by employing PET

[2020-02-17 20:26] AminKolah commented on #869
I have not noticed any slow-down on any of the simulations/applications that I've been running recently. They all run smoothly for the entire 7 days of the simulation and they normally use 2x32 cores to run. These simulations are pretty complex and involve multiple bodies with internal/external flow conditions. Below is the setup in one of my input file which shows that I do use PETSc matrix based

[2020-02-17 20:44] amneetb commented on #869
This is a Hypre solver.

[2020-02-17 21:09] sach1 commented on #869
I set up a test case with the settings you just sent. I have to mention i
cannot run anything for more than 2 days as the cluster has this limit.

The previous case we talked about (only INS, with num_cycles=3, rtol=1e-12)
also showed no slowdown. Over the 3 cycles it was performing 20+ iterations
per timestep. It ran for two days and the time taken to complete 100
timesteps was around 3400 second

[2020-02-17 21:19] amneetb commented on #869
That's good the regular INS did not show any slow down. It indicates that  SAMRAI vectors used in PETSc solvers are responsible.

I have tested my app on Comet also and it shows similar slowdown. That was the first thing I tested. Both Comet and Dogwood run similar OS RHEL 7 and kernel version, so this is not surprising, but a sanity check nonetheless

[code]

[code]

[2020-02-17 21:22] knepley commented on #869
@amneetb The solver itself is a tiny amount of memory, so if something is going on it must be about work vectors or a matrix. Can you make the call above so I can see what getrusage() is saying? It is really, really common to factorize a matrix every step, which reallocates, so it would be quite odd if just destroying something like this is causing a problem, but that is why we run tests.

Thus, I

[2020-02-18 08:52] amneetb commented on #869
I will do that in the coming days for both velocity and pressure solvers.

It is really, really common to factorize a matrix every step, which reallocates, so it would be quite odd if just destroying something like this is causing a problem, but that is why we run tests.

Is this telling total memory usage? Would it also capture the memory that got fragmented? If it doesn't then I am wondering if

[2020-02-18 12:38] knepley commented on #869
@amneetb It is giving you the "resident set size" which is the best measurement we have: https://unix.stackexchange.com/questions/30940/getrusage-system-call-what-is-maximum-resident-set-size
You are doing the same thing my tiny code is doing, so I would be really surprised if that is the problem. Are you able to run massif on this?

[2020-02-21 17:16] drwells commented on #859
Fixed by #876.

[2020-02-21 17:16] #859 closed

[2020-02-21 17:17] drwells commented on #865
Fixed by #870.

[2020-02-21 17:17] #865 closed

[2020-02-21 19:55] drwells commented on #615
@knepley mentioned that Devito is a compiler for finite difference stencils - it might be worthwhile to automatically generate these things.

[2020-02-21 20:01] drwells commented on #615
@knepley also referenced a paper Jed wrote where he automatically generated difference stencils - it might be worth looking into. IIRC Overture generates a ton of code (though most of it is for curvilinear grids) too.

[2020-02-21 20:02] knepley commented on #615
https://journals.sagepub.com/doi/abs/10.1177/1094342012444795

[2020-02-21 22:00] marshallrdavey opened #881 "Tracking git hash/IBAMR verison in config.log"
I mentioned this to @drwells. It would be nice to output the git hash/IBAMR version in the config.log when we are doing comparisons with various builds as a way to check the build.

[2020-02-21 22:16] drwells commented on #881
We could also add a convenience function that prints these values to an `ostream`.

[2020-02-22 15:55] #795 closed

[2020-02-24 15:23] drwells opened #884 "Add notes on getting good MPI performance"
We should summarize some of the discussion we had over email on how to run jobs efficiently on a cluster. The PETSc manual has a really good section on this - we should start by summarizing that and adding some more novice-friendly explanations of terminology.

Topics to include:
1. how to set up the streams benchmark and what it means
2. how to pin jobs to cores and other `mpiexec` tips and trick

[2020-02-24 15:29] drwells commented on #493
Well, that didn't happen :)

This is blocked by #828. @boyceg reminded me on Friday that this is in the 0.7 milestone. I think that, of all the things listed there, this is the lowest priority item so I am going to remove it to make more time for more urgent things.

[2020-02-24 15:43] drwells commented on #482
I reviewed all of our FE code when I was on the plane back from Seattle the other week - I read through every use of FEDataInterpolation and also our usage of plain libMesh calculation routines. This isn't a plan of action (yet) but it is a listing of stuff that we should ultimately implement efficiently in a single place and use throughout the library.

## what FE operations do we currently do?
#

[2020-02-24 15:46] drwells opened #885 "Improve parts API with a Part class"
instead of using a bunch of `std::vector<bool>`s to indicate state of different parts owned by IBFEMethod we should just implement `class Part` and make each part responsible for storing this information.

[2020-02-24 15:48] drwells commented on #540
I think that this is addressed more generally in #885 so I am going to close this.

[2020-02-24 15:48] #540 closed

[2020-02-24 18:51] amneetb commented on #869
@Kaustubh-Khedkar is running the same app on my start-up cluster using 4 nodes each with 32 CPUs and 64 GB RAM. The solver is reinitialized at every time step. It is at ~19K time steps and there is no slowdown. Looks like number of CPUs are also a factor here.

@AminKolah and @sach1 how many cores do you generally use for your simulations? Have you used 250+ cores in your runs?

[2020-02-24 18:58] AminKolah commented on #869
I normally use 2 x 32 = 64 cores but occasionally have used twice of that too.

[2020-02-24 19:34] amneetb commented on #869
Hmm ok. For 128 cores we are not observing any slowdown as well. Unfortunately I can't run the app with 256 cores on my cluster (yet) to test it on a 3rd different cluster.

[2020-02-24 19:50] sach1 commented on #869
@amneetb i usually stick to 8 or 4 nodes (192 or 96 cores) at the most. I rarely exceed this in my usual runs because I use IBFE

I have run just one case with 192 cores using Amneet's inputfile settings and I am seeing some worrying trends. These timings make no sense to me so I'm testing more to be 100% sure so I will report back after a few days.

iteration_num is 0               with dt 0.0002

[2020-02-24 20:04] amneetb commented on #869
Yep, the compute time is increasing. Atleast it is not just the multiphase solver that shows slow down.

Houston we have a problem ;-)

[2020-02-24 20:10] boyceg commented on #869
@sach1 do you have dedicated access to the compute nodes on this system?

[2020-02-24 20:12] amneetb commented on #869
@sach1 : Let this one run. It appears that you have run this simulation for about 6 hours. You will see that it will clog after 12 more hours of run time (which is within 48 hours of allowed run time window).

[2020-02-24 20:14] amneetb commented on #869
@sach1 You can check this by two ways:
[code]
which will show the owner of this node

or

[code]
where you can see if someone else is using PIDs on these nodes.

[2020-02-24 20:17] boyceg commented on #869
The useful timing data will be for periods when you have exclusive access to the nodes. It is probably not worth the effort to run the tests if you are sharing the nodes with other jobs.

[2020-02-24 20:36] sach1 commented on #869
@amneetb @boyceg

I always use this flag in my job script "#SBATCH --exclusive" so even if I'm using 4 or 8 cores per node, I make sure no other job is running on that node when I'm on it.

Also to be 100% sure, I ssh'd into the node and ran top. Only my process shows up so I'm quite sure I'm not sharing any of these nodes with anyone else.

I have run only one job with 192 cores (still running).

[2020-02-24 20:38] amneetb commented on #869
Wow, somebody doesn’t like sharing compute resources ;-)

[2020-02-24 20:39] sach1 commented on #869
Yeah I know it looks bad but we talked about this before. https://groups.google.com/d/msg/ibamr-users/dDOkqZnUUYk/E_I5ypRzBwAJ

[2020-02-24 20:40] amneetb commented on #869
Houston, we do actually have a problem. Admitting is the first step towards resolving it.

[2020-02-24 20:44] boyceg commented on #869
If the main issue is general memory allocations rather than specific allocations, then `master` should make a difference.

Do we know if switching from `PETSC_LEVEL_SOLVER` to `HYPRE_LEVEL_SOLVER` in the FAC algorithm makes any difference?

[2020-02-24 21:02] amneetb commented on #869
That's a good suggestion.

@sach1 : Can you share your input file with @drwells so that he can try it on dogwood?

@boyceg : Shashank expressed his reservations on running too many test cases on Comet as they burn up his SUs. These tests need to be done at a university level cluster. I am helpless in this regard as well :-(

[2020-02-24 21:03] drwells commented on #869
Lets try not to use up SUs - we really need to reduce this down to something simpler before we proceed and we can do that on dogwood.

[2020-02-24 21:05] amneetb commented on #869
@sach1 is running navier_stokes/ex0 which is very simple test case.

[2020-02-24 21:12] boyceg commented on #869
Can you attach the full input file to the issue?

[2020-02-24 21:33] sach1 commented on #869
Not sure how to attach a file here. I'm adding a pastebin link of the input file

https://pastebin.com/9SfCFGB4

This is the same as navier_stokes/ex0/input3d and just includes changes from https://github.com/IBAMR/IBAMR/issues/869#issuecomment-587142620

[2020-02-24 21:35] amneetb commented on #869
You can simply drag and drop stuff over here (in the comments).

[2020-02-24 21:37] boyceg commented on #869
What are the command line options?

Are the number of coarse grid iterations constant? Running with GMRES+JACOBI on a relatively fine coarse grid is not really recommended.

[2020-02-24 21:44] amneetb commented on #869
Yes, but this not the issue here. The slowdown is not coming while solving the system.

(GMRES+JACOBI takes about 10-15 iterations on relatively fine coarse grids. It is on the same order of what hypre will take. @knepley is going to send me some other options to try. Using GMRES/RICHARDSON+GAMG/HYPRE was too slow in run time that rendered these options useless for our multiphase flow work.)

[2020-02-24 21:52] boyceg commented on #869
I am asking about the test that @sach1 is running, not about the multiphase flow test.

In `navier_stokes/ex0`, are the total numbers of "outer" Stokes solver iterations and "inner" GMRES+JACOBI iterations approximately constant throughout, or do they change? I don't think that this is a forced example, and so if you run it for "too long", it will decay to a uniform flow field --- which is probabl

[2020-02-24 22:00] amneetb commented on #869
It is probably better to test it by setting the `coarse_solver_prefix` in the input file and monitoring it through the command line. I don't think people are too familiar with the things you are asking.

[2020-02-24 22:01] amneetb commented on #869
...and I can only tell you what I have done.

[2020-02-24 22:03] boyceg commented on #869
You can run with command line options `-stokes_ksp_converged_reason`, `-pressure_ksp_converged_reason`, and `-velocity_ksp_converged_reason` to see if there is a big change in the number of iterations as the simulation progresses.

At any rate, it would probably be better to use a test that is unsteady and at least quasi-periodic.

[2020-02-24 22:06] drwells commented on #884
We also need some slurm tips, like ` #SBATCH --exclusive`.

[2020-02-24 22:13] amneetb commented on #869
I agree. But one can always take small time steps with Taylor Green vortex flow and still not run into totally decayed region.

(I think whatever @sach1 is using is not going to decay in 2 days of run time. He mentioned that he gets about 7 iterations per cycle with 3 cycles in total even at the end of day 2. If it becomes uniform then the outer solver will be no-op even in the 1st cycle. I asked

[2020-02-24 22:15] abarret commented on #869
You can also include the command line option `-stokes_ksp_check_norm_iteration n` to force `n` iterations before it checks convergence.

[2020-02-24 23:05] boyceg commented on #869
I am not so worried about the Stokes solver as I am the pressure and velocity Poisson preconditioners --- those are running to a fixed tolerance or a fixed number of iterations?

I would like to rule out the possibility that the solvers themselves are requiring more iterations. I think it is unlikely, but it is very easy to confirm --- and it would be too bad to spend a lot of effort tracking down

[2020-02-24 23:16] boyceg commented on #869
If the subdomain solvers in the precondioner are using a fixed rtol, then I would expect the number of Stokes solver iterations to be approximately constant.

[2020-02-24 23:18] amneetb commented on #869
`max iterations = 100`  and `rel_tolerance = 1e-12` are  set  for the  bottom solvers. Convergence is declared whichever happens first. Theoretically yes it is possible for these solvers to take different number of iterations at different times, but I would be very very surprised if there is a wide difference with TGV and wave tank apps in between time steps. For TGV case, the convergence should i

[2020-02-24 23:19] boyceg commented on #869
OK, great --- so what happens in the actual tests?

[2020-02-24 23:22] amneetb commented on #869
@Kaustubh-Khedkar : I see that the 3d irregular wave case is about to end on Fermi. Let's run this again with some more command line options and get some data. It is at t = 39.522 s, so we can end it now also. Upto you.

[2020-02-24 23:25] boyceg commented on #869
If you are going to start new runs, can you please run with current master and see whether it makes any difference?

I am also curious if the basic runtime is impacted. I'm working on a grant this week but will try to check it out later.

[2020-02-24 23:27] amneetb commented on #869
This should be done with 256 cores that is showing a definite slowdown. This implies running stuff on dogwood.

[2020-02-24 23:30] boyceg commented on #869
I mean basic runtime --- independent of this slowdown. Like, does removing these allocations/deallocations make the linear solvers run faster?

[2020-02-25 00:57] #737 closed

[2020-02-25 19:41] amneetb commented on #869
New simulation running for a while now. Everything is looking normal. The subdomain solvers are doing only 1 iteration, with bottom velocity solver taking just 3 iterations whereas pressure solver takes max iterations  of  100 (does not converge to a tight tolerance of  `1e-12`). I should reduce it to 25 which is what the default hypre settings are anyways. Notice that hypre also does not converge

[2020-02-25 20:03] boyceg commented on #869
Hmmm, _hypre_ solvers really should converge in <= ~12 iterations for isotropic Poisson at that tolerance, so something sounds messed up there, but that is a separate issue. You should also be able to setup the _hypre_ bottom solver to use a simpler preconditioner, although it has been a very long time since I have done something like that.

A think to check is if you use CG+Jacobi instead of GMRE

[2020-02-25 20:57] sach1 commented on #869
I reran the test with the commandline options that were suggested. Saw similar slowdown. The run command was

ibrun ./main3d input3d -stokes_ksp_rtol 1.0e-12 -stokes_ksp_monitor -stokes_ksp_converged_reason -pressure_ksp_converged_reason -velocity_ksp_converged_reason

Velocity solver always converges, pressure does not.

I think this case never reaches steady state. I tried running it with num_of

[2020-02-25 21:04] amneetb commented on #869
Thanks!

@drwells  I just escalated  it to "Most epic" status.

[2020-02-25 23:39] #509 closed

[2020-02-26 00:53] knepley commented on #869
I agree with this, and should be true for GAMG and ML. I have an idea to sort this out. If you give

[code]

and then send me pres.bin, I can run a whole bunch of solvers on it.

[2020-02-28 00:18] drwells opened #892 "Add an IBTK example that explains ghost filling algorithms"
I was talking about this with @fuhuifang earlier today - she asked me a question about how we should fill ghost values and I didn't have a great answer. We should add a well-documented IBTK example that explains how to use ghost values, e.g.,
[code]
(from `interpolation_01.cpp`). It would be great if we also showed how to do this in a manual way.

[2020-02-28 13:30] drwells commented on #534
It still isn't clear to me how we can register new data outside the variable database: even `SAMRAIVectorReal::cloneVector()` uses the variable database.

We might want to ultimately write our own code that, for a given `Variable` and some description of the desired patch hierarchy (e.g., a set of boxes and level numbers), allocates its own data.

[2020-02-28 13:33] drwells commented on #516
One possible way to do this would be to write a new class `QuadratureStrategy` that acts like `getQuadratureKey` - it could store a set of quadrature rules and return references to said rules to callers. IBFEMethod could be configured to use such an object and it would then pass it along to FEDataManager for doing calculations in the deformed configuration.

[2020-02-28 13:44] boyceg commented on #534
SAMRAI 3 makes it easier to eschew VariableDatabase. Let’s worry about this after we update to S3.

[2020-02-28 18:57] abarret commented on #892
I've been playing around with ghost cells recently. I can put something together, but I'm not entirely sure what you want the example to do.

What do you mean by in a manual way?

[2020-02-28 19:06] drwells commented on #892
As in with a loop (i.e., we would put our own values in it) instead of relying on some filling algorithm provided by SAMRAI.

[2020-02-28 19:13] abarret commented on #892
I don't think this is a trivial thing to do in simulations with AMR since it's not easy to tell whether you're at a coarse-fine interface, a physical boundary, or a patch boundary with the same level of refinement.

I could write an example that shows how to write a `CoarsenOperator` and `RefineOperator` and use them with the SAMRAI infrastructure?

[2020-02-28 19:15] drwells commented on #892
I agree, but I want something much easier - we should show how to loop over ghost data in a box even if we don't know what it corresponds to.

That would be great!

[2020-02-28 19:16] abarret commented on #892
I've got an idea to do both of these in one example :)

[2020-02-28 19:16] drwells commented on #892
Even just documenting that these are the possibilities would be a huge win in my opinion for people who are trying to learn how IBAMR and SAMRAI work.

[2020-02-29 06:30] nishantnangia opened #895 "Switching order in initializeCompositeHierarchyData"
Hi folks,

Would there be undesirable consequences if we switch the order of calls in HierarchyIntegrator::initializeCompositeHierarchyData ([here](https://github.com/IBAMR/IBAMR/blob/master/ibtk/src/utilities/HierarchyIntegrator.cpp#L701)) to initialize the child integrators first _before_ the parent?

The reason I ask is because I was working with [multiphase/ex3](https://github.com/IBAMR/IBAMR/

[2020-02-29 13:56] drwells commented on #895
Good question: I am not sure if we have such a case but do any tests (aside from the usual suspects) that fail if we change it?

[2020-02-29 14:05] boyceg commented on #895
I think that instead of switching from one arbitrary order to another, I would suggest introducing an optional way to override the default behavior and set the order that things happen. One possibility would be to assign integrators “priority” and process in a corresponding ordering.

[2020-02-29 15:35] nishantnangia commented on #895
I like the idea of assigning priority — makes things more flexible (and in
fact, I think we did something similar for the callback functions in
adv-diff integrator.

I think I can cook something up and write some tests.

On Sat, Feb 29, 2020 at 6:05 AM Boyce Griffith <notifications@github.com>
wrote:

[2020-03-04 15:12] drwells opened #900 "Add PR checklist"
We should put together a little checklist for PRs of common mistakes, e.g., forgetting to make things work with restart.

[2020-03-04 16:26] drwells commented on #900
Related: we should track whether or not we need to increase the version numbers saved in the restart database.

[2020-03-04 18:47] drwells opened #901 "Use ghosted assembly for everything in IBFEMethod"
AFAICT we are still using `VecStash` for the Lagrangian force calculation. We should switch this to using ghosted assembly (i.e., sum into ghost regions and then accumulate via `VecGhostUpdateBegin`/`VecGhostUpdateEnd`) to 1) get more consistent results (@boyceg and I are *pretty sure* that this is traffic dependent with `VecStash`) 2) get faster results.

[2020-03-08 18:37] drwells commented on #482
There is another class of things that we compute inside PK1 stress functions that could be further optimized in ways that are not obvious - I just reviewed some of @jabrown893's code (the TAVR model) with valgrind and, surprisingly, we can speed up this code by 25% by getting rid of calls to `pow`. Put another way: having a class that also efficiently calculates things like `I1_bar` and `f_bar` in

[2020-03-08 19:31] drwells commented on #482
Interesting reading: https://entropymine.com/imageworsener/slowpow/

[2020-03-08 19:55] drwells opened #906 "Several issues with CIBMethod"
@fuhuifang pointed out to me on Thursday that `CIB/ex1/` worked until recently. I bisected and found that #880 caused this example to stop working (it now segmentation faults).

The failure could be unrelated to #880. When I looked at it I found several issues:
1. `d_rho` is never set, resulting in undefined behavior in every timestepping method.
2. `d_constraint_force_is_initialized` is read in `

[2020-03-08 19:57] drwells opened #907 "Problems from #880"
Thanks to @fuhuifang for pointing this out to me :)

I don't fully understand the problem but it looks like #880 introduced some problems outside the ability of the test suite to catch. In particular, when running `CIB/ex1/` in 3D I get a segmentation fault and the following output:
[code]
(etc). I believe it is from #880 because, when bisecting, thats when things started going bad.

[2020-03-09 13:46] drwells commented on #901
Fixed by #902.

[2020-03-09 13:46] #901 closed

[2020-03-10 02:24] #840 closed

[2020-03-11 20:24] #884 closed

[2020-03-13 15:18] drwells commented on #868
There's a petsc header (I think its `petscsys.h`) that includes a bunch of checks to ensure that the included copy of MPI matches the one which PETSc was configured with. It should be possible to implement this check by including a SAMRAI header, including `petscsys.h`, and making sure we can compile and link correctly.

[2020-03-13 19:52] amneetb commented on #906
@drwells: Can you confirm that even `CIB/ex0` is not working with current master?

[2020-03-13 19:55] boyceg commented on #906
Perhaps @fuhuifang can help with this?

[2020-03-13 20:20] boyceg commented on #906
@amneetb I cannot pull up the conversation in the branch related to c122fc9, but could you post a PR to fix CIBStaggeredStokesOperator?

[2020-03-13 20:24] drwells commented on #906
@amneetb yup: @fuhuifang pointed out to me last week that it crashes on master. I can consistently reproduce this problem.

[2020-03-13 20:26] drwells commented on #907
It looks like @amneetb has a fix: see https://github.com/IBAMR/IBAMR/commit/c122fc9ad58cc6eb923b750828239cad151fde5b#r37817845

[2020-03-14 11:34] drwells commented on #907
Fixed by #915.

[2020-03-14 11:34] #907 closed

[2020-03-16 17:07] #892 closed

[2020-03-17 04:10] #881 closed

[2020-03-17 04:10] #807 closed

[2020-03-17 04:13] nishantnangia commented on #895
Apologies for the delay on this.

I spent some time re-familiarizing myself with this code and couldn't think of a nice way to enforce 'priority' since all the calls to child integrators are carried out recursively. Moreover, I realized that this problem is pretty easy to fix for multiphase_flow/ex3: we can just specify a level set initial condition in the input file. I opened a PR with this fix h

[2020-03-17 14:42] #900 closed

[2020-03-17 14:46] drwells commented on #895
Conceptually, to me, the different integrators should not need to send data to each-other in the initialization phase - the data dependencies are just too hard to track correctly.

Since we found a different way to fix the problem in this particular instance I am going to close this issue for now. We can always try to cook something up later if we need it.

[2020-03-17 14:46] #895 closed

[2020-03-17 19:18] drwells commented on #793
I took another look at the output. Variable shadowing isn't great but the code is, most likely, fine. Its a bit risky to modify these things when we don't have test coverage so I think we should let this go for now - we have more important problems to solve and I will look again when we get closer to the next release.

[2020-03-17 19:18] #793 closed

[2020-03-17 19:24] drwells commented on #394
I thought about this some more recently in the context of adding PK1 stress functions in IBFEMethod. There are a bunch of optimizations that aren't really possible with the present implementation - we need something with more data than just a context object and a function pointer. For example: if multiple stress functions use the same quadrature rule then we should compute their contributions simu

[2020-03-17 19:24] #394 closed

[2020-03-18 16:06] drwells commented on #778
I tried this this morning and found at least one issue with our interface to hypre.

I found another interesting problem in the stokes solve: we get floating point exceptions when we try to do`1e-15*inf + -inf` (an axpy operation) deep inside GMRES. @boyceg do you have any idea why we would get vectors with `-inf` or `inf` inside the solver?

[2020-03-18 16:08] boyceg commented on #778
it is hard to see how that would happen unless the RHS had junk in it, so that the residual was crazy. @knepley do you have thoughts about

[2020-03-18 16:33] knepley commented on #778
The easiest way to get inf is dividing by zero. We have PetscIsInfOrNanReal() which can be used anywhere in the code to track down the first instance. We call it from the convergence check in GMRES, so you must be getting the exception before it makes it there. I just usually keep putting in this check until I find the source.

[2020-03-18 16:57] drwells commented on #778
I ran the test suite with `feenableexcept(FE_DIVBYZERO|FE_INVALID)` - in this case it looks like we get infs in some other way because the programs abort when we do `inf + -inf` and not before.

[2020-03-18 18:37] knepley commented on #778
Did you valgrind this? Another easy way to get inf is from uninitialized data.

[2020-03-18 18:40] drwells commented on #778
I did not - that's a good idea.

[2020-03-18 18:41] drwells commented on #778
The standalone navier-stokes tests pass so I suspect its not an initialization problem but there is only one way to find out!

[2020-03-20 13:29] drwells commented on #434
The Eigen thing is annoying but the compiler catches whenever we try to use things with alignment requirements - its obvious when we mess up. Eigen also has the advantage that it is a complete tensor implementation and has support for quaternions. Hence, since the first issue hasn't really bitten us again over the last year and rolling our own IBTK replacement would require duplicating a bunch of

[2020-03-20 13:29] #434 closed

[2020-03-21 19:23] boyceg opened #929 "native support for uniform-grid MG"
We have almost all of the infrastructure needed to do matrix-free multigrid as a coarse-level solver in IBAMR.

@drwells, based on your scratch hierarchy experience, how difficult would it be to generate a new patch hierarchy that is based on the _coarsest_ level that would be used only for MG sweeps?

[2020-03-21 19:26] boyceg opened #930 "think about passing geometrical data to spread()/interp()"
There are a few cases (MLS kernel functions, corrected interpolation for IIM) where it would be useful to pass in additional geometrical information to the spreading and interpolation routines. Instead of having a separate code path for each different type of geometrical information, I was wondering if it would make sense to have a class that could encapsulate this information that could be an ext

[2020-03-23 13:22] drwells commented on #930
Sounds like a good idea. Do we have some example repetitive code for both cases to look at right now?

[2020-03-23 13:34] boyceg commented on #930
#913 adds in "one-sided" kernels that are constructed on-the-fly using a mask variable. It has two code paths, one for "geometry aware" and the other for "geometry oblivious", coupling schemes.

#933 has a geometry aware interpolation scheme, but it is currently implemented in `IBFESurfaceMethod` directly rather than in `FEDataManager` or `LEInteractor`.

[2020-03-23 16:59] drwells commented on #778
valgrind doesn't complain so it is not an initialization problem.

[2020-03-23 17:09] drwells commented on #778
However - we immediately get an overflow error at time zero in both debug and optimized modes since some values appear to be initialized to FLOAT_MAX - we multiply those values by 52, yielding an overflow error.

[2020-03-23 17:11] amneetb commented on #778
Could this explain parallel CIB bug?

[2020-03-23 17:15] drwells commented on #778
The only way to know would be to try running some CIB tests with and without floating point exceptions to see if it triggers the problem. Since the Stokes solve produces correct output when we disable floating point exceptions I doubt that it is related.

[2020-03-24 21:28] drwells commented on #734
We should make the rest of the changes to the Q vectors in IBFEMethod once this is done: see #938.

[2020-03-25 03:13] boyceg opened #939 "IBLevelSet examples are compiled even if libMesh is not present"
This causes some compilation errors!

[2020-03-25 14:43] #939 closed

[2020-03-25 18:27] abarret opened #943 "Tests for HierarchyIntegrator callbacks"
From #924, we should write a test to ensure the callbacks in `HierarchyIntegrator` work as described.

[2020-03-26 03:34] drwells commented on #906
Fixed by #926.

[2020-03-26 03:34] #906 closed

[2020-03-30 15:02] drwells opened #947 "Call FEDataManager::reinitElementMappings() by request for each system"
I ran callgrind on TAVR again over the weekend and took a look at the results. I don't have time to work on this now but I figured we should summarize the problem so that we don't forget about it.

Some applications add a lot of their own libMesh systems to the EquationSystems object managed by FEDataManager - most of these never need to access the IB-ghosted partitioning, but we still uncondition

[2020-03-30 15:10] drwells commented on #482
The TAVR code spends about 40% of its time computing stress functions, including 10% just recomputing shape values. We can get that down significantly by making the changes listed here.

[2020-03-30 15:12] drwells commented on #734
When we/I finally get around to writing this test we should validate it against the 0.6 output just to triple-check the new force spreading code.

[2020-03-30 21:18] drwells opened #949 "cib_plate.mpirun=4 fails intermittently"
I ran this test with two different configurations of IBAMR on my workstation - with one if fails about 33% of the time and with the other about 12% (I ran the test 100 times for each).

@amneetb would you please take a look or assign a student to take a look?

[2020-03-30 21:31] amneetb commented on #949
Do you mean the input output does not match or the solver does not work? In the former we might want to crank up the solver tolerance.

[2020-03-30 21:32] amneetb commented on #949
Also I my case 99.9%  times student = me.

[2020-03-30 21:33] drwells commented on #949
The program runs correctly but attest fails at the diff stage.

[2020-03-30 21:34] drwells commented on #949
i.e., the output doesn't match.

[2020-03-30 21:35] amneetb commented on #949
Then it is the solver tolerance. Can you crank it up by changing it over here?
https://github.com/IBAMR/IBAMR/blob/master/tests/CIB/petsc_options.dat#L10

[2020-03-30 22:47] drwells commented on #949
I can give it a try but I suspect that's not it - `cib_double_shell.mpirun=4` passes 100% of the time.

[2020-03-30 23:17] drwells commented on #947
@jabrown893 would you be interested in taking a stab at this?

[2020-03-31 02:42] jabrown893 commented on #947
@drwells I don't think I have the bandwidth to do it super soon. I'm also not sure I have the knowledge to do it myself. But, maybe down the road when you have time to return to it, I can help out and learn a little more about it?

[2020-03-31 12:42] #949 closed

[2020-03-31 12:48] drwells commented on #947
Sure.

Briefly, what we need to do is move the 'enumerate IB DoFs' code from `reinitElementMappings()` to `buildIBGhostedVector()` - it shouldn't be too hard to work it out.

[2020-03-31 14:41] boyceg commented on #947
I think I just did it.

[2020-03-31 16:23] #947 closed

[2020-04-01 14:58] #830 closed

[2020-04-01 15:20] drwells commented on #482
This project is going to take more time than I have to do it in the next two months - I think @marshallrdavey and I should tackle this over the summer. Hence I am going to remove it from the release issue list.

[2020-04-03 15:20] #722 closed

[2020-04-05 16:53] boyceg opened #960 "implement IBFEDirectForcingKinematics::backwardEulerStep()"

[2020-04-09 23:15] abarret opened #965 "CUI operator gives large errors in some cases"
From #962, `CUI` gives apparent first order convergence rates with large errors in certain cases.

When used as a component of an advection example, e.g. `examples/adv_diff/ex0`, errors and convergence rates are similar to other convective operators.

However, when looking at the test `tests/adv_diff/adv_diff_convec_opers_2d` the errors from applying the convective operator to a known function and

[2020-04-10 07:06] amneetb commented on #965
Ok, @nishantnangia, @Raamkrishnan and I investigated this and found that it is a feature of CUI and not a bug.

Basically all CBC schemes become upwind in presence of an extrema, i.e, when `dQ/dx` or `dQ/dy` is zero. In this particular example, we have this condition.

If we switch to an unbounded scheme like `QUICK` the problem disappears as it assumes a monotonic profile in all cases. The proble

[2020-04-14 05:55] #965 closed

[2020-04-14 05:55] abarret commented on #965
I'm closing this since it appears to be a feature and not a bug.

[2020-04-14 15:43] boyceg opened #969 "Should JacobianCalculator.h be in include or src?"

[2020-04-15 16:50] drwells opened #970 "Extend attest to summarize test failures"
There are a number of configurations which I do not currently have access to which have failing tests. We should extend `attest` to collate output files from failed tests, (partial) numdiff results, and general information about the IBAMR configuration to make debugging this easier.

[2020-04-22 20:06] drwells opened #973 "Fix workload with nodal quadrature"
At the present time we compute workloads for the scratch hierarchy by looping over the cells and adding up quadrature points. This isn't going to give the right answer when we use nodal interaction (i.e., we visit every node exactly once). We should fix this.

[2020-04-30 14:54] #973 closed

[2020-05-05 16:38] drwells opened #986 "Remove Triangle usage from tests?"
This might take some work to do since we have so many tests that already depend on Triangle. I am not completely convinced that we need to do it yet since our tests seem to pass with multiple libMesh versions at the current time, but it would give us slightly more reliable output for the same reasons given in #876.

[2020-05-07 21:26] drwells commented on #824
@amneetb Do you think that June 15 is sufficient time to get in the patches mentioned elsewhere?

[2020-05-07 22:16] amneetb commented on #824
Yes, that should be a sufficient time to get all of the patches in.

[2020-05-19 01:24] boyceg opened #992 "Remove global namespaces WaveDampingFunctions and WaveGenerationFunctions"
For better or worse, other static functions are grouped together using classes instead of namespaces right now.

[2020-05-19 14:28] drwells commented on #992
Could I convince you to go the opposite way and convert the classes containing only static members into namespaces?

[2020-05-19 14:37] boyceg commented on #992
That would be great!

[2020-05-20 16:32] drwells opened #996 "Reorganize loops in FEMechanicsBase::assembleInteriorForceDensityRHS"
I discussed this very briefly with @marshallrdavey earlier and I should record what was on my mind.

We presently loop over all of the PK1 stress functions individually - i.e., for each PK1 stress function we loop over the mesh and compute the normal stuff. This is generally necessary because we use different quadrature formulae for different PK1 stress functions.

We could make this a lot more ef

[2020-05-27 17:48] drwells opened #999 "Revise the IBFEMethod documentation on the scratch hierarchy"
I think that this could be documented better, since people still have questions about it. I'll take a close look at it and improve the recommended parameters.

[2020-05-27 17:58] drwells commented on #999
In particular-  the example input database entry should start with `IBFEMethod {` so that it is clear that everything is in that input database.

[2020-05-30 22:55] boyceg opened #1003 "rationalize force and stress function registration semantics in IBFEMethod"
Right now we can register multiple stress functions but only one volume force function, one surface force function, and one surface pressure function.

It would be good to be able to register multiple force functions and for the code to do the "right thing".

[2020-06-03 21:29] drwells opened #1007 "Try to detect some common problems with libMesh installations"
A common mistake with libMesh is to reinstall a new copy of libMesh with a different configuration in the same directory as an older installation of libMesh. This is problematic since some headers from the old installation might remain - e.g., boost.

We should try to detect some inconsistencies when we care about our dependencies' dependencies.

[2020-06-04 20:14] #999 closed

[2020-06-08 19:09] amneetb opened #1009 "Non-convergence of pressure subdomain solvers on level 0"
Has anyone looked into non-convergence of pressure solvers on level 0? They don’t converge with single-phase (`HypreLevelSolver`) and multiphase (`PETScLevelSolver`) flow solvers.

[2020-06-09 01:16] knepley commented on #1009
Isn't the level 0 solve the coarse level? It should be LU.

[2020-06-09 01:21] amneetb commented on #1009
I was referring to level 0 of the AMR hierarchy, which at times can be pretty big in size, depending upon the application. We build a matrix on level 0 and give it to either PETSc or Hypre. The velocity solver converges within few iterations on level 0, but not the pressure solver.

[2020-06-09 01:34] knepley commented on #1009
What kind of boundary conditions are there? Is the coefficient uniform?

[2020-06-09 01:55] amneetb commented on #1009
The matrix solvers are used within the projection preconditioner (see Sec. 4.1 [here](https://arxiv.org/pdf/1809.01008.pdf)). If the outer solver has all velocity BCs, then the pressure solver will have homogeneous Neumann BC (we remove null-space in this case). If the outer solver has normal traction BC, then the pressure solver in the preconditioner uses homogeneous Dirichlet BC at that side of

[2020-06-09 02:40] boyceg commented on #1009
Is the pressure subdomain solver not converging to a tight threshold or a loose threshold? You do not want them to converge to a tight threshold — that will be doing too much. I would do just a fixed number (1? 2?) of MG iterations.

I would only worry about this if the outer Krylov solver itself is not converging. Is that the case?

[2020-06-09 06:27] amneetb commented on #1009
The pressure subdomain solvers have loose threshold and they don't converge, which is fine. The issue is about the "bottom" solver of the FAC preconditioner of the pressure subdomain solver, which does not converge. However, it does not appear to affect the outer Krylov convergence.

Does this mean that is not necessary for FAC's bottom solver to converge, when FAC is used as a preconditioner?

Bu

[2020-06-09 10:19] knepley commented on #1009
Can you give me -ksp_view for the bottom solver? AMG or GMG for constant coefficient Poisson should converge in ~10 iterates, and for variable it should not be more than about 20-30.

[2020-06-09 15:35] drwells commented on #824
@IBAMR/ibamr-write-team  The deadline is not strict, but we have planned on releasing IBAMR 0.7 on June 15. The test suite is currently in good shape, with the exception of mesh serialization in libMesh 1.2.1 (which is only an issue inside the testsuite itself and not the library). I plan on throwing a day or two at release preparation at the end of the week.

I would like to keep up our current r

[2020-06-09 22:20] amneetb commented on #1009
For pressure solver

[code]

[2020-06-09 22:22] amneetb commented on #1009
Here is its sample convergence history

[code]

[2020-06-09 22:25] drwells commented on #784
The problem caught by valgrind in the interpolation test is completely internal to SAMRAI - since we can't fix it lets close this issue.

[2020-06-09 22:25] #784 closed

[2020-06-09 22:27] amneetb commented on #1009
Residual norms for velocity_pc__coarse solve.

Here is velocity bottom solver configuration

[code]

[code]

[2020-06-10 00:09] boyceg commented on #1009
This says that the bottom solver is using Jacobi. How big is the coarse grid? I don't think we would expect rapid convergence for GMRES+Jacobi for the bottom solver unless the grid is very small.

[2020-06-10 01:42] knepley commented on #1009
@boyceg is right. The coarse solver should be either

- (SuperLU_dist, MUMPS), or
- GMRES/(GAMG, Hypre, ML)

Since they are still pretty small, I would lean towards a parallel direct method.

[2020-06-10 02:13] amneetb commented on #1009
GMRES/Hypre made it converge fast

[code]

However, it becomes quite slow when level 0 is relatively large or for 3D domains. IIRC, GAMG became slow similarly. The fastest combination was GMRES+Jacobi.

Here is outer solver convergence with GMRES+Jacobi

[code]

and that of GMRES+Hypre

[code]

Same number of iterations.

[2020-06-10 02:33] knepley commented on #1009
1) By slow, you must be referring to setup time, since apply a V-cycle looks like a matvec, and thus 20 matvecs beat 100 handily. GAMG/ML setup is much faster than Hypre since they are agglomeration MG. We should be able to see that difference.

2) You appear to be oversolving it, but maybe I need to understand the problem better.

3) Can you try the parallel direct method?

4) It seem like you on

[2020-06-10 02:39] boyceg commented on #1009
@knepley this is an FAC-type solver --- multi-level multigrid. The implementation is very simple --- smooth on AMR grid levels and restriction from finest to coarsest, then apply some solver to the uniform coarse level, then smooth on levels and prolong from coarsest to finest. In the intended usage, the coarsest level should be the only level that covers the entire computational domain (although

[2020-06-10 05:20] amneetb commented on #1009
Yep, its the setting time of Hypre/GAMG that was quite slow compared to Jacobi, which has led me to use this solver for all of the multiphase flow simulations.

Basically the bottom solver is used in a preconditioner (FAC) of a preconditioner (GMRES) to the main outer solver. I think because of this setting, I can get away with loose solution of bottom solver. Maybe you can confirm or refute this?

[2020-06-10 10:24] knepley commented on #1009
@amneetb Some replies:
Direct Solver: I would love to see times. We have seen the direct beat MG for problems < 50K

Tolerances: Can I see the outer convergence for that? What you would seem to be saying is that outer convergence to the true residual is insensitive to the accuracy of the coarse grid solve (you can see above that AMG is much more accurate (1e-13) than Jacobi (1e-5)). This does not

[2020-06-10 23:23] amneetb commented on #1009
There are two levels in the AMR. Level 0  is 219 x 131 (2D domain)
[code]

@boyceg : Does this mean that it is not necessary to solve things exactly on level 0 within FAC?

I also tried "PFMG" on level 0 and enabled logging. The corresponding log entry says
[code]
The outer solver still converges using same number of iterations = 9 with PFMG as with GMRES+Jacobi or GMRES+Hypre

@knepley : Here is

[2020-06-10 23:31] amneetb commented on #1009
Actually Richarson+ Hypre with Max iteration = 1 works:

[code]

[2020-06-10 23:36] amneetb commented on #1009
Setting Richarson+ Hypre with Max iteration = 1 also works for velocity bottom solver

[code]

For pressure the norms are:

[code]

[2020-06-10 23:38] knepley commented on #1009
I cannot be understanding this right, because nothing makes sense:

1) You have a V-cycle and only solve the coarse grid weakly (Hypre Max iteration = 1), but you get a very accurate answer (1e-7). This should be impossible, so what I said about the setup is likely wrong.

2) GMRES+inaccurate coarse solver fails but Richardson+inaccurate coarse solver succeeds. How could this ever happen?

Do thes

[2020-06-10 23:51] amneetb commented on #1009
I'm also trying to understand what is going on here. Here is the overall scheme:

1) Outer Krylov solver (S1) has tight tolerance.
2) S1 uses a projection preconditioner (P1). P1 employs two Krylov solvers S2 and S3, both with loose tolerances.
3) S2 employs a V-cycle MG solver as a preconditioner (P2) and   S3 employs a V-cycle MG solver as a preconditioner (P3).
4) P2 and P3 both employ matrix b

[2020-06-11 00:17] knepley commented on #1009
@amneetb Good explanation. A few more questions:

1) Can we turn off the coefficient, so that it is just Poisson? Or it integral to the formulation?

2) Can we solve with a random rhs and no initial guess? It's possible that the rhs excites no low modes or that the initial guess has all that stuff correct.

[2020-06-11 01:37] amneetb commented on #1009
No, we can use uniform coefficients a.k.a single phase solvers from IBAMR.

One easy way could be to add a random force in the RHS of the Navier Stokes (momentum) equation. Would that work? Also is there a way to tell PETSc to not use the initial guess through command line. We have hardcoded to use previous time step solution as the initial guess in the solvers.

[2020-06-15 14:41] #488 closed

[2020-06-15 20:02] drwells commented on #236
@boyceg @amneetb @abarret @cpuelz This issue was tagged with 0.7 but didn't happen. How do you suggest we proceed?

[2020-06-15 20:03] drwells commented on #627
@amneetb This didn't happen in time for 0.7: how do you suggest we proceed?

[2020-06-15 20:04] drwells commented on #615
This is a major change that just wasn't a priority to get done in time for the release, so I am moving this to the next milestone.

[2020-06-15 20:04] drwells commented on #734
Well, I still haven't added this test. I want to get the release out on schedule (and adding this test doesn't really impact the content of the release) so I am moving this to the next milestone.

[2020-06-15 20:05] drwells commented on #824
We might not get the release done today but lets take what we have and run with it.

# IBAMR release tasks

## Summary

This document describes the process for creating a new release of IBAMR on
GitHub.

## static analysis

- [ ] verify that neither `namespaces.h` nor `app_namespaces.h` are in IBTK or
  IBAMR headers
- [ ] clear basic compilation warnings with GCC and clang on linux
- [ ] compile

[2020-06-15 20:06] boyceg commented on #734
I think that I added a fluid test.

[2020-06-15 20:08] amneetb commented on #627
@nishantnangia is adding support for inhomogeneous Neumann and Dirichlet boundary conditions using Brinkman penalization in a WIP branch `nishant/brinkman-adv-diff` for a general advected and diffused variable. This will be ready post 0.7 release and we will add tests then.

[2020-06-15 20:11] drwells commented on #734
Do you remember which test it was?

[2020-06-15 20:12] drwells commented on #734
Oh, I found it - `explicit_ex4_2d.source_test.input`. Let me still leave this open - I want to add a test that uses this and the scratch hierarchy before closing it.

[2020-06-15 20:13] boyceg commented on #734
No but I think I added a change log.

[2020-06-17 21:58] drwells commented on #824
We're done! I'll go celebrate tomorrow :)

[2020-06-17 21:58] #824 closed

[2020-06-18 17:14] #986 closed

[2020-06-18 21:58] drwells commented on #802
Lets get to this sooner, rather than later, so that we can start transitioning to a new build system. I will put all configuration information in `ibtk/config.h` and `#include` that in older headers for compatibility. The top level `IBTK_config.h` and `IBAMR_config.h`, `ibtk_macros.h`, `ibamr_macros.h`, `IBTK_CHKERRQ.h`, etc. all need to be absorbed by that header.

[2020-06-18 21:59] drwells commented on #943
@abarret can you get this done in time for 0.8?

[2020-06-18 21:59] drwells commented on #871
@abarret can you get this done in time for 0.8?

[2020-06-25 19:38] drwells commented on #839
These functions are inlined when we use `-O3` and not at `-O2` - this is further evidence that we should be using `-O3`.

[2020-06-25 19:50] drwells commented on #839
Similarly, gfortran offers overloads for ABS and SIGN that work correctly for double precision (we aren't truncating) so this is fine.

[2020-06-25 19:50] #839 closed

[2020-06-26 17:23] abarret opened #1022 "Different processors use different time steps"
https://github.com/IBAMR/IBAMR/blob/59afafa326986b0f27e5e957b8c09e87a8ef3a69/ibtk/src/utilities/HierarchyIntegrator.cpp#L330-L350

@boyceg Is there a reason why we don't do a `minReduction` when we compute time step sizes? I'm getting patches that run at different timesteps depending on how the patches are laid out on processors.

[2020-06-26 17:27] boyceg commented on #1022
I think the reduction should be in `getMinimumTimeStepSizeSpecialized()`.

[2020-06-26 17:27] boyceg commented on #1022
however this `std::max()` looks like it should be a `std::min()`?

[2020-06-26 17:29] abarret commented on #1022
There's no reduction happening in `AdvDiffHierarchyIntegrator` or `HierarchyIntegrator` for computing time step sizes.

[2020-06-26 17:32] abarret commented on #1022
We do a reduction in `INSHierarchyIntegrator` however. This sounds like a bug in `AdvDiffHierarchyIntegrator`. I'll submit a PR.

[2020-06-26 17:33] boyceg commented on #1022
Wherever the time step size is computed, the result should be consistent across processors. There is nothing being computed in this particular routine.

[2020-06-29 14:15] #969 closed

[2020-06-29 14:16] #1022 closed

[2020-06-29 15:08] drwells commented on #322
Superceded by #1020.

[2020-06-29 15:08] #322 closed

[2020-06-29 15:08] drwells commented on #324
Superceded by #1020.

[2020-06-29 15:08] #324 closed

[2020-06-29 15:08] drwells commented on #325
Superceded by #1020.

[2020-06-29 15:08] #325 closed

[2020-06-29 15:08] drwells commented on #326
Superceded by #1020.

[2020-06-29 15:08] #326 closed

[2020-06-29 15:08] drwells commented on #329
Superceded by #1020.

[2020-06-29 15:08] #329 closed

[2020-06-29 16:32] drwells commented on #609
To the best of my knowledge none of us are interested in using IBAMR on windows so I think "use WSL" is sufficient advice for now.

[2020-06-29 16:32] #609 closed

[2020-06-29 16:45] walterjunjun commented on #609
I once ran IBAMR on windows subsystem (WSL), with np=2 for some tests.
But the problem came when I tried to use Visit for data visualization. I
never succeeded (installation is done but when starting Visit, the windows
get stuck on 'loading...'. My WSL was configured to support GUI. I wonder
whether anyone gets Visit running.

On Thu, Jun 6, 2019 at 12:48 PM Aaron Barrett <notifications@github.com

[2020-06-29 16:52] cpuelz commented on #609
actually, I will definitely be interested in this, since they only use Windows OS's at the hospital :-)

[2020-06-29 16:53] abarret commented on #609
I don't recall having any problems with VisIt on the WSL, but I tested it briefly over a year ago. I'd suggest emailing the visit users list.

[2020-06-29 16:54] drwells commented on #609
I don't have access to a windows 10 machine. @cpuelz are you willing to take this on :) ?

[2020-06-29 17:13] cpuelz commented on #609
I don't have access yet either, but when I do, I'll let you know.

On Mon, Jun 29, 2020 at 11:54 AM David Wells <notifications@github.com>
wrote:

--
Charles Puelz
Courant Institute, NYU
cpuelz.github.io

[2020-06-29 20:33] drwells opened #1028 "0.7.1 release"
We fixed a few things since the release. Since two involve compiler problems I think we should go ahead and do a bugfix release by cherry-picking the following:

#1021
#1023
#1026
#1030
#1031

[2020-06-29 20:34] drwells commented on #1028
Lets try to get this out the door by Thursday. Lets finalize the list of patches by Wednesday.

[2020-06-30 20:30] boyceg commented on #1028
List looks good to me.

[2020-07-02 18:31] drwells commented on #1028
Somehow #1017 didn't get cherry-picked for the release branch so I added it too.

[2020-07-02 20:59] drwells commented on #1028
The website and #1032 are in so I am going to declare this done.

[2020-07-02 20:59] #1028 closed

[2020-07-02 23:00] drwells opened #1033 "Little followups to #1029"
I won't be working on IBAMR next week so I don't have time to tackle these immediately. I encourage the users of the heart model to give things a try :)
- [ ] libMesh's constraint implementation doesn't do a good job selecting the diagonal value for a constrained dof - I used `MatView` to take a look and it appears that it uses some integer instead of the old diagonal value. This messes up the con

[2020-07-03 01:50] #249 closed

[2020-07-03 01:50] #476 closed

[2020-07-03 01:50] #656 closed

[2020-07-14 15:24] drwells opened #1040 "Get lag data notes into manual"
@abarret I saw that you responded to an email on the mailing list with some notes on lag data (using `ibamr_lag_data.pdf`). Are these notes inside the manual? If not, would you please add them?

[2020-07-14 15:26] abarret commented on #1040
What does "inside the manual" mean? Should I put it in the documentation somewhere?

[2020-07-14 15:29] drwells commented on #1040
Yes - by 'manual' I really mean 'inside the generated doxygen documentation'.

[2020-07-14 15:29] drwells commented on #1040
Can you commit to getting this done by the next release?

[2020-07-14 15:33] drwells commented on #1040
:tada:

[2020-07-14 17:52] #555 closed

[2020-07-14 17:53] drwells commented on #555
Part of #1020.

[2020-07-14 23:58] #943 closed

[2020-07-15 17:47] #871 closed

[2020-07-16 22:55] amneetb opened #1046 "Disabling regrinding for some cases via input file"
One way could be to use

[code]

[2020-07-16 22:58] amneetb commented on #1046
FYI: Autocorrect for regridding is regrinding ;-)

[2020-07-20 19:00] drwells commented on #179
CMake's own `FindGSL.cmake` is sufficient: I can use it to compile the examples that depend on GSL.

Closed by #1020.

[2020-07-20 19:00] #179 closed

[2020-07-21 20:48] drwells commented on #1033
It might also help to use the diagonal (unconstrained) mass matrix as a preconditioner.

[2020-07-24 03:38] drwells commented on #1033
I checked as a part of #1049 that we do get the same results with the current implementation as we do with `QTRAP`.

[2020-07-24 15:23] drwells opened #1053 "Use CG for the L2 projection"
@knepley pointed out that CG should be optimal for the L2 projection if we are measuring convergence in the matrix-induced norm and not the l2 (that's a lower-case L) norm. However my callgrind experiments show that minres is a bit quicker in practice. This probably means that we are not using the induced norm for convergence testing.

We should verify that we are using the induced norm and then w

[2020-07-24 15:23] drwells commented on #1053
See also #1052.

[2020-07-28 16:37] #853 closed

[2020-07-29 18:51] drwells opened #1058 "Have a supported list of libMesh elements"
I am working on our libMesh shims and I took a look at their list of supported elements. We should only support a subset of these for a couple of reasons:
1. The only alternative to isoparametric finite elements for displacement (the `X` system) that we have investigated recently are subdivision elements, which have a lot of unresolved problems for our use case (e.g., we need a way to do quadratur

[2020-07-31 15:50] drwells opened #1061 "Rename Mapping et al to FEMapping"
Mentioned in #1057: we should use a clearer name for `Mapping` and its descendants.

[2020-07-31 17:44] #482 closed

[2020-08-03 15:53] drwells opened #1063 "Remove FEMapCache"
A while back I wrote a wrapper around `libMesh::FEMap`, but now that our own mapping code is done we don't need this class any more (in fact it is only used in the test suite at the moment). We should go ahead and move it to `tests.h` and not include it in the library itself.

[2020-08-03 17:09] #1061 closed

[2020-08-04 02:49] drwells commented on #802
This is now done for CMake - we just need to backport it (or a shim) to autotools.

[2020-08-07 20:00] drwells opened #1071 "Remove dX system?"
A drawback to using `ReplicatedMesh` is that every single dof is allocated on every single processor - i.e., every time we add a system to the mesh we have to allocate an amount of memory proportional to the number of processors.

We only ever use this system to calculate the vector indicating the displacement of the mesh - i.e., all the information we need in this system is already available in `

[2020-08-20 13:03] #1071 closed

[2020-08-20 13:03] drwells commented on #1071
Lets keep it until we have a better way to generate the same visualization information.

[2020-08-24 21:18] drwells opened #1085 "fix interaction between REGRID_CFL_INTERVAL and IBFEMethod"
One can disable regridding by setting `REGRID_CFL_INTERVAL` to a huge value. However, this screws up IBFEMethod since that assumes that no particle travels more than one cell width between regrids (and that assumption is how we associate elements with patches).

There are a few things we could do to fix this:
1. Use an independent CFL estimation routine inside IBFEMethod that redoes the associatio

[2020-08-24 21:18] drwells commented on #1085
@rossisimone: FYI :)

[2020-08-24 21:19] drwells commented on #1085
I am leaning towards 1 since it will have the best performance and isn't really a regrid.

[2020-08-24 21:23] cpuelz commented on #1085
is this related to the weird issues Simone was seeing for nodal quadrature?

On Mon, Aug 24, 2020 at 4:19 PM David Wells <notifications@github.com>
wrote:

--
Charles Puelz
Baylor College of Medicine
cpuelz.github.io

[2020-08-24 21:32] drwells commented on #1085
I believe so.

[2020-08-25 12:40] boyceg commented on #1085
One issue with a CFL-based estimate is that it will tend to overestimate structure motion for very rough velocity fields. A particular use case in which this can occur is fluctuating hydrodynamics.

I think that I would prefer to track displacement since the last redistribution, and then indicate that we have reached a regridding point once that displacement exceeds some threshold.

[2020-08-25 13:06] drwells commented on #1085
Definitely - we should compute the CFL number from the structure's velocity.

[2020-08-25 13:21] boyceg commented on #1085
Are you thinking of looking at the maximum velocity on the structure to estimate largest possible displacement? That is probably better than what we are doing now, but unless it is a big expense, I think I would prefer at least to have the option to look directly at the displacement of the structure since the last redistribution. E.g. allow users to specify a velocity-based redistribution criterio

[2020-08-25 14:17] drwells commented on #1085
Yes.

The way I am envisioning this is that we do something similar to what is done in the time integrators - we track the maximum possible displacement of a particle since the last time we associated elements with patches. We would reset that value to zero every time we re-associate elements with patches. Is this the same thing? I think it is.

None of this stuff should be expensive - we just hav

[2020-08-25 14:19] drwells commented on #1085
Oh, I think I understood your point right after I wrote that. Yes, we can definitely track the maximum displacement instead of a CFL-like condition - that should be just as cheap. Lets go with that instead since its a better measurement. All we have to do is store `X` right at the last reassociation point.

[2020-08-25 14:19] boyceg commented on #1085
The point is that the velocity-based criterion is likely to indicate more frequent regridding than the displacement-based criterion.

[2020-08-25 14:20] boyceg commented on #1085
The main argument against the displacement-based criterion is that you have to store an extra positional DOF vector.

[2020-08-25 14:23] drwells commented on #1085
Good point. Since we use `ReplicatedMesh`, though, we are already using massive amounts of memory and adding another vector adds comparatively little compared to storing all this extra dof information.

[2020-09-01 17:54] #1063 closed

[2020-09-01 21:46] #1085 closed

[2020-09-04 21:23] drwells commented on #802
We are at the point now where `ibtk/config.h` and `ibamr/config.h` satisfy the original goals of this issue.

[2020-09-04 21:23] #802 closed

[2020-09-11 15:05] drwells opened #1107 "Add example or test that uses Dirichlet BCs in FE"
We have a bunch of code that manually implements homogeneous Dirichlet constraints in the various finite element system solvers. At a glance, it looks like it works correctly, but we have zero examples or tests to actually verify this. Additionally I am pretty sure that this code is redundant since we are now properly enforcing constraints on the finite element systems.

We should add some code th

[2020-09-12 16:46] drwells opened #1109 "Post 1024 - add code to set the pressure quadrature order"
From #1024.

This isn't too critical (a fifth order quadrature rule is probably overkill for anything we want to do) but we should offer it as a parameter.

[2020-09-12 17:04] drwells opened #1110 "Prefer std::function to function pointers"
C++11 added `std::function` which can correctly handle member functions, function pointers, functors, lambda functions, etc. with one callable interface. We should convert our use of function pointers to these because of their increased flexibility and saner syntax.

[2020-09-12 17:10] drwells opened #1111 "static pressure tests"
Promised by @boyceg once #1024 is merged.

[2020-09-12 18:46] drwells opened #1112 "Multilevel IBFE support"
We talked about this a bit on slack and it's worth summarizing the status quo here.

The main goal is to let different `Elem`s interact with different levels in the patch hierarchy. The main application of this at the moment is putting valves in the heart model on some extra-special level while big structures are on a coarser level.

Users should be able to enable this feature by adding a new sect

[2020-09-12 18:50] boyceg commented on #1112
@drwells, here is the algorithm for force spreading:
[code]

[2020-09-12 18:50] boyceg commented on #1112
I think that this is implemented in `LDataManager` for point-based IB structures.

[2020-09-12 18:53] boyceg commented on #1112
Interpolation is the same but in the reversed order:
[code]

[2020-09-12 18:54] boyceg commented on #1112
I think that it would be OK if the scratch hierarchy requires everything to be on a single level for now.

[2020-09-12 18:54] boyceg commented on #1112
I am not 100% sure that this will work. :-(

[2020-09-12 18:54] boyceg commented on #1112
But I am at least 90% sure. :-)

[2020-09-12 18:55] boyceg commented on #1112
I think that `LDataManager` is set up to allow user-specified restriction and prolongation. One thing I don't know is whether it is important for those to be discretely adjoint.

[2020-09-12 23:14] drwells commented on #1112
Are we going to run into problems where the operators may not be adjoint with this project?

[2020-09-12 23:33] boyceg commented on #1112
It may not matter. But we can surely figure out how to make adjoint pairs of operators if it does.

[2020-09-12 23:48] boyceg commented on #1112
This is one of the reasons why I was working on an "RT0 coarsen" operator a while back. Probably time to revisit...

[2020-09-17 13:34] drwells opened #1124 "Style Guide"
Not critical, but using consistent naming conventions makes code a lot easier to navigate. A few examples:

- all our headers are named after the class (like `IBFEMethod.h`) or have a name like `libmesh_utilities.h` to indicate their contents
- use `patch_num` or `level_num` instead of `pn` or `ln`
- use clang-format

If other people can think of other things we can add them here

[2020-09-17 13:35] drwells commented on #1124
See also #1123.

[2020-09-18 14:47] drwells commented on #1124
From #1126 - let's see if we can teach clang-format to put the function name at the end of functions like it does for namespaces.

[2020-09-22 14:28] drwells opened #1128 "Should we set patch levels in constructors?"
The multilevel patches are revealing a difficulty in synchronizing Eulerian data - SAMRAI's classes require us to specify the number of levels in the hierarchy in their constructors. However, many of our classes (such as SAMRAIDataCache and formerly FEDataManager) let us set up this data outside the constructor, which makes semantics for who is supposed to set this up really hard to track. In part

[2020-09-22 14:30] boyceg commented on #1128
This seems fine.

[2020-09-23 03:55] drwells opened #1131 "Document some fixes for overlapping patches"
We should collect these somewhere conspicuous so that they are easy to find, like setting

[code]
in the `GriddingAlgorithm` input database.

[2020-09-28 20:39] drwells commented on #1112
We may also want to find a better way to pass the prolongation operation along but I think the current approach is fine since about 100% of the time we are going to want to use RT0 anyway.

[2020-09-29 16:08] drwells opened #1133 "Multilevel IBFE followup: Throw an error if someone tries to assign elements to a nonexistent level"
Possibly also make the error itself configurable - it might be useful to have an option that says 'ignore such problems and put everything on the finest patch level'.

[2020-09-30 18:21] Raamkrishnan opened #1135 "Functionality to handle variable C in CCPoissonPointRelaxationFACOperator"
Hi,
I noticed that ```CCPoissonPointRelaxationFACOperator ``` class does not have any functionality to handle the variable C coefficient. However, I want to have that functionality for the turbulence code to simulate test problems with multiple levels. I can add that functionality. Before doing that, is there any design that I need to follow?

[2020-09-30 18:28] boyceg commented on #1135
It would be great to support this use case.

I am not at my workstation right, so I cannot confirm, but I think you should be able to do this without any change in the public or protected interfaces — specifically, I think the Poisson specifications object that is used to pass in coefficients should allow specifying either spatially constant or spatially varying coefficients. Do you foresee any ch

[2020-09-30 19:36] amneetb commented on #1135
I think it won't require any change to the API of the class. Some extra code needs to be added like Fortran smoothers that take variable 'C' patch data index, and some `TBOX_ERROR`s need to be removed which check for constant-ness of `C`. All of this needs to be done within the class itself (I think).

[2020-09-30 19:42] boyceg commented on #1135
Sounds good --- once you have some initial code, I would suggest to put in a PR (feel free to tag with "WIP" and/or "Do not merge") to build up the functionality.

[2020-09-30 19:46] drwells commented on #1135
Of course, if pieces are ready to merge (like this), then life is easier for everyone if we put them in once they are done.

[2020-10-08 20:25] #1112 closed

[2020-10-30 13:57] boyceg opened #1148 "Rename default branch to be main"
Let's plan to rename the default IBAMR branch to be `main` once GitHub's [tools to manage the migration](https://github.com/github/renaming) are ready.

[2020-10-30 15:00] drwells commented on #1148
`main` is a reasonable name - it reminds me of the old CVS/SVN naming convention (mainline).

We will need some way to retire `master` eventually but I think that we are a small enough community that it shouldn't be too bad.

[2020-11-02 18:55] drwells opened #1149 "CMake: set up a Jenkins test server to use it"
This is one of many things that needs to happen as we move from autotools to CMake.

[2020-11-02 18:56] drwells opened #1150 "CMake: overhaul documentation"
We should redo the way we deploy documentation to compile and install a complete doxygen manual to `ibamr.github.io` instead of having two different repositories containing build information. We should also teach CMake how to build the doxygen documentation.

[2020-11-02 18:58] drwells opened #1151 "CMake: add an option to only compile in 2D or 3D"
This would be pretty easy to add - we already have a variable `IBAMR_DIMENSIONS` that specifies that we should do both. We could overwrite this to only do one or the other if desired.

We would have to update the examples and tests to not rely on libraries that aren't built.

[2020-11-02 18:59] drwells opened #1152 "CMake: check cross compilation situation"
This should work (the build system is comprised of pretty vanilla cmake) but we need to actually try it to shake out any bugs.

[2020-11-02 19:00] drwells opened #1153 "CMake: generate pkg-config files"
This lets people use IBAMR without CMake.

[2020-11-06 15:30] drwells opened #1156 "CMake: add a Jenkins job that actually runs cmake"

[2020-11-06 15:32] drwells opened #1157 "Add an integration test suite."
We should add a secondary test suite that consists of very long benchmarks instead of unit tests (or at least things that run quickly). This would be a good place to put benchmarks so that they are maintained in tree.

[2020-11-09 18:48] drwells commented on #1156
I should have checked before opening this - its a duplicate of #1147.

[2020-11-09 18:48] #1156 closed

[2020-11-09 19:03] drwells opened #1159 "Avoid creating multiple copies of the same sparse matrix."
In #1076 we implemented some memory optimizations to stop storing dof information for every system and instead store a copy for each `{n_components, FEType}` pair. We should use the same trick in `FEProjector` to avoid storing copies of the same sparse matrix for each system that needs an L2 projection - if we have the same finite element space and the same number of components then we will get th

[2020-11-09 19:44] boyceg commented on #1159
The current design is also not great at tracking the case where one might use different projections in different places (consistent L2 vs. lumped vs. "stabilized").

[2020-11-09 19:47] drwells commented on #1159
We can probably clean up our book-keeping along the way - we just need a tuple of enumerations covering all the implemented cases.

[2020-11-09 19:47] boyceg commented on #1159
Would it make sense to use `{n_components, FEType, QType, Order}` as the look-up key for regular projections?

For "stabilized" projections, we may be moving to cases where we have different stabilization parameters for different subdomains, so it is not as clear how to effectively look up those.

[2020-11-11 21:27] drwells opened #1162 "Add code to disable structures defined by subdomains."
This might be useful to @marshallrdavey : we could disable structures by having a list of subdomain IDs that should be turned off. We would need to not spread force from those dofs (not difficult) but then somehow constrain all those dofs to be zero in velocity interpolation (more difficult).

@marshallrdavey let me know if you really need this and I can hack something together.

[2020-11-19 15:44] drwells commented on #868
We now explicitly check this in the CMake build system (see 165bc3744).

[2020-11-19 15:44] #868 closed

[2020-11-19 15:48] drwells commented on #622
We addressed this in a couple of other commits like #916, #1029, and #1052.

[2020-11-19 15:48] #622 closed

[2020-11-19 15:50] drwells commented on #581
I forgot that we talked about this last year. This was tracked and fixed in #1112.

[2020-11-19 15:50] #581 closed

[2020-11-19 15:51] drwells commented on #521
It's been over a year and quite frankly recompiling everything with openspeedshop is such a pain that we should keep these - they have been very useful and don't really cost much to keep around.

[2020-11-19 15:51] #521 closed

[2020-11-19 15:58] boyceg commented on #521
OK with me. In that case, however, we should maybe go back and be more systematic with deploying them (and maybe add some infrastructure to make it easier?). Are there clever ways to make setting these things up require less boilerplate code?

[2020-11-19 16:00] drwells commented on #521
We could use RAII where the ctor starts the timer and the dtor stops it.

[2020-12-03 16:32] drwells opened #1171 "IBAMR 0.8"
It's that time of year again: lets put out an official release by ~the end of the month~ January 15. Unless someone is willing to volunteer to help with the release tasks we need a pretty conservative timeline so that I can get everything done. In particular:

- All non-bugfix patches must be in by ~December 15~ January 10
- We should try to get all bugfix patches in by ~the 18th~ January 10, but

[2020-12-03 16:33] drwells opened #1172 "CMake build doesn't work with libMesh on my mac"
Things stopped working at some point (possibly as a result of #1154).

[2020-12-03 16:34] drwells opened #1173 "Failing test: explicit_ex4_2d.multilevel.d.input"
This is the only test I know of that fails on some configurations and not others. This might be a real bug.

[2020-12-03 16:36] drwells commented on #1040
@abarret Will this be done by the end of the month?

[2020-12-03 17:10] abarret commented on #1040
Yes. I'll try to have this finished by next week.

[2020-12-08 03:22] abarret opened #1177 "Approximate floating point comparison with 0.0"
The `SAMRAI::tbox::MathUtilities<double>::equalEps()` function checks relative differences between numbers. This gives a more stringent check for values close to zero than for larger values. In particular:

`MathUtilities<double>::equalEps(0.0, std::numeric_limits<double>::epsilon())` returns `false`
while
`MathUtilities<double>::equalEps(1.0, 1.0 + std::numeric_limits<double>::epsilon())` returns

[2020-12-08 16:51] #1040 closed

[2020-12-15 14:30] #1172 closed

[2020-12-15 15:25] boyceg opened #1181 "fix RT0_COARSEN at coarse-fine interfaces"
#1122 sets `RT0_COARSEN` to correspond to the adjoint of `RT0_REFINE` at physical boundaries. We probably should do the same thing at coarse-fine interfaces.

[2020-12-16 15:50] drwells opened #1182 "Refactor usage of FEProjector"
#987 shows that some mechanics methods need to do projections for one reason or another, so it makes sense that `FEMechanicsBase` has access to our `FEProjector` class which knows how to do this. It doesn't make any sense for `FEDataManager` to also have its own copy of the same class for the same reasons - `FEProjector` was written after `FEDataManager` basically to accomplish this (indeed, the v

[2020-12-16 15:59] drwells commented on #1182
Related to #715.

[2020-12-22 15:21] #1173 closed

[2021-01-01 15:30] boyceg opened #1187 "Add input options to control whether quadrature rules can use negative weights"

[2021-01-01 15:40] boyceg commented on #1187
@cpuelz, @xxjaehoxx

[2021-01-01 15:45] boyceg commented on #1187
On `TET` elements, by default libMesh will use Gauss-like rules with negative weights for orders `THIRD`, `FOURTH`, and `SEVENTH` or higher.

[2021-01-01 15:46] boyceg commented on #1187
The rules with negative weights are much more efficient, so if we can get away with it, we should use them.

[2021-01-01 17:06] drwells commented on #1187
Oh, it will? That's unfortunate. We should probably disable them by default.

They are efficient in terms of order but not necessarily point density. We still need to come up with a better scheme for picking quadrature rules.

[2021-01-01 17:16] boyceg commented on #1187
See: https://libmesh.github.io/doxygen/classlibMesh_1_1QBase.html#a6f1f4bb99c359f881b0b5b2695bb2cde

[2021-01-01 17:25] boyceg commented on #1187
You mean in terms of the _distribution_ of quadrature points? In some sense, `QGRID` would be the best, but it doesn't seem to be stable. I wonder if it would work if we consistently used it in evaluating forces and also in spreading/interpolating.

[2021-01-04 14:55] drwells opened #1189 "Deprecate FEDataManager::updateQuadratureRule."
We should try to remove this function since its not actually used to update the quadrature rule in spreading and interpolation.

[2021-01-04 15:10] boyceg commented on #1189
`IBFESurfaceMethod` still uses it.

[2021-01-04 15:17] drwells commented on #1189
Those functions (`updateInterpQuadratureRule` et al) don't seem to read any state from `FEDataManager` so we can refactor them out to utility functions easily.

I am hesitant to make any changes to IBFESurfaceMethod since the IIM stuff hasn't been merged yet. We need to sit down and have a reckoning with #932 - #935 at some point soon so we can move on with these other interface changes. Let me pi

[2021-01-04 15:19] boyceg commented on #1189
We definitely need to reconcile the IIM branch with the main branch at some point. 😰

[2021-01-04 16:48] drwells commented on #1177
@abarret do you want to push anything else for the 0.8.0 release?

[2021-01-04 16:50] drwells commented on #268
This is a complex project that definitely won't be ready for 0.8.0.

[2021-01-04 16:51] drwells commented on #615
Another release, same story - this is a large change and its too late to add it in. It's not a high priority item so lets pass again.

[2021-01-04 20:42] abarret commented on #1177
When do you plan on putting out 0.8.0? I can probably get to it tomorrow.

The only thing left is to switch over from using `MathUtilities<double>::equalEps` to the correct `IBTK` version. It shouldn't (fingers crossed) actually change the code paths, but if it does, determining what the "right" behavior is might be difficult.

[2021-01-04 22:31] drwells commented on #1177
I want to be done by the start of the semester so ideally all patches need to be in this week (so I have a week to fix anything that fell through the cracks).

[2021-01-05 14:45] boyceg opened #1190 "Consider IBAMR's default to require positive quadrature weights"
By default, libMesh allows quadrature rules to use negative weights. #1188 enables users to control whether negative weights are allowed, but retains libMesh's default behavior. We should consider changing this default if requiring positive weights improves stability.

See also issue #1187.

[2021-01-05 17:22] #1187 closed

[2021-01-05 19:09] drwells commented on #627
Fixed by #1132.

[2021-01-05 19:09] #627 closed

[2021-01-06 16:35] drwells opened #1196 "CMake: set up flags for usage and export"
We currently require the user to set all flags (except the language version flag) when compiling the library and also when building their own application. This should be improved by adding a few convenience features:
1. Add a macro that sets up user targets and propagates the flags used to compile IBAMR.
2. Add an option to turn on default debug options.
3. Add an option to turn on default optimiz

[2021-01-11 20:07] drwells opened #1203 "Processor-dependent Brinkman results"
There's something off with the `bp_adv_diff_02_2d.mpirun=8.input` test: I get very different results on longleaf with mvapich2. On my desktop, if we use `N` processes then the output keeps changing:
[code]
We aren't using AMR so these values should not change as we vary `N`, hence I'm pretty sure this is a bug - @Raamkrishnan can you take a look?

[2021-01-11 22:08] drwells commented on #1171
We should also add our own version of  https://github.com/dealii/dealii/blob/master/contrib/utilities/update-copyright that updates copyright years.

[2021-01-13 21:46] drwells commented on #1171
@jabrown893 tested IBAMR with a couple of extra configurations that I don't have immediate access to (with homebrew, with intel compilers, dogwood and longleaf). Since things work I'm going to go ahead and tag the release. Next up is updating the website and documentation.

[2021-01-19 20:59] drwells commented on #1171
We're done!

[2021-01-19 20:59] #1171 closed

[2021-01-20 18:27] xxjaehoxx opened #1209 "Failed assertion when using QNODAL for PK1 stress"
for the lumped + nodal scheme, I tried using `QNODAL` for the PK1 stress functions (e.g. `PK1_QUAD_TYPE="QNODAL"`). But I get a failed assertion saying
[code]
Am I missing anything in doing this?

[2021-01-20 18:28] boyceg commented on #1209
@xxjaehoxx can you post a full stack trace?

[2021-01-20 19:33] xxjaehoxx commented on #1209
Yeah. Here is a full stack trace for the error:

[code]

[2021-01-21 03:07] xxjaehoxx commented on #1209
It seems like explicitly using `QSIMPSON `for P2 elements solves the issue. So `QNODAL `is probably returning something other than `QSIMPSON `for P2 elements.

[2021-01-22 21:27] #1209 closed

[2021-01-29 16:05] drwells opened #1212 "Get rid of some static system names in IBFEMethod et al"
One application that we are working on requires that we use a non-IBFEMethod for mechanics but IBFEMethod for FSI - the two representations will be coupled with springs. Accordingly, we need to get our IBFE stack set up with object-dependent displacement and force fields - i.e., these names can't be static.

[2021-01-30 15:35] boyceg opened #1213 "Updates to FischerGuess require Eigen 3.3 or newer"
#1211 uses `bcdSvd` in Eigen to compute the SVD of a small dense matrix. This function appears only to be available in Eigen 3.3 or later. We should either update the required version of Eigen, or switch to a different method. @drwells do you have a preference?

(cc: @cpuelz)

[2021-01-30 15:55] drwells commented on #1213
Good catch. `bcdSvd` is new in that version of Eigen, but it does have a slower and older algorithm too - we can conditionally switch between them. I'll put up a patch in a few minutes.

[2021-01-30 16:48] #1213 closed

[2021-02-08 20:00] drwells opened #1215 "Make LAPACK an optional dependency"
At some point in the past we acquired an implicit dependency on LAPACK - we can probably replace this with Eigen. If not we should make this an optional dependency since not everyone has it installed.

[2021-02-08 23:37] amneetb commented on #1215
`CIBMethod` uses LAPACK routines directly.

[2021-02-13 09:03] Raamkrishnan opened #1216 "New subclass for solving energy equation with phase change terms in conservative form"
I am working on modeling the phase change problems. For that, I want to solve the energy equation with phase change terms in conservative form. I am thinking of writing one subclass derived from AdvDiffSemiImplicitHierarchyIntegrator class. In AdvDiffSemiImplicitHierarchyIntegrator class, we solve the advection-diffusion equation in non-conservative form. Can I proceed further with this design? Pl

[2021-02-13 13:01] boyceg commented on #1216
Can you point me to a reference for what you want to implement?

[2021-02-13 13:06] boyceg commented on #1216
Also, you should be able to handle the convective term in either advection or conservative form already — it depends on the way the convective differencing operator is implemented.

[2021-02-14 02:02] Raamkrishnan commented on #1216
[Phase_change.pdf](https://github.com/IBAMR/IBAMR/files/5976843/Phase_change.pdf)
Eq. 13 in the attached file is the one I want to implement. Here, density and specific heat are spatially varying quantities and are updated every time step based on the liquid fraction (g). The liquid fraction is updated iteratively every time step. The complete formulation on updating the liquid fraction can be fou

[2021-02-15 19:24] amneetb opened #1217 "Add a simple IBLevelSet example for an oscillating cylinder"
We should have a simple example showing IBLevelSet doing single phase FSI.

@Raamkrishnan and @Kaustubh-Khedkar : Please add an oscillating cylinder example from ConstraintIB folder
https://github.com/IBAMR/IBAMR/tree/master/examples/ConstraintIB/oscillating_rigid_cylinder

Remove all the stuff related to libMesh, air-water interfaces, and make it a pure Eulerian example (no need to surround the c

[2021-02-16 00:46] drwells commented on #1217
This would be really useful to have, and would help a lot of people asking these kinds of questions - thanks for taking the lead on this!

[2021-02-22 15:51] boyceg commented on #1216
Sorry for the delay. Instead of making a subclass, could you make a custom "convective operator"? This is the approach we used for implementing support for polymeric fluids, which use the so-called upper convective derivative instead of the usual convective derivative in determining the dynamics of the polymeric stress. This should require much less new code than a subclass.

[2021-02-22 15:53] boyceg commented on #1216
@abarret, what do you think?

[2021-02-22 15:58] boyceg commented on #1216
It might be worth spending some time thinking about whether there are changes to interface to `AdvDiffSemiImplicitHierarchyIntegrator` that would make it easier to specify different physics models.

[2021-02-22 17:11] abarret commented on #1216
You should be able to implement everything in a convective operator. The time derivatives might be tricky, but I would suggest using a forcing function for that.

An issue might be that there's not a notion of "time" in a convective operator. If the operator has quantities that change over time that are not the velocity or advected quantity, then it's difficult to determine at what time to evaluat

[2021-02-22 17:15] boyceg commented on #1216
It might be necessary to generalize the API.

@Raamkrishnan, can you think about whether you can use the existing API to implement this by providing implementations of a convective operator, velocity functions, and forcing functions? If not, can we try to extend the API? I think it will be less code, easier to maintain, and easier to couple to other models.

[2021-02-22 17:55] Raamkrishnan commented on #1216
Thank you @boyceg and @abarret. We dropped the enthalpy-porosity technique that I attached earlier. We are working on implementing a consistent and conservative approach. I will try to make use of the existing API with an additional custom convective operator and/or forcing function classes. If significant changes are required in the existing API, I will post here for your suggestions.

[2021-02-24 05:01] sach1 commented on #1217
Is there any interest in a simple example like this one: https://streamable.com/8oczj ?

Its like a combo of mpf_ex5 + ibfe_ex2 so a regular ibamr user can easily create it if they wish.
Its just that the current mpf examples that use ibfe are rigid. I haven't gone through the newer examples that have been pushed so ignore my comment if there are already examples with mpf + hyperelastic ibfe. Than

[2021-02-24 18:18] amneetb commented on #1217
@sach1 : This would be a nice example to have it in the library. Can you create a PR?

[2021-02-24 18:43] sach1 commented on #1217
@amneetb Got it! I will clean it up, make sure its up to spec and submit a PR.

[2021-02-27 15:10] boyceg opened #1219 "investigate the feasibility of creating an application-independent convergence tester"
It seems like it would not be too hard to generalize the application-specific convergence testers to allow for generic variables.

[2021-03-02 19:34] boyceg opened #1222 "Add a catalog / table of contents for the examples"

[2021-03-02 19:35] boyceg opened #1223 "Example of how to use IBFEMethod with a file-based geometry"

[2021-03-03 01:47] xxjaehoxx opened #1224 "missing Makefile.in for test/ConstraintIB"
The recent version of IBAMR fails to configure because of the missing Makefile.in for test/ConstraintIB that's been added 6 days ago.

[2021-03-03 02:07] abarret commented on #1224
Can you re-run the bootstrap script and create a PR?

[2021-03-03 22:20] drwells commented on #1223
In fact, we need a tutorial explaining the Fischer guess, scratch hierarchy etc. etc. etc. for IBFE. Let me assign this to myself and I'll remember to add something in for the release.

[2021-03-04 03:10] xxjaehoxx commented on #1224
I just did. Thanks!

On Tue, Mar 2, 2021 at 9:07 PM Aaron Barrett <notifications@github.com>
wrote:

[2021-03-04 20:27] #1224 closed

[2021-03-15 14:09] drwells opened #1226 "Speeding up regrids"
It looks like regridding has become a bottleneck in IBFE. Overall, I think this is good news - we've fixed enough other problems that minor performance issues are now relatively major.

Some ideas for how we can improve our efficiency:
- [ ] cook up a branch which adds a large number of invasive timers to the regridding process so we can get a better idea of where we are spending our time.
- [ ] d

[2021-03-16 14:17] drwells commented on #1217
Fixed by #1220.

[2021-03-16 14:17] #1217 closed

[2021-03-26 14:09] drwells opened #1230 "Ban the Eigen version that doesn't work with 2x2 in-place inverses"
@kkeonho what version of Eigen had this problem?

[2021-03-26 14:16] kkeonho commented on #1230
@drwells configure:27300: checking for Eigen version >= 3.2.5

[2021-03-26 15:15] drwells commented on #1230
That doesn't answer the question - that line states that we check for a version newer than 3.2.5 but it doesn't state what version we use. What version did you use?

[2021-03-26 15:46] kkeonho commented on #1230
Sorry..! I'm using eigen-3.3.7.

[2021-03-30 14:51] drwells commented on #1182
Another thing we need to fix here is changing `FEDataManager::interp` to actually do interpolation instead of projection. Right now we only use that function in the postprocessor so minor changes won't effect computations.

[2021-03-31 20:55] drwells commented on #1212
We talked about this some more on slack. Since things on slack tend to get lost I'll summarize my thoughts on the discussion here.

Fundamentally, we have read-write access to the position vector via
[code]
which allows us to modify the current position of the mesh - `IBFEMethod::preprocessIntegrateData` assumes that when we start a time step that vector contains the current solution.

### Switchi

[2021-04-01 14:47] drwells opened #1234 "IIM merge plan"
This summarizes the discussion from slack. The current state of IIM is:

### the good
- It's published
- It works
- It has examples
### the bad
- No tests (in the sense of the test suite, not just demo examples)
- It uses the predecessor to `LibmeshSystemVectors` or whatever we called it. The branch is old enough that it also has merge conflicts.
- Most of the implementation is in very large funct

[2021-04-05 15:40] drwells opened #1235 "Refactor out the scratch hierarchy from IBFEMethod"
This might be useful to have if we want to scale up `IBMethod` - it would also be nice for writing more classes like IBFEMethod (e.g., the deal.II equivalent). Cleaning up this interface will also make #1226 easier to understand since it will be clearer where the data goes with an explicit interface (instead of IBFEMethod owning everything.

[2021-04-06 03:23] boyceg commented on #1212
1. In the first use case above, why is it necessary to inactivate the structure in `IBFEMethod`? Whatever structural motion happens would be outside of the FSI time stepping. I guess that it should be easy enough to copy the displacements between two different solvers if the mesh and displacement spaces are the same.
2. I don't follow the second case listed above. It looks like you are really thin

[2021-04-06 13:48] drwells commented on #1212
I'd have to see the scheme sketched out to be sure but the third one seems like it shouldn't be that hard to implement with a class inheriting from `IBFEMethod` - if we add another system, modify the time integration, and modify the force calculation, that should be most of it, yes?

[2021-04-06 13:49] boyceg commented on #1212
Why do we need to inherit from `IBFEMethod`?

[2021-04-06 13:55] boyceg commented on #1212
Really all I am asking is whether we can have an IB model using `IBFEMethod` and a separate `FEMechanicsExplicitIntegrator` solver that use the same `Mesh` but with different displacement variables for the two solvers. If the answer is "yes" then setting up option 3 with explicit coupling is trivial.

[2021-04-06 13:56] boyceg commented on #1212
(Unfortunately, I think it is not trivial because the name of the coordinates system is a static const variable.)

[2021-04-06 14:01] boyceg commented on #1212
Hmmm, I guess actually maybe it is OK already, because each solver will have its own `EquationSystems` object.

[2021-04-06 14:48] drwells commented on #1212
We cannot have multiple `EquationSystems` objects attached to a single `Mesh` to the best of my knowledge - since each `EquationSystems` has to modify the `Mesh` there can only be one. Hence, if we want to use `IBFEMethod` in some manner, it has to be the sole manager of the `Mesh` (which is why I proposed using inheritance). This will also get around the "the displacement system is a global varia

[2021-04-06 14:55] boyceg commented on #1212
Are you sure that it is not possible to have multiple `EquationSystems` objects associated with a single `Mesh`?

[2021-04-06 15:03] drwells commented on #1212
Things may work by coincidence but it's likely to cause problems - for example consider the snippet
[code]
i.e., when we initialize the `EquationSystems` object it defines the number of systems stored in the mesh to the number of systems it stores itself - using multiple `EquationSystems` objects, therefore, isn't going to work correctly.

[2021-04-06 15:07] boyceg commented on #1212
Oh yeah that won't work.

Instead of subclassing, how painful would it be to allow users to provide the solver classes with an external `EquationSystems` object?

[2021-04-06 15:09] boyceg commented on #1212
(This would not be a complete solution, of course, because the separate solvers would still try to create `System`s with the same names --- that would also need to be changed.)

[2021-04-06 16:13] abarret opened #1239 "Add support for varying body forces for IB structures"
From #1238, we should allow a function pointer to be registered to specify a body force being applied to an IB structure.

[2021-04-06 19:40] boyceg commented on #1212
@drwells, how about I first get rid of the static names, which I think should be done anyway, and then try to see if I can set up these classes to share a common `EquationSystems` object?

[2021-04-06 20:05] drwells commented on #1212
Before we start writing code I'd like to determine *how* we are going to get rid of the names in a compatible manner. A lot of code currently depends on them - e.g., any forces we add that are dependent on the position or velocity do. What's your plan for doing this in a compatible way?

[2021-04-06 20:22] boyceg commented on #1212
Could have an optional prefix that defaults to empty but that needs to be set for models that combine multiple solvers.

I don’t think we ever depend on fixed strings?

[2021-04-06 20:33] drwells commented on #1212
My concern is code like https://github.com/IBAMR/IBAMR/blob/master/examples/IBFE/explicit/ex5/example.cpp#L638, where specifically
[code]
i.e., we expect that we can extract data out of these classes without having an `IBFEMethod` object available.

[2021-04-06 20:49] boyceg commented on #1212
These could be prefixed with something like DEFAULT so that the name continues to work with default (no prefix) cases.

[2021-04-06 22:39] drwells commented on #1212
If you think it will work and be backwards compatible then lets go ahead and do it. I also think inheriting from IBFEMethod would also solve this problem.

I feel like we could have worked this out with an hour together at a whiteboard. If you want to meet to go over what might or might not work over zoom let me know.

[2021-04-07 13:25] boyceg commented on #1212
How about this: replace the static member variables with static functions that are marked as deprecated, and at the same time add non-static member functions to provide fully qualified names.

Ultimately, I think I want to have the ability to have two different solvers running at the same time. I don’t see how to accomplish that using inheritance only — it seems like it will still be necessary to

[2021-04-07 16:55] drwells commented on #1212
This is probably a bad idea but I'm willing to throw it into this conversation in case the system name refactoring ends up being harder than we expect - if we could get a striped-down (no sources or sinks, no transmission forces, no force splitting, etc.) version of IBFEMethod working with deal.II that completely avoids this type of `System` issue in a month, would that work with the overall plan

[2021-04-13 12:59] boyceg opened #1241 "Make it easier to control output of Lagrangian fields in IBMethod"

[2021-04-13 13:22] boyceg commented on #1212
Well, I guess that we can see who is faster, you in reimplementing all of `IBFEMethod` but for deal.II, or me in removing these static variables from `IBFEMethod`. 😁

[2021-04-13 13:24] boyceg opened #1242 "confirm that output from ConstraintIBMethod is documented"
We should make sure that output from `ConstraintIBMethod` is clearly documented and available at least through the Doxygen documentation.

[2021-04-13 14:28] drwells commented on #1212
Fortunately we can skip reimplementing absolutely everything in IBFEMethod - there is a bunch of stuff (like spreading transmission forces) that we know is a bad idea. My tentative plan is to force users to handle things like static pressures in their own classes and to not support things that we know don't work.

[2021-04-15 22:02] drwells commented on #1235
@boyceg not urgent, but hopefully you know the answer - one of the next things to do is to calculate the workload, store it in the *primary* hierarchy, regrid the *primary* hierarchy, and then copy it over to the secondary hierarchy. Hence, a question: how do we add variables that are going to be regrided? I read through `HierarchyIntegrator::registerVariable()` but it isn't explicitly set anywher

[2021-04-16 17:46] boyceg commented on #1235
[This version of `HierarchyIntegrator::registerVariable()`](https://ibamr.github.io/IBAMR-docs/ibamr/html/class_i_b_t_k_1_1_hierarchy_integrator.html#a2b2ce04d072210438e34aab7de9f97e1) is intended to be used for persistent variables (i.e. that are automatically transferred during a regridding operation).

[2021-04-19 17:22] boyceg opened #1247 "Channel flow example"
Example for channel flow using `IBFEMethod` (and possibly the new `IIMethod` that will be available once #1244 is merged).

[2021-04-19 18:35] drwells commented on #1247
Do you mean flow past a cylinder? That's the new IBFE/ex-12.

[2021-04-28 21:31] drwells commented on #1235
That works inside `HierarchyIntegrator` but I cannot figure out how to do it independently of our own code: do you know what exactly triggers the association?

Some things in particular that don't work:
- registering for restart
- calling `grid_geom->lookupCoarsenOperator` and `grid_geom->lookupRefineOperator` to do some kind of background registration
- either regridding just the coarsest level o

[2021-04-28 21:32] drwells commented on #1235
In all cases, patch level data is no longer allocated after that level is regridded.

[2021-04-29 14:56] boyceg commented on #1235
You need to allocate and communicate the data you want to retain after regrid in an implementation of `initializeLevelData()`. See `HierarchyIntegrator::initializeLevelData()`.

[2021-04-29 14:56] boyceg commented on #1235
This function is from `StandardTagAndInitStrategy`.

[2021-04-29 14:58] boyceg commented on #1235
Basically, when you regrid, you need to have a list of the patch data indices that you want to retain, along with suitable transfer operators for each to handle coarsening/refining.

[2021-05-13 16:39] drwells opened #1254 "Better packaging for users"
This has come up a couple of times recently - the current process is not a good experience for users, particularly when it comes to issues outside of IBAMR over which we do not have control (e.g., incompatibilities between libMesh and PETSc).

A good fix would be to offer docker containers. The good people at CMake already have one for us:
https://gitlab.kitware.com/dcthomp/ibamr-docker/-/blob/mas

[2021-05-13 23:52] Raamkrishnan opened #1255 "Pressure solution is wrong when the velocity is not divergence-free"
@boyceg @amneetb I have written a new example navier_stokes/ex7 in the branch ramakrishnan/non_zero_divergence_velocity in which I am solving time-dependent Stokes case with INSStaggeredHierarchyIntegrator using MMS functions. I have made some changes in INSStaggeredHierarchyIntegrator to register the callback function. I found that the pressure solution is wrong. Please take a look.

Please refer

[2021-05-13 23:59] boyceg commented on #1255
I will take a look.

In the meantime, would it be possible to add this as an extra input file for ex0 instead of a whole new example? Or is a whole new necessary for this case?

[2021-05-14 00:03] boyceg commented on #1255
BTW, is the existing interface not adequate for specifying the value of the source/sink strength?

[2021-05-14 00:29] Raamkrishnan commented on #1255
Yes. The existing interface can be used. I will also use this interface in INSVC once this problem is solved.

This example is a temporary one. I am not intending to add this example in IBAMR. I thought having separate example will be easier for us to work with. This example is based on navier_stokes/ex0. The only additional change I did is registering the callback function.

[2021-05-14 00:55] boyceg commented on #1255
Sounds good!

A reason ultimately to do it with ex0 is so we can easily turn it into a test once we fix the problem.

[2021-05-14 01:29] Raamkrishnan commented on #1255
<img width="730" alt="Pressure_numerical_soln" src="https://user-images.githubusercontent.com/48446958/118207142-dc1c7780-b418-11eb-9ce0-c429c56394cf.png">
<img width="735" alt="Pressure_analytical_soln" src="https://user-images.githubusercontent.com/48446958/118207143-dd4da480-b418-11eb-8c93-a71bfd95d1d8.png">

I attached the numerical and analytical pressure field after 10 time steps here. The t

[2021-05-14 02:24] boyceg commented on #1255
The forcing terms do not look correct in your input file.

With (u,v) = (x cos(t),y cos(t)) and p = sin(x) sin(y) sin(t), I think that the forcing should be, for creeping Stokes:

f_u = rho du/dt + dp/dx - mu Lap u = -rho x sin(t) + cos(x) sin(y) sin(t)
f_v = rho dv/dt + dp/dy - mu Lap v = -rho y sin(t) + sin(x) cos(y) sin(t)
f_p = -(du/dx+dv/dy) = -2 cos(t)

For Navier-Stokes, you have to be care

[2021-05-14 02:52] amneetb commented on #1255
I think mu Lap u and mu Lap v assumes div.U = 0. So probably we can’t use
INSHI here.

On Thu, May 13, 2021 at 7:24 PM Boyce Griffith ***@***.***>
wrote:

--
--Amneet

[2021-05-14 02:55] Raamkrishnan commented on #1255
Yes. Really sorry about that. f_u and f_v are wrong in the input2d file. f_p is correct in the example.cpp. Let me try with these forcing terms and get back to you.

[2021-05-14 02:59] boyceg commented on #1255
Perhaps. That seems like a different question, however. I understood the question/issue was solving creeping Stokes with div u different from 0 — which one can do.

[2021-05-14 03:37] amneetb commented on #1255
Yeah, that's true.

[2021-05-17 18:57] boyceg commented on #1255
@Raamkrishnan, would you be willing to extend the existing example in ex0 to do this case, and add it to the test suite? We currently do not have any coverage for sources/sinks for cases with analytic solutions.

[2021-05-17 21:35] Raamkrishnan commented on #1255
@boyceg Yes. I will add the test suite some time this week.

[2021-05-17 22:06] drwells commented on #1235
I figured it out, but for the record - the answer is ultimately that one must keep the old patch levels around and then transfer whatever data you want to transfer from them using `RefineAlgorithm` et al.

[2021-05-17 22:26] boyceg commented on #1235
Oh yeah, if you throw away the level before you transfer the data, then you lose that data. This is handled more-or-less automatically in StandardTagAndInitStrategy.

[2021-05-21 16:25] #1235 closed

[2021-05-21 16:26] drwells commented on #1226
The scratch hierarchy refactoring *should* fix most of this.

[2021-05-24 16:35] abarret opened #1257 "External CMake build doesn't link properly"
When building a external project with CMake, the project compiles but does not link correctly. In particular, running `ldd main2d` gives the following:
[code]

[2021-05-24 16:43] abarret opened #1258 "CMake build fails to link unless SAMRAI is compiled with -fPIC"
When compiling IBAMR, I get an error linking with SAMRAI. The error messages look like
[code]
Recompiling SAMRAI with `-fPIC` fixes the issue.

[2021-05-24 17:26] #1258 closed

[2021-05-24 17:44] drwells commented on #1257
The way we set up dependency exports is pretty fragile and needs to be rewritten.

[2021-05-24 17:48] drwells commented on #1257
If you set up an external project and you are using the Makefile generator there should be a file named `link.txt` somewhere inside `CMakeFiles`. Could you attach it here?

[2021-05-24 17:52] abarret commented on #1257
[link.txt](https://github.com/IBAMR/IBAMR/files/6534084/link.txt)

[2021-05-24 18:31] drwells commented on #1257
Weird - it definitely includes `/home/abarret/sfw/libmesh/1.5.1/linux-dbg/lib/libmesh_dbg.so` in the link line.

[2021-05-27 20:43] abarret opened #1260 "Children integrators are not properly traversed by parent integrators"
When an implementation of `INSHierarchyIntegrator` has an `AdvDiffHierarchyIntegrator` registered and is also registered with `IBHierarchyIntegrator`, the `AdvDiffHierarchyIntegrator` is not seen as a child of `IBHierarchyIntegrator`. Functions such as `AdvDiffHierarchyIntegrator::regridHierarchyEndSpecialized()` (and others) are not called.

This can be fixed in some ways by registering a callbac

[2021-05-27 20:49] abarret commented on #1260
Actually, it seems to only be a problem with `regridHierarchy[Begin|End]Specialized()`

[2021-05-27 20:57] boyceg commented on #1260
My original intention was to traverse the whole tree of solvers so that, e.g., each can apply its own tagging criteria.

Could you put together a PR to rationalize the implementation? 😁

[2021-05-27 20:58] abarret commented on #1260
Yes. I have a fix incoming.

[2021-05-28 16:49] #1260 closed

[2021-05-28 20:10] drwells commented on #1203
@abarret pointed out to me earlier that the error values computed with a single processor are 100x smaller than those computed with multiple processors - however, he still gets different results even in serial. This is definitely a bug. @Raamkrishnan *ping*

[2021-06-01 14:58] drwells opened #1266 "Catch all failure cases in the SVD solver"
This comes up only in extreme conditions, but we should avoid aborting the program inside `FischerGuess::guess` if the SVD fails.

This issue has popped up a few times on the mailing list. #1211 moved away from using LAPACK directly, which seems to fail more readily than Eigen's SVD solver.

[2021-06-01 21:21] AminKolah opened #1267 "Register discontinuous FE family or pressure jump normalization for a specific part (II/ILE method)"
This came up in #1244,  related to how to best handle or register: 1) geometries with sharp features, 2) pressure jump normalization, and possibly 3) direct forcing in the tangential direction. These features are related to the II/ILE methods implementation and can be relevant for certain parts depending on the problem. Currently these functions are available in `IIMethod` class via `registerDisco

[2021-06-21 17:04] drwells commented on #1257
@abarret I want to get this fixed soon and I think I know what to do - I just need to reproduce your environment. Was this with a relatively recent release of Ubuntu?

[2021-06-21 20:49] abarret commented on #1257
It failed on a release of Linux Mint 19, although I'll have to double check that it still fails later tonight.

Building and linking (and execution) works on my work desktop which is running `CentOS Linux release 7.9.2009`. Although I need to specify the location of the c++ compiler to CMake, or else I get a bunch of linker errors.